[2019-10-17 17:35] allella commented on #12
K. I linked to the templates above more to show progress, so no harm either way.

That moderators page may not be public anyway, so nothing to do there for now too.

[2019-10-17 17:37] vkWeb commented on #12
@allella Yes.

[2019-10-17 17:40] maiya-22 commented on #65
Maybe we can make a check-list that all new features need to be referenced against, to make sure that they are compliant with accessibility standards.

And we can comment about how they were made compliant, so that the community can learn about this essential skill, as we go.

[2019-10-17 18:16] brianrichins commented on #1
Haven't seen this suggested yet, but some conversation in a local Slack group pointed out how useful it would be to have "collaboration" or "partner" groups. E.g. organizers could:

- see each others' planned (but not published) events
- coordinate schedule / resource conflicts within the platform
- share resources

This could be both for managing multiple Chapters within a single organization (i.

[2019-10-17 18:27] allella commented on #1
@brianrichins it's a useful feature for sure and aligns somewhat with the [proposed vision](https://github.com/freeCodeCamp/chapter/issues/47#issuecomment-543006930). We have a view of meetup "day of the month" for Greenville, SC to help organizers not plan a new meetup on a saturated day.

Whether this is the responsibility of Chapter, or an app that ties into Chapters, can be determined as the p

[2019-10-17 18:30] Jason9199 commented on #11
Hello everyone! I'm a software developer with 5 years of experience in web development, primarily with HTML, CSS, JavaScript, Angular, React, Node, Express, Mongo, Postgres, C#, and SQL Server. When I'm not working at my day job I am contracted to spend a large portion of my time teaching, mentoring and coaching students who are learning to code through bootcamps. I also co-organize a C# meetup in

[2019-10-17 18:34] abidRahim commented on #34
If it's just for MVP then it'd be a good choice.
However, React Ant Design will have issues with i18n (Internationalization)  and localization for future prospects. I've had hard time figuring things out with it, if anybody has a way around it, I would like to hear it.

[2019-10-17 18:56] keeth commented on #34
yes, everyone loves sharing their fav stack and tools, and their horror stories ha ha (me included)

i defer to the coding education experts on this! :)

excited to break ground. go team!

[2019-10-17 18:58] ceciliaconsta3 commented on #65
@maiya-22 That's a great idea. A checklist or design guide is even more practical. I'll keep an eye out for a pre-made checklist online, possibly within one of the referenced sources, or create a curated list to add to the issue.

[2019-10-17 19:03] cmenedes opened #76 "Testing libraries/frameworks?"
Hi, I think this project would benefit from a test-driven workflow, so i'm opening this issue for others to openly discuss any specific libraries/frameworks they would recommend to test code for this project.

Personally, I use Jest to unit test my Javascript (which is mainly JQuery) code at work. I know Jest or Jasmine aren't specific to a Javascript library whereas Enzyme is meant to be used wit

[2019-10-17 19:09] abidRahim commented on #11
Hey there!
I'm Abid, a full stack developer. Been working since past 6 months at this startup which handles fleet management system. I'm working on the front-end side of the project right now, building a real-time vehicle live tracking system using React.

I am comfortable with React 16.10, along with TypeScript. ,The Live tracking system involves Maps, and we're using Google Maps API for this pur

[2019-10-17 19:09] allella commented on #34
https://github.com/freeCodeCamp/chapter/issues/76 is asking about testing.  Should that conversation remain independent of this one, or shall we merge them?

[2019-10-17 19:10] abidRahim commented on #11
Hey there!
I'm Abid, a full stack developer. Been working since past 6 months at this 4 year old startup which handles fleet management system. I'm working on the front-end side of the project right now, building a real-time vehicle live tracking system using React.

I am comfortable with React 16.10, along with TypeScript. ,The Live tracking system involves Maps, and we're using Google Maps API f

[2019-10-17 19:11] vkWeb commented on #34
@allella Let it be a different issue.

[2019-10-17 19:11] craigjbass commented on #76
I teach teams how to build systems using (A)TDD, including systems in react.

It’s not easy for individuals to change their fundamental approach to software dev, especially a large open source community.

I think if we have a number of people here familiar & productive with GOOS-style ATDD, and willing to spend significant effort providing pairing it could work. Struggle to see it otherwise

I wou

[2019-10-17 19:12] Lobarr commented on #34
I think it should be a different issue as testing applies to the backend too.

[2019-10-17 19:16] paulywill commented on #76
@craigjbass

Forgive me, what's GOOS-style ATDD stand for?

This is an area of growing interest for many of us.

[2019-10-17 19:25] cmenedes commented on #76
@craigjbass 👍

I would imagine so. I haven't been writing tests for too long and i'm still getting used to TDD, but I've found it very helpful so far. I haven't been a maintainer on an open source project with more than two members, so I'm just going based off my current experience. But yeah, I suppose that would belong in a higher-level conversation with some more input.

Would Jest be considered

[2019-10-17 19:34] craigjbass commented on #76
Yes. Jest comes with create-react-app which is a fairly sensible starting point for most teams.

[2019-10-17 20:19] PrestonElliott commented on #76
What do you guys think about [cypres.io](url)? I found some great resources on their website to implement E2E testing on React apps.

- [https://docs.cypress.io/guides/core-concepts/test-runner.html#Overview](url)
- [https://docs.cypress.io/examples/examples/recipes.html#Fundamentals](url)

[2019-10-17 20:22] chrismgonzalez commented on #76
I've seen great success with Jest and React-Testing-Library.  I'm all for using those tools.

[2019-10-17 20:25] grampajoe commented on #11
👋 I'm Joe, a dev/engineer with 10ish years of experience all over the place. At the time of writing, I do infrastructure at Venmo.

I'm interested in contributing wherever it's needed. 🤷‍♂

[2019-10-17 20:49] jimthedev commented on #17
Not sure how any of what you are doing relates to Next.js. We are playing with a Next.js based ui [here](https://codesandbox.io/s/hello-world-lkldb). If there's a place you'd rather have this let me know. We're not really focusing on the styling. Keeping it raw and just hoping to get the right things on a page for now.

[2019-10-17 20:49] wuilliam321 commented on #76
My vote vor jest + React-Testing-Library + Cypress

[2019-10-17 20:51] F94Olivera commented on #11
Hi! 👋 I'm Facu, a JS dev/ with 2/3 years of exp.
Looking forward to contribute!

[2019-10-17 20:53] mikeattara commented on #76
I think Jest will be a great choice

[2019-10-17 20:56] mikeattara opened #77 "Use docker-compose for setting up the development flow"
I am opening this issue for us to discuss the possibility of using docker-compose for the development of this project. This I think will make onboarding easier.

[2019-10-17 21:01] wuilliam321 commented on #77
It's easy to think that docker is a good choice for self hosted instances. We can discuss the Pros and Cons from a more technical POV. Any other altenatives?

[2019-10-17 21:02] Lobarr commented on #77
I agree with this. I currently use docker-compose for all my dev environments (with hot reloading) and it's just a smoother dev experience. Downsides from a dev experience POV might be longer loading times when docker images have to be built / memory consumption (for those of us with limited disk space)

[2019-10-17 21:07] Dhara159 commented on #17
As API endpoints are ready and we are almost clear about the database schema, should we start the backend development? If that is the case, I would like to contribute from the backend side also! If there is anyone up for team up, please ping me or CC me and let's start working on it!

[2019-10-17 21:08] iansltx commented on #77
+1 for docker-compose for local dev. Can use volume mounts to hot-reload etc., and gets us closer to dev-prod parity. If folks have resource constraints to the point that they can't use Docker, they can look inside the Dockerfile to replicate the environment.

[2019-10-17 21:14] Critchkn commented on #65
Is there anything I can do to help? I'll have some free time tomorrow and sunday

[2019-10-17 21:37] allella commented on #67
FYI, schema.org came in in #72 and #75 so we're trying to have some parity with names in the database, so that should lend itself to easier rich snippets in the front end.

[2019-10-17 21:38] latchkostov commented on #11
Hello everyone, my name is Latch.  I am a full-stack dev, mainly workings with Angular/DotnetCore/SQL, but have some experience with react as well.  Total dev experience of about 7 years, and pretty comfortable diving into pretty much anything Javascript, so I am looking for contributing.

[2019-10-17 21:40] haffedali commented on #11
Hey all! I'm a bootcamper (now TA) from Sacramento, California and super excited to get into open source! My instructor pointed me towards this group while I was talking to him about a project I'm about to start that was within the same wheelhouse, and I'm really happy he did! I am solid with backend and frontend and what I don't have in skill I make up for with a learning mindset (and a ridiculou

[2019-10-17 21:43] QuincyLarson commented on #1
@brianrichins This would be a great feature to have for future releases. I don't think internal planning tools are high enough priority for our rougher MVP, though.

[2019-10-17 21:45] QuincyLarson commented on #1
I have enjoyed reading the discussions here. So many exciting ideas and directions we could go in. I am going to close this thread in favor of concentrating discussion over on https://github.com/freeCodeCamp/chapter/issues/47

[2019-10-17 21:45] #1 closed

[2019-10-17 21:47] naeluh commented on #11
Hi my name is Nick ! I work with node/javascript and I am happy to help! I can client and server side.

[2019-10-17 21:48] QuincyLarson commented on #5
@kognise @boniattirodrigo In the interest of focusing, I propose that for our initial release, we just use our GitHub repo as our landing page. This is what we've done with https://github.com/freeCodeCamp/mail-for-good

Then, once we've used Chapter internally and a few other organizations have used it and given us feedback, we could create a formal product landing page.

So I'm going to close thi

[2019-10-17 21:48] #5 closed

[2019-10-17 21:51] QuincyLarson commented on #6
As I mentioned a moment ago on https://github.com/freeCodeCamp/chapter/issues/5 I think we should just use our GitHub repo for our project's landing page initially.

[2019-10-17 21:51] #6 closed

[2019-10-17 21:53] QuincyLarson commented on #8
@Abott1222 Since we're initially going to focus on chapters within the same individual nonprofit (for example, Code for America chapters), this sort of recommendation engine would be unnecessary for now. We may be able to add this as Chapter expands, though.

[2019-10-17 21:53] #8 closed

[2019-10-17 21:56] QuincyLarson commented on #16
@bernhard-hofmann OK - thanks for the further detail. I agree. We do want some sort of Admin role who can access the global settings for the Chapter server. And yes - this should be part of our MVP since it will be necessary for anyone who's setting up a Chapter server. So I retract my earlier statement that this shouldn't be part of MVP.

I recommend using the role name "Admin" rather than mainta

[2019-10-17 22:01] latchkostov commented on #77
I've never used docker-compose during development time, mostly used for building images and testings builds before committing.  When we talk about using docker-compose, so we mean that there is some web-server running that has the local directory mapped to a volume, and setting up some hot-reload feature within that container?

[2019-10-17 22:02] timmyichen commented on #77
Using docker for development in an open source project such as this one ensures that everyone's environment is as close to being the same as possible, reducing the number of OS-specific quirkiness that can arise otherwise.  This gets a :+1: from me

[2019-10-17 22:03] latchkostov commented on #76
Jest > Jasmine, my opinion.  I think for MVP, there should be more time spent on holistic tests, perhaps E2E tests, instead of individual unit tests.  Agree with @wuilliam321 that any testing we do should be smart for MVP, then we can fill that gaps later.

[2019-10-17 22:32] tunnckoCore commented on #40
@Kognise, that's basically the same question as the @mojo706's which I and @Dletta  responded clearly. Sorry if it's not clear enough, there's pretty good docs on the https://gun.eco which don't take to much time to read and get the idea. Distributed decentralized in-browser/client-side (or everywhere javascript can run) database system.

[2019-10-17 22:53] Wonder2210 commented on #24
we can work for the first version on .ts files using standar js syntax to fit with tech stack of most of the contributors  and when the things become weird , start using type checking on functions arguments .... As this way , we can include along the way TS andat least for the start everyone can contribute

[2019-10-17 22:55] Dletta commented on #40
@kognise Unless instances are somehow (websocket, webRTC) connected, login would not be universally available to those users. If they are connected to each other however it is available through replication even over multiple hops of nodes

[2019-10-17 23:02] nik-john commented on #71
@allella @xarielx I am afraid that wasn't in my list by I have gone ahead and made that change now. @xarielx Please feel free to commit to that PR with your change

[2019-10-17 23:28] rodmsmendes commented on #71
@nik-john @allella @xarielx I think the PR #46  should be merged asap. I mean, that's a first step towards the API implementation and naturally, it will raise a lot of questions and suggestions. But if we keep modifying the PR #46  it will require more revision, and we will be stuck in a loop. So, my opinion is that we should not modify the PR anymore, merge it and then create new issues.

[2019-10-17 23:30] xarielx commented on #71
@nik-john Understood, on it.

[2019-10-17 23:55] francocorreasosa commented on #76
It seems it will be Jest + React testing library to start with.

[2019-10-18 02:08] allella commented on #71
#46 was merged, so I suspect someone can create a PR for this now.  I'm helping more with docs and cat herding, so I'll defer to someone more familiar with the stack.

[2019-10-18 02:32] allella commented on #54
@dmmulroy I think an up to date image from tool X is better than an outdated one from DataGrip, so if you can generate a new image and to a PR then I suspect folks will like it.  Also, #46 is merged in so a lot has changed on the ddl.sql.

#72
#57
#53
might change the schema sooner than later, but better to have something fresh than wait until all the changes have been finalized.

Also, if we chan

[2019-10-18 02:35] allella commented on #54
Also, #70 used dbdiagram.io to generate a diagram, but it's also outdated.

[2019-10-18 02:57] mandaputtra opened #80 "Using Fastify instead of Express"
Why? this project aims to be a replacement for meetup.com, that's mean the target arent just big/small group of developers. Fastify is mature now and it got express like syntax. Since the backend project would be an HTTP API why not choose the fastest mature framework?

### Fastify
Benefit:
- The learning curve from express arent that high
- Speed improvement on HTTP request
- There are [oauth2](h

[2019-10-18 02:58] mandaputtra commented on #80
just found this [discussion](https://github.com/freeCodeCamp/chapter/issues/2) already closed so. yeah using express!

[2019-10-18 02:58] #80 closed

[2019-10-18 03:33] chrismgonzalez commented on #12
I'm just now getting in to see all these comments.  Thanks for editing to main issue body above!  At these early stages of development it may be worth considering that we should link to the Discord in the README or contributing guide like @vkWeb is suggesting.

I would feel more comfortable adding this in once we are a little farther along in the development and a core team/regular contributors ar

[2019-10-18 03:44] allella commented on #12
I have no experience with doc sites, just wrangling people, so I'd defer to tools people find easy to use.

Regarding a docs site, this brings up the question if/when @QuincyLarson  would buy a new domain, since chapter.org is obviously taken.  My guess is he's planning to start with a chapter.freecodecamp.org for the "dogfooding", but by the time it goes beyond FCC use cases then things would pro

[2019-10-18 03:47] chrismgonzalez commented on #12
Yes, I can see the issues with that.  So for now - just put documentation in the docs folder as a temporary storage spot.  We can sort out implementation later.  Once the API is more firmly set in stone, let's start work on those docs.  The EventBrite docs are a good model here.

[2019-10-18 04:01] allella commented on #54
@francocorreasosa I was able to generate a new ER Diagram using the dbdiagram.io. Though, the PostgreSQL import feature doesn't recognize timestamptz field types, so I had to manually work around it.

What's the best way to add the new diagram.png? I'm assuming creating my own new pull request, but I wanted to confirm there's not a trick to piggybacking on your existing #70.

[2019-10-18 04:46] chrismgonzalez opened #83 "MVP user stories"
### Discuss your ideas or share your views:

This issue has been created to house the desired MVP user stories.  Please think big picture items as we are trying to roll out an MVP very quickly.  There are so many great ideas that the community has voiced - let's make it easy to isolate the ones that we deem pertinent to the initial release of the app.

I've listed the ones detailed in the README b

[2019-10-18 04:49] chrismgonzalez opened #84 "Post-release user stories"
Hello team,

Please use this issue to add your ideas for future releases of Chapter.  (e.g. Push notifications)

- [ ] User can add RSVP's to a supported calendar app.  Refer to [this tool](https://github.com/jasonleibowitz/react-add-to-calendar-hoc). See [examples](http://leibowitz.me/react-add-to-calendar-hoc/docs/).
- [ ] I can filter events by date
- [ ] I can filter events by tags (via #117 )

[2019-10-18 04:56] MirzaChilman commented on #76
IMHO for MVP I think adding cypress is kinda bit overkill right now, I would suggest we go for Jest + RTL first

[2019-10-18 05:00] #71 closed

[2019-10-18 06:41] rodmsmendes commented on #83
Hi @chrismgonzalez , there was a change in terminology. "groups" are now called "chapters". The master branch reflects this terminology, both in API and in DB. Let's keep docs and issues consistent. Thanks!

[2019-10-18 06:49] klodha commented on #83
@chrismgonzalez I would like to suggest a QR code generation feature to replace paper badges and passes (foods, goodies etc). At venue, crew can scan them to mark attendance. Those codes can be sent over email to participant whenever they enroll, thus not only saving papers but also time to print, collect etc.

[2019-10-18 06:59] rodmsmendes opened #86 "docs - "groups" should be called "chapters""
### Description:
There was a change in terminology. "Groups" are now called "chapters". The change is reflected in API and DB schema, but docs are outdated.

Discussion in #71

[2019-10-18 07:00] rodmsmendes commented on #86
I will work on this.

[2019-10-18 07:10] rodmsmendes commented on #83
Hi @klodha! Good suggestion. Please, move your comment to #84. It's a specific issue for feature suggestions.

[2019-10-18 08:06] Wizyma commented on #76
[testing-library](https://testing-library.com/)
huge community and support + cover almost everything

[2019-10-18 09:43] King-Success commented on #77
This sounds like a really good idea. docker-compose during development reduces setup time and enables contributors to get up to speed quickly and like @iansltx said, those with resource constraints can easily replicate the environment by looking at the docker-compose file.

[2019-10-18 09:56] matjack1 commented on #11
Hello! I'm Matteo from Turin, Italy!

I've been a professional web developer for the past 9 years fiddling in many areas of development, operations, management as a business owner and freelancer.

I've been coding in PHP, JS and Ruby, with a splash of other things :)

I'm very interested in this project as I've been a FCC meetup organiser for the past two years (more than 100 meetups organised!) a

[2019-10-18 12:55] vkWeb commented on #12
Initially, in the dogfooding period, we should keep API docs on the repo as `.md` files inside `/docs` folder as @chrismgonzalez mentioned and then later at some point we can use GitHub pages. It's free & simple to set up.

What do you think @allella @chrismgonzalez?

[2019-10-18 13:40] shirakaba commented on #20
I think that this is inevitable, whether by the community as a group effort, or by individuals. There are plenty of competing Hacker News clients, for example.

Like @kelset , @espipj , and @isubasinghe, I cast a vote for React Native. Not least because it's based on React (which has been agreed upon as the UI runtime), but because React Native has the broadest platform reach: iOS, Android, tvOS,

[2019-10-18 13:57] chrismgonzalez commented on #83
@rodmsmendes I've changed the syntax to reflect the use of chapter.

[2019-10-18 14:04] chrismgonzalez commented on #12
Yes, @vkWeb those are my initial thoughts, and I've already created some folders in a PR merge last night.  I'm going to let the API get more finalized for this initial release before constructing docs.

My later vision is to create a docs site that is similar to the [Gatsby docs](https://www.gatsbyjs.org/contributing/)

Looks like we have a structure in place.  I'm going to pin this issue just so

[2019-10-18 14:08] cmenedes commented on #76
What I've gathered is that folks are fond of Jest + React-Testing library. Sticking to a defined test-driven workflow might not be applicable for an MVP; clever and holistic tests seem to be a good start. @QuincyLarson , should getting a test runner set up with some basic testing be part of the MVP?

[2019-10-18 14:13] chrismgonzalez commented on #76
@cmenedes I think it's very important to get some basic tests going so we can be confident that the App does what we expect to do before initial release.  You have my thumbs up for getting some tests going, however, perhaps it would be wise to wait until we have the basic app in the repo.  I imagine this will be over the weekend or early next week, as we have an open PR right now that is receiving

[2019-10-18 14:33] allella commented on #12
I trust Chris on this as he's got a vision for the docs. I'm most comfortable organizing and reducing friction on the conversations by connecting people to people, and people to issues/PRs.

Still this triggered the question if if Quincy plans to brand this under FCC using subdomains for everything, which seems like it would get confusing, or eventually having a branded web domain for the broader

[2019-10-18 14:54] chrismgonzalez commented on #12
Yes, we'll need to wait and see how the branding plays out -- which is totally good.  As I look on the Gatsby site showcase, it looks like FCC knowledge base that is linked to from the curriculum is a Gatsby site.  This furthermore solidifies my initial thoughts of deploying the docs site (when we get to that point) as a Gatsby site.

[2019-10-18 15:53] vkWeb commented on #12
Looks like we have a structure in place. I'm going to pin this issue just so it doesn't get buried as more issues get submitted.

Yes, we can think of Gatsby. We'll confirm this at a later point.

@chrismgonzalez Instead of pinning, please label it as `api doc` or something similar. We can always sort issues by labels. We should only pin issues that need to be exposed to all users. It is helpful i

[2019-10-18 15:58] vkWeb commented on #12
@chrismgonzalez It feels like you are very excited about the docs thing. Then you should lead our efforts for documentation ;)

Right @allella? 😄

[2019-10-18 16:01] shirakaba commented on #23
Note that the official alerting functionality, and all but basic monitoring features for the Elastic stack are platinum (paid-for) feature, so we should look for other solutions. The free tier of the Elastic stack is still great for logging.

Alongside the free tier of the Elastic stack, I use Grafana for certain types of alerts like thresholds (and in preference to Kibana for creating most of my

[2019-10-18 16:23] ashokjayaprakash commented on #11
Hello, This is Ashok JayaPrakash. I am a Node.js Developer, Have keen knowledge in API development. I am excited to kick start with this project. Looking forward to work with you all.

[2019-10-18 16:25] yakhousam commented on #11
Hi I'm yakhousam from Algeria. I'm FCC full stack certified developer (last may). I've been part of the chingu voyage 11 that ended last Sunday where I built a rest api. I use HTML CSS React Redux MongoDB Nodejs mongoose express. I am happy to help.

[2019-10-18 16:32] shirakaba commented on #77
Same for me. Could someone clarify what capacity it is being proposed for `docker-compose` to be used in?

[2019-10-18 17:13] Abott1222 commented on #23
@shirakaba Also keep in mind splunk also has a free option:

Splunk® Free
One User
Scale up to 500 MB data per day
Collect and index any machine data
Real-time search and analysis

One problem is that we only get 1 user but if we set it up correctly as an admin account we might be able to make it work in our distributed system

[2019-10-18 17:50] ScottBrenner opened #89 "Discussion: standardize merge workflow"
## Problem

Without a standardized way of merging pull requests, [this repository's commit history a bit of a mess](https://github.com/freeCodeCamp/chapter/commits/master).

-----

The "Add swagger json" pull request (https://github.com/freeCodeCamp/chapter/pull/46) implements a single feature (👍 ) but was merged as five identically-described commits (👎):
![image](https://user-images.githubusercon

[2019-10-18 17:58] freitzzz commented on #20
I understand that building a PWA could be easier then a native app, but from my POV the native app would be more beneficial in terms of performance.
Faster loading of the app in old mobile devices, (My smartphone for 3 years was a SAMSUNG A300 2015 edition and opening the browser or a PWA was a pain in the ass in terms of loading speed) and faster UI rendering

Also if the community decides that a

[2019-10-18 18:05] chrismgonzalez commented on #89
I'm down for the cleanliness!  Thanks for your input!

[2019-10-18 18:12] timmyichen commented on #77
To add, we can use docker to standardize node app + postgres setup so contributors can just run a docker-compose command to set up a local postgres db.  I'll make a PR for this as well if #78 is merged

[2019-10-18 18:16] vkWeb commented on #89
@ScottBrenner Thank you so much for the detailed view on this. Your solution looks good to me and other people out there on discord. So our mods will squash and merge PRs from now. We don't need to disable other merging options. Our mods will be careful while merging PRs.

@allella This issue can be closed.

[2019-10-18 18:25] #89 closed

[2019-10-18 18:31] chrismgonzalez commented on #12
@vkWeb I understand your concern and I would like to go with your label system in the future.  Could we keep it pinned for now since it is the central hope for all documentation as of this point in time?

I don't mind leading doc efforts.  I feel like that is my strength until I understand the tech stack better and can contributing to the code.

Feel free to message me in Discord if you want to ta

[2019-10-18 18:39] matjack1 commented on #54
I would recommend using [DBeaver])https://dbeaver.io/) for making new ER diagrams.

Have a look here: https://github.com/freeCodeCamp/chapter/pull/70#issuecomment-543796898

[2019-10-18 18:44] ScottBrenner commented on #89
Appreciate the quick response here! 👍

[2019-10-18 18:48] matjack1 commented on #77
I completely agree with @timmyichen 's last comment. As soon as _chapter_ is going to include a DB and a backend + frontend, it's going to be much easier to run all the parts together.

You don't need to set up any system dependency as it's going to be managed by docker, thus making the development much easier and more consistent across developers. Also if you want to delete or upgrade the system

[2019-10-18 18:56] andyst81 commented on #12
I'm really interested in helping out on this project, but feel that there are a lot of more capable programmers here already, so would be happy to contribute to the docs. I'm quite familiar with Gatsby too and enjoy working with it, so would be happy to do that, if that's the direction here.

[2019-10-18 18:59] vkWeb commented on #12
@chrismgonzalez You raise a valid point. Let's keep it pinned for now. Sure, I'll DM you regarding the docs planning & set up when time comes :)

@andyst81 Welcome! No, it isn't like that 😅. We all are learning. Many are beginners including me. Feel free to contribute to docs section if you are happy with it. Every issue/PR helps us :)

[2019-10-18 19:43] komputarist commented on #77
I quite agree with the idea of using docker to ensure consistency between our codes. That way it'll be feasible to run similar instances of the app on individual machines irrespective of the OS

[2019-10-18 19:46] chrismgonzalez commented on #12
@andyst81 Welcome.  You're help will be needed.  I can't do all of it myself.  Your contributions are more than welcome, even if you think they are small!

[2019-10-18 20:17] allella commented on #54
I do like the icons in the DBeaver more than the dbdiagrams.io version.  So, I'm on board with that one if other have the same preference.

[2019-10-18 20:25] allella commented on #54
Anybody have a problem with the eventual PR for the updated schema image also linking directly to the raw https://github.com/freeCodeCamp/chapter/raw/master/data/schema.png
in the README? If we did so, then we don't need to update README every time the images is updated.

[2019-10-18 21:01] mquadrant commented on #76
I think **Jest + React testing library** would really be cool for this project especially MVP. Maybe later **cypress** can be added for end to end testing.

[2019-10-18 22:30] cameronsr commented on #47
Question. For design folks, what issues should they go to for contributing to the Chapter UI?

[2019-10-19 00:56] matiasbaldanza commented on #11
Hey! I'm Matt, from Argentina. I'm getting back into dev after ages out of the game, reacquainting myself with JS and modern practices while diving into React (I'm in a coding bootcamp). Just lurking on the sidelines and checking how an OSS project starts from the ground up. Will contribute in any capacity I can. :-)

[2019-10-19 03:03] allella commented on #47
@cameronsr #5 is closed, but I think the people on that thread were the most design-oriented conversation I can recall.  I'd suggest reading that thread and searching the issues for UX and design and see if you can connect with the people who have been driving those conversations.

[2019-10-19 03:14] allella commented on #11
Volunteer Skills Offered / Mentioned in Publicly Posted [Discord] chatting (https://discordapp.com/channels/633401573002969128/633401573002969132/) between the start of the project and October 16th.

**Usernames are from Discord and likely do not match Github usernames in many cases.**

- QuincyLarson | Project Lead Free Code Camp and this new "Chapter" app | Texas
- richard | Eventloop organizer

[2019-10-19 03:21] kgalang commented on #11
Hello everyone! I'm Kevin and I'm a full stack dev and meetup organizer for Centreville Code & Coffee in Northern Virginia. I'm self taught and my two main resources were local meetups and FreeCodeCamp. I would love to help the FCC community build a product that helps provide value to community meetups including the ones that helped me learn how to code.

At my last job I did a lot of front end (R

[2019-10-19 04:02] chrismgonzalez commented on #83
@ceciliaconsta3 That one looks like a good one to add to #84

[2019-10-19 05:06] jordanchristie commented on #83
I'd like to suggest two stories, 1. User can cancel an RSVP and  2. User (or Organizer) can view an event's RSVP count.

[2019-10-19 05:43] xarielx commented on #83
As an Organizer, I can set my Chapter to "Private" giving access by invite only.

[2019-10-19 05:52] chrismgonzalez commented on #83
@jordanchristie & @xarielx Great suggestions here!

[2019-10-19 06:34] booleanhunter commented on #11
Hi everyone, I'm Ashwin - a full stack developer and I live in Mumbai, India.

I have been coding in JavaScript/TypeScript & Python for few years. I primarily work with React and the React ecosystem (Redux + Redux Saga + TypeScript) & also the NodeJS/Express ecosystem (building APIs). I can also do Database modelling in MongoDB.

I also bring in decent Machine Learning / Computer Vision skills usi

[2019-10-19 07:31] gagandeepp commented on #11
Hi All, I am Gagan - A full stack developer working mainly angular/react and on backend I am on .Net and Nodejs

[2019-10-19 08:41] craigjbass commented on #11
Hey I’m Craig - Tech Lead at Made Tech in London.

I’m a polyglot software engineer. I’ve used nodejs/ts and react, plus a bunch of other languages. My main skills are TDD, Simple Design (architecture), and XP development practices.

[2019-10-19 11:15] athif23 commented on #11
Hi, I'm Athif, from Indonesia. I'm someone who interested in many new technologies.

I've experienced with some JS framework, like React, Vue, and Svelte. I also have some experienced with stuff like Nodejs, Laravel, and Database. I'm interested in learning more depth about backend stuff.

[2019-10-19 14:11] bernhard-hofmann commented on #83
I don't think private events are necessary for an MVP.

I also don't think organisers/organizers need to see user stats in an MVP. We might want to store user attendance in the database for the MVP, but being able to see that as an organiser is not an MVP feature IMO.

I'd suggest simply being able to add more than one sponsor per event rather than a specific food sponsor and another sponsor.

Wai

[2019-10-19 14:18] bernhard-hofmann commented on #54
A pull request with updates to the DDL.SQL file must include an updated image of the schema.
We agree that users can use whatever tool they prefer or can afford to generate the image.

I'm closing this issue with the above assumptions.

[2019-10-19 14:26] joliveramu commented on #11
Good day, I am Oliver. I am Junior Software Engineer, I recently started my job last month. I've been doing software development since 2017 and gained freelance experience from it. I've been into Web and Desktop Applications, mechatronics, and prototyping. I am looking forward to contribute anything I believe would benefit and help us.

[2019-10-19 14:29] matjack1 commented on #84
From https://github.com/freeCodeCamp/chapter/pull/90

- [ ] Users can log in with other social logins such as Facebook/Github/Twitter/...

[2019-10-19 16:36] Cesarlachapelle commented on #11
Hi, I'm Cesar from Dominican republic, I'm Software developer mainly in .net core and nodejs on backend and angular on the frontend. I'm interested in software architectures, best practices and new technologies.  I'd love to help out in any way I can.

[2019-10-19 19:07] amark commented on #40
@mojo706 @Dletta @tunnckoCore nice! spot on!

Yeah, I really love @QuincyLarson 's vision @allella mentions at https://github.com/freeCodeCamp/chapter/issues/47#issuecomment-543006930 , however it will be extremely difficult to achieve with only Postgres (note: I love Postgres, it is probably the best database out there) due to the Master-Slave setups, and while I may be biased, I can confidently

[2019-10-19 22:27] AugustusZ commented on #21
I can help with the `zh-CN` translation

[2019-10-20 02:49] gideonpraise commented on #11
Hi everyone, I am Gideon, a zealous dev. A software developer from Lagos, Nigeria. I build with React and Node. Also a DevOps Engineer, setting up CI/CD workflows to deploy and scale an instance of an app to production. Will be happy to contribute. (I love containerization and micro-services architecture...)

Thanks.

[2019-10-20 03:16] gideonpraise commented on #12
A quick please, (forgive me if this the wrong place to ask)...

Is there room for someone(might not be a user) to opt-in as a sponsor for an event?

[2019-10-20 03:29] mc962 commented on #32
I agree with others, and think it would probably be good to wait until there are enough _things_ to search for using ES, before adding it.

I think ultimately having it is a good longer term goal, and I've been having similar ideas about having an ES instance that allows searching across all groups worldwide (like a Google for chapters almost). But (and keeping in mind I haven't checked how much d

[2019-10-20 03:46] mc962 commented on #33
This is probably where the Elasticsearch bullet listed before would be useful (for searching at least). People could submit certain key pieces of data (name, url, image, description, etc.) to the maintainers of the Elasticsearch instance, and on indexation, you would have an easily searchable database, sort of like a Google search engine custom-built for searching for 'chapters'. Note, it doesn't

[2019-10-20 05:32] Moomoo14 commented on #11
Hi, Everyone I am Mohamed a Mauritanian self taught dev(junior). I know some languages such as python and Javascript. I am also familiar with Django as backend and react for front end. I will be more than glad to contribute and get this project running, I take it as a challenge. :)

[2019-10-20 10:16] jopijuco commented on #11
Hello, I'm João and I'm from Lisbon, Portugal.
I started programming with freeCodeCamp and later with a bootcamp (Academia de Código) here in Lisbon where I got my first job :)
Currently I'm working with Selenium for test automation in .Net.
I'm still a junior but an open source enthusiast and I would really love to help this interesting project and get it running.

Thanks.

[2019-10-20 11:34] V1NAY8 commented on #11
Hi Everyone,
I am Sai Vinay. I'm from Visakhapatnam, India.
I am a Developer for Java and starting building stuff in JavaScript.
I am now working as a Quality Assurance Engineer.
I am happy to help in testing and any sort of development or managing stuff.

[2019-10-20 13:19] allella commented on #12
@gideonpraise thanks for your suggestion. There are two issues open, #83 and #84, to share suggestions in the format of a "user stories".  I'm not sure the suggestion will be necessary for the initial MVP build, but you're welcome to post on #84 so we have it in a memorable place in the issues.

[2019-10-20 16:32] gideonpraise commented on #12
@allella Okay thanks. I will do just that

[2019-10-20 16:42] gideonpraise commented on #84
So I was thinking if there can be room for someone that is not a user to opt-in as a sponsor for an event. Something like a button that says "Sponsor Now" or "Be A Sponsor" (whatever it is) then detects if the user is logged in and if not, he's asked if he wants to sponsor without having to create account...

Some people might like to do things anonymously...

[2019-10-20 20:49] bernhard-hofmann commented on #84
"they're asked if they want" makes it gender neutral. Let's avoid bias where we can.

[2019-10-20 21:15] gideonpraise commented on #84
@bernhard-hofmann sorry, my bad. You're right. Will update it right away...

[2019-10-20 21:58] jorgeruvalcaba commented on #76
I agree with Jest + React Testing Library 👍

[2019-10-20 23:51] QuincyLarson opened #95 "As an organizer I can see how many times a participant has come to my chapter's events as well as their attendance rate."

[2019-10-20 23:51] QuincyLarson opened #96 "As an organizer I can add a sponsor to the event with a link to their website as a way of thanking them."
Implementation details:

- The DB already has _event_sponsors_ and _sponsors_ tables
- We need a resolver and client GraphQL queries to access the data
- On /events/[id] we'd need basic UI which just has a link on the event page.  That's enough to move forward
- /dashboard/events/[id]/edit would need an input element to select a sponsor

Since there's been a fair amount of discussion surrounding t

[2019-10-20 23:51] QuincyLarson opened #97 "As an organizer I can add a venue sponsor to the event with a link to their website as a way of thanking them for hosting."

[2019-10-20 23:51] QuincyLarson opened #98 "As an owner or Chapter admin I can ban a participant whom I believe is toxic or who has previously broken my organization's code of conduct."
This needs UI and resolvers to handle the requests. The DB schema has _user_bans_ already, so a given user can be banned from a specific Chapter.

Until https://github.com/freeCodeCamp/chapter/pull/814 is in, we can make some progress by implementing the UI for banning users and a resolver to update the DB. After the auth PR is in, we'll need to consider if 'banned' becomes a role that denies you

[2019-10-20 23:51] QuincyLarson opened #99 "As an organizer I can email the entire list of participants."
Implementation details:

- UI: /dashboard/events will need buttons to email all subscribed users after a confirm dialog has been clicked through
- Sending the email: we already have a `sendEventInvite` mutation https://github.com/freeCodeCamp/chapter/blob/8ef1db39c5137e5dd49f5dd974107b57f3eda231/server/controllers/Events/resolver.ts#L259
- It should be possible to reuse most of that, but allow the

[2019-10-20 23:51] QuincyLarson opened #100 "As an owner or chapter admin I can cancel events and all participants who have RSVP'd will get an email notification."
The UI exists and emails get sent, but we still need text for the email.

Depends on https://github.com/freeCodeCamp/chapter/pull/814

Once that is done, we should lock this down to the approved roles and confirm via Cypress tests

- [x] As an owner I can cancel any event
- [x] As an admin of a Chapter I can cancel any events in that Chapter
- [x] As any other role, I cannot cancel events
- [x] Se

[2019-10-20 23:51] QuincyLarson opened #101 "As a user (authenticated or not) I can view the RSVP count for an event"
Implementation details:

- events/[id] and dashboard/events/[id] would both need to display the count
- they already have access to the list of RSVPs, so we can just count them up in JS.

[2019-10-20 23:51] QuincyLarson opened #102 "API: As an organizer I can create events and set their location, tags and capacity."

[2019-10-20 23:51] QuincyLarson opened #103 "As an organizer I can add an organization logo in the settings"

[2019-10-20 23:51] QuincyLarson opened #104 "As an organizer I can edit details about the chapter, including a Slack/Discord/Facebook/WeChat/WhatsApp link participants can join to discuss and coordinate events."
The dashboard, /dashboard/chapters/[id]/edit will need a new Chat URL, so ChapterForm.tsx needs updating.

The chapter details pages, /chapters/[id], should display the chat links.

[2019-10-20 23:56] QuincyLarson opened #105 "API: As an administrator, I can create a chapter."

[2019-10-20 23:56] QuincyLarson opened #106 "API: As a user / chapter member, I can unsubscribe from emails."

[2019-10-20 23:56] QuincyLarson opened #107 "As a user / future participant after the event, I will automatically get emails notifying me of subsequent events."

[2019-10-20 23:56] QuincyLarson opened #108 "As a future participant I will receive a second email the day before the event to remind me."

[2019-10-20 23:56] QuincyLarson opened #109 "As a user / future participant I can cancel the "RSVP"."

[2019-10-20 23:56] QuincyLarson opened #110 "As a user / future participant I can click the "RSVP" button, I will receive an email with a confirmation, and I'll be added to the public list of event attendees."

[2019-10-20 23:56] QuincyLarson opened #111 "As a user / future participant when I click one of those locations, I can see the "show view" for that event's chapter, with details about the upcoming event, along with a button to RSVP."

[2019-10-20 23:56] QuincyLarson opened #112 "As a user / future participant I can use a search box on the landing page to input a city, state, or country name and it will autocomplete. I can click one of those locations."

[2019-10-21 01:25] chrismgonzalez commented on #47
We definitely need to get the UI stuff going.  Will make a relevant issue and tags for it.

[2019-10-21 01:35] chrismgonzalez opened #114 "MVP Wireframes/Mock-ups"
### Discuss your ideas or share your views:

Designers!  Now is your time!  Please submit your proposed wireframes as a screenshot in this issue

Desired screens
- Landing page
- Sign-in flow (right now just using email/password, we will integrate social SSO's later)
- Chapter organizer view
- Participant view
- Admin panel
- Aggregate view of chapters

**DISCLAIMER: I am not a designer.  Please f

[2019-10-21 04:13] vkWeb commented on #114
@chrismgonzalez I'll handle some of those :)

[2019-10-21 05:00] imVinayPandya commented on #77
I am agree with @mikeattara it will be a good idea to use docker in Dev environment. In my current project i am using docker-compose with hot reloading. Trust me using docker we can make development/setup process very fast and hassle free.

[2019-10-21 05:16] imVinayPandya opened #116 "Consider using uncle bob's clean architecture for Api"
Hello there

I am happy that freeCodeCamp has taken this initiative, and i am very glad to contribute in this awesome project. Recently i have come across "uncle bob's clean architecture". I found it very developer friendly and it will help to use TDD (Test Driven Development) process. I am curious that, what kind of Api architecture we will be using in this project?

I am suggesting "uncle bob's

[2019-10-21 09:27] GeniaT commented on #11
Hello, Genia from Belgium. Enjoyed learning through FreeCodeCamp curriculum and now working as
 a web developer with React and node. This project would be my first open source participation.

[2019-10-21 10:40] jacobbogers commented on #32
### a more simple stack

If a relational database is already being used, it might be interesting to reduce the stack by one component less (no elastic), I am not familiar with full text search on mysql or postgresql, so I can't compare with elastic other then comparisons from online docs.

### free auth plugin for elastic
If needed, there is an authentication plugin for free (or you can write your

[2019-10-21 14:18] rakneo commented on #11
Hello, I am Rakshith Vikramraj from Coimbatore, India, I am a product engineer currently working on node js, Postgres, Prisma, Graphql and react js. I am so excited about working on this project and looking forward to future developments.

[2019-10-21 14:35] rakneo opened #117 "DB Schema - what if we tagged Events with tags."
I think what if we tagged events with tags so that similar events can be grouped automatically and these tags can be grouped and used as search filters.
users can select the tags that they are interested in and view the events which are related to the selected tag.

[2019-10-21 14:59] allella commented on #47
I'm assuming we're going to officially publish last nights video chat notes on Github.  I think it would be easy and nicer looking to post the notes in .md format instead of a PDF so we can reference/link them in the Github (#) way.

Regardless of the format, once those are posted we should be able to refer and close at least #24 , and probably #32 to the notes.

I can convert the notes to .md for

[2019-10-21 15:00] allella commented on #32
I think everyone is on-board with ES not being part of an MVP / hard requirement. I've posted on #47 and unless a good reason surfaces to keep this open then we'll close it.

[2019-10-21 15:05] ceciliaconsta3 commented on #47
I second turning notes into markdown. Placing the .md on the root alongside Contributing and Readme should be enough. It could serve as /get titled as a Bulletin-board of sorts. Going forward, we may just consider consolidating meeting notes and integrating them into current documentation after a set period of time to keep the root neat.

[2019-10-21 15:12] ceciliaconsta3 commented on #65
@Critchkn  Don't think so at the moment. I propose with every front end PR someone can volunteer as designated "accessibility checker". So for now, maybe adding yourself as an additional peer reviewer would help.

[2019-10-21 15:24] allella commented on #116
@imVinayPandya the API documentation is being generated by swagger and can be viewed at
https://github.com/freeCodeCamp/chapter/blob/master/api/swagger.json

That came out of #46.

If you'd like to review the current API and make suggestions then #47 and #17 are higher level issues where you might get more attention if offering specific frameworks, tools, or suggestions that help to enforce a clea

[2019-10-21 15:29] allella commented on #117
@rakneo we had a video chat last night and for the MVP it was suggested to simply list all chapter events within an organization in chronological order. So, this idea may best be preserved by comparing it to the existing user stories in #84 and creating a new story if we don't have a story for it. I know we moved a story to "filter events" to #84 and your suggestion could be a flexible way to offe

[2019-10-21 15:42] allella commented on #16
@chrismgonzalez we have some "as an admin" stories here which I assume should go into #84

Quincy agreed, above, these are important post-MVP.

You okay changing "I want" to "I can" and copying these over to #84 and closing. It might be nice to link back to any issues that discussed a story at length. Or, put a "#84" link after the associated story/stories in the list.

[2019-10-21 15:45] allella commented on #7
@Critchkn there is now a broader #114 talking about mockups for an MVP, so feel free to jump in there.

[2019-10-21 15:48] allella commented on #7
@chrismgonzalez I think this is another user story that could be merged into #84

[2019-10-21 15:50] allella commented on #10
Closing this as it's already in the list on #84

The story in the main list has been linked back to this for future reference.

[2019-10-21 15:50] #10 closed

[2019-10-21 15:54] allella commented on #117
@nik-john @francocorreasosa

We have a schema suggestion, like above, which is not part of the MVP, since we moved "filter event" to #84.

I think in some cases we have add fields to the schema even before the feature is built out. Thoughts on if/when to add fields that are likely but not immediately necessary for the MVP?

[2019-10-21 15:59] rakneo commented on #117
A tag is connected to many events and also a tag is grouped with other tags. we can use this tag structure to create dynamic filters.

[2019-10-21 19:59] jacobbogers commented on #117
What is a  "tag", some the same as a github "topic"?

[2019-10-21 20:02] allella commented on #117
This would be a tag in the context of the application. Events might be tagged with specific categories or other useful keywords related to user interests.

Those tags could be used to see lists within the front end applications showing only events which have those tags.

Again, this is likely not in the MVP (minimal viable product), but we do have it in #84 so I'm closing this issue and will link

[2019-10-21 20:04] allella commented on #117
Feel free to re-open this issue if it make sense to add the relevant database fields.

[2019-10-21 20:04] #117 closed

[2019-10-21 20:16] allella commented on #114
Pinging @ryandudek @louistsaitszho @aeganaden @booleanhunter since they offered design assistance in #117

[2019-10-21 20:25] nabilahsan commented on #114
I can try coming up with some landing page variations over the weekend.

[2019-10-21 20:31] allella commented on #24
Pinging @rohanfaiyazkhan @abidRahim @booleanhunter since TypeScript is making it into the stack and you each mentioned TypeScript in #11 (and possibly above).

We haven't posted the notes from last nights meeting of the most active contributors, but one of the decisions was to start with TypeScript in a minimal way, using mostly JS with .ts files to start and gradually bringing others up to speed.

[2019-10-21 21:06] ScottBrenner commented on #77
Closed by https://github.com/freeCodeCamp/chapter/commit/93f6aad27c81a86f655f27ca63d9069a442d06ff.

[2019-10-21 21:35] erictleung commented on #44
@timrodz thanks for kicking off the discussion (also great to be here @QuincyLarson 😄).

One thing to consider in this discussion is *why* we're collecting this data. Typically, analytics (based on my knowledge) is for maximizing profits. I don't believe this is the case here.

So some things to consider are specifically what kind of questions or insights do we wish to gain from collecting this da

[2019-10-21 23:35] finisher1017 commented on #20
IMO the MVP should be a mobile optimized web client. That way we can focus on the API and finding a graphical layout that works before possibly expanding to other technologies.

[2019-10-22 03:10] timmyichen opened #123 "React Class Components vs Functional Components w/hooks"
Title says it all. What's our opinion on using class components vs functional components with hooks?

[2019-10-22 03:25] chrismgonzalez commented on #123
I'm down for Hooks since that is the latest and greatest.  Plus it will save us a refactor later.

[2019-10-22 03:40] timmyichen commented on #123
I'm also down for hooks, but I'm wondering if it will be yet another barrier to entry given that most resources online are written using class components.

[2019-10-22 03:41] chrismgonzalez commented on #123
In that case I would just point to React docs.  They're going to have to learn anyways, right?

[2019-10-22 03:49] #77 closed

[2019-10-22 03:56] timmyichen commented on #123
I suppose, but the less things people have to learn, the more people will contribute 🙃

[2019-10-22 03:57] chrismgonzalez commented on #123
Let's see what others think over the next 24 hours?  I am interested to hear the opinions of others.

[2019-10-22 04:09] Abott1222 commented on #123
I think say we use fc + hooks and also be considerate in thinking about giving low hanging fruit as starter issues - that might lead to them understanding hooks better

[2019-10-22 05:12] imVinayPandya commented on #123
I recommend Functional Component + hooks. As @chrismgonzalez mentioned that it will save time for refactoring.

[2019-10-22 05:21] imVinayPandya commented on #47
#116  I love TDD (Test Driven Development) process, it will help us to write future proof code and for that i am suggesting Uncle bob's clean architecture for api development. It is helpful when you want to write unit test.

[2019-10-22 06:48] abidRahim commented on #24
@allella That's great news

[2019-10-22 07:24] abidRahim commented on #123
Functional Components + Hooks.
@timmyichen Converting Class components to Hooks won't be much of a problem, besides there are VS Code extensions to do the same (in worst case scenario).

[2019-10-22 08:44] maludecks commented on #21
I can help with the `pt-BR` translation 😸

[2019-10-22 11:47] vkWeb commented on #114
# Design flow of an organization's deployed instance

I want to keep things clear so that we all don't end up creating wrong wireframes and to ensure we are on the same page :). So below I'm proposing a detailed design flow which is targetting MVP. If I go wrong somewhere please correct me @chrismgonzalez, @allella. After finalizing this, we'll start building components on the client-side. Let's s

[2019-10-22 13:10] rohanfaiyazkhan commented on #123
Functional components + hooks 100%.

Hooks will allow us to abstract out complex bits of logic which if anything lowers the barrier to entry since newcomers won't have to deal with them.

[2019-10-22 13:48] Danex2 commented on #123
Hooks 100% of the way, I think they'll be a lot easier to pick up than most people think.

[2019-10-22 14:39] paschott opened #125 "As an attendee, I can RSVP "no" for an event"
As an attendee, I should be able to indicate that I will not be attending the event as well as indicating that I will be attending.  While that doesn't affect the overall counts, it does help show the organizer that people are responding to the e-mails. It may also show that someone who had previously responded as an attendee is now not going to attend.

The ultimate count of people attending shou

[2019-10-22 14:51] allella commented on #125
Thanks. This idea has been added and linked from the list at #84.  Closing since this can always be re-opened and this is not likely to make it into the MVP build.

[2019-10-22 14:51] #125 closed

[2019-10-22 14:56] paschott commented on #84
Allow event details to be entered/displayed.
Allow sponsor details to be entered/displayed.  (for people to know a little more before just seeing a name and clicking a link)

[2019-10-22 15:07] paschott opened #126 "Events should allow for longer descriptions"
As an organizer, I should be able to add a longer description to an event. The overall "meeting" may have a general purpose, but each event could have different details specific to that event.

E.g., if I'm running a PowerShell group, the overall purpose might be "For PowerShell users to learn together".  Each event might focus on a different topic, speaker, etc. They might even have different len

[2019-10-22 15:09] vardhanapoorv commented on #11
Hello, I'm Apoorv from Bangalore, India. I'm a full stack developer and currently I have been working with React, Node, GraphQL. I love contributing to open source. Would be great to be a part of this!

[2019-10-22 15:09] paschott opened #127 "Allow descriptions for Sponsors"
As an organizer/sponsor, Chapter should allow sponsors to have some descriptive text in addition to their name and link. This would likely encourage users to click through to the sponsor's site instead of just seeing a name and URL.  It would also allow the sponsor to say something about themselves to indicate why the user might want to check out their site for more information.

[2019-10-22 15:28] kevingsp commented on #11
Hello, I'm Kevin, from NYC, looking to help in anyway I can. My skills are mostly front-end(HTML/CSS/JS) and UI Design and UX research, ideation, usability testing, prototyping, etc.

[2019-10-22 15:34] vardhanapoorv commented on #123
I think hooks is a good way to go with!

[2019-10-22 15:39] vardhanapoorv commented on #76
I think Jest will a good way to start.

[2019-10-22 15:43] timmyichen commented on #123
Sounds like it's pretty unanimous! :+1: Lets go hooks! ↩️

[2019-10-22 16:05] allella commented on #126
@paschott the https://github.com/freeCodeCamp/chapter/blob/master/data/ddl.sql has an events.description, so I'm assuming this suggestion is to ensure the description is built into the organizer interface and not that there's an issue on the current schema. Correct?

[2019-10-22 16:07] paschott commented on #126
That sounds correct. I was looking at the ERD on the front page. That's probably out of date. This can be closed (or added to the organizer/display to-do if not already there).

[2019-10-22 16:20] allella commented on #126
Yes, we've been debating which schema tool to use on #70 and now we just need to create a new one. Probably with DBeaver.io.

I think this is close enough to #102 that we can just expand, link from, and comment on that user story.

[2019-10-22 16:20] #126 closed

[2019-10-22 16:21] allella commented on #102
This should be fairly obvious, but #126 specifically wanted to make sure events can have longer descriptions, which is part of the current schema with a text field of events.description.

[2019-10-22 16:30] allella commented on #127
This would require a new sponsors.description field, or similar in the database.  I've added and linked this from #84 for future reference.

Closing this, but comments are welcome for when people review the list from #84 and click down to the suggested reason and comments.

[2019-10-22 16:30] #127 closed

[2019-10-22 19:48] Haxified commented on #11
Hey! I'm Robert, and I live in the UK. I run the official TypeScript discord server, and have been using Node/React for 5-6 years. I also have quite a bit of experience with SQL and many other tools. I'll try to contribute where/what I can!

[2019-10-22 21:03] allella commented on #54
#129 brought in an up to date schema image and we're now linking the readme directly, but through an absolute path to https://github.com/freeCodeCamp/chapter/raw/master/data/schema.png

So, we should explore now linking to the path relative to the repo and branch, since otherwise any forks or branches would always see the upstream master branch's copy of the image, and not any locally modified ver

[2019-10-22 21:14] joelrozen commented on #97
✋ I'll take this

[2019-10-22 21:56] petersarll commented on #11
Hello everyone! I'm Peter and I'm a Full stack software engineer currently working with React, Node, and GraphQL. I've used FreeCodeCamp numerous times so i've felt compelled to contribute. Cheers!

[2019-10-23 00:38] mohanwer commented on #123
Hooks 👍

[2019-10-23 01:13] allella commented on #54
#130 merged in a relative `(data/schema.png)` image path.

Github's Markdown is smart enough to convert that relative path to path for the active repo and branch.  This is working on the main master repo and my fork and was approved and merged.

[2019-10-23 01:19] allella commented on #84
@chrismgonzalez  I've been encouraging people to create a new issue for a suggested user story. That way we can post comments related to the story and decide if it's a duplicate without having all those comments on this thread.

Then, if the story is unique I've been closing the issue and adding it to the main list with a link so when someone reviews these stories down the road they can easily see

[2019-10-23 01:57] xarielx commented on #123
Functional Component + hooks, GitHub should add a polling button,  is there a pull request to update the documentation regarding this? @timmyichen

[2019-10-23 01:59] timmyichen commented on #123
Negative - feel free to create one!

[2019-10-23 02:00] xarielx commented on #110
Since we are adding Chapter to existing Organizations, one concern is integrating the existing users of that page into Chapter, or for the MVP are we're going to stick to create new users independent from the Orgs? @allella @chrismgonzalez

[2019-10-23 02:30] xarielx commented on #123
Should we install this to facilitate future discussion of this kind? https://github.com/apps/polls @timmyichen @chrismgonzalez

[2019-10-23 02:54] allella commented on #110
@xarielx If I'm understanding you correctly, are you asking if an organization has existing users from another platform then are we going to allow importing users to the organization and/or specific chapters within the organization?

We may be able to start with only authorization and logging in for organizers and admins, since we can probably validate a user's email address and RSVP them through

[2019-10-23 03:37] MustafaAnasKH99 commented on #11
Hello all!
This is Mustafa. I am a junior Full Stack developer. I work with Nodejs, React, and GraphQL. I am currently residing in Toronto and in the middle of my job haunt so I have free time and would be honored to be here and help as much :alien:
Looking forward to this journey!

[2019-10-23 03:38] finisher1017 commented on #114
Should we be taking a mobile first approach to our designs? I believe we should.

[2019-10-23 03:41] MustafaAnasKH99 commented on #114
@finisher1017 I have that in mind too.
Maybe that or just create another path for mobile developers to think about the design and development stack.

[2019-10-23 03:43] allella commented on #114
@vkWeb that's an impressive start, and amount of stuff to think about.

First question is who's going to be creating the mockups?  I want to confirm the folks doing the work are already in the conversation since their input and process will matter more than mine.

Also, I'm neither a designer or experience in the ways of Kanban.  I suspect there's a pattern for using the user stories to generate m

[2019-10-23 03:43] MustafaAnasKH99 commented on #21
I can help with `ar-SY` translation  :alien:

[2019-10-23 03:46] xarielx commented on #110
Ok did not see that issue I apologize, but my concern is: if the organization has their own logging system, let's say Rotary International, you sign in to their site, if you go to their Chapter.rotary.org, would need to log in with different credentials? Or is their tools to Integrate them. I don't know if that clarifies it, but ill mention it in #40

[2019-10-23 03:49] finisher1017 commented on #114
I think at the very least the MVP should be a browser based app that's optimized for mobile devices. I'm planning on starting work on some wireframes tomorrow that I'll share when I feel like I have something ready to be critiqued.

[2019-10-23 03:51] xarielx commented on #40
My concern is: if the organization has their own logging system, let's say Rotary International, you sign in to their site, if you go to their Chapter.rotary.org, would need to log in with different credentials? Or is their tools to Integrate them? @amark

[2019-10-23 03:52] allella commented on #110
@xarielx I think #40 was focused on shared logins between Chapter organization servers/instances.  I don't foresee much in the way of universal logins that integrate with a specific organization's proprietary auth systems.

Single Sign On (SSO) using popular services like Google, Facebook, have been mentioned, like in #90 and it sounds like they are on the post-MVP roadmap.

Again, I'll defer to t

[2019-10-23 03:55] nabilahsan commented on #114
I set up the Figma board here: https://www.figma.com/file/EDhlnW52lIYZmiarrCaopx/freeCodeCamp-Chapter-Project?node-id=14%3A3

I don't want everyone to have edit access, just the designers. Once you click the link, everyone's names will show up and then I will give access to those who are designers.

[2019-10-23 04:05] Uptiie commented on #114
I have a mockup about halfway finished on XD. Once I'm done, feel free to pick it apart!

[2019-10-23 04:06] Uptiie commented on #114
I'm helping develop the iOS app as well!

[2019-10-23 04:11] nabilahsan commented on #114
Oh that's a good start.

[2019-10-23 05:09] nik-john commented on #114
I disagree here. It's important we make mobile first deigns because the app is going to be consumed heavily on mobile form factors. Designing mobile first helps us prioritize real estate and make mobile first development possible. That way we develop up via. progressive enhancement. Otherwise this becomes afterthought. I've seen many a project go down because we took that approach. Heavily recomme

[2019-10-23 06:54] finisher1017 commented on #114
What I mean by mobile first is considering how the layout will appear on a mobile device, regardless of whether its browser based or a native mobile app, the layout should be similar in either case. Having a mobile responsive web based MVP utilizing CSS media queries should give us a solid base for collaborating on any potential native options, especially considering that any modern web based apps

[2019-10-23 08:44] nik-john commented on #114
Ah I see - if it is mobile-web vs native, then I agree. That is absolutely mobile-first design. I misconstrued what you said - in fact, I see that you _suggested_ mobile first in your comment above 😄 I guess it is more for the other designers out there I guess

[2019-10-23 09:39] GeniaT commented on #67
Some internal - external linking strategy would be great to discuss. The links we try to build would depend on the pages we want to make the most visible (the Chapter main page? A chapter / location?).

[2019-10-23 10:46] martindavid commented on #24
This is great news. Looking forward to soon contribute to the project.

[2019-10-23 13:02] allella commented on #67
I was thinking we'll need to keep an idea on the front-end routes to make sure the URLs are SEO-friendly.

Meetup basic structure looks like
- https://www.meetup.com/Code-for-Greenville/
- https://www.meetup.com/Code-for-Greenville/events/
- https://www.meetup.com/Code-for-Greenville/events/mcrjcqyzpbhb/

I have a feeling the devs will prefer a base like

/chapter/code-for-greenville/
  or
/c/code

[2019-10-23 14:50] chris-tse commented on #11
Hey y'all! My name is Chris and I am a software engineer at Oracle Netsuite and am a recent CS graduate. I currently work mostly in React and JavaScript in general both on the front and back end with some SCSS here and there, but am also comfortable with Python and Java.

[2019-10-23 18:43] Uptiie commented on #114
Are making two individual apps for both user and organizers? Or are we going to allow everyone to create their own events directly from one app?

[2019-10-23 19:55] nabilahsan commented on #114
Are we using any existing CSS Framework like Bootstrap? And build on top of it?

[2019-10-23 20:01] allella commented on #114
@nabilahsan #34 and #121 talk about bootstrap-styled and other bootstrap variants and alternatives.  I haven't seen a consensus on that but  @vaibhavsingh97 @nik-john @francocorreasosa @vkWeb and others were part of those conversations, so pinging them for thoughts.

[2019-10-23 20:22] vkWeb commented on #114
@nabilahsan I would highly discourage using any CSS framework. I think with flexbox, grid, css variables at hand, css frameworks aren't that necessary.

[2019-10-23 20:28] nabilahsan commented on #114
What about components like buttons, date pickers, accordions and input fields?

[2019-10-23 21:09] vkWeb commented on #114
I can't see any problem with buttons, date pickers and input fields. Implementing accordion is a task I agree with.

We can use `<input type= "date">` for date pickers. We don't need to style input fields much for MVP.

btw, where we'll use accordions?

[2019-10-23 21:14] nabilahsan commented on #114
I was just giving an example. With every design decision we make, we will have to be in communication with the devs to see what's possible and what isn't. So no over the top designs from us. Only what's necessary and functional.

[2019-10-23 22:40] nik-john commented on #114
It's generally a matter of time and effort that drives the decision whether to use UI libs or not. We can always build our components from scratch and make them super slick, but unfortunately that involves a lot of time, and a lot of re-inventing the wheel. A simple component like a datepicker has multiple implementations across browsers. Now, one can say we should then use Normalizer or ResetCss

[2019-10-23 23:39] finisher1017 commented on #114
I agree. Also using features supported directly by CSS instead of a framework would save us from having to migrate to newer versions of the framework when breaking changes are introduced in future releases.

[2019-10-24 00:14] finisher1017 commented on #114
This is an early draft of a mockup I made for the login page viewed from a mobile device. I'm not sure if we're going to include a traditional registration/login or if were strictly using Oauth, but in the interest of keeping things simple for now I just included buttons for Oauth. I'm also working on views for larger screen sizes, but as I previously stated I think its a good idea to focus on mob

[2019-10-24 00:27] finisher1017 commented on #114
I just noticed in the user stories that a traditional registration/login is intended so I'll work on incorporating that into my other mockups.

[2019-10-24 05:54] nik-john commented on #114
@finisher1017 That's a good start!!

Regarding

The issue with using native CSS features like Grid and Flexbox on a public facing app where we have no control over what browser/device the user is going to use is cross browser issues. And support for older browsers. While Flexbox and Grid are both supported on most modern browsers, we need to make sure our app works on the most basic browsers. For

[2019-10-24 07:00] vkWeb commented on #97
@joelrozen Amazing!

[2019-10-24 07:24] #24 closed

[2019-10-24 07:28] #7 closed

[2019-10-24 07:48] vkWeb commented on #9
@Abott1222 we should continue this discussion in: https://github.com/freeCodeCamp/chapter/issues/112. Thanks for your thoughts on this :)

[2019-10-24 09:13] joelrozen commented on #97
Just noticed another issue #96 - this covers that as well as allows to add any type of sponsor.
I have copied the enumeration of sponsor types from the API docs (FOOD, BEVERAGE, OTHER), so might need to update the backend if it's also to accept "VENUE" specifically.

[2019-10-24 09:59] shirakaba commented on #20
Mockups for the MVP are being discussed in #144. The latest comment at the time [raises a concern](https://github.com/freeCodeCamp/chapter/issues/114#issuecomment-545757299) about CSS Grid's lack of backwards compatibility, and touched upon the issue of low-conformance and underpowered devices being popularly used in certain areas around the world.

I'd like to open discussion on how best to cater

[2019-10-24 11:39] ceciliaconsta3 commented on #114
I agree with using native CSS3 over a frameworks bulk + additional learning, Flexbox but not Grid. We should set a stopping point on what browser versions we are willing to support that matches FCC's current policy. Digging around for this information, might just ask Quincy.

[2019-10-24 12:27] kpgalligan commented on #20
Twitter as in the company's client app? I know several current and former Android developers at Twitter. I'd be amazed if that was true. Facebook barely uses RN. I think the marketplace did at one point. The rest of the app is fully native. RN for mobile is somewhat of a personal preference choice. It's generally much better on iOS than Android. I don't really understand why RNW exists. RN exists

[2019-10-24 12:54] vkWeb commented on #110
@xarielx You are making a very valid and correct point. Actually what my thoughts for MVP is that we should not have a universal login.

For e.g. freeCodeCamp.org and freeCodeCamp.org/forum which is built on top of discourse need different accounts.

[2019-10-24 12:57] shirakaba commented on #20
It's certainly made in React Native Web (it has been [since 2017](https://twitter.com/necolas/status/829128165314306048?s=20)), and the mobile app is certainly made in React Native. See the front page of the [repo](https://github.com/necolas/react-native-web):

You can examine the source code for the Twitter website and see that there are mentions of React Native in its `vendors~main.*.js` file. T

[2019-10-24 15:02] nik-john commented on #114
Agree. We should have a Browser support spec for sure.

I would argue that if anything, adding a UI lib would only decrease the amount of code we need to write and include because there's more DRY. And simple libs like Bootstrap are already extremely popular among devs and even if it isn't the learning curve is minimal. Vanilla CSS3 also will make debugging and maintenance more time consuming, in

[2019-10-24 15:25] shirakaba commented on #65
I've been advocating to use React Native Web for producing the web client, as it allows us to share a single React Native codebase to produce both a mobile client (#20) and a web client (not to mention other potential clients like desktop clients). I'd like to advocate it as a solution for cross-platform accessibility, too.

React Native includes [accessibility features](https://facebook.github.io

[2019-10-24 16:04] SeanRParker commented on #114
I'd recommend not going the UI library route for a couple of reasons:

1.) Is decreasing development work the goal here? The freecodecamp community will have more opportunities to contribute if more components need to be made from scratch, However, if getting something out the door is a higher priority we should only import a library that allows you to do it in parts (over the whole thing) because

[2019-10-24 16:14] timmyichen commented on #114
While we do want opportunities for people to contribute, I feel like a home-grown UI framework is not the place for that due to the overall cohesion required to make for solid design. We can import the basic components we need from a UI library and create the others ourselves.

I'm a bit fan of Semantic UI as its react support is excellent and well documented.

[2019-10-24 16:16] ThomasRoest commented on #114
agree with this!

[2019-10-24 17:08] SeanRParker commented on #114
That makes sense. I heard Semantic-UI has a lot of `!important` tags everywhere, which can lead to customization problems. If that's not the case it's as good as any, (better in the case of names of things).

For clarification my grid recommendation is only for larger layouts/nested components. Flexbox should be used in tandem on smaller parts because life's too short for that level of nested grid

[2019-10-24 17:13] timmyichen commented on #114
Indeed, a quick ctrl+F of the CSS file shows >1800 occurrences of `!important` so it's a completely fair concern - any other UI lib will likely be fine. 🙃

Agreed on the grid bits.

[2019-10-24 17:37] vkWeb opened #142 "testing issue template"
### Discuss your ideas or share your views:
testing issue template

[2019-10-24 17:37] #142 closed

[2019-10-24 17:41] nik-john commented on #114
styled-components `ThemeProvider` will out-`! important` any ! important`s included ahead of it, so customization shouldn't be an issue 😁😁

[2019-10-24 19:59] nik-john commented on #114
@allella In the interest of documentation, we should define a [Browser Support Level Matrix](https://medium.com/planet4/how-to-define-a-browser-support-level-matrix-54624d3b5250) like @ceciliaconsta3 mentioned. For the MVP I personally think it's good enough to support latest - 2 Chrome (desktop, android), Firefox, Safari (Desktop, iOS), IE10+ & Edge but because this is going to be an absolutely p

[2019-10-24 20:53] allella commented on #114
@nik-john I could see that conversation having a lot of input. How about we make your last comment a new issue and we can ask Quincy and Eric (works on FCC) for their input and go from there?

[2019-10-24 22:33] nik-john opened #144 "Browser Support Matrix"
## Browser Support Matrix

We should define a Browser Suppor Matrix like @ceciliaconsta3 mentioned [here](https://github.com/freeCodeCamp/chapter/issues/114#issuecomment-545878412). For the MVP I personally think it's good enough to support latest - 2 Chrome (desktop, android), Firefox, Safari (Desktop, iOS), IE10+ & Edge.

However, because this is going to be an totally public facing app allowing

[2019-10-24 22:34] nik-john commented on #114
@allella https://github.com/freeCodeCamp/chapter/issues/144 Done

[2019-10-25 02:25] DanStockham commented on #11
Hi All! I'm currently a full-stack developer working mostly with .Net applications. I started with FreeCodeCamp several years back and enjoy coding in javascript during my downtime.

[2019-10-25 02:38] chrismgonzalez commented on #114
Hi all, I've been pretty busy this week at work and with school.  I'm glad this thread took off!  Here are my thoughts:

- We should be taking a mobile first approach.  A high percentage of our users will be viewing the site on their mobile devices.
- @nik-john was spot on above about users in countries that may not be on the latest browsers.  We should consider our options when it comes to using

[2019-10-25 02:40] allella commented on #20
#144 aims to figure out support web browsers.  I suspect that's relevant to the latest mobile conversation, so linking this post.

[2019-10-25 02:41] chrismgonzalez commented on #84
@allella Sounds like a good idea to me!  Lots of work to do!

[2019-10-25 02:54] allella commented on #144
@QuincyLarson @erictleung at least as a starting point, it might help to know FCC's experience and suggestion on browser support.  @nik-john posted various stats above. The audiences of FCC and Chapter could well be different, but please share anything you feel is relevant to this browser support topic as CSS framework, or not, and a number of other #114 decisions will hinge on the supported brows

[2019-10-25 03:15] allella commented on #116
@imVinayPandya the tech stack is still being tweaked, but the core elements are defined in the [README](https://github.com/freeCodeCamp/chapter#tech-stack).

Can you provide information in if any of the frameworks being used are significantly lacking in any of the "clean architecture" facets?

Just skipping through the video I got the impression a lot of the suggestion are based around depencency

[2019-10-25 03:21] MirzaChilman commented on #114
I would say to share your design @Uptiie here, so everyone can give their suggestion

[2019-10-25 07:15] vaibhavsingh97 commented on #114
Here are my thoughts:
- i agree with @chrismgonzalez that we should follow mobile first design.
- I am in favour of having our own UI framework made from ground up using either grid/flexbox and giving fallback support to other browsers. I know sometimes debugging is an issue, but it comes with lots of benefits like we have less unused css compared to UI frameworks, easy to make mobile friendly res

[2019-10-25 09:02] GeniaT opened #145 "Decide which state management tool to use"
Hey there,

A state management tool is still to be defined and added to the [tech-stack](https://github.com/freeCodeCamp/chapter#tech-stack).
Continuing the discussion from Discord, a few options we have: [Redux ](https://redux.js.org/), [MobX ](https://mobx.js.org/README.html), use of [ContextAPI](https://reactjs.org/docs/context.html), ... Please share your view and list any other interesting op

[2019-10-25 10:54] Haxified commented on #145
While I ❤️ mobx, it would definitely not be good for beginners (decorators, RxJs, etc). Context is nice for small apps but I don't think it would be good for big sites like this. I'm all for Redux, maybe with thunk.

[2019-10-25 10:56] Zeko369 commented on #145
I agree with both of you, Redux with thunk :heart:

[2019-10-25 11:53] ThomasRoest commented on #145
I would say the opposite, Mobx is easier to understand. Less boilerplate and less files to navigate through.

[2019-10-25 14:41] panzerstadt commented on #33
@mc962 i worry that having to spin up anything, es or postgres or anything, will have an associated cost that will have to be shouldered by one party (funded or not). it kinds put pressure on that party to keep it up because if it fails, _all chapters fail_, which is worrying.

Gun, suggested at #40 sounds like a very interesting way to solve that, every chapter just "syncs" all the time, meaning

[2019-10-25 14:53] allella commented on #33
For my personal use-case, I want to continue to maintain an application that shows all tech meetup events in the Greenville, SC area.  This is currently Meetup.com and Eventbrite.com, with plans to support rich snippets, Facebook (very little use, so probably not), and eventually Chapter.

We may setup a Chapter organization for smaller, local meetups, but I would also expect other national meetup

[2019-10-25 15:13] allella commented on #114
@vaibhavsingh97 if you have additional thoughts on web browser support then please drop them on #144 as we're anticipating that conversation will grow and we'd like to have all related thoughts in one spot.

[2019-10-25 15:18] Arun4033622 commented on #145
Since redux is widely used and there are tons of free resources available online to get familiar with it, It'll be more welcoming for both new and existing contributors!

[2019-10-25 15:19] allella commented on #65
#144 could use input from the Accessibility-focused folks in this thread on where to draw the line on browser support. I'm making the assumption that socio-economic situation, and therefore available computers / devices, falls within the domain of Accessibility.

[2019-10-25 18:28] keeth commented on #34
@shirakaba I love this idea.  I'm taking a similar approach with one of my projects at work and I think it makes a lot of sense. One codebase to rule them all! :)

[2019-10-25 19:00] St0iK commented on #11
Hi All! I am a Software Engineer working with Node, React, Typescript. I also have quite a bit of experience working with databases/SQL. It would be great to be a part of this!

[2019-10-25 23:23] ceciliaconsta3 commented on #144
**Short Story:** For the sake of simplicity, I say we draw a hard line in the sand and aim to at least support all major and latest browsers in the MVP. We can definitely circle back as many times as needed once more data is collected after MVP ships.

**Reasons:** If the three mentioned above could somehow find data on FCC users alone (i.e. only 2% of users use IPads, etc.) or find current offici

[2019-10-26 02:06] eolculnamo2 commented on #145
I know there was push back in the chat, but I'm voting React Hooks (useContext with useReducer).  :P

I'm on board with whatever the decision is though.

[2019-10-26 03:38] nik-john commented on #145
`useContext` isn't really a mature feature with widespread adoption yet and like @Haxified has mentioned, it isn't particularly well suited for complex apps. I would go with the tried and tested libs like Redux. @timmyichen I am yet to work on a Production app on Next + Redux, though I know it is a widely used combo - would you have experience on this?

[2019-10-26 06:30] timmyichen commented on #145
We used Next + Redux at Repl.it and it worked fine.  They don't really have much intersection so it's really the same as any other React + Redux app.  I'm also fine with Redux being used as there are lots of resources available for newcomers to learn from.

[2019-10-26 07:14] nik-john commented on #145
Cool that sounds good @timmyichen  - I was just wondering about the server-side hydration on first load and re-hydration on client render and if there might be pitfalls that might not be immediately apparent. If it's tried and tested, I'm all for it 👍 👍

[2019-10-26 07:15] timmyichen commented on #145
We did have some wonkiness around that, but only for the more complex parts of our app - I think since we'll be using it for fairly straightforward purposes we shouldn't run into any hydration issues.

[2019-10-26 10:18] rkpasia opened #147 "Discussion: Reasoning on the architecture and deployment of Chapter"
First of all, hi everyone!
I've followed the discussion and the evolution of this project these last weeks.

In this issue I would like to take a step back and reason on the whole architecture of this project, from a deployment/management point of view.

So far, what I understood, is that Chapter should be single-container hosted, or at least "contained". If that's correct, let's move on and reaso

[2019-10-26 11:54] GeniaT commented on #145
Thanks for all those feedbacks guys, can we consider this as a consensus for Redux?

[2019-10-26 12:17] Haxified commented on #145
Redux 100%, have we decided on using thunk/sagas?

[2019-10-26 12:21] Zeko369 commented on #145
Thunk for it's simplicity compared to sagas

[2019-10-26 14:22] allella commented on #144
Looks like IE10 is end of life on Jan 31 2020. https://support.microsoft.com/en-us/help/17454/lifecycle-faq-internet-explorer

[2019-10-26 15:21] vkWeb commented on #144
@ceciliaconsta3 Spot on. You have nailed it. ;)

Fun fact: freeCodeCamp wasn't used to work well on firefox until late last year. Recent changes have made it more browser friendly. Imagine such a large learning platform wasn't use to work well on firefox.

So let's just support all modern browsers. By modern browsers, we mean browsers that regularly update their codebase to implement the latest st

[2019-10-26 15:24] vkWeb commented on #144
@nik-john If you are satisfied with our consensus please close this issue otherwise I would welcome your feedback on this :)

[2019-10-26 15:43] mc962 commented on #33
I also feel like Syncing across many instances isn't necessarily a trivial thing to get right.

In regards to 'spinning things up', _something_ will need to be spun up. At the very least a database seems likely. ES also isn't necessarily that hard to spin up either, and if you integrate it with the ORM, then loading it up with the data isn't necessarily so difficult.

There's definitely value in t

[2019-10-26 15:51] nik-john commented on #144
Oh yes that's the case but that unfortunately wouldn't rid the world of the evil as it's already so widely used (but the numbers are going down lately) and people cannot/may not upgrade or migrate depending on the situation.

I strongly disagree. And to clarify, I don't mean Opera (most modern web apps will render fine on Opera). Like I've mentioned above, it's Opera _Mini_ that we should provide

[2019-10-26 17:03] nik-john commented on #145
Sagas for easy testability, simplicity 💃 and separation of concerns

[2019-10-26 17:36] vaibhavsingh97 commented on #144
I also disagree, we will be lefting out thousands of people who are not using the latest browser. Also, FCC is quite a complex application, and support to a wide variety of browsers is quite difficult. There is a reason they haven't supported firefox, as they want to make application stable before releasing it to everyone but this doesn't mean they haven't supported firefox, people are able to use

[2019-10-26 17:48] vaibhavsingh97 commented on #145
Redux with Thunk 💯

[2019-10-26 19:00] Haxified commented on #145
+1 thunk

[2019-10-26 19:05] Zeko369 commented on #145
@nik-john Can you give us an example of sagas and why you think they're better

[2019-10-27 01:00] tdotholla commented on #145
what about just `ContextAPI` and other hooks?

[here's](https://medium.com/javascript-in-plain-english/state-management-with-react-hooks-no-redux-or-context-api-8b3035ceecf8) one "hooks v redux" article:

[2019-10-27 02:01] nik-john commented on #145
@Zeko369 I think this is a succinct explanation of the advantage of sagas from [this blog](https://medium.com/@shoshanarosenfield/redux-thunk-vs-redux-saga-93fe82878b2d)

Another major difference is

_[source](https://decembersoft.com/posts/redux-thunk-vs-redux-saga/)_

And another advantage that I personally feel is important is that when using the saga method, we have a definite separation of co

[2019-10-27 04:30] QuincyLarson commented on #144
As @vaibhavsingh97 pointed out, the front end of freeCodeCamp's curriculum - which only supports the latest few versions of Chrome and Firefox - is more complicated than the front end of Chapter will be.

The target audience of freeCodeCamp is developers, and it's more reasonable for us to tell these developers "go download a new browser." It would be harder to communicate this to less technical

[2019-10-27 04:36] QuincyLarson commented on #114
I also agree with @chrismgonzalez that we should go mobile-first - certainly for the participant-focused user experiences. Participants will use Chapter a lot on their phones when traveling to and checking into events, so we want the mobile experience to be as good as possible.

I think this would be a premature optimization. Instead we can just grab a framework off the shelf and use it for our MV

[2019-10-27 08:53] YelloFam commented on #97
How about group sponsors with levels like Platinum / Golden / Silver / Bronze...?

[2019-10-27 08:57] joelrozen commented on #97
+1 for future but possibly not the MVP.

Perhaps the product roadmap could include allowing organisations to add custom sponsor types on a per event basis though instead of predefined levels.

[2019-10-27 14:38] GeniaT commented on #145
Did anyone work with both sagas and thunks in the past ? There doesn't seem to be a favorite yet between the two...

[2019-10-27 15:54] Haxified commented on #145
@GeniaT I've worked extensively with both in the past, and I work +1 thunk 100%.

[2019-10-28 04:14] QuincyLarson commented on #40
@amark @xarielx We should not have any data leave the organization's central server. They should have full control of their data. We do not want a Disqus style "comment section that follows you from page to page" like situation, as then it just becomes another centralized platform that organizations will be skeptical of.

After we ship the MVP, we can consider adding some sort of discovery network

[2019-10-28 04:17] QuincyLarson commented on #110
@vkWeb Yes - this is what I'm thinking. Chapter would have its own authentication, and if necessary the organization could figure out a way to unify Chapter accounts with their own accounts. In many cases, Chapter would be the only part of a nonprofit's website that would even have accounts, as many nonprofits just have mailing lists of participants and donors. In these situations, the organizatio

[2019-10-28 04:30] QuincyLarson commented on #47
@allella Yes - we could put the notes from our meeting in a documentation folder. Or we could just use a GitHub wiki. We've used them in the past with freeCodeCamp, and they are limited but will probably suffice for the short term. Would you be interested in creating the wiki and adding the notes from our meeting there?

[2019-10-28 04:45] QuincyLarson commented on #44
@erictleung This is a solid list.

This is a good question. The main reason we're collecting analytics: because organizations expect it. They like to have data they can look at to help justify decisions they've already made intuitively (:smile), and occasionally to make better decisions based on data.

My humble opinion: we should have a field in the admin panel where people can add their Google A

[2019-10-28 04:49] QuincyLarson commented on #83
Since we now have individual GitHub issues for each of our MVP user stories (based off of @chrismgonzalez's list above) I am going to close this issue.

[2019-10-28 04:49] #83 closed

[2019-10-28 04:54] QuincyLarson commented on #76
Thanks for your input everyone.

There seems to be a consensus that we should use Jest + React. I'm going to consider this resolved and close this issue.

[2019-10-28 04:54] #76 closed

[2019-10-28 04:56] QuincyLarson commented on #34
@shirakaba We can consider mobile UI options once we've built the web version for our MVP. I think React makes the most sense here so I'm going to go ahead and close this issue.

[2019-10-28 04:56] #34 closed

[2019-10-28 05:00] QuincyLarson commented on #145
OK - there seems to be an even-ish split between people who prefer Thunk and people who prefer Sagas. They both seem fine to me, so I'm going to say:

Whichever tool is used in the first major contribution to the front end can be the one we stick with. At the end of the day, we just have to choose one and push forward 😄

[2019-10-28 05:00] #145 closed

[2019-10-28 05:04] QuincyLarson commented on #32
Thanks for everything you all have shared here - especially @vorpalhex for broaching the subject and @jackbravo for the links.

You all have successfully swayed me to the "let's stick with Postgres for now" approach.

If it becomes clear that we need something more powerful later on, we can consider adding ElasticSearch. But for our MVP we shouldn't include it.

[2019-10-28 05:04] #32 closed

[2019-10-28 05:07] QuincyLarson commented on #144
For the sake of expediency, I am now recommending we just focus on Chrome, Firefox, and Safari for our MVP. This will cover 80% of desktop and mobile users.

We can later refine our front end to be compatible with Yandex, Opera, and other long-tail browsers.

[2019-10-28 05:07] #144 closed

[2019-10-28 05:11] QuincyLarson commented on #33
We should keep discussing this. I've added the Roadmap label since this is something we will want to eventually build out (though not for our MVP).

[2019-10-28 05:12] QuincyLarson commented on #17
We have all decided to use Next.js, and this issue hasn't been updated for a while, so I am closing this issue.

[2019-10-28 05:12] #17 closed

[2019-10-28 05:15] #33 closed

[2019-10-28 05:19] timmyichen commented on #147
I think the plan is to have the web app be hosted on a single container, and other services hosted on other containers - so there will be a separate postgresql container.  If they want to use a different hosted database it should be trivial to change the env variables to point to the external, non-docker DB.

[2019-10-28 05:20] QuincyLarson commented on #12
@chrismgonzalez Thank you for putting together this excellent list of starting documents.

I just created a GitHub Wiki for us to start with (we can later migrate these articles elsewhere, but this is a convenient place to begin).

I'm looking for a volunteer who can create each of these articles and a few paragraphs for each addressing its topic.

[2019-10-28 05:36] QuincyLarson commented on #114
This is a rich discussion, and a lot of people have shared good ideas here.

This issue is now critical path for our MVP. So I'm going to make some executive decisions to move things along.

We just need some simple functional mock-ups of all the user stories that @chrismgonzalez listed above.

We have established that our priority is mobile web.

Let's assume everything from the participant side

[2019-10-28 05:58] QuincyLarson commented on #47
Hi everyone, this is the **main issue** we have rallied around.

I've updated @kognise's original post to reflect the decisions we've made so far and the work we've done. I've also removed all the post-MVP steps so we can stay focused on our MVP.

I made some executive decisions to help move things forward. There are now 3 critical path issues:
- Initializing Sequelize: #120 (delegated to @Zeko369

[2019-10-28 07:48] vkWeb commented on #114
@QuincyLarson Your decisions will definitely help in maintaining the momentum of thIS project.

@finisher1017 I have sent you a message on Discord. Let's build the mockups.

[2019-10-28 08:04] vkWeb commented on #12
@chrismgonzalez I have updated the issue and added "help wanted" label to allow contributors to work on this. The documentation will be under your supervision.

Right now we can only work on API documentation as we are still implementing features for MVP. Once we have all the features down we can start writing documentation for accounts, members, organizers, etc.

[2019-10-28 09:13] jacobbogers commented on #147
Why not use multiple containers? It is just as easily fired up with a `dockercompose.yml` file
We can use one container for the database and one container for the middleware (express, etc).

[2019-10-28 09:59] tunnckoCore commented on #40
@amark, I always thought that's one of the reasons going decentralized is hard - because laws & policies. This world has too much regulations.

It's exactly like that, except that it won't be in a centralized place.

[2019-10-28 10:12] jacobbogers commented on #147
Any help needed to setup the database side of things, I can do the container, installation of schema scripts, DB rights, and creation of test/mock data?

[2019-10-28 11:21] rkpasia commented on #147
To reply to both @timmyichen and @jacobbogers:

I think the problem needs to have a broader picture. If we look at what Chapter should be:

I'm worried about the section where we state _**"No coding required"**_.

The deployment of what should be a single container, is becoming more and more a "microservice" architecture, or (more realistically) a distributed monolyth.

In this discussion I'm more

[2019-10-28 13:00] jacobbogers commented on #147
There is no coding required (ofc ppl using docker should know some coding) to deploy via `dockercompose` file (regardless if it is 1 or more containers).

It is even easier as you can put all your command line arguments (exposing ports etc) of the `docker` command in the `dockercompose` file (or have the `dockercompose` file fetch them from environment variables)

You can distribute the docker com

[2019-10-28 13:15] ThomasRoest commented on #47
The decision on what UI lib to use. Semantic UI?, Material UI?, ant design, React Boostrap and others..

[2019-10-28 13:49] allella commented on #96
@joelrozen if you'd like to create a new issue for any future user stories that are different than the two mentioned then please do so and post more detailed thoughts on that issue.  Then, we can close the issue and link to it from #84 for future reference.

[2019-10-28 13:58] rkpasia commented on #147
Again, @jacobbogers, you're absolutely right about dockercompose 😊 I'm all in with multi-container, it just wasn't explicit in the description of the project.

Anyway, the thing that concern me the most, is that we can't ask users without any experience of coding to launch the terminal and make a deployment with docker, no matter how easy it'll be.

Otherwise we're failing on the assumption that C

[2019-10-28 14:08] allella commented on #114
Quincy posted [initial guidance on web browser support](https://github.com/freeCodeCamp/chapter/issues/144#issuecomment-546792787), so that should provide an initial base for the browser concerns mentioned earlier on this issue.

[2019-10-28 14:26] allella commented on #147
There have been no discussions of preferred or required hosts and obviously the intention is to allow anybody to own and host a Chapter wherever they want.

However, I'm assuming Quincy's "1-Click" target is based on there being [cheaper hosts like DigitalOcean for which "1-Click" install profiles](https://www.digitalocean.com/community/tags/one-click-install-apps?type=tutorials) can be created.

[2019-10-28 14:31] allella commented on #32
We'll want to remove Elasticsearch from the README.  I'll try to submit a PR that updates the docs with the most recent changes.

[2019-10-28 14:37] allella commented on #83
For any additional suggestions for MVP or post-MVP user stories please create a new issue.  From there we can either:

-  convert it to an MVP issue and add it to the [Project board](https://github.com/freeCodeCamp/chapter/projects/1)
- identify the suggestion as post-MVP, collect comments on the issue, close it, and link it from #84

[2019-10-28 14:44] allella commented on #47
@ThomasRoest I'm not sure a consensus has been reached about a UI library, or no library.

#114 (part of the roadmap) holds some of the earlier conversation, along with #121 and #34.

[2019-10-28 14:54] allella commented on #44
Perhaps a more flexible version of @QuincyLarson 's suggestion would be allowing an Analytics JS snippet admin option so Google Analytics, Google Tag Manager, or other snippets for the non-Google types.

Would be be fine if I create a post-MVP user story of something like below?

"As an administrator, I can paste and save javascript tracking snippets into a form to allow for analytics and tracking

[2019-10-28 16:39] allella commented on #34
RE: UI frameworks

#114 (part of the roadmap) holds some of the UI framework conversation, along with #121 and this issue.

Also, [Quincy's vote was for using a UI framework to start](https://github.com/freeCodeCamp/chapter/issues/114#issuecomment-546661502) and not custom-building from the start.

[2019-10-28 22:35] QuincyLarson commented on #47
@ThomasRoest We've used Material-UI on past projects and found it's pretty flexible. Any tool we consider using should be at least as fast, flexible, and conventional-looking as Material-UI.

[2019-10-29 02:35] timrodz commented on #44
If we can allow for personal chapter analytics, that would be great. Other than that, event suggestion via keywords would be an important feature to have (based on time constraints) in order to ease discoverability. Good insights all 😄

[2019-10-29 03:18] shirakaba commented on #34
@Quincy

React Native Web and React DOM are both “React”; just that the former transpiles to React DOM while the latter *is* React DOM. For clarification, are you talking about going ahead with direct use of React DOM?

[2019-10-29 03:37] allella commented on #47
The [October 20th, 2019 meeting notes](https://github.com/freeCodeCamp/chapter/wiki/Meeting-Notes---October-20,-2019) are now published as a page in the Wiki.

[2019-10-29 03:41] allella commented on #24
The [October 20th, 2019 meeting notes](https://github.com/freeCodeCamp/chapter/wiki/Meeting-Notes---October-20,-2019), including the Typescript conversation, are now published as a page in the [Wiki](https://github.com/freeCodeCamp/chapter/wiki).

[2019-10-30 00:30] ryancharris commented on #11
Hey, y'all 👋 I'm Ryan, a software engineer from Philadelphia, PA. I primarily work on the frontend and have experience with both React and Vue. I've also written some Elixir (Phoenix) and Java (Spring) as part of my previous roles. In terms of databases, I'm most familiar with Postgres.

I organize a meetup here in Philly called Reactadelphia and would love to contribute to this project as my co-o

[2019-10-30 06:40] bernhard-hofmann commented on #110
Is this the right place to mention that the RSVP wait list isn't a queue? The schema indicates whether a user is on the waiting list as follows:

`on_waitlist boolean not null default FALSE`

If we want to give the first available places to the people who applied first, we could use a queue position system where position > event capacity means the user is on the waiting list.

`queue_position int

[2019-10-30 08:43] jacobbogers commented on #147
@allella, a "one click" would need something like an installable "exe" (windows) or a linux repo (yum , apt-get) etc etc, should be have this already for the 1st MVP release? It would be cool to have, I admit,

[2019-10-30 10:06] jacobbogers commented on #11
Hi I am Jacob, I am currently Senior Nodejs Developer in Luxembourg, for this project, my   experience with Oracle (certified DBA- OCP 11gR2) and Java (certified Developer 1.6) would be most helpfull on the backend.

[2019-10-30 18:39] SeanRParker opened #156 "Font scaling for different resolution screens (laptop/desktop specifically)"
Any thoughts on how we'll handle supporting different resolution screens? In my experience, using `px` everywhere can result in vastly different UX for users on various desktop reolutions.

I propose we set different `font-size: **px` in each breakpoint in an `html` selector, then use `rem` units everywhere else. Does Material UI (or any other tool in the stack) have a built in way to handle this?

[2019-10-30 21:43] vkWeb commented on #156
@SeanRParker We can handle them through media queries. Just for an example: we can set up a global font-size of 18px and use `rem` everywhere. And suppose when a user is using a device of width below 500px, we can alter the global font-size to 16px. This will reflect the change in all the components.

How does that sound?

[2019-10-30 23:08] kognise commented on #156
It's typically not a good idea to set a base font size in `px` for accessibility reasons - impaired users (and anyone who wants to) should be able to change their browser's base font size and have it be reflected in Chapter's site. One option is to set the base font size to `1.125 rem` on larger screens and `1 rem` on smaller screen, which will respond to font size changes while still giving the e

[2019-10-30 23:31] vkWeb commented on #156
@kognise Yes, I think you are right. It's good to see you back. I hope you recover soon :)

[2019-10-31 02:57] Rafi993 opened #157 "Recording description creation date for tags"
The tags table seems to have only ID and Name column. But should we also record description and creation timestamp ?

[2019-10-31 03:28] Rafi993 commented on #44
I do think analytics but is there more privacy friendly alternative to google analytics?

[2019-10-31 13:40] allella commented on #147
@rkpasia NEXT.js was decided early on.

JS not my native tech-stack and I have no thoughts on the stack, but here are some earlier conversations.

#34 #56 #2

[2019-10-31 23:18] odomojuli commented on #11
Hello everyone, my name is Juli Odomo. I'm a mathematician (lower case). I work with fullstack development and machine learning. I work mostly with Vue and GraphQL. I've worked in the events / entertainment industry so I have some insight into promoting / organizing events. I'm also an artist so I would love to create assets that make this project look pretty.

[2019-11-01 09:30] vkWeb commented on #11
@odomojuli We are building prototypes right now for the Chapter project. This might interest you so you can connect with me on discord: vkWeb#0291

[2019-11-01 19:51] SeanRParker commented on #156
@vkWeb That's the approach I have in mind.

@kognise Good point. I didn't know that. Hope you feel better soon.

[2019-11-06 21:16] vaibhavsingh97 opened #160 "Improvement: Sequelize behaviour"
After https://github.com/freeCodeCamp/chapter/pull/120 merge, we have sequelize in place, and now we can create models and other things. There was one concern raised by @timmyichen as follows:

This issue is open for discussion and available for first time contributors to fix it.

[2019-11-07 04:44] allella commented on #156
Is there anywhere we should link this conversation?

Is this discussion resolved, or shall we keep it open?

[2019-11-07 05:02] nik-john commented on #156
@vkWeb @SeanRParker @kognise https://material-ui.com/customization/typography/#font-size

[2019-11-07 13:35] vkWeb commented on #156
@nik-john The responsive font-sizes looks cool to me: https://material-ui.com/customization/typography/#responsive-font-sizes

By the way, in our prototype, we are using a different set of font-sizes. We are using the below colors and font-sizes for our prototype. It can be adjusted though.

Colors:
 Primary: #0a0a23 (gray 90)
Icon color: #d0d0d5

Font-sizes:
base body text: 16px
h1: 38px
h2: 28px

[2019-11-07 16:26] SeanRParker commented on #156
Looks like it’s built in to Material-UI.

So I’m going to close this issue.

[2019-11-07 16:26] #156 closed

[2019-11-09 16:45] jacobbogers commented on #96
Does it explicitly have to be strongly typed as "food", can we make this more abstract with a entity called "provides" (or something), and let the user defined "food" themselves or have "food" exist as a "preset" in the database

[2019-11-09 19:38] Zeko369 opened #163 "Using useReducer for form data"
Have we discussed using `useReducer` instead of `useState` with an object for this? For this specific form it's OK, but if we had more fields maybe `useReducer` hook would make it more readable, since we're just implementing our own reducer later in the `handleChange`?

_Originally posted by @Zeko369 in https://github.com/freeCodeCamp/chapter/pull/140_

[2019-11-10 14:30] papigers commented on #163
Wouldn't it better to just use Formik? No need to reinvent the wheel

[2019-11-10 20:28] papigers commented on #160
Not sure I understand, you want to separate the sequelize instance initialization and its' export?

[2019-11-10 21:15] Zeko369 commented on #163
I've heard that their hooks integration isn't the best, maybe some other form library that works better with hooks?

[2019-11-10 21:16] Zeko369 commented on #163
Or just plain useState/useReducer

[2019-11-10 21:45] papigers commented on #163
@Zeko369 I never used Formik in the React Hooks era, so I can't say much about their hooks integration.
There's also [React Hook Form](https://react-hook-form.com/) which is relatively new and claims to be a far better option, but I don't have any personal experience with it.

[2019-11-10 21:53] Zeko369 commented on #163
That seems quite nice, what do others think? @timmyichen @joelrozen @vaibhavsingh97 @nik-john

[2019-11-10 22:57] timmyichen commented on #163
react-hook-form seems nice and small.  haven't used it before but i'm down to try.

[2019-11-10 23:13] timmyichen commented on #160
We should initialize a single sequelize instance in the lib, export that, and reuse it everywhere we go

[2019-11-11 00:01] allella commented on #96
Agreed on being offering more than food sponsorship.

The [current schema](https://raw.githubusercontent.com/freeCodeCamp/chapter/master/data/schema.png) allows for multiple sponsors and a sponsor type.

The [sponsor type is currently set as an enumerated field](https://github.com/freeCodeCamp/chapter/blob/master/data/ddl.sql#L62) with the options of ('FOOD', 'VENUE', 'OTHER'), which is further co

[2019-11-11 00:01] papigers commented on #160
That's not what we're already doing? `initSequelize` **is** the sequelize instance, right? It's not a factory function like hinted in the quote from the PR.

[2019-11-11 00:05] timmyichen commented on #160
Ah looks like we completely overlooked this part of a commit:

https://github.com/freeCodeCamp/chapter/pull/120/commits/323e6d8cd1784c0e2d93b0e23db930794b2cae9a#diff-750f3d5cd257576112b47e8d33e0428cR3

This issue can be closed since this was already addressed in #120.  Maybe a small thing would be to rename it from `initSequelize` to just `db` or something

[2019-11-11 00:07] Zeko369 commented on #160
I can rename it in the seeders PR

[2019-11-11 00:08] #160 closed

[2019-11-11 01:02] papigers commented on #99
I'm on it, I'll start working on the UI components.

In the meantime, how do we plan to send the emails? use an email service like SendGrid? use environment variables that will configure an SMTP endpoint to which we will send emails via `nodemailer`?

[2019-11-11 07:22] Zeko369 commented on #99
@papigers there is a PR for that already #146

[2019-11-11 18:49] DavidRinSE opened #164 "Switch default runs every time"
### Describe the bug:

Working on Learn Redux: Handle an Action in the Store

With a switch case statement the default runs every time which is not normal javascript behavior.

Does not pass:
`let newState = {}
  switch(action.type){
    case 'LOGIN':
      newState = {login:true}
    default:
        newState = state
  }
  return newState
`
Passes:
`let newState = state
  switch(action.type){

[2019-11-11 19:30] Zeko369 commented on #164
This isn't a freeCodeCamp Redux Tutorial repo, but nevertheless I'll explain it here :)
When you have a switch case and unlike if/else it goes through all of the cases until it hits a break or a return statement, so your example
[code]
This would set `newState` to `{login: true}`, then to `{login: false}` and then to the original state object
What you want here is a break or return
[code]
This wou

[2019-11-11 19:35] DavidRinSE commented on #164
My bad I should have known that I was caught up in the new redux info. And I just googled freeCodeCamp issue report real quick and this came up but I see the structure now. Thanks!

[2019-11-11 19:37] #164 closed

[2019-11-12 15:16] Sonicrida commented on #163
My thought is to go with Formik since it's battle tested + what most people may be familiar with. It also has hooks now if those are needed.

[2019-11-12 15:50] Sonicrida opened #165 "Question: Is node-typescript necessary?"
I was looking through the codebase and trying to run the application locally on my system. I notice that installing packages fail because the Chapter engine is set to node version 10 but one package we are using, `node-typescript` wants node version **0.8.x**.

https://www.npmjs.com/package/node-typescript

This package seems to be 7 years old and the github repo is no longer available. Is this so

[2019-11-12 22:08] Zeko369 commented on #165
I'm pretty sure it was added by mistake and that we dont use it? That's from the express/next init PR. Pinging @timmyichen from that PR

[2019-11-12 22:12] timmyichen commented on #165
ah yes we can probably remove it; i may have added it by accident 🙃

[2019-11-12 22:13] Zeko369 commented on #165
@Sonicrida you can go ahead and create a PR for that

[2019-11-12 22:15] timmyichen opened #167 "Change Discord Link"
A simple PR if anyone has the time! :)

We added more structure to the Discord channels - the current invite link sends people to #general, whereas this new link sends people to newly created #welcome channel:

https://discord.gg/PXqYtEh

It would be great if we could replace all old discord links with the new one above.

[2019-11-12 22:29] Sonicrida commented on #165
Will do! Thanks!

[2019-11-13 11:21] raufabr commented on #167
Hi @timmyichen can I pick this up please? Will need a bit of guidance for my first contribution in this project.

[2019-11-13 11:35] jaburcodes opened #169 "Organize the team"
### Discuss your ideas or share your views:
This project is running ridiculously slow IMO. Thats because it's missing some basic organization.

What i suggest is to create
- Core team of 3 engineers/developers and 1 PO.
- Having sprints.
- Having weekly/monthly review or planning calls.

If the development keep like it, the project will take 20x the time it should.

[2019-11-13 12:04] vkWeb commented on #167
@raufabr Amazing. Feel free to work on this. I have assigned it to you. You should read [our contributing guidelines](https://github.com/freeCodeCamp/chapter/blob/master/CONTRIBUTING.md) to get started. Thanks and welcome to Chapter :)

[2019-11-13 12:07] #165 closed

[2019-11-13 14:39] Zeko369 commented on #169
I suggest we talk about this on the team meeting this Friday. We could add it to the agenda @QuincyLarson?

[2019-11-13 17:25] vkWeb commented on #169
@Zeko369 I agree with you.

[2019-11-13 21:59] raufabr commented on #167
Hi, I've created a PR for this :relaxed:

[2019-11-13 22:00] #167 closed

[2019-11-14 05:13] martineizayaga commented on #169
@Zeko369 What are the details about the team meeting?

[2019-11-14 09:17] jacobbogers commented on #40
Want to add some points,

### Password resets should be as frictionless as possible (like github,  facebook, whatever)

1. Indicate  you want password reset (only if you have NOT signed on with local account)
2. fill in your email, **to prevent "fishing"** , the software should never answer _"we don't know this email"_, but _"if this email is registered an email will be sent to you with informatio

[2019-11-14 09:48] jacobbogers commented on #40
Oh just to add [auth0 has a free tire](https://auth0.com/signup?&signUpData=%7B%22category%22%3A%22button%22%7D)

- 7000 free active users
- unlimited logins

I think this would cover most uses cases of chapter, so I think its a good option use auth0 in MVP.
Also auth0 has some good standing so it would put at rest any worries ppl might with regard to privacy

[2019-11-14 11:11] jaburcodes commented on #169
Creating a more organized environment will also avoid this lack of interest over time.
This project needs long term mantainers to grow:

<img width="758" alt="Screen Shot 2019-11-14 at 08 10 40" src="https://user-images.githubusercontent.com/13947203/68852309-6403b300-06b6-11ea-83a7-c2f318f6a2bb.png">

[2019-11-14 11:21] Zeko369 commented on #169
@martineizayaga If you haven't join the meeting this Friday, you can ask Quincy to add you to the gcal event.

[2019-11-14 14:18] allella commented on #169
I'm still here and plan to stick with the project doing what I've been doing, which is mostly helping answer questions for newcomers and connect people when there are questions about the current status of things.

I'll be on the meeting tomorrow.

I'm a LAMP dev and don't have the experience, or desire, to make code contributions at this stage of the core tools and patterns being assembled.

A lot

[2019-11-14 15:16] allella commented on #163
@timmyichen @joelrozen @vaibhavsingh97 @nik-john what say ye?

[2019-11-14 15:19] allella commented on #147
@rkpasia @jacobbogers are there any action items or PRs to come out of this conversation? Seems like the concerns were more over Quincy's wording of "one-click" and "no coding required", which might be simple .md tweaks, if anything?

[2019-11-14 15:37] allella commented on #116
@imVinayPandya unless we see specific suggestions then I don't see keeping this issue open.

Are there issues with the current tools which don't follow Uncle Bob's clean architecture?  These are popular JS frameworks and tools, so it would seem a lot of best practices would be baked in.

Data Layer -> Postgres w/ Sequelize ORM on top
Frontend ->  React or NextJS (comes with NodeJS server API layer

[2019-11-14 15:41] allella commented on #157
@vkWeb are there any conversations in the MVP mockups that would dictate if tags need a description?

I suppose we could add created_at and updated_at for consistency. It would allow for sorting tags by date, though I'm not sure there's a lot of use cases for that.

[2019-11-14 17:42] vkWeb commented on #157
@allella @Rafi993  I don't think we need description & created_at/updated_at for tags. The tag itself should be self-explanatory and we don't need to record dates when these tags were updated.

@timmyichen what do you think about this Tim?

[2019-11-14 18:14] timmyichen commented on #157
Agreed with @vkWeb - @Rafi993, do you have a compelling use case for having a description and timestamp for each tag?

[2019-11-14 18:18] allella commented on #157
I don't have a use-case unless there's a dedicated page for tags, but I don't think it would an MVP issue, so was checking with @vkWeb.

I don't think the created_at and updated_at are bad, for consistency will all other tables in the schema, but I also don't have a use case for those fields.

@Rafi993 if you want to create a pull request to add created_at and updated_at then we can see what other

[2019-11-14 18:19] #157 closed

[2019-11-14 21:27] joelrozen commented on #163
We have used formik internally on a lot of projects and it's great. I actually took part of my logic for this from our internal stuff and just rewrote to use without formik

[2019-11-14 21:29] xarielx commented on #114
![image](https://user-images.githubusercontent.com/36430592/68897590-d34fc600-06fb-11ea-9217-a02a9009fc8f.png)
Created a TypeScript Sign In Component, very simple, but the chapter's name can be read from API and the color palette can be changed to Dark Mode or customized to what we want.

[2019-11-14 21:47] xarielx commented on #114
![image](https://user-images.githubusercontent.com/36430592/68898792-33476c00-06fe-11ea-955f-828ffed35bfe.png)
Created a working TypeScript Component with the UX idea given by @finisher1017
Any feedback?
The Chapter's name would be read from the API and changes depending on what Chapter the user is viewing.

[2019-11-15 01:07] allella commented on #40
@jacobbogers thanks for the points.

In many cases, like for GDPR, we can hopefully leverage FCC prior experience hosting people all over the world.

FCC is a single-system, so I'm not sure their experience there will inform a solution for Chapter.

Also, the desire to not have to register a new account for every Chapter instance you encouter will surely have more debate, but for now it would seem

[2019-11-15 06:17] imVinayPandya commented on #116
Sorry for late reply @allella

The main goal to use uncle bob's architecture is, writing business logic which is not coupled, use node modules/dependencies in a way which is also not coupled(in future easy to replace with other module), put each and every business logic in separate file and write unit and integration testing (which you have already mentioned).

TL;DR Write future proof code.

For

[2019-11-15 15:45] allella commented on #116
@imVinayPandya can you commit to following the related code and suggesting these best practices as the project develops?

I'm afraid reminding people to "use best practices" or "build a secure site" is too general for action and someone will need to be looking out for these concerns on an ongoing basis.

I'm not a JS developer so I don't feel I'll be able to properly ensure these best practices ar

[2019-11-15 16:15] jacobbogers commented on #40
@allella hello
When I was speaking of _a chapter_ I am talking about an entrance in the table `chapters`, (within the same docker instance),  that's as far as I would take "SSO" (maybe that is already the intent for the MVP, correct me if I am wrong)

PS: maybe the `chapter` table could be renamed to `franchise`, because it is sharing the same name with the overall product)))

My idea of federatin

[2019-11-15 16:39] allella commented on #40
Thanks again for the notes. My feeling is this is all well beyond the MVP, but it's good to have ideas about what's possible.

Quincy has a vision about how this product will work so that will likely steer to what degree each "[Organization](https://github.com/freeCodeCamp/chapter/blob/master/README.md#terminology)" (a deployment / instance of Chapter) are concerned with other organizations.

You

[2019-11-15 17:04] Dletta commented on #40
Still think Gun Db is a viable choice as it is a protocol first, which could be used to sync the data the instances wishes, out to other instances.

[2019-11-15 17:40] jacobbogers commented on #40
@allella you are welcome,

Thanks for the update on the table rename `chapter` -> `groups`, I did not know it was renamed.

My main contributing point for this MVP was  **Password resets should be as frictionless as possible** part   (The rest of my comments was more about on ongoing discussion on federation etc.)

I can make a PR -draft- for the authentication flow.

[2019-11-15 17:57] vkWeb commented on #114
Our prototype is ready! :tada:

I'll be looking forward to all the feedback and ideas to improve it.

Press 'F' to have a better experience. Here's the link:
https://www.figma.com/proto/q7DikyL3N0c4CUWxHNa97i/Chapter-Prototype?node-id=1%3A2&scaling=scale-down

[2019-11-15 19:08] QuincyLarson commented on #123
/polls "React Class Components" "Functional Components w/hooks"

[2019-11-15 19:09] Zeko369 commented on #123
/polls foo 'bar' "Foobar"

[2019-11-15 19:11] QuincyLarson commented on #123
We've resolved during our Nov 15 meeting:

Hooks are the norm. Classes can be used when needed.

[2019-11-15 19:24] xarielx commented on #123
A) Class components
B) Hooks components
/polls classes 'hooks'

[2019-11-15 19:39] QuincyLarson commented on #163
We had a vote during our Nov 15 conference call, and there was a consensus that we should try React-hook-form first and if we don't like it, we can switch to Formik.

[2019-11-15 19:39] #163 closed

[2019-11-15 19:44] QuincyLarson commented on #169
We will consider creating a core team later. For now, I think we have sufficient momentum.

I agree with @timmyichen that we need more clarity - not more hierarchy.

[2019-11-15 19:44] #169 closed

[2019-11-15 19:46] QuincyLarson commented on #40
This issue is on the roadmap, which means we will get to it after our MVP. I will close this issue for now so we can focus on resolving our non-roadmap issues first.

[2019-11-15 19:46] #40 closed

[2019-11-15 19:48] QuincyLarson commented on #20
This issue is on the roadmap, which means we will get to it after our MVP. I will close this issue for now so we can focus on resolving our non-roadmap issues first.

[2019-11-15 19:48] #20 closed

[2019-11-15 19:48] QuincyLarson commented on #84
This issue is on the roadmap, which means we will get to it after our MVP. I will close this issue for now so we can focus on resolving our non-roadmap issues first.

[2019-11-15 19:48] #84 closed

[2019-11-15 19:50] QuincyLarson commented on #11
Thank you everyone for sharing your introductions. I will close this issue and we will use this going forward.

We may reach out to some of the people who've introduced themselves here for future volunteering opportunities as the project evolves.

[2019-11-15 19:50] #11 closed

[2019-11-15 19:57] timmyichen commented on #169
Just to add on because this was discussed during the meeting but not penned here:

By clarity, I think having the following would help facilitate PRs:
* More issues clearly labeled as Todos (clientside work should include mocks/etc)
* Close stale PRs e.g. older than 7 days

[2019-11-15 19:59] martineizayaga commented on #114
@vkWeb the link doesn't work for me
![image](https://user-images.githubusercontent.com/28035767/68971858-782fd900-07b8-11ea-935b-7aa0ac4facd9.png)

[2019-11-15 19:59] QuincyLarson commented on #23
We will consider adding some tools like this once we have shipped our MVP. For now I'm closing this stale issue.

[2019-11-15 19:59] #23 closed

[2019-11-15 20:01] QuincyLarson commented on #21
We will probably use something like https://github.com/zeit/next.js/tree/canary/examples/with-react-intl that @mmiszy mentioned.

For now, our MVP will be English. We can revisit this once our MVP is out. For now I've added this to our roadmap and I will close this issue.

[2019-11-15 20:01] #21 closed

[2019-11-15 20:02] QuincyLarson commented on #36
I've added this feature to our roadmap and am closing this issue for now until we ship our MVP.

[2019-11-15 20:02] #36 closed

[2019-11-15 20:06] QuincyLarson commented on #44
For now, we will have a single field for inputting a Google Analytics ID. In the future, we can have fields where people can add whatever scripts they want, like on Ghost.

<img width="673" alt="Settings_-_Code_injection_-_freeCodeCamp_org" src="https://user-images.githubusercontent.com/985197/68972311-1c158680-07b1-11ea-98a9-1b66df9b8274.png">

[2019-11-15 20:06] #44 closed

[2019-11-15 20:07] QuincyLarson opened #171 "As an admin I can add a Google Analytics ID"

[2019-11-15 20:08] allella commented on #171
#44 holds some of the earlier conversation.

[2019-11-15 20:09] #147 closed

[2019-11-15 20:13] QuincyLarson commented on #116
@imVinayPandya Thanks for your suggestions, @imVinayPandya. If you have more specific suggestions, I invite you to open more granular issues about this.

[2019-11-15 20:13] #116 closed

[2019-11-15 20:13] allella commented on #44
#171 is the MVP that come out of this

[2019-11-15 20:24] vkWeb commented on #114
@martineizayaga It's working I just checked. Try visiting it in incognito mode. You need to login to Figma to view it I guess.

[2019-11-15 20:40] vkWeb commented on #114
@martineizayaga Sorry, the link wasn't public by default so that caused 404. Here the public link to access the prototype: https://www.figma.com/proto/q7DikyL3N0c4CUWxHNa97i/Chapter-Prototype?node-id=1%3A2&scaling=scale-down

Don't forget to press 'F' to have a better experience. I'll waiting for your feedback.

[2019-11-15 23:13] QuincyLarson opened #172 "Test issue to try and add contributors"
@all-contributors please add @ceciliaconsta3 for codebase contributions

[2019-11-15 23:17] QuincyLarson commented on #172
@all-contributors please add @ceciliaconsta3 for codebase contributions

[2019-11-15 23:17] QuincyLarson commented on #172
@all-contributors please add @nik-john for code

[2019-11-16 00:15] MirzaChilman commented on #114
@vkWeb Awesome!!, nice work man. Any way I left some feedbacks there and questions

[2019-11-16 00:42] allella commented on #123
Meeting Notes with more on the decision to use hooks.
https://github.com/freeCodeCamp/chapter/wiki/Meeting-Notes-November-15,-2019

[2019-11-16 06:54] vkWeb commented on #114
@MirzaChilman I'll try to address those. Thanks for taking a look :)

[2019-11-16 07:35] nik-john commented on #17
@all-contributors please add @quincylarson for code doc ideas

[2019-11-16 07:50] nik-john commented on #172
@all-contributors please add @ceciliaconsta3 for codebase contributions

[2019-11-16 07:50] nik-john commented on #172
@all-contributors please add @ceciliaconsta3 for idea

[2019-11-16 09:35] vkWeb commented on #172
@all-contributors please add @madaleneaza-design for design

[2019-11-16 09:36] vkWeb commented on #172
@all-contributors please add @vkWeb for design
@all-contributors please add @seanrparker for design

[2019-11-16 09:37] vkWeb commented on #172
@all-contributors please add @vkWeb for design

[2019-11-16 09:37] vkWeb commented on #172
@all-contributors please add @SeanRParker for design

[2019-11-16 09:46] vkWeb commented on #172
@all-contributors please add @finisher1017 for design doc

[2019-11-16 09:47] vkWeb commented on #172
@all-contributors please add @xarielx for doc

[2019-11-16 09:50] vkWeb commented on #172
I have added all the design-related people to the list and also resolved all the conflicting contributors. We can add more contributors as we progress. Closing this for now.

@nik-john I think for long-term we should consider creating a separate file for contributors. But it's not in high priority right now. So we can do it anytime in the future.

[2019-11-16 09:50] #172 closed

[2019-11-16 22:56] nik-john commented on #114
@all-contributors please add @vkWeb @seanrparker @odomojuli @finisher1017 @madaleneaza-design to design

[2019-11-16 22:59] nik-john commented on #114
@all-contributors please add @vkWeb @SeanRParker @odomojuli @finisher1017 @madaleneaza-design for design

[2019-11-16 23:22] nik-john commented on #114
@all-contributors please add  @madaleneaza-design for design

[2019-11-16 23:23] nik-john commented on #114
@all-contributors please add @vkWeb for design

[2019-11-16 23:25] nik-john commented on #114
@all-contributors please add @SeanRParker for design

[2019-11-16 23:26] nik-john commented on #114
@all-contributors please add  @odomojuli for design

[2019-11-16 23:27] nik-john commented on #114
@all-contributors please add @finisher1017 for design

[2019-11-17 09:24] #97 closed

[2019-11-17 09:57] joelrozen commented on #102
Is this front end or back end or both? Happy to take either way.

[2019-11-17 13:32] vkWeb commented on #102
@joelrozen I feel it's both. The front end part will be a form to enter event details as per schema and to display it on the landing page and events page. Only admin and organizers can create events. Back end to parse that data & to store in database.

@joelrozen You are one of the most helpful contributor out there. I would love to see you on our next meeting :) I am assigning this to you. I know

[2019-11-17 13:39] Zeko369 commented on #102
@vkWeb +1, I'll review it when you have something @joelrozen

[2019-11-18 02:08] allella commented on #11
@Mirza @aeganaden @vijaykrishnavanshi @m-abdelwahab @roblack @huynhicode @haydmills @saurabhdaware @arsadrahman @vxncetxn @kevingsp @booleanhunter @kevingsp UX @Code4Three @ryandudek @thomlom @william-holt @isubasinghe

Thank you for offering your skills related to design, UX, or UI.

There is great momentum with the recent [release of the MVP mockup](https://github.com/freeCodeCamp/chapter/issues

[2019-11-18 12:12] Zeko369 opened #251 "Should API routes be revolving around chapters"
@timmyichen, @Zeko369, @nik-john, @allella I was looking at the api routes and I realized that the routes are revolving around `chapters`. What if an organization doesn't have a chapter?
Just, for example, assume we have `Coders.org` as an organization and they don't want any chapters under them, they host events under the organization's name. In that case, our routes will return 404, right? I thi

[2019-11-18 12:14] Zeko369 commented on #251
I mean we could have separate `/events`, and `/events/:eventID` routes, but why not just make it simple and have `/chapters/1/events/:eventID`, and then on setup just create a default chapter that you for example cant delete if it's the only one.

[2019-11-18 12:16] vkWeb commented on #251
@Zeko369 You mean the organization will be treated as a chapter if there's no chapter under them?

[2019-11-18 12:21] Zeko369 commented on #251
Let me just see if you understand what you're saying. Organization would be a person/organization hosting a chapter docker container?
If so, my idea was that we tie everything to a chapter, so when you set it up the first time you create one chapter, and if there's only it's treated as the organization.
example: `foobar rails meetup` would create a chapter instance running on `foobar.rails.org` an

[2019-11-18 12:24] vkWeb commented on #251
@Zeko369 You are correct. That's what I was confirming.

[2019-11-18 12:24] #251 closed

[2019-11-18 14:31] allella commented on #251
This is a good question, though I would agree with still making everything run through the Chapter-based schema, even if there's only 1 chapter in an organization.

I feel it's easier to hide or tweak things in the UI, for example hiding the "Chapters" menu link if there's only 1 Chapter, then it is to have a secondary pattern / API to support 1 Chapter organizations.

[2019-11-18 15:05] Vitao18 commented on #112
Hey
Can I help with the development of this feature?

[2019-11-18 15:38] vkWeb commented on #251
@allella Yes, that would be better instead of tweaking the whole API structure.

[2019-11-18 18:00] vkWeb commented on #112
@Vitao18 Yeah sure. I am assigning this to you. You should read [our contributing guidelines](https://github.com/freeCodeCamp/chapter/blob/master/CONTRIBUTING.md) if you haven't already and if you need any help, you can chat with our team on [our discord server](https://discordapp.com/invite/PXqYtEh). Happy coding :)

[2019-11-18 18:25] Zeko369 opened #252 "Sequelize vs Typeorm"
@Zeko369 I'm down to use TypeORM but we should loop @QuincyLarson into this conversation as I believe it was he who initially proposed sequelize.

_Originally posted by @timmyichen in https://github.com/freeCodeCamp/chapter/pull/162#issuecomment-555104877_

Since using TS for migrations and seeds with sequelize is a really janky experience I think that we should consider using TypeORM. If anyone h

[2019-11-18 18:43] Zeko369 commented on #252
Or maybe something like this https://github.com/Vincit/objection.js/issues/1069#issue-359237930

[2019-11-18 19:02] vkWeb opened #254 "[DB Schema] User types"
### Discuss your ideas or share your views:

I am updating the database structure & API schemas to reflect the recent decisions we made in our meeting:

- Adding admin as a user role. So now we have three user roles: participants (not exactly a user role but still), organizers & admin(s).
- Allow multiple tags per event.

I have some questions in my mind which we can discuss and resolve. The quest

[2019-11-18 19:03] Zeko369 commented on #252
`Copied from discord`
The only difference that I found so far (I'm using it for a differenet project) is that you cant do this
[code]
And have to do
[code]
But we could do this https://github.com/typeorm/typeorm/issues/3903, and fix that problem

[2019-11-18 19:06] timmyichen commented on #252
Since we're writing code that closely resembles TypeORM already, I think we can just move to that and use the linked issue above for keeping the same style.

[2019-11-18 19:09] Zeko369 commented on #252
@nik-john @timmyichen @Zeko369 @ceciliaconsta3 @allella @QuincyLarson

[2019-11-18 20:01] timmyichen opened #255 "Narrowing the Scope for First Steps"
I'd like to propose a change in how we plan for, develop, and roll out features.

Right now it seems to be a very top-down planning-heavy approach, where we flesh out the entire database schema before moving forward with any development.  I would like to propose a more bottom-up approach where we design things to be extensible, but build them in their basic form first.

## Proposal

In order of pr

[2019-11-18 20:04] timmyichen commented on #255
cc @QuincyLarson

[2019-11-18 20:04] vkWeb commented on #255
cc @nik-john

[2019-11-18 20:06] Zeko369 commented on #255
@freeCodeCamp/chapter-moderators

[2019-11-18 20:19] ceciliaconsta3 commented on #255
Making note to discuss this in the next team meeting

[2019-11-18 23:31] allella commented on #255
I'm not sure I see where this narrows the MVP's scope, but the point about organizing around top-down and bottom-up thinking is well taken. If I were implementing this stuff I'd surely want to break it down into a technical list, even if only for myself.

_Disclaimer: I have very little experience with User Stories and Agile._

User stories lend themselves to the end-case / front-end / top-down wa

[2019-11-18 23:42] timmyichen commented on #255
I wouldn't say that it narrows the scope of the MVP as much as it narrows the scope of what we want to get done in the next two weeks.  e.g. there was some area of contention in #162 around tags, which are indeed an MVP feature, but not worth implementing until the base models are implemented.  Doing the basics first allows for faster development as the features like tags, permissions, etc can all

[2019-11-19 00:12] allella commented on #255
Another spitball ideas for consideration, if nobody has a better suggestion, would be to stub out some of the items Tim's "Breaking these goals into possible PRs might look something like:" list into PRs and have folks contribute on those PRs.  That assumes it doesn't create a problem with keeping in sync with master or creating a merge hell.

Though, if we're going to placehold these tasks these

[2019-11-19 00:19] allella commented on #252
I'm fine with whatever you folks find will work. Though, I agree it would be good for Quincy and others to stamp this one.

Given the trouble Sequelize + Typescript has  already caused it seems wise to consider a tool that plays well.

Sequelize was suggested Quincy well before the technical conversations started, presumably to set a reasonable default tech stack and avoid an endless conversation

[2019-11-19 01:05] allella commented on #254
@vkWeb  I don't have any recent experience with creating user authentication / authorization systems from scratch. However, I'll throw out another question that may preempt those above and/or help inform the schema on the user fields and tables as it relates to authentication and authorization.

I assume there are patterns, like ACL, and/or libraries out there to cover the basic structure of authe

[2019-11-19 01:31] allella commented on #102
Not sure if it needs it's own to-do, but tags are something that's sort of implied by this user story, but I added the word "tags" into the title.  If we need to break it into a separate story then feel free to undo.

[2019-11-19 01:33] allella commented on #102
#253 is aiming to update the schema to allow for tags, instead of the one tag limitation of the initial schema.

[2019-11-19 04:32] allella commented on #47
It seems the [vision statement above](https://github.com/freeCodeCamp/chapter/issues/47#issuecomment-543006930), has gotten hard to find, even for active members.

On Discord, it was suggested by @timmyichen to link to the [Vision statement comment](https://github.com/freeCodeCamp/chapter/issues/47#issuecomment-543006930), or even create a separate Wiki page or VISION.md.  Thoughts on which would

[2019-11-19 04:50] allella commented on #12
@chrismgonzalez I wanted to ask if you'd still have time and interest to stub out the docs in the Wiki, as Quincy requested in #47. Or, at least help us pull together a group and give the task some direction.

You did a nice job moving things forward on the initial repo docs and that's sort of what we need on this stubbing phase.  We obviously don't have an app to document, but Quincy suggested st

[2019-11-19 13:37] vkWeb commented on #47
@allella we should add that link to README.md. It's the best place for that.

[2019-11-19 14:07] vkWeb commented on #254
@allella I have no prior experience with any auth package(s). Though I have heard good things about Auth0, I would like to go with what other experienced developers think.

[2019-11-19 15:38] allella commented on #254
Whatever package is used, the MVP suggestion was to support only Google logins to start, and eventually email / password (or perhaps passwordless email logins).

I'm not sure if/how auth services like Auth0 factor into the conversation.  It seems like an admin would need to setup a full Auth0 account to get their Chaper instance to work, which would seem to dictate a service.

We'll have a similar

[2019-11-19 15:52] allella commented on #110
Related: [Authentication notes from the Nov 15th meeting](https://github.com/freeCodeCamp/chapter/wiki/Meeting-Notes-November-15,-2019#authentication).

[2019-11-19 17:39] Zeko369 commented on #254
I really think that we don't need Auth0 for MVP, because it would make it harder for users to setup chapter instances. Simple hashed password in the DB (as is currently) should be enough, we should also add email `reset_token` (and when the token was sent) and `email_verification` token

[2019-11-19 18:13] allella commented on #254
@Zeko369 Quincy had suggested just Google sign-ins for the MVP.

This may not be MVP, but I had asked if there are suggested packages, not necessarily a 3rd party service, to implement authentication so there's a well supported pattern.  That's when Auth0 was mentioned.

If we're just using Google for the MVP then presumably when the authentication is expanded,  like to include email logins, then

[2019-11-19 18:22] Zeko369 commented on #254
Based on the current schema it's setup in a way we can have password auth and any number of social OAuths.

Not that it'll break anything if we switched from using google only to google/fb/github and email/password, but email/password is a separate category of login type, since we're probably going to implement it ourselves and with the rest we just store a string of data from the provider.

[2019-11-19 19:02] QuincyLarson commented on #252
/polls Sequelize 'TypeORM'

[2019-11-19 19:04] QuincyLarson commented on #252
/polls Sequelize 'TypeORM'

[2019-11-19 19:08] QuincyLarson commented on #252
I will defer to the people building the app itself.

@Zeko369 If you think TypeORM is a better fit and you're the main person working on this at the moment, I say go ahead and get started with it.

If anyone has other opinions on this you can share those here.

[2019-11-19 19:11] QuincyLarson commented on #255
@timmyichen Rather than get rid of our existing user stories, you could go into their descriptions and break them down into more concrete steps and create a checklist.

Slicing and dicing the work further may make us feel more productive, but in the end, someone has to sit down and bang out the code - regardless of how it's classified or what type of task it is.

Ultimately, we need API endpoints

[2019-11-19 19:28] Zeko369 commented on #252
@freeCodeCamp/chapter-moderators Any other thoughts?

[2019-11-20 15:00] allella commented on #252
@nik-john @ceciliaconsta3 you were both referenced here and are welcome to chime in. I think everybody else on the thread has stated their opinion or deferred (Quincy and I).

@iansltx listed both TS and Sequelize in #11 and @oyewoas @hamidnoei @imccausl listed Sequelize experience, so if there's any final words on not using TypeORM, instead of Sequelize, they please comment now.

[2019-11-20 15:01] Zeko369 commented on #252
Tnx @allella for finding and pinging them :+1:

[2019-11-20 20:47] allella commented on #47
Alright, unless there's suggestions otherwise I'm planning to take make the [vision statement](https://github.com/freeCodeCamp/chapter/issues/47#issuecomment-543006930) above a Wiki page and then link to it from the README at the top near the similar, existing content.

[2019-11-20 21:55] allella commented on #40
For those who missed it. Here are the [Nov 15th meeting decisions on an MVP for authentication, which is just a Google login integration](https://github.com/freeCodeCamp/chapter/wiki/Meeting-Notes-November-15,-2019#authentication) to start.

Quincy put this conversation on the roadmap for after an MVP.

[2019-11-20 21:55] allella commented on #33
For those who missed it, here are the [Nov 15th meeting decisions on an MVP for authentication, which is just a Google login integration](https://github.com/freeCodeCamp/chapter/wiki/Meeting-Notes-November-15,-2019#authentication) to start.

Quincy put this conversation on the roadmap for after an MVP.

[2019-11-20 22:40] trosel commented on #58
Hey, can someone clarify the usage of the term "chapter" for me?

Women Who Code is an _organization_ that has an NYC _chapter_. The NYC chapter has _events_.

So why does this product make it sound like Women Who Code is a _chapter_?

[2019-11-21 00:41] ceciliaconsta3 commented on #252
**$0.02:** As Quincy mentioned earlier, whoever is planning to perform the bulk of work on this should decide. Though if only a few are comfortable using said technology and if they get busy, it may be better to use something others are more familiar with to share the load. My experience using Sequelize is limited and non-existent in TypeORM.

If we just need a final decision on this going forward

[2019-11-21 03:09] allella commented on #58
@trosel

Women Who Code is an organization. It would have its own "Women Who Code" instance of the "Chapter" application.  Chapter is the name of the application.

There are many Women Who Code groups around the country. These are often called "local chapters".

Inside of the database schema we have a table / entity that holds each chapter.

New York City Chapter
Los Angeles Chapter
Greenville, SC

[2019-11-21 12:46] trosel commented on #58
@allella Thanks! That helps. I think the only confusion was with the name of the app being called Chapter.

So in terms of the app (and possible federation), "Women Who Code" is still called an organization, right?

[2019-11-21 13:31] Zeko369 commented on #252
We'll be using TypeORM

[2019-11-21 13:31] #252 closed

[2019-11-23 19:57] chrismgonzalez commented on #12
@allella I will take a look.  I'm on break from work all this week so I will have some time to sit down and work on some stuff.  Thanks for keeping everything lined up around here!

[2019-11-23 20:44] jcolborn-dropdeadgames commented on #254
@vkWeb I think we would have the first user in as an admin and then they can have the option to send invites to users as any of the roles necessary. There needs to be a way to change existing user's roles as they move up and out and this should be part of the admin UI, as well.

As for using any of the authentication packages. Since this is Nodejs with Express, the easiest to use would be passport

[2019-11-24 05:16] Shub1427 opened #258 "Decide which SSR Data Fetching Library to use"
List of Libraries that has been discussed till date:

* isomorphic-fetch
* isomorphic-unfetch
* axios
* cross-fetch
* node-fetch
* whatwg-fetch

@Zeko369 suggested, respective to PR https://github.com/freeCodeCamp/chapter/pull/140, we are already using `isomorphic-fetch`

@Sonicrida suggested `axios` is not maintained for a while and has some security vulnerabilities.
@Shub1427  concluded that `is

[2019-11-24 15:28] allella commented on #258
Pinging @vaibhavsingh97 @joelrozen @ThomasRoest @xarielx @Haxified for help resolving this decision.

[2019-11-24 16:22] nik-john commented on #258
![Screenshot_20191124-100832_Chrome](https://user-images.githubusercontent.com/1117182/69497416-6af2a880-0ea2-11ea-96c1-7019bd7a8b05.jpg)

I personally use `node-fetch` on my projects but my arguments for `cross-fetch` are that it seems to be well maintained, but it looks like it's not as widely adopted yet.

[2019-11-24 20:48] joelrozen commented on #258
Another one to consider is SWR (https://github.com/zeit/swr) which, given we are using zeit's next.js anyway, may be the better way to go.

[2019-11-24 22:30] Zeko369 commented on #258
@joelrozen SWR is a wrapper around any fetch function so that isn't what we're looking for, since we still need to provide a `fetcher` function
![Screenshot_20191124-232832_Chrome](https://user-images.githubusercontent.com/3064377/69502696-68c83280-0f12-11ea-8ae5-c9289489155d.jpg)

[2019-11-24 22:46] joelrozen commented on #258
@Zeko369 ahhhh ooops.
Okay, well I'll go with whatever every one else decides, since I've only had experience with axios anyway and that seems to be out, so no opinion either way on the other choices.

[2019-11-25 05:41] Shub1427 commented on #258
Personally, I would like to work with `node-fetch` and `whatwg-fetch`. They are well maintained and widely used as well.

`cross-fetch` is a wrapper around above two libs, which we can do ourselves or use `cross-fetch` instead.

NextJS supports conditional imports:
* https://github.com/zeit/next.js/issues/2473?#issuecomment-362119102
* Or we can also do something like https://github.com/zeit/next.

[2019-11-25 09:20] Zeko369 commented on #258
+1 `cross-fetch`

[2019-11-25 15:33] allella commented on #258
There seems to be support for from @Zeko369, @Shub1427 @nik-john about cross-fetch (a wrapper around node-fetch and whatwg-fetch)

@Sonicrida @joelrozen any opposition?

[2019-11-25 16:11] Haxified commented on #258
cross-fetch 100%

[2019-11-25 17:05] Zeko369 commented on #258
@timmyichen

[2019-11-25 17:26] timmyichen commented on #258
I'm pretty indifferent about which library is chosen as long as it fulfills all our needs

[2019-11-25 20:07] Vitao18 commented on #258
I'd prefer to use cross-fetch

[2019-11-25 20:23] nik-john commented on #258
Ok closing this as `cross-fetch` seems to be the consensus

@Shub1427 Hopefully this unblocks you

[2019-11-25 20:23] #258 closed

[2019-11-26 07:33] bernhard-hofmann commented on #258
Do we have the criteria for selection?

There seem to be a lot of opinions and they're based on a variety of criteria. If we start with a prioritised list of requirements and desires I think we'll find it easier to reach an objective consensus.

[2019-11-26 18:06] NorthDecoder opened #259 "npm install/audit found security flaws"
### Describe the bug:
Latest commit 0ed0d16
`$ npm install ` indicated some vulnerabilities

![vulnerabilities](https://user-images.githubusercontent.com/9598008/69659707-9c4eae00-1033-11ea-99fb-ac900a6bdd3f.PNG)

`$ npm audit --json` lists the details in the file attached to this issue
[npm-audit-26Nov2019.txt](https://github.com/freeCodeCamp/chapter/files/3893314/npm-audit-26Nov2019.txt)

### Te

[2019-11-26 18:35] nik-john commented on #258
@bernhard-hofmann It's pretty straight forward - because we're going to use this library extensively on Chapter (in no particular order):

- It needs to be a robust library with no glaring open issues
- It needs to perform all functions of an HTTP library
- It has to be actively maintained
- It needs to work seamlessly on the server as well as the client
- It should have a hassle-free integration

[2019-11-27 06:42] bernhard-hofmann commented on #259
Could you copy and paste the output text from `npm audit` so that we have a record of the details?

[2019-11-28 05:14] NorthDecoder commented on #259
See the link labeled `npm-audit-26Nov2019.txt` in the original comment?  Click on that link to get the output in text format.

[2019-11-30 08:35] QuincyLarson commented on #96
@allella Thanks for your patience - I thought I had responded to this earlier. Yes - I agree with us having an "other" value and we can expand upon that later if necessary.

[2019-11-30 15:21] allella commented on #47
The Vision comment, [above](https://github.com/freeCodeCamp/chapter/issues/47#issuecomment-543006930), now exists as a [Wiki Vision page](https://github.com/freeCodeCamp/chapter/wiki/Vision).

The README will be updated to link to this vision page.

[2019-11-30 19:12] QuincyLarson commented on #47
I'm closing this in favor of using our GitHub project board: https://github.com/freeCodeCamp/chapter/projects/1

[2019-11-30 19:12] #47 closed

[2019-11-30 19:15] QuincyLarson commented on #254
I agree with @Zeko369 that we should just stick with Google as our sole authentication method for MVP.

I've asked @Zeko369 to break any insights in this discussion down into new MVP-labeled issues, which we can then put on our project board: https://github.com/freeCodeCamp/chapter/projects/1

[2019-11-30 19:30] QuincyLarson opened #260 "Documentation for How to Use Chapter as an Organizer or Administrator"
**Using Chapter as an Administrator**
- [ ] Creating and managing chapter
     - [ ] /dashboard/chapter/new
     - [ ] /dashboard/chapter
     - [ ] /dashboard/chapter/{chapters.id}/edit
- [ ] Creating / Inviting and managing organizers

**Using Chapter as an Organizer (post MVP)**
Note: administrators have all the authorizations of an organizer and will be able to perform these actions as well.

[2019-11-30 19:30] QuincyLarson opened #261 "Documentation for How to Install Chapter as an Owner"
- [ ] Installing Chapter
- [ ] Create an organizer account
- [ ] How Chapter works
- [ ] How to Setup and Configure 3rd Party Services, such as Google OAuth 2.0 and SMTP

[2019-11-30 19:31] QuincyLarson opened #262 "Documentation for Accounts and Notifications"
**Account & Notifications**
- [ ] Accessing an account
- [ ] Resetting your password
- [ ] Organizer subscriptions
- [ ] Notification settings

[2019-11-30 19:33] QuincyLarson opened #263 "Create Privacy, TOS, FAQ"
**Technical Issues**
- [ ] What browsers does Chapter support?
- [ ] Why am I not receiving emails?
- [ ] Why can't I upload a photo?

**Policies and Community Guidelines**
- [ ] Community guidelines
- [ ] Privacy policy (can also be freeCodeCamp's)
- [ ] Code of Conduct (can be freeCodeCamp's - it's battle-tested)
- [ ] Terms of Service (can also be freeCodeCamp's)
- [ ] Report a member
- [ ] Rep

[2019-11-30 19:37] QuincyLarson commented on #12
@chrismgonzalez I've broken this issue out into separate issues and put them in our documentation column on our project board: https://github.com/freeCodeCamp/chapter/projects/1

Also note that our API documentation is created programmatically. @Zeko369 proposed us using a procedurally generated GitHub page that gets updated when people merge new code.

[2019-11-30 19:37] #12 closed

[2019-11-30 19:39] QuincyLarson opened #264 "UI: As an organizer I can see how many times a participant has come to my chapter's events as well as their attendance rate."
Depends on #95

[2019-11-30 19:47] QuincyLarson opened #265 "UI: As an organizer I can add a sponsor to the event with a link to their website as a way of thanking them."
Dependent on #96

[2019-11-30 19:49] chrismgonzalez commented on #12
That’s great!  Will check it out this evening after the kiddo is in bed.  Thanks for your help on this, sorry I’ve been absent for a bit.

[2019-11-30 19:52] chrismgonzalez commented on #263
I was just about to ask if we want to use FCCs terms on this.  Looks like that’s been answered.  Will add them this weekend.

[2019-11-30 20:28] QuincyLarson opened #266 "UI: As an organizer I can ban a participant whom I believe is toxic or who has previously broken my organization's code of conduct."
Depends on #98

[2019-11-30 20:29] QuincyLarson opened #267 "UI: As an organizer I can email the entire list of participants."
Depends on #99

[2019-11-30 20:30] QuincyLarson opened #268 "UI: As an organizer I can cancel events and all participants who have RSVP'd will get an email notification."
Depends on #100

[2019-11-30 20:31] QuincyLarson opened #269 "UI: As a user (authenticated or not) I can view the RSVP count for an event"
Depends on #101

[2019-11-30 20:31] QuincyLarson opened #270 "Auth: As an owner or chapter admin I can create events and set their venue type, venue, video url, tags and capacity."
Depends on https://github.com/freeCodeCamp/chapter/pull/814

The UI is looking solid, so the main outstanding issue is to add auth and test it, similarly to
https://github.com/freeCodeCamp/chapter/issues/273

- [x] As an owner I can create events in any Chapter
- [x] As an admin of Chapters, I can create events in those Chapters (but no others)
- [x] As any other role, I cannot create events

The

[2019-11-30 20:32] QuincyLarson opened #271 "UI: As an organizer I can add a chapter or organization logo."
Depends on #103

[2019-11-30 20:36] QuincyLarson commented on #12
@chrismgonzalez No worries. It's the holidays so I'm glad you're spending time with your kids. We are working to break all of this down to smaller bits so each contributor can grab more bite-sized chunks of work, and PRs can be more atomic :)

[2019-11-30 20:37] QuincyLarson opened #272 "UI: As an organizer I can edit details about the chapter, including a Slack/Discord/Facebook/WeChat/WhatsApp link participants can join to discuss and coordinate events."
Depends on #104

[2019-11-30 20:37] QuincyLarson opened #273 "Auth: As an administrator, I can create a chapter"
Depends on https://github.com/freeCodeCamp/chapter/pull/814

Once that is done, we should lock this down to the approved roles and confirm via Cypress tests

- [x] As an owner I can successfully create a Chapter
- [x] As any other role, I cannot create a Chapter

The main thing to check is that requests from unauthorised users fail, but it's also helpful to confirm that the UI reflects their role.

[2019-11-30 20:38] QuincyLarson opened #274 "UI: As a chapter member, I can unsubscribe from emails."
Depends on #106

[2019-11-30 20:39] QuincyLarson opened #275 "UI: As a future participant after the event, I will automatically get emails notifying me of subsequent events."
Depends on #107

[2019-11-30 20:41] QuincyLarson opened #276 "Text for automatic emails notifying participants of subsequent events"
Depends on #107

[2019-11-30 20:42] QuincyLarson opened #277 "UI: As a user / future participant I can cancel the "RSVP"."
Depends on #109

[2019-11-30 20:43] QuincyLarson opened #278 "UI: As a user / future participant I can click the "RSVP" button, I will receive an email with a confirmation, and I'll be added to the public list of event attendees."
Depends on #110

[2019-11-30 20:44] QuincyLarson opened #279 "UI: As a user / future participant when I click one of those locations, I can see the "show view" for that event's chapter, with details about the upcoming event, along with a button to RSVP."
Depends on #111

[2019-11-30 20:44] QuincyLarson opened #280 "UI: As a user / future participant I can use a search box on the landing page to input a city, state, or country name and it will autocomplete. I can click one of those locations."
Depends on #112

[2019-11-30 20:45] QuincyLarson opened #281 "UI: As an admin I can set up my Chapter server and add tools like Google Analytics ID."
Depends on #171

[2019-11-30 21:31] QuincyLarson commented on #255
Hi everyone, I've thought a bit more about what @timmyichen said here. He wasn't able to make today's meeting, but we were able to discuss this.

I agree that we need to "break things down into smaller bits" and make the work at hand clearer.

Here is a general flow of what needs to be done:

[code]

Right now, @Zeko369 is finishing the tool work, getting the ORM working and a few other tasks.

Th

[2019-12-01 19:02] vaibhavsingh97 opened #283 "Support for multiple email clients"
As @QuincyLarson [comment](https://github.com/freeCodeCamp/chapter/issues/47#issuecomment-543006930). we have to support popular options like Amazon SES, SendGrid, and Mandrill.

[2019-12-01 19:54] allella commented on #283
@jacobbogers mentioned in #146 we should be able to [support other transports via plugins](https://github.com/freeCodeCamp/chapter/pull/146#issuecomment-554771089).

However, SMTP is the default transport and that's likely because almost all popular 3rd party mailers offer SMTP authentication: Sendgrid, Mailgun, Postman, Mandrill.  It seems even SES offers SMTP

The [Nodemailer transport page](htt

[2019-12-02 22:30] joelrozen commented on #102
@vkWeb @QuincyLarson Hey team, apologies on this one, been flat out and looking at my calendar leading up to Christmas, probably not going to have time to tackle this before hand.
I'm still happy to do it, but it probably won't be until the break, so if it needs doing sooner please feel free to reassign and I can pick something else up when I can :)

[2019-12-05 01:40] chrismgonzalez commented on #263
The FCC privacy policy is quite long.  I will need to trim it down to reflect the goals of Chapter.  I will definitely need some input to determine what to keep and what to drop.

[2019-12-05 03:19] ceciliaconsta3 commented on #263
Do we need to take into account CCPA updates?

[2019-12-06 00:09] allella commented on #283
Anybody have a reason to keep this open if for the MVP we assume the `administrator` of the `instance` will use a transaction email services #147 that supports SMTP authentication?

As mentioned in the previous comment, the only [transport plugins listed on the Nodemailer plugin page](https://nodemailer.com/transports/) are sendmail, SES (AWS), a testing stream, and rolling your own transport.

I

[2019-12-06 00:10] allella commented on #107
Below are preliminary suggestions and questions regarding this #107 and #276. The direction set forth here will also inform the text and email "mail merge" templates needed for #275 and #276.

**Assumptions / Suggestions**
- We're not going to introduce a 3rd party service dependency (e.g. MailChimp, Campaign Monitor) to manage subscriptions, opt-in and out, email templates, and alike. Rather, the

[2019-12-06 00:39] allella commented on #107
Also, I noticed after the fact that this comment may have been better on #274. However, since the RSVP, subscribe / unsubscribe, and email notices are all intertwined I'm not sure it matters much as long as it doesn't confuse this API issue.

[2019-12-06 03:31] ceciliaconsta3 commented on #107
@allella A label is definitely the surest bet.  If, and it sounds like, we will use the Subscribe component in a form alongside other elements to complete an ```event``` sign-up,  (if MVP won't have a User Account Settings page) we should treat the Subscribe switch as a checkbox using checkbox role instead. It'll get sent at form submission with the other fields.

I think "Active" color as Subscri

[2019-12-06 03:43] allella commented on #274
@ceciliaconsta3 so we agree on a label.  Is the checkbox suggestion vs switch for accessibility?  What's the experience when a screen reader encounters a label and a checkbox vs a label and a swtich?

Copied this from #107 since this is a UI conversation.
https://github.com/freeCodeCamp/chapter/issues/107#issuecomment-562417958

[2019-12-06 03:59] ceciliaconsta3 commented on #107
Let me know if I covered this logic flow correctly:

**1. _User is automatically subscribed to ```chapter``` notifications on joining_** (assuming user email address a required field)
- user must join a ```chapter``` in order to attend respective ```event```

**2. User subscription at ```event``` RSVP level:**
- user never subscribes using Subscribe switch > never gets ```event``` specific confirm

[2019-12-06 04:04] ceciliaconsta3 commented on #107
Let me know if I covered this logic flow correctly:

**1. User is automatically subscribed to chapter notifications on joining** (assuming user email address a required field)
- user must join a chapter in order to attend the respective event

**2. User subscription at event RSVP level:**
- user never subscribes using Subscribe switch > never gets event specific confirmation email (?)
- user does

[2019-12-06 04:15] allella commented on #262
@chrismgonzalez

- If the MVP is using Google for authentication, then is documenting an account page or password reset still applicable? I guess we could document the fact that your email and password are managed by Google, so visit https://myaccount.google.com or https://myaccount.google.com/security "Signing in to other sites" section?
- The MVP hasn't mentioned an account page, but if we do ha

[2019-12-06 04:37] allella commented on #107
Thanks, replaying the logic highlighted some potential areas of confusion with only having subscriptions toggle on / off via RSVP or unsubscribe link.

This user story suggested getting upcoming event notifications AFTER you've attended, but with Meetup.com I believe it's possible to subscribe and get notices without ever having attended.  That's a reasonable expectation too, though not explicitly

[2019-12-06 04:56] allella commented on #107
To summarize, would the following be a reasonable MVP flow?

`rsvp.subscribed` would be added to the schema as a boolean to be toggled on or off by an authenticated `user` via the `chapter` landing page, like a "Follow / Unfollow" UI button or toggle.  This would turn on notifications which are not related to a `user` RSPV.

Such email notifications would have a URL to allow the `user` to "Unfollo

[2019-12-06 05:50] ceciliaconsta3 commented on #274
That's a good question; just used Narrator to review the [site you referenced](https://material-ui.com/components/switches/#switches-with-formcontrollabel) and because the switches are essentially set up as checkboxes, I had no problem receiving the status information (ya know, aside from normal screenreader difficulties). I'll look for a less optimized site using switches to compare later.

 **Fu

[2019-12-06 06:12] allella commented on #274
#107 mentions the likelihood of needing to subscribe to `chapter` notifications separate from `rsvp` notifications, so we can let the context guide the UI elements.

Thanks for the examples of when to use each, and I agree that poorly done switches can be hard to figure out off from on, but well done switches make me smile.  We previously had guidance on checkbox vs radio button, but now we have a

[2019-12-06 12:12] ceciliaconsta3 commented on #274
Seeing #107 has been updated. I agree with your use cases. Gotta sprinkle that UI sugar.

I don't think an alert confirmation it's necessar, the switch visual itself does that. It'd become another thing to handle on mobile. Let's just update its status in DOM (screenreader), perhaps add a title for tooltip (visual/SR), and change its color (high visual). This could apply to all switches going forw

[2019-12-08 22:48] Zeko369 opened #288 "Add seeding"
Look into typeorm implementations for seeding or use migraions

[2019-12-09 00:23] clarkngo opened #289 "Wiki Fix: Add link to empty hyperlink for Meeting Notes on November 15, 2019"
Thanks, @allella for your guidance. As per our discussion and following on one of your suggestions:

Let me know if this is a preferred way to contribute to the Wiki or the option of adding me with write/collaborator permissions, which @QuincyLarson can grant, is better.

The hyperlink as highlighted below redirects to the same wiki page.
![image](https://user-images.githubusercontent.com/30854108

[2019-12-09 03:20] allella commented on #289
Thanks. That link has been updated in the Wiki.

[2019-12-09 03:20] #289 closed

[2019-12-09 03:21] allella commented on #289
https://github.com/freeCodeCamp/chapter/wiki/Meeting-Notes-November-15,-2019

[2019-12-13 17:37] madaleneaza-design commented on #107
@allella @ceciliaconsta3  I have been reading your comments in both this issue and #274  and already got some questions! But I will start off with one or two...

Not sure if the `user` will have a general account setting page or not, but for assumption's sake, let's say there is. There could be a page for managing subscriptions (via both notifications or emails) and for a` user` to find this page

[2019-12-13 18:02] allella commented on #107
@madaleneaza-design I think we've been operating on the assumption that a profile / subscription page not an MVP feature.  It's definitely a reasonable expectation to add one to the Roadmap, but so far there's been no explicit MVP user story a profile page to do anything since authentication will be using Google so we don't have an immediate need for _users_ to manage their email, password, profil

[2019-12-13 18:52] madaleneaza-design commented on #107
@allella Yeah I can agree and I cannot see why not (to allow subscribing and unsubscribing using the known MVP features), as long in terms of user experience,  the links/ UI elements are easier to navigate and use in the layout (which I am sure it will be).

I will hop onto #274 to post my response :)

[2019-12-13 21:25] madaleneaza-design commented on #274
@allella @ceciliaconsta3  while I understand accessibility plays a vital role in the world of web (I am partially blind myself), I believe using switches for appropriate elements are much better than checkboxes in mobile layout.

I can't speak for others, but whenever I am browsing and scrolling on the mobile web, there have been times that I unintentionally have tapped on the button or any sort o

[2019-12-13 22:01] allella commented on #274
I'm not a UI person, so I'll defer to the designers on the correct elements and actions.  Most of what I can offer on the front-end is semantic correctness and SEO.

Is the design team in a position to start fleshing out some of these next pages?  I've linked the other related issues so more focused questions or comments about specific interfaces can be directed to those threads.

(see the [termin

[2019-12-13 23:27] madaleneaza-design commented on #274
Well, we were supposed to have some sort of design team meeting to discuss moving onto the next stage, but not have heard anything since. (I will explain further in Discord)

Actually, now you have mentioned terminology, I was looking at them the other day and I think I got a pretty good idea of what each term mean, except one which is niggling at the back of my mind (but decided just to go with m

[2019-12-14 13:01] ceciliaconsta3 commented on #274
@madaleneaza-design Quick comment, just thought of this. Rather than a popup box, we can simply replace the button with "You are now subscribed text" as well.

[2019-12-14 14:11] madaleneaza-design commented on #274
@ceciliaconsta3  That is a good idea in term of both user experience and web optimisation/performance. Thank you for this, that is helpful. :)

[2019-12-14 14:59] QuincyLarson commented on #263
@chrismgonzalez Our privacy policy was hand-written by a lawyer-developer who is well versed in modern web apps. We could trim it down but we should be careful about it. I recommend instead just updating the specifics slightly. Very few people read the privacy policy, but the ones who do appreciate it being comprehensive.

[2019-12-14 15:01] QuincyLarson commented on #283
@allella said:

I agree. For MVP, we only need to support these two email methods. We can explore other methods later.

[2019-12-14 15:01] #283 closed

[2019-12-14 15:02] QuincyLarson commented on #102
@joelrozen Thanks for your candor. No worries - I will un-assign you from this for now in case someone else wants to jump on it.

I know it's a busy time of year. We would welcome your help after the holidays. Merry Christmas.

[2019-12-14 15:09] QuincyLarson commented on #262
@allella These are great points. I've updated the bullet points above to reflect this by removing the need for password management.

We should have a profile/settings page, and the ability to make it private. If you can document what specific attributes the page should have, we can ask @madaleneaza-design if she can create a layout for this.

[2019-12-14 15:18] QuincyLarson commented on #274
@allella @madaleneaza-design It might be simpler to just list out all the chapters a user is subscribed to on their settings page, and have the ability to toggle them on and off there.

For example, on iOS, instead of having different notification settings for each app, Apple has its own notification dashboard where you can toggle each on and off (with 3 tiers of prominence for each notification).

[2019-12-14 16:12] madaleneaza-design commented on #274
@QuincyLarson  I agree. For users, it is an easier experience as they only have to navigate to one place to change any settings in comparison to certain settings in different places, which a user would have to memorise in case they want to make changes in the future.

I like the example of IOS and their structure of settings you have provided. In a moment, I will look onto my Ipad settings and cre

[2019-12-14 18:27] allella commented on #274
@QuincyLarson @madaleneaza-design I'm not saying this is an either or situation and I think we're all in agreement that a subscription page is eventually useful.

However, I feel we still want / need buttons on the _event_ and _chapter_ landing pages to toggle on / off subscriptions to a _chapter_ or _event_.  I say this because it's a familiar pattern to have a "join", "follow" button on platform

[2019-12-14 18:36] Zeko369 commented on #102
I was thinking about streaming building this to twitch tomorrow after the meeting, anyone interested to hop on a discord voice channel and do it with me?

[2019-12-14 18:38] timmyichen commented on #102
sure, totes down

[2019-12-14 18:42] Zeko369 commented on #270
Hey @madaleneaza-design how is the design for this coming along? I was thinking about building the api for this tomorrow, and also doing a skeleton in react for this, so if you already have something I'd like to implement that

[2019-12-14 18:48] Haxified commented on #288
use migrations for seeding??

[2019-12-14 18:49] Zeko369 commented on #288
Create a migration that will act as a seed, that we could revert. Or just use a plain .ts file that bootstraps our base environment. There are also a lot of libs that do this for typeorm, and I'm still on the fence on which to use

[2019-12-14 18:52] Zeko369 commented on #273
Hey @madaleneaza-design, I also commented on the #270, we'll probably also add this tomorrow

[2019-12-14 18:52] Zeko369 commented on #105
Will probably also do this
_Originally posted by @Zeko369 in https://github.com/freeCodeCamp/chapter/issues/102#issuecomment-565741374_

[2019-12-14 19:13] allella commented on #273
@Zeko369 most of the UI conversations have been on the _user_ side, like RSVP #278 and toggling on / off notifications #274 but if you want to start with _organizer_ UIs then @madaleneaza-design was about to work on new mockups.

[2019-12-14 19:16] Zeko369 commented on #273
I was looking at it from the API side, where we should first build a way to create chapters and events and then a way for users to join them. We'll work on that next week possibly also on twitch :wink:

[2019-12-14 19:19] allella commented on #273
@Zeko369 we can start wherever makes sense. I was pushing on the _user_ side mainly because other issues assigned to me are related to the _user_.

[2019-12-14 19:20] Zeko369 commented on #273
We can do both asynchronously because we first need to build out an API and with that I was thinking about building really simple skeletons for testing it, and later adding design elements

[2019-12-14 19:23] allella commented on #273
@Zeko369 however, from the conversation in #107 we did come up with [necessary schema changes to allow for subscribing to a _chapter_ vs an _event_](https://github.com/freeCodeCamp/chapter/issues/107#issuecomment-562432174), which is probably just adding a couple new fields to two tables.

Is that going to disturb the API work if we add those fields later vs now.

I can do a PR for those fields, b

[2019-12-14 19:24] Zeko369 commented on #273
No, it shouldn't we can add that later

[2019-12-14 20:37] madaleneaza-design commented on #273
Hey @Zeko369, in response to your message on #270, unfortunately, there has not been any progress made on both this issue and #270.  As I have explained to @allella that I will create mockups that will meet the requirement of the UI issues. If I can, I will try to create a rough layout (even it just a wireframing), but it is enough to give you guys on the API side some ideas. However, I have zero

[2019-12-14 20:47] Zeko369 commented on #273
Then we'll create the api routes and a bare bones skeleton on the frontend, and later add your designs

[2019-12-14 20:56] Zeko369 opened #290 "Add html rendering for emails"
We should add a simple ejs renderer for sending emails so that we can do something like this
[code]
and then have something like this in the template
[code]

[2019-12-14 21:39] Zeko369 commented on #290
Or use something like https://github.com/forwardemail/email-templates

[2019-12-15 07:48] #288 closed

[2019-12-15 17:24] allella commented on #290
#274 will need this functionality to insert placeholders for opt-out links, among other thing.

[2019-12-15 17:28] Zeko369 commented on #290
Ok we'll discuss this during the meeting today

[2019-12-15 19:37] QuincyLarson commented on #290
I propose we discuss this after we ship the MVP. In my humble opinion this is not MVP.

The moment we introduce HTML, organizations will start asking for ways they can customize it.

Plain text has higher deliverability/open/click-through than HTML.

[2019-12-15 19:37] #290 closed

[2019-12-15 19:39] #114 closed

[2019-12-15 21:32] #254 closed

[2019-12-15 21:39] allella commented on #255
@timmyichen we [talked a good deal about this at today's meeting](https://github.com/freeCodeCamp/chapter/wiki/Meeting-Notes-December-15,-2019#review-of-other-pull-requests-and-issues).

You said the [Project board was helpful to visual progress](https://github.com/freeCodeCamp/chapter/projects/1).  There's a link to the project board on the README under the User Stories section.

We also talked a

[2019-12-15 21:43] timmyichen commented on #255
I think the Project board is great to start, and the addition of the labels is definitely helpful - this issue can probably be closed.  Thanks for addressing my concerns!

[2019-12-15 21:44] allella commented on #255
Also, the [conclusion of much conversation about this topic from today's meeting](https://github.com/freeCodeCamp/chapter/wiki/Meeting-Notes-December-15,-2019) was to get issues un-stuck by having anyone who's interested post their ideas, thoughts, questions, and such on the specific issues.

We have a mix of people who think of things in different ways, but it doesn't really matter how the inform

[2019-12-15 21:56] allella commented on #259
I believe it was [decided at today's meeting](https://github.com/freeCodeCamp/chapter/wiki/Meeting-Notes-December-15,-2019) to use a different npm Swagger package since the security issues are not being address quickly by the current package's maintainer.

@nik-john @Zeko369 @vaibhavsingh97 is this correct? If so, can we close this and then do we need to create an issue to swap out to Swagger?

[2019-12-15 21:57] allella commented on #255
Closing, per Timmy.

[2019-12-15 21:57] #255 closed

[2019-12-15 22:11] allella commented on #255
I've [updated the user story titles](https://github.com/freeCodeCamp/chapter/issues) so they all start with "As a {user, organizer, admin}".

Some stories said "future participant" or "chapter member" and I prepended "user / " for consistency.

Others are welcome to add user, organizer, admin tags to each issue if it's thought to be necessary.

[2019-12-15 22:26] vkWeb opened #296 "Add user_roles table for organizers and admins"
Create a `user_roles` table with `id` and `type` as string and reference the `id` of `user_roles` via `users` table.

[2019-12-15 22:31] vkWeb opened #297 "Add an API route in swagger.json for fetching all the events of an organization"
Create a route in swagger.json file: GET /events to fetch all the events of an organization.

More routes can be added as we develop and find needs for them.

[2019-12-16 00:31] allella commented on #259
Also, since we're changing from speccy then I suspect the [README on API Specs](https://github.com/freeCodeCamp/chapter#api-specification) will need to be updated.

[2019-12-16 00:52] AryanJ-NYC commented on #110
IMHO, this ticket is a prime candidate to be broken into pieces. Some ideas of tickets that can come of this one:

1. As an unauthenticated user, when I click the RSVP button, I will be prompted to sign in. On sign in, 2 and 3 will follow. Blocked by 2 and 3.
2. As an authenticated user, when I click the RSVP button, I will be added to the public list of event attendees.
3. As an authenticated use

[2019-12-16 00:53] AryanJ-NYC commented on #296
Relates to https://github.com/freeCodeCamp/chapter/issues/16.

[2019-12-16 08:00] Shub1427 opened #301 "Integrating Storybook for Figma Mockups"
## Suggestions
As we are maintaining our own UI Designs, it is best to have a UI documentation for our Development. __I am not sure if this has to be a part of MVP__, but it is very good to have UI documentation for UI components, so as to make them re-usable and separate data specific and view specific components.

[Storybook](https://storybook.js.org/) is a very good tool to document UI componen

[2019-12-16 12:35] Zeko369 opened #304 "[WIP] Refactor swagger"
- GET `/chapters` to list all chaptes is missing
- remove `id` from POST `/chaptes`

Separate events from chapters

[2019-12-16 22:45] allella commented on #110
@AryanJ-NYC
I could see splitting the authentication, your number 1 above, into a new API user story issue.

Also, we have a ["Log In" link in the Figma mockup navigation](https://www.figma.com/proto/q7DikyL3N0c4CUWxHNa97i/Chapter-Prototype?node-id=1%3A2&scaling=scale-down).  The logic for logging in would be a subset of the logic required to authenticate and RSVP, so perhaps we also need API and

[2019-12-16 23:18] allella commented on #110
Also, in thinking through documentation for user account and notifications (https://github.com/freeCodeCamp/chapter/issues/262) it's not immediately clear how a "Register" page / step would work with our [Google authentication constraint](https://github.com/freeCodeCamp/chapter/wiki/Meeting-Notes-November-15,-2019#authentication).

If you're a new _user_ and you've never logged in, then does the L

[2019-12-16 23:48] allella commented on #262
I would agree that a basic profile management page is necessary IF any of the following are true:
- [we're not pulling a _user's_ name from Google's profile or we use the Google name, but allow the user to override their name](https://github.com/freeCodeCamp/chapter/issues/110#issuecomment-566292771)
- the user needs a public profile page. The alternative is we simply show the _user's_ name on the

[2019-12-17 00:34] allella commented on #263
Regarding privacy settings, we've touched on what privacy settings to offer for MVP.

Quincy suggested the [need for at least a _user_-level privacy setting](https://github.com/freeCodeCamp/chapter/issues/262#issuecomment-565725727).

Perhaps we start out with allowing a user to be globally shown as "Private Member" or "Private Guest" to the public.  However, I'd think the organizer and admin woul

[2019-12-17 02:59] madaleneaza-design commented on #110
@allella I am glad you have mentioned this. If we are only using Google authentication, then the registration page and sign in page is not actually making sense as it has "register with email" form and "login with email" link. Plus, I am not sure if it is relevant to have two separate pages (registration and sign in) since the link "Continue with Google" actually redirect you to the same pop-up bo

[2019-12-17 03:04] AryanJ-NYC commented on #110
Just a quick sanity check:

I remember @QuincyLarson mentioning offline use (using the prison system as an example). I imagine "only using Google authentication" would not work in this situation...

[2019-12-17 03:19] allella commented on #110
@AryanJ-NYC Quincy's comment on offline use was in the context of a developer viewing Swagger API documentation on their localhost vs on a hosted platform.

I think the line of reasoning was that someone in the prison system, or just someone with limited internet access (traveling, flying, camping), may benefit with having dev documentation, like Swagger, available on their localhost.

So, I don't

[2019-12-17 03:21] AryanJ-NYC commented on #110
Ah, OK. Cool. Just wanted to make sure.

[2019-12-17 03:26] allella commented on #110
@madaleneaza-design I'm thinking we take @AryanJ-NYC suggestion and split off an authentication specific UI and API issue.  Then, leave this issue to be about _RSVP_ and sending the _user_ a confirmation email.

It's still going to be the case that the user needs to be logged in, via Google, to RSVP but I suspect authentication (login and register) doesn't need to be entirely tied up in this issue

[2019-12-17 03:45] madaleneaza-design commented on #110
@allella I am with you on this one. The more we break all the user stories into smaller pieces, the clearer it is to know what can be (appropriately) discussed and what is needed to be created.

[2019-12-18 13:32] AryanJ-NYC commented on #301
This may be overkill for a small project like this. However, I'm also not a designer so take this with a grain of salt.

How does Storybook help designers? Can Figma integrate directly with Storybook? Will that accelerate the progress of this project?

[2019-12-18 13:32] AryanJ-NYC commented on #297
We should be explicit in the title that this is `swagger` specific.

[2019-12-18 16:46] Shub1427 commented on #301
It won't speed up the project progress, but it will help maintaining and managing the UI designs easier in code.

If designers know coding or vice-versa, it's a great tool. AFAIK, many people in our team, who are designers, know coding as well.

https://github.com/hharnisc/storybook-addon-figma

Above link is not exactly a tool to get auto-generated React components out of Figma designs, but a too

[2019-12-18 17:08] vkWeb commented on #297
@AryanJ-NYC agreed. I have updated the title.

[2019-12-19 02:49] allella opened #305 "API: As a user I can log in or register via Google OAuth 2.0 authentication."
[The consensus was to split the authentication piece out](https://github.com/freeCodeCamp/chapter/issues/110#issuecomment-566281560) of #110 and #278, which are mainly focused on the RSVP transaction, into their own UI and API issues.

Authentication is not specific to the RSVP transaction and the auth conversation could easily get lost in the RSVP issues, which is another reason for the split to

[2019-12-19 02:51] allella opened #306 "As a user I can log in or register via Google OAuth 2.0 authentication."
[The consensus was to split the authentication piece out](https://github.com/freeCodeCamp/chapter/issues/110#issuecomment-566281560) authenication from the RSVP issues(#110 and #278)

The API / code issue was split to #305.

[2019-12-19 18:07] allella commented on #301
@Shub1427 if you're willing to create a PR with a real world example of the benefits then that might help bring more folks on board.

[2019-12-21 19:01] QuincyLarson commented on #255
@allella Thanks again for updating these user story titles to maximize clarity.

[2019-12-21 19:30] QuincyLarson commented on #306
I recommend we just put this button in the navigation bar and when people click it, they are immediately taken to Google to give permissions, then redirected back to our root (/) route.

![sign in with Google button](https://user-images.githubusercontent.com/5500716/57735626-940ed100-76e8-11e9-8444-1a7ae461e92a.png)

[2019-12-22 17:57] allella commented on #278
For simplicity, it may be best for the MVP to have a ["Sign in with Google" button both in the navigation, as suggested by Quincy](https://github.com/freeCodeCamp/chapter/issues/306#issuecomment-568205711) AND in place of the the RSVP form if the _user_ is not logged in.

Otherwise, if we allowed a non-authenticated _user_ to start an _rsvp_ then we'd have to store their input somewhere until afte

[2019-12-24 00:29] madaleneaza-design commented on #296
Based on the discussion in Discord, I have explained what I thought  each role (organiser and admin) could do:

**Admin**
Only the administrator is able to do create chapters, although they have full control of what is going on in the Chapter instance, they probably will have little involvement in specific chapters (such as CRUD events, managing chapter members unless the situation is high-level p

[2019-12-24 07:29] vkWeb commented on #296
@madaleneaza-design @allella I think the organizers shouldn't be able to add other organizers to the chapter they are appointed to. Suppose fCC is the organization and Quincy is the admin. Now the admin appointed me as an organizer for fCC Delhi (a chapter under fCC). If I add Tim as an organizer of fCC Delhi then we will need to put there a feature to inform Quincy that Tim has been added as an o

[2019-12-24 16:05] allella commented on #296
@vkWeb
Looks good.

I'm hip to holding back the "organizers adding other organizers to their _chapter_"  and keeping it out of the MVP.

I feel this will be a desirable future (post-MVP) feature. As you said, if it's an option to turn delegation on / off then the admin could pick between tighter control of organizers, or delegating that permission to organizers.

[2019-12-24 16:26] #102 closed

[2019-12-24 20:44] madaleneaza-design commented on #296
@vkWeb These are really good details and points you have written. 🙂

I really like your suggestion of the feature, which is " giving admin an option to "allow the organizer to add more organizers".

The reason being is we must remember that every user (organisation) comes in different sizes, and structures of running their system. So, not all organisations will agree with our suggestions such as o

[2019-12-24 21:43] vaibhavsingh97 commented on #305
I am working on this

[2019-12-30 20:51] allella commented on #305
@Shub1427  asked this on Discord and I imagine other will share in our confusion, so posting it here too.

I replied that @vaibhavsingh97#8557 likely knows more about this, but it does seem SSO / SAML is that workflow used by freeCodeCamp

Though, that [link you shared makes it sound like you can do some of the same with OAuth 2.0 and Google](https://developers.google.com/identity/sign-in/web/sign

[2019-12-30 21:01] timmyichen commented on #305
I don't think we actually want SSO, we probably just want to use google oauth - easy to use with passport: https://github.com/jaredhanson/passport-google-oauth2

[2019-12-30 21:12] allella commented on #305
That does seem to be the situation and it seems to be a common confusion between SSO, SAML, and Auth due to overlapping features and just misuse of the terms (I'm guilty of it).

I'm curious if @vaibhavsingh97 can confirm the [OAuth 2.0 is the plan](https://developers.google.com/identity/sign-in/web/sign-in) and can inform us on the correct terminology.

[2019-12-30 21:22] allella commented on #260
The checklist here is what has [previously been described as the "organizer" role](https://github.com/freeCodeCamp/chapter/issues/296), so I've changed the title to sync up the terminology.

[2019-12-30 21:23] allella commented on #261
The checklist here is what has [previously been described as the "administrator" role](https://github.com/freeCodeCamp/chapter/issues/296), so I've changed the title to sync up the terminology.

[2019-12-30 21:30] allella commented on #261
It would seem we'll also need to document examples of how to setup and configure any 3rd party dependencies.

So far, it sounds like the administrator will need to establish an account with these 3rd parties and configure Chapter with their specific values.

- Register an application with Google in order to use [OAuth 2.0 for "Sign In with Google" as described in the Passport documentation](https:

[2020-01-01 18:32] vaibhavsingh97 commented on #305
yes, We don't want SSO/SAML, we just need OAuth to authorize the user on our platform. Here, we will use google as OAuth

For those who are wondering what is the difference between OAuth and SSO, OAuth is an authorization protocol that allows users to selectively pick permissions to authorize services to use their data. For example, Gitlab uses Github to authorize the user on their platform, once

[2020-01-01 18:38] allella commented on #305
Thanks @vaibhavsingh97.

Just to be clear on OAuth, it's primarily used for authorization, but it can be used for authentication as well, as in the case of [Google's use of OAuth 2.0](https://developers.google.com/identity/sign-in/web/sign-in) to allow others to authenticate a user. Is that correct?

[2020-01-01 18:44] allella commented on #40
This conversation was continued at #305

Also, the use of "SSO" above is likely not in the context most were thinking.

The ability for a user to [authenticate using their Google account is apparently using OAuth 2.0](https://github.com/freeCodeCamp/chapter/issues/305#issuecomment-570073590), and SSO / SAML is a different enterprise use case.

[2020-01-02 02:10] chrismgonzalez commented on #263
Got it.  Good to know.

[2020-01-16 01:24] AryanJ-NYC commented on #16
I'm a bit confused as to the scope of this story. What is expected here?

Currently the there is no concept of "user types" in our models. Is it sufficient to add user types here and then add `admin` as one "user type"?

Or, do all of:

need to be implemented? I imagine not but would love to confirm.

[2020-01-16 09:38] allella commented on #16
@AryanJ-NYC I suppose the roles need to be defined somewhere, so that's a start. #296 would then be a prerequisite for the API part of the admin related user stories. I'm going to post notes about the user_role table over there to get this conversation moving.

[2020-01-16 09:52] allella commented on #296
Being that this is a prerequisite for #16 I wanted to see if I can help keep it going for @AryanJ-NYC

@vkWeb started working on a user_role table in #253 and that was rolled into this issue because it wasn't as fleshed out as the rest of that PR.

@timmyichen had mentioned having a [chapter_id key on the user_role](https://github.com/freeCodeCamp/chapter/pull/253#issuecomment-555193444)
to go alo

[2020-01-16 09:54] allella commented on #296
And, even though this is more about authorization then authentication, I feel @vaibhavsingh97 should weigh in since he was looking at #305

[2020-01-17 04:31] AryanJ-NYC commented on #296
Will a user only have one role?

[2020-01-17 04:38] AryanJ-NYC commented on #296
Either way, please assign this to me.

[2020-01-17 06:44] allella commented on #296
@AryanJ-NYC I think it's safe to assume a _user_ might have more than one record in the _user_role_ table.

For instance, if a _user_ is an _organizer_ or two different _chapters_ then they'd likely need a record for each _user_ + _role_ + _chapter_ combination because being an _organizer_ for one _chapter_ doesn't mean you can organize all the _organization_'s _chapters_

[2020-01-17 06:58] allella commented on #296
Also, I was thinking that for the regular user, who is not an organizer or an administrator, it may be helpful if we call their role something like _member_.

If we didn't differentiate the default / base user role, then we'd potentially end up saying things like "a basic _user_ has the role of _user_", which is likely to get rather confusing.

If the basic / default role of a user is the _member_

[2020-01-17 07:08] AryanJ-NYC commented on #296
I like the names a lot. Just to confirm and make sure I have it straight:

* A user will have exactly one role per chapter they belong to (they cannot be both an organizer and an admin of a chapter).
  * That assumes that admins have all the permissions thag organizers have (and more) who, in turn, have all the permissions that user have (and more).

Does this ticket entail setting up the user rol

[2020-01-17 07:39] allella commented on #296
@AryanJ-NYC one complication with the _roles_, no matter what we call them, is that the _administrator_ is the _administrator_ for the entire _organization_ and not just a single _chapter_.  As the "super user" we don't gain anything by mapping a _user_ as an _administrator_ for every single _chapter_.

So, I'm not immediately clear if a _user_roles_ table is ideal, or even necessary for capturing

[2020-01-17 09:00] vkWeb commented on #296
@allella Thanks for starting the conversation flow after Christmas break :)

So you mean if they sign up in the organization, they become its member? https://github.com/freeCodeCamp/chapter/issues/106 will conflict with naming discussed here. So we need to clear this confusion.

Exactly @AryanJ-NYC. But users (normal visitors) won't have any special permission I believe.