[2019-10-14 21:06] pixelyunicorn opened #1 "What are some of your ideas on building an alternative to Meetup.com?"
Continuing the conversation from Discord!

[2019-10-14 21:06] pixelyunicorn commented on #1
I feel like we should start by copying meetup's functionality (that are most familiar to organizers and attendees), then add features from there!

[2019-10-14 21:09] vunderkind commented on #1
I agree. Do we have any Meetup power users onboard? Maybe a list of features for starters.

[2019-10-14 21:09] jmarchello commented on #1
May not be a v1 requirement, but something that would be useful for discoverability would be a tag-like system where I can say "I'm interested in X, Y, and Z" and Organizers can say "We typically cover X, Y, and Z topics" Something like Github's Topics perhaps

[2019-10-14 21:16] keyserfaty commented on #1
what the mvp looks like to me:
- authentication.
- create/edit/list organizations.
- create/edit/list events.
- been able to register for an event.
- list people who registered for an event.

[2019-10-14 21:17] Zamy97 commented on #1
Seeing what alternatives have done best and kinda mimic it into this would make it great.

[2019-10-14 21:17] jaburcodes commented on #1
We're building https://confy.app

Its an alternative for meetup.com with  the following stack:

- React
- Relay
- ReactNative
- Node
- GraphQL
- MongoDB
- GoogleCloud

We would love to make it open source and partner with freeCodeCamp community and offer free meetups.

[2019-10-14 21:25] QuincyLarson commented on #1
@pixelyunicorn

I agree - we should start by stripping their features down to the bare essentials.

[2019-10-14 21:26] francocorreasosa commented on #1
adding to @keyserfaty's list, we should implement the queue/waitlist for highly demanded events :)

[2019-10-14 21:28] mantcz commented on #1
Also:

1. allow people to cancel RSVP
2. ability to contact members:
   a. all of them
   b. those going to the event

[2019-10-14 21:29] keyserfaty commented on #1
Agree

Sounds like v2 to me

[2019-10-14 21:31] francocorreasosa commented on #1
maybe cancel RSVP could go into a V1 it is (soft)deleting the record, contact members is definitely a v2

[2019-10-14 21:32] francocorreasosa commented on #1
another thing that could go to a **v2** is a meetup.com compatible API for those apps that use meetup as a data source.
https://discordapp.com/channels/633401573002969128/633401573002969132/633416435019939874

[2019-10-14 21:33] allella commented on #1
Not saying an API is in the MVP, but Greenville, SC we have a [simple event API tool to syndicate the Meetup.com and Eventbrite.com meetup event data](https://github.com/codeforgreenville/upstate_tech_cal_service/
) to show a full tech calendar on hackgreenville.com.

Moving off Meetup.com will basically break our tool until we have a way to scrap or hit an endpoint to get the same data.  So, from

[2019-10-14 21:37] QuincyLarson commented on #1
OK everyone - here is my bare bones description of what this tool needs to be able to do. We've already built some of this out here: https://study-group-directory.freecodecamp.org

# User flow

As a future participant, you arrive on the home page.

-> System shows a search box with "[ Where do you want to attend an event? ]"

User starts typing a city name or a state name or a country name.

-> Sy

[2019-10-14 21:37] keyserfaty commented on #1
@allella that's cool. don't think you'll be able to replace meetup with this tool right away. sounds like an important feature but definitely not the first thing we should tackle. but sounds great for v2.

[2019-10-14 21:39] vunderkind commented on #1
Great idea to have the homepage dynamically surface events tailored to IP address.

[2019-10-14 21:41] mantcz commented on #1
That would not work for people behind VPN. I would just prefer decent search engine based on typed location.

[2019-10-14 21:42] allella commented on #1
I guess I should ask if the v1, or even v2, is intended to host non-FCC groups, or if this is for the FCC universe?

[2019-10-14 21:42] francocorreasosa commented on #1
@allella I guess any group, even non-coding related.
@vunderkind Great idea for a v2 or v1.x 😄

[2019-10-14 21:44] nhsz commented on #1
Some features we need because some venues ask for this info (meetup currently has these one, fields aren't required though)

- an attendee list, i'd be nice to have the option to export/download it (pdf?)
- attendes id numbers, so customizable **required fields** for each event

[2019-10-14 21:45] allella commented on #1
Could also be v2, but organizers often will link to an organization landing page and specific event instances.  Having public URLs would shortcut the "enter city", "find your group" steps if someone already knows why they are there.  Also, having some structured markup, like event rich snippets, on the org and event landing pages would offer at least some basic API alternative until such time as a

[2019-10-14 21:46] francocorreasosa commented on #1
@nhsz Yep I see those in a v2 probably

[2019-10-14 21:46] AryanJ-NYC opened #2 "Tech Stack"
In an effort to consolidate discussion, what tech stack should we use for the back-end? Front-end? Database? REST or GraphQL? Any services we should leverage? Should we use a monorepo?

I've had great success with NestJS as a backend framework (it's based off Node) and would suggest we use that.

[2019-10-14 21:48] francocorreasosa commented on #1
Thinking about a tech stack, the first thing it comes to my mind is using **React with Next** (for simplicity) and **Node.js with any relational database** (could be Postgres maybe) in the backend. connect those two with a **REST/GraphQL API**, and use **Mandrill/Sendgrid/Custom SMTP** for email sending.

Any thoughts on that?

[2019-10-14 21:48] allella commented on #1
I'm sure all cities have different needs, but here's an idea of what we consider a "tech meetup" in Greenville, along with an API behind that holds info about all our organizations in the area, the organizers, where they post events, API endpoint keys for the event service they use.

Might be a nice v2, v3 feature to allow each city to have a similar list of all the organizations by certain tags o

[2019-10-14 21:49] francocorreasosa commented on #2
Thinking about a tech stack, the first thing it comes to my mind is using React with Next (for simplicity) and Node.js with any relational database (could be Postgres maybe) in the backend. connect those two with a REST/GraphQL API, and use Mandrill/Sendgrid/Custom SMTP for email sending.

Any thoughts on that?

[2019-10-14 21:49] sivatheja10 commented on #2
Loopback is good for API's

[2019-10-14 21:49] briancbarrow commented on #2
I personally prefer Vue on the frontend, but I'm open to others.

[2019-10-14 21:50] keyserfaty commented on #2
My vote for BE goes to Node/Postgres/GraphQL

[2019-10-14 21:52] tazsingh commented on #1
Hey, I've built a good chunk of this already. Happy to chat about what I have. The intention is to release it as OSS and would like to collaborate on efforts

[2019-10-14 21:52] Guusy commented on #2
I think we can use react, it is very popular and has a big community

[2019-10-14 21:53] mikelnorth commented on #2
I think low point of entry should be highly considered as well including the scalability. This way we can try to get big buy-in from the community, especially those who have never contributed in open source.

I think using either React or Vue (or any flavor on that such as Next/Nuxt) on the frontend and Node on the backend gives great scalable benefits.

I prefer a postgresDB but could be swayed.

[2019-10-14 21:56] pedroroutaboul commented on #1
[EventoL](https://github.com/eventoL/eventoL) is the platform that uses the [Python Community](https://github.com/PyAr) in Argentina to managing their events
E.g.: [PyConAr 2019](https://eventos.python.org.ar/events/pyconar2019/)

[2019-10-14 21:56] AryanJ-NYC commented on #2
For those voting for Node, are you opposed to using NestJS as a framework to get up and running?

[2019-10-14 21:56] francocorreasosa commented on #2
@AryanJ-NYC I like Nest, but being realistic that could block people without knowledge of Typescript from contributing.

[2019-10-14 21:58] AryanJ-NYC commented on #2
I agree with that. FWIW, you can use NestJS with vanilla JS instead of TS.

[2019-10-14 21:58] Abott1222 commented on #2
Golang ftw. One of the best languages for creating microservices. Also has a lot of strong ORM packages and it is built by Google.

[2019-10-14 21:59] ericvicenti commented on #2
Conversation here is trending towards Node.js/React/Next.js

https://discordapp.com/channels/633401573002969128/633422435865329674

[2019-10-14 22:00] kylemh commented on #2
I'd love to use https://github.com/OperationCode/front-end as a template.

- Next.js (React) with Now for continuous deployment.
- Jest for unit tests and Cypress for integration tests. `@testing-library` as an adapter for both.
- Storybook for component workbenching
- Mergify for automatic dependency upgrades
- CircleCI for contuinous integration.

It's worked well with a lot of open source contr

[2019-10-14 22:01] edimitchel commented on #1
[Mobilizon from Framasoft](https://joinmobilizon.org) is a french solution that aims to replace Facebook Events and MeetUp applications by a ethic, free and open-source solution (which could be self-hosted in the future).
The project has already collected more than 50000 € for the development. UX designers are already working on it, please consider this solution before recreate something else.

[2019-10-14 22:07] chrismgonzalez commented on #2
I’m going to echo what @kylemh said with regards to the stack.  As far as API/DB goes - Node, Postgres, & GraphQL

[2019-10-14 22:14] francocorreasosa commented on #2
I'm thinking we could use Next for both SSR and API routing (this is newly supported, but it seems promising) unless you want to go with something like raw express.

[2019-10-14 22:16] AryanJ-NYC commented on #2
From the Discord channel:

- @QuincyLarson

[2019-10-14 22:16] igorasilveira commented on #1
I think it just be first location based, through the Browser location API and in case of negative response, based on typed location

[2019-10-14 22:27] vunderkind commented on #1
Are we going to have a central document holding all the features we've agreed on, and what are the next steps/structure for building this?

Pardon me if these questions are naive. First time collaborating on an open-source project, ever.

[2019-10-14 22:42] itaditya commented on #1
How about using GitHub as a meetup platform?

https://mobile.twitter.com/dev__adi/status/1183873754679537666

[2019-10-14 22:49] QuincyLarson commented on #2
After discussing this for a while, I think the consensus is:
- Node.js / Express backend
- Postgres with Sequalize (no GraphQL for now)
- React front end using JS (not TypeScript) and CSS (not Sass)

[2019-10-14 22:49] #2 closed

[2019-10-14 23:21] f0cus10 commented on #1
Not really what it was made for.

[2019-10-14 23:26] santiagobeloqui commented on #1
It should be a section of freeCodeCamp or an independent platform?
Random ideas:
1) Maybe "Free Meet" or something similar could be a good name for it.
2) Maybe it should be made with the stack that people can learn in freeCodeCamp (React, Express, Mongo), so all the students can contribute to the project :)

[2019-10-14 23:29] QuincyLarson commented on #1
This will be a self-hosted web app that any organization (Rotary Club, Women Who Code, Sierra Club) could use to coordinate their events. Ideally it will be a one-click server deployment and will run in a docker container. And an admin will be able to configure a few settings and have all the data stored on their own database.

[2019-10-14 23:30] QuincyLarson commented on #1
Good question. I'm working on a Readme. We can use that as our central planning document, and GitHub issues to discuss design ideas, implementation details, and answer questions.

[2019-10-14 23:31] QuincyLarson commented on #1
We can figure out a name later. I usually prefer names that do a good job of describing what the tool does (Bingo Card Generator is a good example of this.)

[2019-10-15 00:16] Canopix commented on #1
this is not for the MVP but maybe in the future add a new role like 'Venue' and the organizer can post a solicitation for venues and the venus offer to them their Venue...

[2019-10-15 00:46] Abott1222 opened #5 "Feature: UX - Design Landing page"
As a user I would like to see a clean landing page when arriving to the site

User Story:

[ ] Logo
[ ] Decide on color palette
[ ] Spike - Think about potential accessibility issues
[ ] Wireframe

[2019-10-15 00:50] Abott1222 opened #6 "Feature Dev - Landing Page"
As a user I would like to arrive at a fast loading page where I can login and see other meetups

User Story:
[ ] Implement pixel perfect match for web based on wireframe provided by UX tteam
[ ] Allow user to either sign up or login
[ ] Explore feature where one can search meetups based on location

[2019-10-15 00:53] Abott1222 opened #7 "Feature Dev - Personalized Page"
As a user after logging in I would like the ability to see a customized feed based on my interests, and past meetup history

User Stories
[ ] Pixel perfect landing page based on ux wireframes
[ ] Create section to view events that I am attending or groups that I am a part of
[ ] Create section to explore groups related to my interests by querying recommendation microservice

[2019-10-15 00:54] Abott1222 opened #8 "Feature Dev Design recommendation Microservice to find similar groups and events that I am currently a part of"
#TODO later

[2019-10-15 00:58] Abott1222 opened #9 "Feature Dev Design Meetup microservice"
As a user I would like to be able to search for meetups near me, meetups based on my preferences, and upcoming meetups.

User Story
[ ] Design Schema
[ ] Implement architecture to handle scale(load balancer, containerization using Docker and Kubernetes)
[ ] Implement Search Functionality
[ ] Performance testing

[2019-10-15 00:58] Abott1222 commented on #9
I would be glad to be the lead for this one :D

[2019-10-15 01:03] Abott1222 opened #10 "Feature Dev - Design alert system"
As a user I would like to be reminded of events that I signed up to when they are coming up

User Story:
[ ] Spike research smtp or other service that we can use
[ ] Implement bot that would search through all of the current upcoming meetups and alert each member ** think of scale....
[ ] Implement unsubscribe feature in the case that a user no longer wants these emails

[2019-10-15 01:04] boniattirodrigo commented on #5
I had created a similar project for my last semester at my university. Here some mockups that could inspire us:

Home page: https://www.dropbox.com/s/ct9ug8ghg4nmd0a/Home.pdf?dl=0
Event list: https://www.dropbox.com/s/1p8yq93huwl9kwb/My%20next%20events.pdf?dl=0
Event page: https://www.dropbox.com/s/fox538ijo6e69m1/Static%20page.pdf?dl=0

I have the .sketch files if you guys needed too.

[2019-10-15 01:05] Abott1222 commented on #5
Looks very good!

[2019-10-15 01:06] Canopix commented on #5
Looks very good!!

[2019-10-15 01:10] ryandudek commented on #5
Very nice! Do you have the Stark plugin for sketch to test your colors? The purple and white is good, but I haven't grabbed the other colors yet. Would be useful if you don't use it.

https://github.com/stark-contrast/stark-sketch-plugin

[2019-10-15 01:14] Abott1222 opened #11 "Post your introductions here :)"

[2019-10-15 01:14] ryandudek commented on #5
Looks like the blue and the orange need just some slight tweaks:

https://toolness.github.io/accessible-color-matrix/?n=white&n=blue&n=orange&n=purple&n=grey&n=black&v=FFFFFF&v=2C8AB6&v=D96B32&v=5C2D7E&v=423D3D&v=000000

[2019-10-15 01:15] boniattirodrigo commented on #5
Nice @ryandudek I didn't know about it. I'll take a look. I've just uploaded the Sketch file. Feel free to make any changes you want: https://www.dropbox.com/s/dilsvf9wpbvkv2g/Together.sketch

[2019-10-15 01:15] Abott1222 commented on #11
Hello everyone! I am from Seattle, WA.

I have been coding for the last 5 years. Lately I have been focused on building microservices at scale for t-mobile enterprise applications. Along with this I also am involved with setting up the reporting framework which we use for performance testing across all apps! Looking forward to working on this with you all

[2019-10-15 01:18] koredefashokun commented on #11
Hi, I'm Korede, a 16 year-old. software developer from Lagos, Nigeria. I work with React, React Native and Node. In my spare time, I work on [Overt](https://github.com/overthq).

[2019-10-15 01:21] ryandudek commented on #11
Hey yall. I'm Ryan, I live in Philadelphia, PA.

I have a good amount of React experience, as well as some API development and Node/Express work. I've been helping out with the Philadelphia Accessibility meetup, and think we should be creating an accessible UX.

[2019-10-15 01:25] ryandudek commented on #5
I don't have sketch on this machine 😭

Here is an updated palette that passes AA contrast for the blue and the orange on white. The changes are very minimal.
Blue = #007FAC
Orange = #C25600

https://toolness.github.io/accessible-color-matrix/?n=white&n=blue&n=orange&n=purple&n=grey&n=black&v=FFFFFF&v=007FAC&v=C25600&v=5C2D7E&v=423D3D&v=000000

[2019-10-15 01:27] chrismgonzalez commented on #11
Hello!  I'm Chris and I'm from Dallas-Ft. Worth. I'm currently working on a CS degree and contributing to open source.  I'm working to transition into a web development or software engineering role from education.

[2019-10-15 01:29] CharaeKeow commented on #11
Hi, I am Charae, a first year CS from Malaysia. I've learned web dev mainly from freeCodeCamp and I am pretty comfortable with front-end thingy (or so I thought) like HTML, CSS, and React. Currently learning Node/Express and also looking to learn NoSQL database.

I would say that my skill is limited but I would like to help wherever I can 😄 .

[2019-10-15 01:49] germangamboa95 commented on #11
Hi, German Gamboa from Orlando FL. I'm your general purpose dev. I can do both backend and frontend. I cannot design to save my life though.

[2019-10-15 01:59] chrismgonzalez opened #12 "Chapter Documentation"
Below is a basic documentation outline.  Please feel free to add your feedback.

**Getting Started as an Organizer**
- [ ] Installing Chapter
- [ ] Create an organizer account
- [ ] How Chapter works

**Using Chapter**
- [ ] Creating and managing events
- [ ] Chapter and member communications
- [ ] Chapter settings
- [ ] Manage Members
- [ ] Group and event photos
- [ ] Member guide
- [ ] Sharing

[2019-10-15 01:59] jfbueno commented on #11
Hey, I'm Jef Bueno from Novo Hamburgo, Brazil. I'm a backend developer and work mostly with .NET stack, but I'd love to code using NodeJS with you all.

[2019-10-15 02:06] mohitk05 commented on #11
Hello, I'm Mohit from Mumbai, India. I'm a full stack JavaScript developer and have worked majorly with React + Node systems. I have built open source packages and frequently contribute to open source. Would be fun to build this tool!

[2019-10-15 02:07] MateusAndrade commented on #5
@gabriellamas, @viniarruda guys give a look at this 💯

[2019-10-15 02:13] QuincyLarson commented on #10
@Abott1222 Yes - I think email will be the primary way that people communicate. The world doesn't need another messaging system.

We could have a basic user settings page where people can toggle their email notifications on and off for different groups and manage all their RSVPs in one place.

[2019-10-15 02:16] QuincyLarson commented on #9
@Abott1222 Awesome. Yes - this will be an important component. The simplest way to do this would probably be to put all the groups into elasticsearch and then surface those groups when the user searches.

Discourse (the tool freeCodeCamp uses for the forum) is able to run its Ruby on Rails app and also its database (Postgres) and Elasticsearch at scale (~3 million pageviews per month) on a single

[2019-10-15 02:16] chrismgonzalez commented on #12
[ Eventbrite API docs ](https://www.eventbrite.com/platform/api#/introduction/about-our-api)
[ Meetup API docs ](https://www.meetup.com/meetup_api/)

[2019-10-15 02:20] mblonyox commented on #10
Push Notification would be good too.

[2019-10-15 02:37] Wonder2210 commented on #11
Hello , my name is wonder , I'm from San Cristobal Venezuela, I've been coding for the last 3 years (since November 15 of 2015) , I have a good experience with react, node, graphql, api, relational databases, I had haven't time to get into open source projects but now, I have free time to, and i want to make with you all some good stuff

[2019-10-15 02:43] grantglidewell commented on #11
Hi! I'm Grant, Im a JS developer who learned to code on FreeCodeCamp and Im excited to help move this forward

[2019-10-15 02:59] Guusy commented on #11
Hi ! I'm Gonzalo and I'm from Argentina, Buenos Aires.
I'm a full stack developer, I have experience with several languages, can i do backend and frontend.
I hope to be helpful. 🤗

[2019-10-15 03:11] cameronsr commented on #9
Random questions (came in a little late to the Discord):
- Will this all be a single site? Or more of an infrastructure service/standard anyone can add on their current site to create an associated group?
- Regarding the search functionality, would it make sense to allow the organizer the ability to assign metatags (examples: location, group purpose) on group creation?

[2019-10-15 03:23] cameronsr commented on #11
I'm Sean, aka Cam from the San Diego area. I'm a network engineer in my day job. I wear several hats around non-profits and tech gatherings outside it.

[2019-10-15 03:30] SeanRParker commented on #5
I’m digging that palette, especially the dark mode options.

[2019-10-15 03:33] timrodz commented on #11
Hey all, Juan here. Full Stack Developer (Former Game Programmer) from Panama, now based in New Zealand.

I work with: Javascript (React, Gatsby, GraphQL), Python (Flask, Pandas), PostgreSQL, AWS, and love collaborating to Open Source. Happy to be of any help!

[2019-10-15 03:37] SeanRParker commented on #11
👋 I’m Sean. A frontend dev from Washington D.C. Looking forward to contributing to this awesome project!

[2019-10-15 03:37] thegagne commented on #1
I think a good model would be self-hosted for meetup owners, but then also a centralized aggregator so that as a user I can go to one site to find any local groups that choose to be aggregated.

Sites opt-in to be listed, and when new events are posted they send the title, subtitle, time and location data, and teaser image to the main site.

A big question about user accounts: per site or global?

[2019-10-15 03:39] allella commented on #1
The stated README direction is to roll a new solution.

I thought to aggregate the links shared in the Discourse channel and [Ycombinator](https://news.ycombinator.com/item?id=21253620) thread about open source and commercial alternatives.  These could act as a point of reference to tickle the brain for core/v1 features and future features.

### Open Source
[Existing FCC Project](https://study-gro

[2019-10-15 03:39] kaushalgautam commented on #11
Hi Folks! I'm Kaushal from New Delhi, India. I work with multiple technologies and am a Chatbot Developer in Bureau Veritas.

I work with React, Node, Firebase, etc for my side projects. Would love to contribute to this project and learn at the same time from you folks!

[2019-10-15 03:46] grantglidewell commented on #5
That palette is super nice.

[2019-10-15 03:46] MirzaChilman commented on #11
Hi All, I'm Mirza from Indonesia, I have been worked as frontend for the past 2 years, always got interested in Open Source but have never really got time to contribute. So probably this will be my contribution toward open source project, be easy on me if I did PR mistakes haha

Oh yeah, I am also [React Js Indonesia](https://reactjs.id/) Admin, and recently we do meetup once in a month and we alw

[2019-10-15 03:47] Abott1222 commented on #9
I think meta information would be very helpful!

[2019-10-15 03:51] francocorreasosa commented on #11
Hey 👋 I'm Franco, writing from Montevideo, Uruguay. I code TypeScript/React/Node for a living :smile: Happy to contribute on whatever I can

[2019-10-15 03:51] gaurangdave commented on #11
Hi All,  I am Gaurang from Dublin, California.   I have experience working with frontend technologies including Angular & React as well as Server tech like NodeJS and Java.  Would Love to contribute to the backend tier with Node and Express!

[2019-10-15 03:53] madhusona commented on #11
Hi, I'm Madusudhanan Bairappan from India. I work with React Native, JavaScript, GraphQL, Nodejs and like to contribute to this project.

[2019-10-15 03:54] uditguru commented on #11
Hi, I am Udit Guru from India. I am a Full-Stack developer.

I work with Reactjs, React-Native, Nodejs, mongodb, firebase,graphql.

I have worked on real-time db projects, map based projects and admin dashboards.
I am interested to join this projects on the front-end side.

[2019-10-15 03:59] sdil commented on #11
Hi, I am Fadhil from Malaysia. I am a Backend Software engineer.

I work with Nginx, MySQL, Flask and Jenkins everyday. I would love to contribute to this project that involves backend (API) and devops part.

[2019-10-15 04:18] rohanfaiyazkhan commented on #11
Hi I am Rohan Faiyaz from Dhaka, Bangladesh, I am currently a frontend developer working in my dy job with React, Redux and Typescript but I have experience working with Node, Express, GraphQL and Postgres as well.

[2019-10-15 04:19] louistsaitszho commented on #11
Hi, my name is Louis. I mostly focuses on native Android, but I can also do some UX, backend with node or go, some frontend with react, some simple devops. Jack of all trades 🙋‍♂️

[2019-10-15 04:27] oyewoas commented on #11
Hi, my name is Ayooluwa, I am a Full-Stack Engineer, I code majorly in JavaScript, using technologies such as ReactJs, Angular, NextJs, NodeJs, ExpressJs, MongoDB, PostgreSQL, MySQL, Sequelize, KnexJs,  I am always willing to learn and collaborate. Nice getting to know you all.

[2019-10-15 04:28] mandaputtra commented on #11
Hi my name is Manda Putra, I'm from Yogyakarta Indonesia. I've been professionally code since 2017. I specialized on backend development, my main interest are realtime-application (I mainly develop this) since this project uses node, i think I can help a little bit. 🙏 Thanks for initiating this project.

[2019-10-15 04:29] vkWeb commented on #11
Hey everyone. It looks like we have got a super talented team. I am learning to code. I am proficient with C. I know HTML and CSS. Right now I am learning JavaScript and flask at CS50 right now.

I am excited to see how we all unfold this project :).

[2019-10-15 04:33] aeganaden commented on #11
Hi everyone! I'm Angelo Ganaden Jr, a full stack engineer who have experience in developing web system using React.js, Node.js, Express.js.

I am very excited to contribute in this project! <3

[2019-10-15 04:35] mandaputtra commented on #10
I think push notifications aren't needed if we dont plan to make native apps / PWA. Email is enough, I would love this app as simple as possible.

If we plan to use PWA and make a push notifications, there are litelary just 10% people click on allow when the notifications permission confirmation pop-up

[2019-10-15 04:44] iamlearning1 commented on #11
Hello everyone! My name is Deepak and I am from Noida, India.

I have been working as a full stack web developer in React, Node, Express and Javascript. Currently I am working in React Native, React and Node. Other than that I also know GraphQL and Vue.

I am very excited to contribute in this project.

[2019-10-15 04:46] f0cus10 commented on #11
I'm Ifti from New York. I'm a final year undergrad student and have worked with the PERN (Postgres-Node-Express-React) stack. I've been looking for an open source version of Meetup for a while and am really excited about where this project is going.

[2019-10-15 04:52] davidli3100 commented on #11
Hey guys, I'm David from Toronto, still in high school but I've spent a large amount of time building custom software with React/Node as a side gig.

[2019-10-15 04:53] f0cus10 commented on #9
From my comprehension, it's a bit of both? What's clear is that this service can be self-hosted. For instance, a company would have something like `mycompany.chapter.com` as their instance of this.

I'm still unsure how ElasticSearch would come into the picture since I'm assuming Chapter would be decentralized. Perhaps @QuincyLarson could clarify?

[2019-10-15 04:55] rusye commented on #11
Hey folks,

Names Russ, from Portland, OR.  A bootcamp graduate. I learned the MERN stack and recently started getting involved in open source projects.  I am in the process of learning Postgres. I use meetup.com a lot and thought this would be a great project to contribute towards

[2019-10-15 05:02] kamerk22 commented on #11
Hey, 🙋‍♂️ I'm Kashyap from Ahmedabad, India. I'm full stack developer working with Node.js, React and GraphQL currently.
I'm also having experience in building and running Docker Containers.
I would love to contribute 🎉🎊

[2019-10-15 05:33] shivanshBTW commented on #11
Hi, I am Shivansh from New Delhi, India. I am a frontend developer mainly working on the Resct Stack( ReactJS, Redux, React Native) with TS/JS & I have some experience with NestJS too.

 I have been looking to work in a project like this from quite some time and would love to contribute here

[2019-10-15 05:39] valenber commented on #11
Hi, I'm Valentin from Madrid, Spain. I work with React/Next as well as vanilla web technologies and would love to help with this project.

[2019-10-15 05:40] sinharaksh1t commented on #11
Hello everyone 👋👋
My name is Rakshit Sinha and I'm currently living in Seattle, WA.

I started my first full time job about a year ago working as a React (+ Redux, redux-query, TypeScript, etc) developer. I have recently started to take some backend work in Java trying my best to expand my abilities to go full-stack.

I would love to contribute on the Frontend since I read that we're planning to u

[2019-10-15 05:41] Dhara159 commented on #11
Hii, I am Dhara Vihol from Ahmedabad, India. My tech stack is Vanilla JS, React.js, Node.js, MongoDB. I would love to contribute to this project with my best skills!

[2019-10-15 05:55] domaradzki commented on #11
Hello, I'm Greg, my stack is JavaScript, React, GraphQL and MongoDB. I'm still a beginner but I would like to help.

[2019-10-15 05:58] bernhard-hofmann opened #16 "Add "admin" as a user type"
I think it's important to consider the needs and desires of the people who are going to install and maintain Chapter. I'll start with a few suggestions:

As an admin

- I want easy installation to the cloud or my own server
- I want to easily upgrade or update my instances without losing my data.
- I want to easily control which features are available to my users

[2019-10-15 06:03] QuincyLarson opened #17 "Spiking on the API using Next.js"
Would anyone be interested in attempting to use Next.js to build a rough prototype of this application? I've read a lot of good things about Next.js, but ultimately we will see whether it's a good fit when someone digs into it and builds out some of the core routes.

[2019-10-15 06:11] bernhard-hofmann opened #19 "Add a contributors guide"
Please add guidelines and requirements for contributors.

[2019-10-15 06:12] Tyak99 commented on #11
Hello everyone 😁. I'm Babatunde from Nigeria. I am a Javascript engineer. I work with Javascript, React, Node/Express, PostgreSQL. I've not contributed much to open source. I would like to help on this project as much as I can.

[2019-10-15 06:14] petercrackthecode commented on #11
Hi everyone. I'm Peter Nguyen living in Livermore, California. I am comfortable with Front End development (HTML5, CSS3, Sass, React). Looking forward to contributing the most on this project.

[2019-10-15 06:16] bernhard-hofmann commented on #11
Hi, I'm an old developer still loving learning new things. Long term stack: SQL, C/C++, C#, JS, CSS, HTML. More recently; Vue, golang.

I'm happy if I'm useful. Hoping to be happily involved in this project.

[2019-10-15 06:16] IDTitanium commented on #11
Hi everyone, I am Idris. I write Vue, Laravel/PHP, Express

[2019-10-15 06:20] JKHarley commented on #17
I would be interested in building a prototype with Next.js. I think it would be a good fit with the SSR, routing and code splitting.

[2019-10-15 06:20] bytenaija commented on #11
Hello Everyone, I am Everistus Olumese. I am from Nigeria and currently working with Stears Data as Senior Software Engineer. I am a fullstack JavaScript developer with proficiency in React, Vue.js and Node.js.

I would love the opportunity to contribute to this project.

[2019-10-15 06:21] psyked commented on #17
This aligns with my immediate thoughts about the tech stack so I’d be happy to give it a go. Do you have any high level route / visuals planned?

[2019-10-15 06:24] LukasAnda opened #20 "Feature - Mobile client"
I think we should discuss whether to use full native solution (Kotlin/Swift) or try Flutter for making apps. Personally, I do not think Ionic or other platforms relying on C# or JS are good for this project.

[2019-10-15 06:31] ovieokeh commented on #11
Hi everyone, I'm Ovie Okeh and I work at Andela as a software developer. I mostly work with React, Node (express), Postgres, and everything in-between.

I'm really pumped to be here 😃

[2019-10-15 06:34] vijaykrishnavanshi commented on #11
Hey Everyone! I am Vijay Krishnavanshi, I work with mainly node.js and GraphQL. I can help in designing and implementing backend architecture since we are using these technologies.
Good to see the enthusiasm around the project. :)

[2019-10-15 06:37] FellCode commented on #11
Hey im Felix from Cologne Germany :)

I work as a Full Stack Java Developer with Focus on the Frontend. In my Spare time I’m doing projects including React, Node, Express, MongoDB, GraphQl, JavaScript in General, Python and so on. Looking forward to the project :D

[2019-10-15 06:40] bernhard-hofmann commented on #12
I'd suggest allowing authentication via Google, Facebook, Twitter, etc.

An important aspect of this from a user's perspective is to allow a single user account to be associated with multiple social/oauth accounts. (Both my Google and my Twitter accounts are still just me.)

[2019-10-15 06:49] kaushalgautam commented on #20
Ionic works with react now. I don't know if it's ready for prod yet though. https://ionicframework.com/docs/react/overview

[2019-10-15 06:54] bernhard-hofmann commented on #20
I was hoping the site would be a mobile first PWA. This would mean there's no need for a dedicated mobile app. For example, I'm writing this on my phone without a GitHub app.

What features are you considering that would require a device specific app?

[2019-10-15 06:55] m-abdelwahab commented on #11
Hey, I'm Mahmoud from Cairo, Egypt :)
I'm a 3rd-year Computer Science student and I'm incredibly passionate about Front-end and UX Design. I have experience with the MERN stack and can't wait to contribute to this project.

[2019-10-15 06:56] kaushalgautam commented on #20
I completely agree with going for a PWA.
I mentioned Ionic because you I figured you wanted to go with making native apps using Kotlin/Swift.

[2019-10-15 06:59] dessHub commented on #11
Hello! I'm Desmond a full stack developer from Kenya. I have experience with Node/Express, Vue, React, MongoDb and PostgreSQL.
Excited to be part of this.

[2019-10-15 07:00] KengoWada commented on #11
Hey, I'm Kengo from Kampala, Uganda.
I am a 3rd-year Software Engineering student at Makerere University. I am passionate about backend development and very interested in distributed systems. I have experience with Nodejs, Python, MongoDB and PostgreSQL.
Looking forward to contributing to this project.

[2019-10-15 07:02] BoneCrasher commented on #11
Hello there、
I am Marc、 Freelance Software Engineer from Krefeld/Germany.

My main focus is Computer Game and Graphics Programming w/ C++ amd C# but I am well trained in JS and web APIs as well、 which is why I think I can contribute.

Looking firwsrd to supporting you.

[2019-10-15 07:06] haroldadmin commented on #11
Hello!
I'm Kshitij from Delhi, India. I am primarily an Android developer, but also have experience with NodeJS and Express. I hope I can make meaningful contributions to this project.

[2019-10-15 07:15] bernhard-hofmann commented on #10
The simplest approach by far is to create iCalendar links to allow users to add events to their own calendars and control their own reminders.

https://en.m.wikipedia.org/wiki/ICalendar

[2019-10-15 07:23] Utkarshbhimte commented on #11
Hello world, I'm Utkarsh Bhimte from Bangalore, India. I have been planning to create a meetup alt for a some time. Looking forward to this.

[2019-10-15 07:26] YelloFam commented on #11
Hello friend, Yello here from Stockton CA. I have minimum web dev, but willing to help here. Testing or just building reports not an issue.

[2019-10-15 07:26] jatinhariani commented on #11
Hey everyone, I am Jatin from Mumbai. I have ~10 years of experience in the industry and am currently running a company that offers consultancy services to startups. My preferred tech stack, and the one I have the most experience with is:
Node/Express, Kotlin, Swift, VueJS/Nuxt.
I do have some experience with React as well if that is required.

I will be trying to volunteer in an individual capaci

[2019-10-15 07:39] Wizyma commented on #11
Hello all!
I am André Gomes, i've been working in the  IT field for the last 4 years !
I work mainly with react / node, and do some .net core / java.
Right now i am a Lead Dev at Cdiscount (the french amazon :D !), i work a lot with our new architecture based on microservices and how to make it evolve.

I would love to be part of this, because back then, it was free code camp who taught me a lot,

[2019-10-15 07:40] 3l-d1abl0 commented on #11
Hello Everyone, I'm Sameer from India. I am Fullstack developer. Have industry experience of around 4 years.  Have worked with core Javascript and JQuery for Frontend. Have written Backend Systems in Python, Php and NodeJS.
Looking forward to contribute to this wherever Needed.

[2019-10-15 07:44] ebikandi001 commented on #11
Hello! I am Eneko from the basque country. I am a JavaScript developer with some experience in .Net but my expertise in on the JS stack. I have experience working with Vanilla, Node React and Angular. Would like to help with this.

[2019-10-15 07:50] apoorv-mishra commented on #11
Hi Everyone, I'm Apoorv from India. I primarily work as a backend dev. In past, I've worked with considerable scale and have experience working with Node.js, Postgres, Redis, RabbitMQ and AWS. Would love to contribute in any way I can.

[2019-10-15 07:55] allella commented on #1
Ideas Posted Publicly in the [Discord](https://discordapp.com/channels/633401573002969128/633401573002969132/) between the start of the project and 4AM EST on Oct 15th.

All usernames below are Discord names and may not match Github names.

- @pratikch | idea would be to start small events happening around you based on categories. Allow organizers to publish
- @vundie | My off-the-cuff ideas for h

[2019-10-15 07:59] DavidJacob commented on #11
Hi, I'm David and I'm based in Berlin, Germany.

I've been working in the industry for 6 years. Over that time I've done various things but have the most experience in backend Java development, Linux system administration, Kubernetes, AWS, etc.

I'm currently working part time as a sys admin and I'm working on a personal project using Vue + golang + AWS right now.

This would be the first open sou

[2019-10-15 08:05] allella commented on #11
Volunteer Skills Offered / Mentioned in Publicly Posted [Discord] chatting (https://discordapp.com/channels/633401573002969128/633401573002969132/) between the start of the project and 4AM EST on Oct 15th.

- QuincyLarson | Project Lead Free Code Camp and this new "Chapter" app
- richard | Eventloop organizer (4300 members) | Mexico City
- karen | React & node | Prague
- ken | FP. Haskell, Purescr

[2019-10-15 08:11] MirzaChilman commented on #11
@allella wow awesome, but could you edit me? I'm offering in Frontend development (React)

Thanks in advance

[2019-10-15 08:12] naomiHauret commented on #11
Hi, I'm Naomi :wave: I'm a front-end developer from France. I've been working for the past 2 years with React, React Native, Redux, NextJS, PostCSS/CSS (pure and with frameworks and librairies, from UI Kit like Bootstrap to Atomic libs like TailwindCSS or Tachyons)/CSS Modules/Sass/CSS-in-JS (Emotion, FelaJS and cxs), animations libs like React Spring or AnimeJS,  Storybook/Docz/Fractal for styleg

[2019-10-15 08:15] thomlom commented on #11
Hey there, my name is Thomas, I'm a full-stack developer in Lille, France. I've professional experience in React, Vue and Node.js for 2 years now. I care about testing (Testing Library, Cypress) and UX too.
On my spare time, I write articles on my blog (thomlom.dev) and I contribute to open-source projects.
I can help with both the front-end and the back-end, even the design part if needed.
Thanks

[2019-10-15 08:17] LukasAnda commented on #20
Well first off maybe personal preference because I wanted to help with development and I am an Android developer. Then, I think the native approach is more stable.

[2019-10-15 08:23] aeganaden commented on #11
@allella Great! Is it possible to include me in the list? I could do React.js, Express.js, and Node.js work. Thanks!  🎉

[2019-10-15 08:24] Wizyma commented on #11
@allella could you include me to the list too ?
My main skills are React / Node (im a Tech Lead in at Cdiscount in France :) !)
Thanks  🎉!

[2019-10-15 08:25] jatinhariani commented on #11
@allella just to add to it, I have a decent ammount of experience with Node and even React so can contribute there as well in case there is no immediate need for a Kotlin/Swift thing. - though I would strongly recommend going full native if we are building a serious Meetup Competitor.

[2019-10-15 08:29] jatinhariani commented on #20
Strongly recommend going native, especially if we are serious about building a serious alternative to Meetup. - I have experience building Kotlin and Swift based apps and can offer help for both.

[2019-10-15 08:34] Vuksa commented on #20
I would also prefer going native. We can even go Kotlin multiplatform and share common code and business logic layer between the iOS and Android apps.

[2019-10-15 08:39] elmariachi111 commented on #1
Hey, just copying what I wrote on Discord here. Delete / merge me if you think that's a really bad idea ;) :

I think we're facing a major problem: each effort that relies on some centralized infrastructure will lead towards the next meetup.com again. So while you for sure can improve things, come up with a splendid UX, put everything on Github you'll still end up having to pay server fees for you

[2019-10-15 08:46] Zeko369 commented on #11
React on the frontend and a lot of experience with rails and node on backend, PSQL/Mysql

[2019-10-15 08:48] kaushalgautam commented on #20
Developing native apps will increase the contribution complexity. FCC relies on web tech (JS based- react, angular, what have you) that has easy access and low setup complexity. Especially for Apple devices, those without apple products cannot develop that easily. And as @bernhard-hofmann asked before, how will a native app trump over PWAs in our case? I believe the requirements are simple enough

[2019-10-15 08:48] klodha commented on #11
Hi Everyone,

First of all thanks for the invite @QuincyLarson.

My self is Kirtimaan, working in software development for almost past 12 years. I am from India. My core programming skillset is with backend (PHP, Node JS), though occasionally I code for frontend and mobile apps using Ionic and React Native.

I have successfully architect, code and lead real time multiplayer games, Isometric virtua

[2019-10-15 08:53] Vuksa commented on #20
@kaushalgautam Why do you think there won't be enough mobile devs joining this quest? :)
I don't have anything against PWA, the only thing is most native mobile devs might not be able to provide a full contribution there.

In the end, as Quincy Larson said, we might have multiple mobile app projects and the best one will be selected as default one.

[2019-10-15 08:55] sandeeptengale commented on #11
Hello, I am Sandeep from India. I am working as a backend developer for enterprise applications from past 6 years. I worked on Java, Kotlin, Cassandra, Kafka, Kubernetes, Android, Vert.X, Spring.

[2019-10-15 08:58] klodha commented on #1
A good feature will be to have QR code generation for Lunch, Goodies coupons. That way we can reduce use of paper coupons and vouchers. Those can be generated as QR codes sent to participant's email ids and can be scanned at venue using Chapter's app.

Not only that reduce the cost for organizers, but also make it easier for participants.

[2019-10-15 09:00] kaushalgautam commented on #20
I get your point. @Vuksa. Of course, the best solution should be adopted and I don't underestimate the number of mobile devs that would step up.
That being said, I just don't see a need to go the more difficult, deviated and less accessible way when there is no strict need for it. I have to make a case, the rest is up to the community and maintainers to decide :)

[2019-10-15 09:19] Zeko369 commented on #17
What do you guys think about using Next.js embeded API routes for backend? For a simple prototyping app that seems like a good idea.

[2019-10-15 09:21] 3sanket3 commented on #11
Hi, this is Sanket Patel from India.

Related tech skills : React, Node
Others: TypeScript, Firebase, Angular, .NET
Total Experience: 7 years
Domain related experience: Organizing one of the meetup registered on meetup.com

[2019-10-15 09:21] MirzaChilman commented on #17
You guys can refer to this docs https://nextjs.org/docs#api-routes

[2019-10-15 09:24] komputarist opened #21 "Internationalize the Chapter Application"
This will involve localizing the components of the applicatoin be translation Ready and have support for many international languages. Recommended library for this is React-intl.
For more, see [here](https://github.com/formatjs/react-intl)

[2019-10-15 09:24] ferfabricio commented on #11
Hi folks, I'm Fernando Fabricio from Maringá, Paraná, Brazil. I work with software development since 2003 and I'm founder of a community called DevParaná. DevParaná has 3200 developer and software development enthusiasts on Meetup.com and a project like chapter will fit well in our community.
I have some experience in backend development and will help this project.

[2019-10-15 09:27] espipj commented on #1
An important feature for me is being able to save the event directly into my calendar (on mobile). But I guess that might be v2. I'm happy to help with the development. 😊

[2019-10-15 09:32] Zeko369 commented on #20
We should definitely start with a PWA. But what's wrong with react-native? Do we really need native for this?

[2019-10-15 09:36] keeth commented on #11
Hi I'm Keith from Vancouver, Canada.  I've been coding for almost 20 years, i <3 React, React Native, Next.js, Material UI, GraphQL, Django, Docker.

Excited to see that Next.js is a candidate for the web tier, it's such a great tool.  Let me know how I can help.

[2019-10-15 09:36] komputarist commented on #11
I am Alhassan Atama, I work for eHealthAfrica as a FrontEnd Developer mostly using React. I have over 3 years of Web Development  in HTML, PHP, JavaScript and CSS.
Let me know where I can help

[2019-10-15 09:40] Zeko369 commented on #17
Yeah we were just talking about that in the discord

[2019-10-15 09:46] kelset commented on #20
👋
I would love to help with this - from my experience as an organiser having a mobile app would surely make life easier (ex. you have the tickets & guest lists offline).

I am also proposing that we use React Native for this since:
- it's not a performance heavy use case so no need for full native
- the web client is going to be in React

In particular, I think that [Expo](https://expo.io/) would

[2019-10-15 09:47] espipj commented on #20
As I've read, the front end of the Web is going to be done in React, seems to me sensible build a multiplatform app with React Native, so that we can reuse the components. In terms of the PWA seems like an amazing idea as well (easier to get people in, nothing to install, no store interference), and react native already has react-native-web which provides an "easy" way to implement that. The new T

[2019-10-15 10:01] Zeko369 commented on #16
What do you think about deploy to heroku button? And a docker image for others?
Maybe a DigitalOcean template server?

[2019-10-15 10:17] yakovlevyuri commented on #17
Hey, work with next.js from the very first release, glad to help with it. Using new api routes is a great idea!

[2019-10-15 10:19] keeth commented on #10
I've had good results sending emails with embedded iCalendar too.  So you just send a single confirmation email with embedded iCal when they register for the event, and they can self-manage any reminders.

[2019-10-15 11:05] SeanRParker commented on #20
So long as it has a good web app or at least doesn’t continuously spam users to install another app.

[2019-10-15 11:13] prakashpandey commented on #2
Yet another techstack suggestion!

- Golang for backend
- React for frontend
- Rest over any RPC framework
- Postgres/MySql/Mongodb
- CircleCI for continuous integration

[2019-10-15 11:20] gauravumrani commented on #11
Hi, My name is Gaurav, I am a Full Stack JavaScript Developer. I have been working with Node, Angular, React, TypeScript, MongoDB, SQL, CI, CD etc
Looking forward to contributing to the awesome open source community.

[2019-10-15 11:22] jeremiahlukus opened #23 "Monitoring, logging, alerting, ci/cd, automation of the creation of resources"
These are a few things that I haven’t seen talked about yet. Have these things been considered?

If we can go to a paid option new relic will take care of most of these things if we use a free option There are several good options. We can use terraform to create policies and alerts, as well as the creation of resources (ie: pg clusters, elastic)
If these things have already been hammered out that

[2019-10-15 11:32] igorasilveira commented on #11
Hi :wave: I'm Igor, from Portugal :portugal: and I am a Full Stack JavaScript Developer. I have worked extensively with Node/Express.js, React, PostgreSQL, Laravel, Vue, etc.
Looking forward to the liftoff of this project. :rocket:

[2019-10-15 11:32] jeremiahlukus commented on #23
Also for elastic what is the scope of usage? will there be a need for multiple indexes?

[2019-10-15 11:32] Rahat-ch commented on #11
Hi there, my name is Rahat. I am a Full Stack Developer from NYC. I mainly work with React, Express, Node, and GraohQL. I have experience with MongoDB, Postgres, and DynamoDB. Excited to contribute to this awesome initiative.

[2019-10-15 11:32] espipj commented on #21
I can help with Spanish localization/intl

[2019-10-15 11:38] bhoomijoshi commented on #11
Hello all, I am Bhoomi Joshi from India. I have experience working with frontend (VanillaJS/React) + backend (NodeJS/Laravel-PHP). At present mainly working with Javascript + React echo system and trying my hands at GraphQL. This is going to be my first open source contribution. Checked the finalised tech-stack and would like to contribute for backend + frontend.

[2019-10-15 11:49] Zeko369 opened #24 "Why not TS :'("
Why wouldn't we reconsider dropping TS. For this size I think it would that VS Code (and other editos) tooling with TS outweighs any downsides.

[2019-10-15 11:56] gattigaga commented on #11
Hi guys, my name is Gattigaga Hayyuta Dewa from Indonesia. I work as Fullstack Developer (Laravel and React Native) but want to focus on front end web development especially React.

So, I use React in my spare time to get experience. I was create something like Website, Desktop app and Chrome extension with React. I hope I can contribute to this open source project.

[2019-10-15 12:01] roblack commented on #11
Hi all! I am Emin from Belgrade, Serbia.
I have 10 years of UX/Design/Animation experience and 2 years as an iOS dev. I doubt my coding skills would come in handy, but i am here for anything UX related or anything visual :)
Would love to be a part of this initiative 👍

[2019-10-15 12:07] shangeethsivan commented on #11
Hi all Im Shangeeth Sivan,
Im an Android developer having 3 years of experience working on Android and some web projects. I guess this will be my first official open source contribution. Hope it goes well.

[2019-10-15 12:11] bhoomij commented on #11
Hello all, I am Bhoomi Joshi from India. I have experience working with frontend (VanillaJS/React) + backend (NodeJS/Laravel-PHP). At present mainly working with Javascript + React echo system and trying my hands at GraphQL. This is going to be my first open source contribution. Checked the finalised tech-stack and would like to contribute for backend + frontend.

[2019-10-15 12:11] shangeethsivan commented on #20
I would vote for Flutter if we have enough devs out here who are interested. Else we can go with native(Kotlin/Swift).

[2019-10-15 12:26] PrestonElliott commented on #11
Hi everyone, I'm a software developer from Atlanta, Georgia with a background in React, Redux, VanillaJS, and Ruby on Rails. I have been programming for a little under a year, and I'd love to help with this project!

[2019-10-15 12:32] viniciusalonso commented on #11
Hi everyone, I'm Vinícius Alonso from Brazil and I have been working with software development focused on backend for the last 5 years. I'm gonna happy to help this project writing Nodejs code to backend and also writing a lot of tests.

:heart:  TDD :heart:

[2019-10-15 12:32] PrestonElliott opened #25 "Potential Feature for V1 or V2"
I think it would be beneficial to add a tag id column to the events table and add tags table, so we can add filters for specific tags. For example, if I'm interested in attending meetups for JavaScript, eSports, and hiking, I want to be able to filter all events for these specific tags and return those results.

[2019-10-15 12:39] francocorreasosa commented on #24
Not something we should decide now. The idea is to build an MVP, check if the idea works, and then if we agree we could easily convert the MVP code to TS and continue from there.

[2019-10-15 12:39] Zeko369 commented on #23
Prometheus for monitoring?

[2019-10-15 12:40] francocorreasosa commented on #17
This is definitely a good option to go with.

[2019-10-15 12:56] aviboy2006 commented on #11
Hi Everyone, Myself Avinash from India, I have been working on multiple technology stack like Angular, Python, PHP, HTMl, CSS, Mysql. I have done open source contribution to platform name as Mautic. I worked as full stack developer. 8+Years of experience.

[2019-10-15 12:58] syedsadiqali commented on #11
Hi Everyone, My name is Syed Sadiq ali, I'm from New Delhi, India. I'm currently working as a Software Engineer working on Both front-end with ReactJS, Vue JS, Backbone and many other tech stack along with back-end on node, express, go-lang. I have worked on micro-services as well. I have an experience of 2 years.

[2019-10-15 13:04] bernhard-hofmann commented on #20
I would hope we'll have enough Devs from all camps involved for the tech stack to not be an issue.

My concern is the selection of stack and native vs. PWA before we agree the functionality / requirements.

If we start with an agreement on what we want users to be able to do, we'll be better equipped to make decisions on native vs. web.

That being said, I liked the idea that all client apps shoul

[2019-10-15 13:05] email2vimalraj commented on #11
Hello Everyone, My name is Vimalraj Selvam, currently living in Singapore and working as a Full stack developer lead. I'm passionate about various technologies and have a very good experience in architecting and building products. I've exposure on NodeJS, Golang, React, NextJS, Java and Python.
The reason that I wanted to part of this project is because I had similar line of thought to implement m

[2019-10-15 13:09] bernhard-hofmann commented on #23
@jeremiahlukus Please do go into a little more detail for us non-devops peeps. I'm not familiar with some of the names you mentioned there. Would be good trip know what reach one does and why you'd use it.

[2019-10-15 13:14] SeanRParker commented on #20
This isn’t really a this vs. that issue. MVP a mobile first site and a native app as supported then let users pick what they want, instead of forcing them into one or the other.

[2019-10-15 13:18] maffsojah commented on #11
Hello everyone, I'm **Terry Mafura** from Harare, Zimbabwe. I'm a Systems Developer mainly working on core banking systems but I work with JavaScript, HTML and CSS on my spare time. I'd love to be part of building this project

[2019-10-15 13:18] localjo commented on #1
I agree with @espipj

As a participant, I want to subscribe to a calendar of a) the events I'm attending b) all of the events in a group and c) all of the events in a geographical location

Maybe with some other variations/filters applied too. We could make some sort of API endpoint that returns a calendar format.

[2019-10-15 13:20] adeelibr commented on #1
I would like to help with the dev part of this platform if possible =) the frontend part.

[2019-10-15 13:23] kelset commented on #1
Another feature that from the organiser POV is quite important IMHO is the ability to add custom fields for the "customer" to fill in when obtaining a ticket/signing up for an event.

[2019-10-15 13:23] pabloHoc commented on #11
Hi everyone! Full stack with 6+ years of experience here (React, Node, TS, etc). I'm Pablo, from Argentina. Happy to help building something with a great community like freeCodeCamp :)

[2019-10-15 13:25] lightclient commented on #1
When I first heard the news, I immediately began creating a image in my mind of what I thought a nice MeetUp replacement would look like. I thought I'd share the overall feel of the product I envisioned. I realize it is more radical than what seems to be proposed, but maybe there are some interesting insights to glean.

My ideal event organizer:
* absurdly minimal, yet functional
* no account requ

[2019-10-15 13:31] vaishnavgade commented on #11
Greetings everyone!

I am a frontend developer, experienced in building Enterprise WPF applications.

I've recently learned JavaScript and ReactJS and have been using them ever since.

I would love to contribute to FCC in anyway I possibly can!

[2019-10-15 13:32] runicfox commented on #11
Greetings.  I've been coding for about 15 years now (11 professionally).  I'm currently a Solutions Architect, and have some experience with Node, React (and -Native).

[2019-10-15 13:39] manAbl commented on #6
I would like to take this one when the wireframe is ready :)

[2019-10-15 13:40] gaupoit commented on #11
Hello everyone!

My advantage is Node, React. I am very interested in this project. We need to take action to release MVP soon.

[2019-10-15 13:41] das3in commented on #24
I'd be interested in contributing in a `TS` world - I'm of the opinion that things like type safety speed up development rather than slow them down (catching bugs earlier, not as many tests needed) so I'm not sure why we wouldn't start with TS.

Also the professional world is moving more and more towards Typescript - this project has the potential to be a good reference point for what a good code

[2019-10-15 13:52] mattwelke commented on #24
One thing to keep in mind is that not everyone is using TS yet. By using JS, the codebase can be more approachable by the open source community, even if people who are used to type safety have to give that up.

[2019-10-15 13:55] alassiter opened #28 "Best Practices"
Wanted to throw this in now. I think that once we land on some decisions re: frameworks, we should publish a best practices that this repo wants to follow. It will help people like me who have not contributed to open source yet jump on board and have some clear boundaries. Also, it can morph over time as we discuss changes.

[2019-10-15 14:00] Thiago-Caramelo commented on #11
Hi. I'm a backend developer. I'd love to help with node/express/swagger and work with you guys. I've being developing software for the past 15 years.

[2019-10-15 14:00] Zeko369 commented on #24
Maybe flow?

[2019-10-15 14:02] aleksandarcrvc commented on #11
He my name is Aleksandar and working on Javascript frontend framework React and would like to help you guys. I am developing software for the past 10 years and goes from full stack to frontend role. Working as a Senior Frontend developer

[2019-10-15 14:03] Critchkn commented on #7
I'd Like to work on this when the wireframes are ready

[2019-10-15 14:21] tbass134 commented on #20
I think native is the way to go as well. I work on IOS and looking to help out

[2019-10-15 14:22] Utkarshbhimte commented on #6
Would love to chime in on this

[2019-10-15 14:25] Utkarshbhimte commented on #16
We can also consider render.io as an option

[2019-10-15 14:25] wendelnascimento commented on #11
Hello!

My name is Wendel and I've been developing for the past 8 years. Currently I am the CTO of @shawee-io and I can help with React, Node, SQL, CSS (could help making some animations), Docker and a few other things that I do like to work with.

[2019-10-15 14:27] jasterix commented on #11
Hi everyone, I'm a relatively new full stack developer. Recently learned with rails and react and now learning express. This would be my first open source project, so I'm looking forward to contributing a few hours each week to this project. Would also consider myself a Meetup super user

[2019-10-15 14:32] chrismgonzalez commented on #12
How about this:
- Account & Notifications
    - Accessing an account
       - Social logins/SSO - Github, Facebook, Twitter, Gmail, etc

[2019-10-15 14:32] Utkarshbhimte commented on #1
I think, marking attendance using QR code would be an useful feature. Helps to ensure that only the invited people are being allowed and would be faster than manual checking from a printed paper as I have seen till now.

[2019-10-15 14:33] chrismgonzalez commented on #28
I like this idea - could be added from a link in the contributing guide.  (e.g. Best Practices/Style Guide.md)

[2019-10-15 14:39] uncompiled commented on #23
All of this makes sense if you're providing a managed service, but I was just reading through the readme and it seems like the output of this project (for now) will be a Docker container that you can run on your own infrastructure.

If the goal is to have one-click deployment, I would think that the short term goals would be to create deployment scripts/templates that can deploy this to AWS, Googl

[2019-10-15 14:54] mysticsoulreaper commented on #11
Hi everyone, I am a FullStackDeveloper (Preferably MERN). I am working as a backend developer currently. Looking forward to make some contribution to the project wherever I can.

[2019-10-15 14:56] musghost commented on #11
Hi guys,

I live in the Netherlands. I have strong experience with React/JS/node and also Docker/k8s and sysadmin stuff.

Looking forward to contribute to this project.

[2019-10-15 14:59] Mando75 commented on #11
Hey all, I am a full-stack dev. I have experience with Node/Express/Postgres. I have a bit of experience with React, but mostly do Vue stuff.

[2019-10-15 15:18] mquadrant commented on #28
Make sense.

[2019-10-15 15:33] shovon commented on #24
@Zeko369 Flow seems to be stuck at version 0. My guess is that Facebook has given up on it.

Meanwhile, TypeScript is at version 3.6, with all sorts of neat bells and whistles. Version 3.7 is currently in beta, which introduces optional chaining.

[2019-10-15 15:42] vorpalhex opened #32 "Elasticsearch as a hard requirement"
Currently ES is listed in the tech stack. ES is a great tool and it's absolutely best in class for it's purpose of enabling powerful search, but as someone who has maintained a whole mess of ES clusters, it also comes with a lot of cost and complexity.

ES requires multiple nodes, it's authentication mechanisms are expensive and require enterprise licensing and there are limited SAAS hosts availab

[2019-10-15 15:43] chrismgonzalez commented on #12
Made edits to the above DOCS outline

[2019-10-15 15:44] vorpalhex commented on #24
TS has a lot of overhead, basically requires VSCode which automatically alienates a ton of devs, and leads to a lot of boilerplate writing instead of feature work. It can be helpful to align on models, but there are also tools such as Joi to enable that. That's before we even get to the version issues and additional build complexity of TS.

[2019-10-15 15:44] chrismgonzalez commented on #32
@vorpalhex thanks for your input!  This is definitely feedback to consider when making final decisions on the stack.

[2019-10-15 15:45] acaffeinateddev commented on #11
Hello! I'm Leila, I'm a front end developer (HTML/CSS/some PHP) from Ohio. I'm currently learning JS/Vue and hoping to pick up React. I hope to be able to lend my skills to this project!

Nice to meet y'all!

[2019-10-15 15:46] chrismgonzalez commented on #28
@alassiter I've added this to the thread about the DOCS - see #12

[2019-10-15 15:50] nhsz commented on #24
One of the best features of TS IMHO is that _typing is optional and progressive_. I agree 100% that JS for rapid prototyping is the best option now, we can then just change `.js` extensions to `.ts` to start catching bugs.

Meanwhile, [in VSCode you can turn on type checking for JS](https://code.visualstudio.com/docs/nodejs/working-with-javascript#_type-checking-javascript) enabling `checkJs`

![]

[2019-10-15 15:52] meetKazuki commented on #11
Hello everyone! My name is Desmond. I'm a backend developer from Lagos. I currently work with NodeJS, PostgreSQL. Hoping to assist in any way I can.

[2019-10-15 15:52] khalalw commented on #11
Hello everyone. I am a full-stack engineer, working primarily on the front-end. I am from the SF Bay Area, CA, USA and I'm looking forward to contributing to this project.

[2019-10-15 16:01] Critchkn commented on #11
Hi all!

My name is Andrew and I recently got my first official Front End position about two months ago, but have been learning/working in the industry for a couple years now.

Looking forward to helping the front end team build out this app!

[2019-10-15 16:02] nhsz commented on #28
Also adding formatter/linter like Prettier and StandardJS maybe? Or any other ESLint config

[2019-10-15 16:32] chrismgonzalez commented on #28
I've added it to #12

[2019-10-15 16:48] RA9 commented on #24
Well @zeko369 using `ts` now will slow the process down, given the fact that not everyone knows how to use `ts`.
I will like to suggest that we keep moving with  `js` for now but add something like a style guide that contributors can follow.
Later we could suggest a great resource that teaches `ts` and add it to the prerequisite resources to use while contributing.

[2019-10-15 16:49] kenyasullivan commented on #11
Hi all, I'm from Northern Virginia, US. I have experience with Frontend web development (React), React Native, and currently learning Flutter, but have mostly been working in Security Architecture, DevOps / DevSecOps for AWS and Azure. I would like to contribute in any way possible.

[2019-10-15 16:55] amark commented on #2
@QuincyLarson if you want Chapter to be self-hosted & still synchronize events/accounts between different peers, please consider GUN - it is used in production by HackerNoon and others with millions of users and is Free & Open Source.

Every user/browser will also help host Chapter. What this also means is that a user account is not "tied" to a particular server, that same account can be re-used a

[2019-10-15 16:56] akshayr96 commented on #11
Hello! I'm Akshay from Chennai, India. I do React, Redux, Node and Go. Exited and looking forward to contribute. Cheers!

[2019-10-15 16:59] viniciustodesco commented on #23
Why not VSTS ? we can make practically everything there CI/CD ...
https://azure.microsoft.com/pt-br/services/devops/

[2019-10-15 17:00] ATechAdventurer commented on #11
Hi I'm Cameron, I am a software engineer in Dallas Texas I am the president of my Universities Makerspace and I lead internal software development/DevOps there. I do a lot of Javascript. Mostly React and Node.

[2019-10-15 17:00] mesthabro commented on #11
Hey there, I'm from India, I can assist with React/React-native/Nodejs/Expressjs/clusters/. On top of this I can help with pentesting

[2019-10-15 17:00] nsharma1396 commented on #11
Hi everyone,

My name is Neeraj and I am from India. I have been working on front-end development (React) since around last couple of years and have learnt a lot from my experience. I have also worked a bit on Node. There's one thing I have been willing to do from a long time, i.e., open source contribution, but have been unable to do it on numerous occasions due to feeling a bit too overwhelmed a

[2019-10-15 17:02] huynhicode commented on #11
Hi, I'm Steph.  I am a web developer and designer.  I am happy to help with anything to start.

[2019-10-15 17:06] chipironcin commented on #11
Hi everyone!
My name is Jorge, typing from Bristol, UK.
I work as an advanced software engineer and I can help with the following:

- API / Database design
- Documentation
- HTML5 / CSS3
- Javascript backend
- Golang backend
- Shell scripting (building scripts, CI/CD)
- Docker

[2019-10-15 17:09] BMonsalvatge commented on #11
Hey everyone,

My name is Bryan and I am a DevOps engineer in Orlando, Florida.  Would be happy to help with the tooling / process of getting this deployed onto Cloud (or local) environments, as my time permits.

[2019-10-15 17:10] panzerstadt opened #33 "Discovery and Searching Across Collective Instances"
Forgive me if it has been answered somewhere, but I can’t seem to find it, but how are we going to link these meetup.com-in-a-boxes together to find events across different interests and organizations?

An aggregator microservice?
A directory page like github /awesome?
An elasticsearch server hosted by freecodecamp powered by donations?

The reason why meetup.com succeeds is because of network eff

[2019-10-15 17:14] HunterMeyer commented on #11
Hi everyone! I'm Hunter from Florida, USA.

I've been a professional software developer for over 5 years.

I'd like to help anyway that I may, including:
- API design
- Postgresql database
- Ruby on Rails, Node backend
- Vue, React, React-Native front end

Looking forward to digging in and building something great!

[2019-10-15 17:17] haydmills commented on #11
Hey! Hayden here from Indianapolis, IN, USA. I am a full-time UX/Product Designer. Willing to help design some screens/help think through the user experience for Chapter. Also, love doing user research (user testing, user interviews, etc). Look forward to seeing this product take shape :)

[2019-10-15 17:19] Abott1222 commented on #23
I vote elastic stack for reporting and monitering

[2019-10-15 17:22] panzerstadt commented on #33
Actually, I’d like to float an idea.

- there is a github repo/machine-readable list (like a csv or even a properly formatted readme) that all chapters can apply to be in (like /awesome repos), with their url.
- each instance of chapter (wherever it is hosted) exposes an endpoint that other instances can query for a list of events they have
- users who search will trigger queries to all running ch

[2019-10-15 17:26] viniarruda commented on #5
The palette is nice, but what do you think about use the shades of green or light green to combine with fcc?

[2019-10-15 17:26] portenez commented on #11
Hi, I'm Vic Garcia. @portenez almost everywhere. I live in NYC and have been working as a software developer for 10+ years.

I worked for Ticketmaster and now for Bloomberg.

Relevant skills:

- React
- NodeJs
- Graphql
- Express, Koa
- Javascript in general (both frontend + backend).
- AWS
- GitLab

My personal site is [vgarcia.dev](https://vgarcia.dev). Built with gatsby + react + styled compone

[2019-10-15 17:26] bhoomij opened #34 "Frontend libs"
As per finalised tech stack frontend will be "React using JavaScript (not TypeScript) and CSS (not Sass)"

Would like to discuss on which packages/libraries are best suited with react echo system ?

Will use any boilerplate ?
1. create-react-app
2. https://github.com/react-boilerplate/react-boilerplate

These two almost provides readymade support for transpiring and bundling and makes app producti

[2019-10-15 17:31] allella commented on #20
If someone is looking to attract more of the folks with the related skills for this feature then we've been logging the various skills from people in the Discord channel.  Also, folks are posting directly on the Github thread.

So, see the list of volunteers and skills at https://github.com/freeCodeCamp/chapter/issues/11#issuecomment-542309409
and try to connect with them as needed.

[2019-10-15 17:33] allella commented on #5
If someone is looking to attract more of the UX folks with the related skills for this feature then we've been logging the various skills from people in the Discord channel.  Also, folks are posting directly on the Github thread.

So, see the list of volunteers and skills at search for "UX" or related terms. The page is long so you may need to un-collapse some parts of the thread.

https://github.

[2019-10-15 17:34] Vanethos commented on #11
Hello everyone! I'm Gonçalo Palma, a Flutter Developer from Portugal, and I have been working in mobile development for almost 3 years.

Currently I'm working in Flutter full-time and helping to manage out in two Flutter open-source apps:

https://github.com/FogosPT/fogosmobile
https://github.com/FlutterPortugal/vost-app

My personal website is gpalma.pt

[2019-10-15 17:35] allella commented on #23
If someone is looking to attract more of the CI folks with the related skills for this feature then we've been logging the various skills from people in the Discord channel.  Also, folks are posting directly on the Github thread.

So, see the list of volunteers and skills at search for "circleci" and related terms. The page is long so you may need to un-collapse some parts of the thread.

https://

[2019-10-15 17:38] shivaprabhu opened #35 "Howdy folks!"
Fullstack dev. from Bangalore, India. Work on React, Postgres, Node, dangling a bit with Docker, K8s, Monitoring lately. Hope to contribute and learn. Godspeed!

[2019-10-15 17:39] #35 closed

[2019-10-15 17:39] allella commented on #9
If someone is looking to attract more folks with the related skills for this feature then we've been logging the various skills from people in the Discord channel.  Also, folks are posting directly on the [Github thread](https://github.com/freeCodeCamp/chapter/issues/11#issuecomment-542309409).

So, see the list of volunteers and skills at search for the related terms / tools / stacks.

https://gi

[2019-10-15 17:40] shivaprabhu commented on #11
Howdy folks!
Fullstack dev. from Bangalore, India. Work on React, Postgres, Node, dangling a bit with Docker, K8s, Monitoring lately. Hope to contribute and learn. Godspeed!

[2019-10-15 17:41] mrrcollins opened #36 "Feature Dev - RSS feeds"
RSS feeds would be invaluable, especially if they could be constructed from tags or categories. So I could subscribe to all of the events, or just events tagged with php. This could also be used to feed other Chapter sites.

[2019-10-15 17:42] patcito commented on #1
It looks like this has already all the features you're looking for, including federation https://joinmobilizon.org/en/

[2019-10-15 17:46] Abott1222 commented on #9
@allella I think discord is more for chatting while anyone can just post their interest on each feature as we have been doing

[2019-10-15 17:47] ostefani commented on #11
Hi, I am a JS developer. I have experience with React.js, also I have a little bit of experience with Node.js and MongoDB.

[2019-10-15 17:52] allella commented on #25
@PrestonElliott Would you mind posting this on https://github.com/freeCodeCamp/chapter/issues/1

and closing this issue? That should keep the conversation on v2 features more consolidated.

[2019-10-15 17:54] viniciustodesco commented on #11
Hello! I'm Vinicius Todesco, full-stack developer from Brazil and have been a developer for for almost 7 years.

Relevant skills:

- Nodejs
- Angular/React
- Devops (CricleCi/AzureDevops/AWS)
- Docker
- Ionic
- .NetCore
- Kubernetes
- MSSQL/Mysql/Postgre/Mongodb

[2019-10-15 17:57] danidz96 commented on #11
Hello ! My name is Dani, based in Barcelona, Spain.

I am a full-time React developer over the past year. Since I started developing, I have wanted to contribute to some open source project. And I want to take this opportunity to start collaborating.

Relevant skills:

- React JS
- Redux
- Nodejs
- Express
- MongoDB

[2019-10-15 17:57] allella commented on #9
@Abott1222 the point is there are people offering specific skills. A lead for topics like this can/should pull those people into Github.

[2019-10-15 18:00] allella commented on #9
For instance, the list includes

Abott1222 | Fullstack T-Mobile, Schema, circleci, Jenkins, swagger, elastic stack, redux, mastadon | Seattle

[2019-10-15 18:02] PrestonElliott commented on #1
I think it would be beneficial to add a tag id column to the events table and add tags table, so we can add filters for specific tags. For example, if I'm interested in attending meetups for JavaScript, eSports, and hiking, I want to be able to filter all events for these specific tags and return those results.

[2019-10-15 18:03] PrestonElliott commented on #25
@allella absolutely, I'll close it out now!

[2019-10-15 18:03] #25 closed

[2019-10-15 18:04] Utkarshbhimte commented on #34
Given the requirement, I think a server side rendered app would be more beneficial for SEO

[2019-10-15 18:05] kognise commented on #1
Bringing some things in from Discord:

Some method of discovering new groups would be super valuable. One way of achieving this could be pods pushing events to a centralized location via some sort of feed. Each pod could also replicate events/groups across all pods - I'm not very familiar with decentralized architectures so I'm not sure how feasible these are.

A big pro of Meetup from the perspec

[2019-10-15 18:07] allella commented on #2
Not my thread, but TypeScript folks are saying things at
https://github.com/freeCodeCamp/chapter/issues/24

[2019-10-15 18:11] chrismgonzalez commented on #19
I'm happy to lead the charge on this, but we definitely need to get a 0.1.0 version of this out in the open at least in its most basic form.  I propose we take the FCC main repo guide and skim it down to feet the needs of this repo.

[2019-10-15 18:18] mikedotJS commented on #11
Hello everyone, i'm Mike from Montreuil, France.

I'm a Fullstack JS developer for almost three years now. I mainly work with React / Redux, Node, Express and MongoDB. I'm hyped by every open alternatives so i'm in!

[2019-10-15 18:22] henrymoulton commented on #20
I agree with the decision to focus on web first and let it be a free for all on which platform to build the mobile app in:

We have a lot of choice in the landscape:
- Native iOS (ObjC/Swift) + Native Android (Java/Kotlin) + DOM for Web
- Flutter (Dart) with [experimental Web support](https://flutter.dev/web)
- React Native (JS/TS) with "experimental" Web support via React Native Web (how producti

[2019-10-15 18:23] JamesBender commented on #11
Hi, I'm James.

I'm from Ohio, but living in London. I have a ton of .NET experience but have pivoted to React and Node/Express over the past few years, and done several projects on that stack.

I'm a freelancer, so I'll be working on this as much as I can when I'm between projects (as I am now).

[2019-10-15 18:23] agm-dev commented on #11
Hi! I'm Adrián from Madrid, Spain.

I'm a Full Stack developer, focused on Javascript stack, so I guess I can help with this project 😃.

I have some experience working with some of the choosen tech stack:

- Nodejs
- Express
- React
- Docker

[2019-10-15 18:27] espipj commented on #11
I'm Pablo,

I'm a fullstack dev, I'm mainly focused on:

- PHP
- JS
- Express
- React Native
- Mongo
- Vue.js

[2019-10-15 18:41] TendaiMare commented on #11
Hi everyone my name is Tendai Mare. I live in Durban South Africa.  I am a beginner on  FreeCodeCamp and Web Development but I am looking to help wherever I can. I have been more into coding desktop apps with C# but I am now moving more into We Applications Development so I am really looking forward to be a part of this project

[2019-10-15 18:48] kpgalligan commented on #20
[Kotlin Multiplatform](https://dev.to/benwhitley/two-apps-in-less-than-five-minutes-with-kotlin-multiplatform-1gm1), but I'm super biased.

[2019-10-15 18:49] nik-john commented on #11
Hi,
 My name is Nikhil and I work out of the SF Bay Area and have ~**9 years** of Javascript experience both on the server side (**NodeJS**, **Express**) and frontend (mostly **ReactJS** and **NextJS**). I've been working a lot on **NextJS** recently and see that there's a plan to use Next in Chapter and would love to contribute!

[2019-10-15 18:53] ryandudek commented on #5
I'm not against this, but there was talk about this being a completely separate entity from FCC, so I'd say that we may not need to follow the same palette. I'm open to whatever - actually think that maybe this should be more of a decision for @QuincyLarson to be involved in...

[2019-10-15 18:57] nik-john commented on #17
So I just created an app with sample API routes on Next for a project I'm working on - I can provide a sample repo for anyone who wants to take a look - is there a Discord channel for frontend where I can post the repo deets?

[2019-10-15 18:58] dannydi12 commented on #1
This won't be accessible to the regular consumer. Additionally, this will result in millions of splintered communities with no centralized site to search for **all** events.

If you're worried about hosting costs, I recommend a kickstarter and imploring the community to give back. If worst comes to worst, I'd be wiling to host.

[2019-10-15 19:03] nik-john commented on #17
Is anyone else currently working to create the spike? I can spin it up in a few hours if no one else is - will fork the repo and drop a note here when done

[2019-10-15 19:04] peterdraffen commented on #11
Hi,

My name is Pedro and I'm from Rio de Janeiro, Brazil. I have been a developer for 15+ years, mostly with Java on the backend and angular on the frontend. Looking forward to be a part of this project!!

[2019-10-15 19:05] vaibhavsingh97 commented on #11
Hi, I'm Vaibhav, a full stack developer from Mumbai, India. I work with React/Gatsby, Javascript, Python, Golang, AWS, Docker, Kubernetes.

[2019-10-15 19:05] karankiri commented on #11
Hi,
I am karan. I am Software Engineer from Mumbai, India with experience of 2+ years. I work on React, Node and Express. Currently I'm learning gatsby and graphql. Would love to contribute to this project.

[2019-10-15 19:09] jackbravo commented on #32
Here are a couple of good articles on postgres and search:

- [Postgres full-text search is Good Enough!](http://rachbelaid.com/postgres-full-text-search-is-good-enough/)
- [Faceted search with postgres using tsvector](https://roamanalytics.com/2019/04/16/faceted-search-with-postgres-using-tsvector/)

[2019-10-15 19:11] shehbazjafri commented on #11
Hello!
I'm Shehbaz Jafri, a JS developer & recent grad from India.
Relevant skills:
- React, Gatsby
- Nodejs
- Express
- HTML5 / CSS3

[2019-10-15 19:13] geekysrm commented on #11
Hello everyone!
I am Soumya Ranjan Mohanty from Bangalore, India. Have web dev experience of nearly 2 years in React, Redux, Next.js, GraphQL, Node.js.
Learnt a whole lot from FCC.
Would love to contribute back to the community.

[2019-10-15 19:16] nik-john commented on #17
@QuincyLarson Would this be the API structure we will be looking at more or less?

[code]

[2019-10-15 19:19] mmiszy commented on #24
I think there's a common misconception that TS slows the process down. It's quite the opposite, actually.

First of all, TypeScript allows prototyping as fast as JS, maybe even faster. There's almost no overhead in terms of code and there's much less mental overhead, which seems to be what slows projects down the most as they grow. Users don't have to _know_ or _remember_ things about the code bec

[2019-10-15 19:20] iPwnPancakes commented on #11
Wuddup!
My name is Daniel Buenrrostro! Im from Midland, TX. I've worked with a couple of different stacks: GRAND, MERN, MySQL/Laravel/Vue, Mongo/Meteor/React.

Looking forward to dropping code!

[2019-10-15 19:23] Zeko369 commented on #34
@Utkarshbhimte We already said that Next will be used, so create next app?

[2019-10-15 19:25] Zeko369 commented on #34
Also IMO if we use Redux we should use ReduxThunk because it's easier to get into for people who havent working with it in the past, and is generally more widely used lib

[2019-10-15 19:27] iPwnPancakes commented on #36
This might aid in what was asked in #33

[2019-10-15 19:32] LuisPinedaJR commented on #11
FREECODECAMP! Hi! My name is Luis Pineda from Tampa, FL. I’m looking forward to contributing to Something that’s for everyone and FREE!

My skills:
- HTML
- CSS
- Javascript/ React/ Gatsby
- GraphQL
- NodeJS/ Express
- Ruby on Rails
- SQL/ PostgreSQL

[2019-10-15 19:35] disjfa commented on #11
Hi there, disjfa here. I like to build stuff. My personal stuff is on my github page so you can check it out.

[2019-10-15 19:35] mmiszy commented on #21
It's also officially supported by Next.js so it looks like a great choice: https://github.com/zeit/next.js/tree/canary/examples/with-react-intl

[2019-10-15 19:38] mmiszy commented on #17
Looks good to me.
Just one question: In which scenario would we use `user_groups` endpoint?

About Next.js in general: I've been using it for over a year now with TypeScript and Redux and it seems like the best choice for this kind of application.

[2019-10-15 19:41] Zeko369 commented on #17
Why did you just create CRUD rest endpoints for everyying?
`user_groups` and `event_sponsors` are many to many relations (so just dummy tables), we don't need to manually create those

[2019-10-15 19:41] vijulp commented on #11
Hello everyone, Vijul here from Canada! I work with AWS services (primarily on the infrastructure side) for a living. Would love to contribute to this project in whatever way I can. Although I don't code on a daily basis, I am primarily focused on infrastructure as code as well as Security.

[2019-10-15 19:42] Zeko369 commented on #17
Also IMO we should use something similar to how rails handles nested routes and not to have a lot of top level routes.
For example nest RSVPS into events `api/v1/events/:eventID/rsvps`

[2019-10-15 19:47] timi-codes commented on #11
Hi, I'm Timi, I'm a frontend developer from Lagos, Nigeria with keen eyes for design and web usability and accessibility. I look forward to contributing to this amazing project.

[2019-10-15 19:51] nik-john commented on #17
@Zeko369 I just took the existing tables and created CRUD end points for everything so that we would have a _first draft_ to start working off of. I am hoping to make this a working document so we can keep editing this.

We can rip out/add as many end points as we want, as per group consensus.  please do provide a consolidated list of edits you want and I'll make the changes.

PS: I'm open to sugg

[2019-10-15 19:51] ScottBrenner commented on #11
Hello, world! 👋
Interested in helping out with the "DevOps"-side of things, like some GitHub Actions workflows once things kick off.

[2019-10-15 19:54] kognise opened #40 "Shared Profile Data & Auth Across Organizations"
From a UX perspective, we probably want to make the experience for users who just want to RSVP to events as streamlined and possible. One thing that imo should be considered is user account management. With the current design, users have to create and manage separate accounts across all Chapter instances they're signed up to. This could get tedious.

I think we should have a conversation about pos

[2019-10-15 19:55] kognise commented on #33
#40 is along these lines as well, just want to link these up

[2019-10-15 19:56] AntonioErdeljac commented on #40
https://blockstack.org/ Might be good for this. See how it is implemented in this project (Found on ProductHunt a while ago)

https://arcaneoffice.com/

[2019-10-15 19:57] paulywill commented on #1
For my past study group meetings and even for Toastmaster meetings we like to update "**Minutes an/or Notes**" for everything that happened for those that missed the event.

It would be nice to do a simple Timeline feature for this.

![image](https://user-images.githubusercontent.com/602422/66864936-3ff06d00-ef64-11e9-859a-c3d20fb29c72.png)

Might look like a Developer Story feature from Stackover

[2019-10-15 19:58] kognise commented on #40
@AntonioErdeljac BlockStack looks great, but it seems like users would have to create an account with them first. This might not be a very good experience, especially for users who are less technical.

But definitely something to consider.

[2019-10-15 20:01] mmiszy commented on #11
Hello! My name is Michal, I'm from Poland and I've been working remotely with international teams for the past 5 years.
I'm a **full-stack** developer specializing in **TypeScript** and JavaScript but I also use other languages such as golang, Scala or ReasonML. I work on  the frontend (mostly with **React and Next.js** but I also had Angular and AngularJS experience in the past) and backend (most

[2019-10-15 20:04] kognise commented on #17
Routes look awesome! Although we might want to switch around the auth-related ones, see #40

[2019-10-15 20:14] paulywill commented on #11
Paul from Barrie, Ontario Canada.

Web dev dabbler (front-end/back-end). FCC moderator from time to time.

Organizer for fcc study group that was using meetup.com and assist with local Toastmasters clubs, which I'm in the process of updating their static sites.

Love JavaScript, python, AWS, and any and all automation.

[2019-10-15 20:15] klgh commented on #11
Hi! I'm Kaleigh and I live in Atlanta. I've been making websites for well over 10 years! I'm a front-end web developer and this year I've mostly worked with Angular, React, Gatsby, Sass, Drupal and Wordpress. I really love styling so I would love to help with that or anything else front-end related.

[2019-10-15 20:15] alinaalam commented on #11
Hi Everyone :)
My name is Alina and I have been coding for 4 years. I am a backend developer and I am currently working on <Java 8, Spark, Kafka and ES>. I have also worked on front end projects and created server side for various websites. I am currently working in Berlin as a Senior Software Engineer. I would love to be a part of this initiative and help in anyway I can :)

[2019-10-15 20:23] bernhard-hofmann commented on #17
I'll add my thoughts for what they're worth.

The end points should be designed to fit the needs of the application. The underlying tables shouldn't be the basis of the API.

[2019-10-15 20:25] mmiszy commented on #40
https://auth0.com seems like a good alternative, at least for the MVP

[2019-10-15 20:26] nik-john commented on #17
@bernhard-hofmann Agreed. Like I mentioned

We can rip out/add as many end points as we want, as per group consensus. please do provide a consolidated list of edits you want and I'll make the changes.

Could you provide your thoughts on what the routes should be?

[2019-10-15 20:26] brianrichins commented on #20
I did a ton of research on the technical and market aspects of PWAs a few months ago ([slide deck](https://slides.com/brianrichins/pwa), [video](https://www.youtube.com/watch?v=mV9CAvM9-fA)) - I think they are always an easy way to add a lot of power, since they basically only require adding a `web.manifest` and a service worker.

I would vote for adding the PWA features to the MVP web version, wh

[2019-10-15 20:27] emiliolopez95 commented on #11
Hello, I am Emilio from Ecuador. I am working on React, TypeScript and Docker projects. It would be awesome to help build this project!

[2019-10-15 20:27] portenez commented on #32
I'm sure people know, but to be explicit you can buy ES as a service from AWS. This way you pay with money, not with work:
https://aws.amazon.com/elasticsearch-service/

[2019-10-15 20:31] bernhard-hofmann commented on #17
The problem with starting with this long list is that we have to remove what's not needed. It's easy to miss something and leave endpoints we don't need. (YAGNI)

Let's review what the app needs and create (or keep) only the endpoints needed to satisfy each requirement.

[2019-10-15 20:35] brianrichins commented on #10
Push notifications are a great way to engage users, I think it'd be a valuable feature. PWAs can support push, and they also can be smart enough to not ask for permissions until there's a reasonable expectation the user will accept. The fact that [most sites throw it in your face on the first visit](https://2018.bloomca.me) is just bad UX implementation.

[2019-10-15 20:37] kognise commented on #40
Not very well-thought-out auth solution idea:

- User signs up to a Chapter instance with their email/password
- That instance gives them an id, like user@chapter.blah.com
- When the user wants to log into a different instance, they just enter their id
- They're redirected to a page on the Chapter instance they originally signed up on and then redirected back once once they enter their password

O

[2019-10-15 20:37] mmiszy commented on #17
There are a few scenarios written. We could start from them, analyse the use cases and then design the API routes.

[2019-10-15 20:39] kognise commented on #40
@mmiszy Auth0 is still very much centralized, and to solve the problems I mentioned freeCodeCamp would have to give out Auth0 creds which isn't a very good plan.

[2019-10-15 20:40] kognise commented on #40
Things we can learn from:

- Solid/BlockStack
- Stack Exchange
- Mastodon

[2019-10-15 20:41] mmiszy commented on #40
We could design the API so that employing a third-party SSO server is just a configuration change. Then it would be irrelevant which SSO provider is used or if FCC/Chapter deploys their own SSO in the future.

I believe the goal of the MVP should be to build a single working instance.

[2019-10-15 20:43] kognise commented on #40
@mmiszy Agreed. I just wanted to bring this up now because it is definitely something we should consider in the long run.

[2019-10-15 20:43] ThiagoDella commented on #11
Hey guys, I'm Thiago. I'm currently based in Munich working as a Fullstack Dev.

Relevant skills:
- Node
- Express
- React
- Vue
- React Native
- MongoDB
- SQL
- HTML/CSS
- Python

[2019-10-15 20:46] kpgalligan commented on #20
PWA's solve a non-problem, which is distribution. If the goal was a web MVP, I'd just go directly to wrapping the web code for a hybrid app, or later worrying about PWA, but not complicate the development now. MVP first, refactor later. I run a mobile shop, though, so my perspective may not be applicable.

[2019-10-15 20:47] bernhard-hofmann commented on #40
Hopefully we'll spare users the need to create an account with a username and password. I'd rather smh experience along these lines:

1. Visit the site
2. Decide to join up/register
3. Have the option to create an account through email (sent an email link to create a user account) or a social provider (Twitter, GitHub, ...)

Critical for me, is that users can sign up without having to create a new

[2019-10-15 21:10] kognise commented on #40
@bernhard-hofmann 100% agreed!!! I'm trying to brainstorm what the trusted entity _is_.

[2019-10-15 21:12] Dletta commented on #40
Github.com/amark/gun us a decentralized DB that has a decentralized user system. It wouldn’t matter what instance you signed up from, as user data is encrypted and can be shared between instances.

[2019-10-15 21:15] ScottBrenner commented on #32
Here's a fun read on Amazon Elasticsearch - [AWS Elasticsearch: a fundamentally-flawed offering](https://old.reddit.com/r/aws/comments/dhpzy0/aws_elasticsearch_a_fundamentallyflawed_offering/)

[2019-10-15 21:15] kognise commented on #40
@Dletta Gun looks very interesting, I think this is a definite possibility for Chapter!

[2019-10-15 21:17] nik-john commented on #17
**As a future participant**

- I can use a search box on the landing page to input a city, state, or country name and it will autocomplete. I can click one of those locations.

`GET api/v1/locations?city=sfo&country=usa`

- When I click one of those locations, I can see the "show view" for that event's group, with details about the upcoming event, along with a button to RSVP.

`GET api/v1/location

[2019-10-15 21:17] Dletta commented on #40
@Kognise, I have used it on a few hobby projects and the decentralized/ federated reddit clone notabug.io is using the technology to power it.

[2019-10-15 21:17] davidlaffan commented on #11
David, second year CompSci student in Scotland.

Knows well: Java, SQL
Knows a bit about: HTML, Python, JS, CSS
Knows barely anything: PHP

I also know a small bit of (European) Spanish so wouldn't mind working on that for the project. I also want to get round to learning Russian so maybe if I had a motivation I would learn!

[2019-10-15 21:22] Zeko369 commented on #17
"I can email the entire list of participants."
`POST api/v1/events/:eventId/email`

Also I would namespace all event routes with group
`api/v1/group/:groupId/event...`

[2019-10-15 21:56] lorenanicole commented on #1
I'm noticing some missing info around community safety and accessibility themes such as ...

- As an event attendee, I can specify my pronouns.
- As an organizer, I can bootstrap my community with a code of conduct.

[2019-10-15 21:59] nik-john commented on #17
@Zeko369 Agreed with both

[2019-10-15 22:01] lorenanicole commented on #11
Hiya friends 👋 !

I'm a seasoned organizer of many event types and spaces. Most recently however I'm a community organizer for PyLadies Chicago and found my way here through the Twitter-sphere!

I'm a big data nerd, love Star Trek, and do lots of things in Python and with GitHub. You can find me at lorenamesa.com or on twitter at @loooorenanicole.

Enjoy!

[2019-10-15 22:02] davidlaffan commented on #1
We could also do things like have on an event "Do not publish attendees", because one thing I learned from Facebook was that my parents would find out about events I said I was going to, but did not want my parents to find out about. This could be done on both the attendee and the event side.

[2019-10-15 22:02] nik-john commented on #17
I'm in the process of creating an open API spec so we can have official docs

[2019-10-15 22:06] lorenanicole commented on #1
@davidlaffan loving that idea of having a *very clear data usage policy* hah. Or just a way to say "never share my email". I will admit as an organizer I do find sharing emails with the organizer good for communication though, also if you opt to mover your community else where you kinda need that info. Else you loose all that time and effort you put into building the community ... but yes a granul

[2019-10-15 22:14] timrodz commented on #40
I recently joined [DEV](https://dev.to/) and their login system works through Twitter/Github.

Of course, this is not the easiest idea, but using an external media service could help us authenticate these users and not worry so much about possible spam from just being able to RVSP without an account.

Some form of auth -even if basic- is important.

[2019-10-15 22:15] cameronsr commented on #33
Referencing this, #36 and #40 , would it be possible/make sense for people to be able to volunteer to host a local server for the purposes of regional aggregation? The idea being that if part of the network goes down, there's still local backup? This could be useful for more rural areas.

[2019-10-15 22:15] davidlaffan commented on #1
@lorenanicole Ah no, I just mean not to display it visibly that you were going to the public

[2019-10-15 22:22] cameronsr commented on #1
Random comment/question -
- There were some early posts in the Discord about paying for/running the service. Some of the general thought was that anyone who was already paying a subscription fee to Meetup could probably pay for running their own server at ~$20/month.
- That being said, would it make sense to allow for API hookins for donations to a specific Chapter instance by the kind of event/co

[2019-10-15 22:22] davidlaffan commented on #1
@lorenanicole *that you were going publicly. Apologies it's 23:00 right now

[2019-10-15 22:25] martindavid commented on #24
Agree with @mmiszy. I think people just misunderstanding TS all of this time. In the place I'm working now, people also hesitant to move to Typescript. They already happy with `Flow` being the safety check for our codebase, but there are lot of things that TS can do better than a static type check library.

And also I'd say, transition from JS to TS is not as painful as other would thing, you can

[2019-10-15 22:26] mmiszy commented on #1
Love your suggestions @lorenanicole!

Are we assuming accessibility (a11y) is obvious, or should we point it out explicitly?
Let me start:

- the app should pass the WCAG contrast test
- it should be possible to navigate through the app using only a keyboard
- it all boils down to the fact the app should comply with all the [WCAG 2.1 AAA criteria](http://www.w3.org/WAI/WCAG21/quickref/)

[2019-10-15 22:30] cameronsr commented on #20
Question having worked on the hardware side of mobile, but not the app side. How bandwidth intensive do you believe this may be? Thinking from a standpoint of if we want to get this everywhere eventually, not all potential users will have access to 4G or 5G networks. Would there be a feasible way to test/optimize a mobile app for lower bandwidth availability?

[2019-10-15 22:35] pabloHoc commented on #34
Are we going to use some UI library? If so, I'd like to propose [Chakra-UI](https://chakra-ui.com/), it's a really simple and composable component library crafted  with accesibility in mind and uses [emotion](https://emotion.sh/docs/introduction) and [Styled System](https://styled-system.com). It's also OS.

[2019-10-15 22:35] allella commented on #19
Can we add this as a note to https://github.com/freeCodeCamp/chapter/issues/12 and close this, since this seems to be a bulletpoint of what's already there?

[2019-10-15 22:36] mmiszy commented on #40
DEV works great, but the difference between DEV and Chapter is that Chapter is supposed to be completely decentralized (anyone can spin up their own instance).

[2019-10-15 22:39] allella commented on #28
What's up @alassiter.  @chrismgonzalez  said he added this to #12 so how about we close this thread and post a summary or ant additional thoughts on that broader Docs thread?

[2019-10-15 22:45] timrodz opened #44 "Discussion: Analytics & Tracking"
Hi all, as a Data Engineer, I believe Analytics are important to optimising and improving the features of any app - Even if it's open source. For this instance, I'd like to start discussing the possibility of adding these after an MVP has been implemented.

To protect the safety and privacy of our users, we will not gather personal data: IP Addresses, Latitude/Longitudes, etc.

We could tracking t

[2019-10-15 22:47] tesla809 commented on #40
Thoughts:
For back end:
Either using Blockstack for IDs. Can have Radix mongoDB server host things
Or use libp2p for peer to peer routing protocols to create a website where the clients are also the servers. They have a JS implementation.
For databases, OrbitDB is a decentralized database built on top of IPFS.

Front end:
Probably React. No opinions there.

Thoughts?

[2019-10-15 22:51] jaitjacob commented on #11
Hello everyone! My name is Jait and I am from Melbourne, Australia.
I have been coding for 2 years now. Lately, I have been focused on building web apps using Django. Along with this I also am involved with automated testing using Katalon Studio in a professional setting! Looking forward to working on this with you all.

[2019-10-15 22:52] Cheukting commented on #44
Hello data people! As a data scientist, I have the same question. I think one reason why meetup was so powerful is its ability to suggest people to other groups and events in the same city. Therefore some recommendation function would be great! To achieve we need to somehow have a maybe centralize user data storage. I hope this will not contradict the idea which most of the people involved in this

[2019-10-15 22:54] allella commented on #35
If you can post this on #11 then that's the best place for this info so it doesn't get lost.

[2019-10-15 22:56] aeganaden commented on #34
For UI Library, i would like to suggest [React Ant Design](https://ant.design/). It has a rich set of components ready to be used, and unlike other component library its UI is sorta new to other users.

[2019-10-15 22:59] timrodz commented on #44
Hey @Cheukting, thanks for your input on this! I agree with you as well, and I suppose we'll have to wait until we have consolidated our data storage system, and see what we can do with it. I have not done any Analytics for an Open Source project, so this will definitely be an interesting challenge.

Do you know of any OSS projects that use Analytics, and what stack they implement (if applicable)?

[2019-10-15 22:59] chrismgonzalez commented on #44
@timrodz very good insight from you!  I will make a note of it in the privacy section of the DOCS issue later this evening.

[2019-10-15 23:04] tesla809 commented on #2
Thoughts:
 For back end:
make it completely decentralized.
Libp2p: for peer routing protocols to create a website where the clients are also the servers. They have a JS implementation.  

Databases, OrbitDB is a decentralized database built on top of IPFS.
Thoughts?

[2019-10-15 23:19] amark commented on #2
@tesla809 the value+add for decentralization is being able to reuse same account across different self-hosted organization's Chapters.

Decentralizing Chapter for the sake of Decentralization is (I'm guessing) not in the spirit of freeCodeCamp's #shipping culture, especially given the performance problems of Orbit/IPFS (but hey, I'm biased with GUN, which is similar in letting users/browsers help

[2019-10-15 23:22] mquadrant commented on #11
Hello guys, My name is Benjamin Mark, from Nigeria. I am a Full Stack Software Engineer with 3 years experience in programming. I have built web apps using NodeJs, Express, React/Vue, NextJs, Gatsby, Mongodb, Postgres, Docker, CI/CD.... This will be a very good platform to collaborate with the best minds in tech. Looking forward to get this project rolling.

[2019-10-15 23:24] allella commented on #19
@bernhard-hofmann You mind closing this since Chris added it to #12  ?

Thanks

[2019-10-15 23:26] allella commented on #28
This is also a duplicate of #28 so @alassiter please close this one and post any other notes on #12.

Grazie

[2019-10-15 23:30] erictleung commented on #44
Related discussion https://github.com/freeCodeCamp/chapter/issues/33

[2019-10-15 23:33] allella commented on #11
Volunteer Skills Offered / Mentioned in Publicly Posted [Discord] chatting (https://discordapp.com/channels/633401573002969128/633401573002969132/) between the start of the project and 7:30PM EST on Oct 15th.

**Usernames are from Discord and likely do not match Github usernames in many cases.**

- QuincyLarson | Project Lead Free Code Camp and this new "Chapter" app | Texas
- richard | Eventloop

[2019-10-15 23:44] allella commented on #28
Github also shares this link at the top of the main Issues page
https://opensource.guide/

[2019-10-15 23:44] allella commented on #19
Github also shares this link at the top of the main Issues page
https://opensource.guide/

[2019-10-16 00:09] nik-john commented on #17
I have created a PR with the open API specification for the mentioned end points here: https://github.com/freeCodeCamp/chapter/pull/46/files Please feel free to add to the PR/comment and critique (Additions are preferred to comments as most of us are working on this on top of regular full time jobs 😉 )

[2019-10-16 00:12] kpgalligan commented on #20
Low? It's a data app, and not a live updated data app. Maybe media in the form of images if you're trying to replicate Meetup features (although the more content people can post, the more monitoring will be an issue. Images especially)

[2019-10-16 00:17] freitzzz commented on #11
Hello guys! I'm a Software Engineering Masters Student from OPorto, and I'm interested in contributing or at least see the evolution of Chapter and the impact that the Open-Source community will have on this new project :)

On Discord you can find me under the name of "Freitas" (Freitas#7602)

[2019-10-16 00:47] Oasiris commented on #11
Hello world. I'm a Software Engineer in the SF Bay Area with >3 years of experience with server-side JavaScript, and fluency in TypeScript, DOM JS, Express, NoSQL, and React. Would love to contribute across the stack where I can.

[2019-10-16 00:55] isubasinghe commented on #34
I think redux is a must for any non trivial application with state. It just makes doing React state management much much easier.

[2019-10-16 01:18] kognise opened #47 "Our Roadmap"
Below I'll try to assemble a checklist of things we have to get done before shipping a semi-stable beta that's close to a finished product.

As I see it so far:

- [x] Sort Out Additional [Tech Stack](https://github.com/freeCodeCamp/chapter#tech-stack) Decisions ~~#24 #34 #145 #76 #32~~
- [x] Determine Web Browser Support ~~#144~~
- [x] Sort out Authentication ~~#40 #33~~
- [ ] Finalize an API ~~#

[2019-10-16 01:23] chrismgonzalez commented on #47
@kognise This looks awesome and gives us some direction over the coming days.  I don't mind chiming in on API discussions, but I have been focusing on basic docs right now - I'm happy to be CC'd on that topic.  I don't have any experience developing API's, though I am learning.

[2019-10-16 01:25] mohanwer commented on #34
Thoughts on using formik & yup for form validation? Both are well documented / supported libraries that go well on creating forms for providing clean user input.

[2019-10-16 01:25] nnfunny commented on #12
In “Using Chapter”, in my humble opinion, we can create a small code competition in small groups/events to encourage users to not only study and increase their interactivity. Through the competition, they can achieve point/award to level up their position in groups, but we need to maintain their equality. Again, competition is just a small feature/playground for everybody to learn each other, but

[2019-10-16 01:30] allella commented on #47
@kognise I think Chris is more working on the 3rd bullet, "Build a list of contributors and make the project more welcoming"

[2019-10-16 01:31] martindavid commented on #47
Love this checklist. I'm super keen to help, but minimum experience on working with OSS project. So I'm looking forward to see how people can contribute in this initial stage

[2019-10-16 01:35] allella commented on #47
@kognise I'll try to supplement what @chrismgonzalez is doing by summarizing who's contributing on the various issues and seeing if we can tap into the [couple hundred volunteers sitting on the sidelines waiting for some direction](https://github.com/freeCodeCamp/chapter/issues/11#issuecomment-542447016
).

[2019-10-16 01:43] martindavid commented on #11
Hi everyone, Martin from Melbourne AU here. I'm a full-stack engineer.

What can I bring to the table
- API development (I've been working with Flask (Python) and Express (NodeJS)
- Frontend engineering (Javascript/Typescript -> ReactJS, NextJS)

Looking forward to collaborate on this project

[2019-10-16 01:44] yoonwaiyan commented on #11
Hello, Waiyan from Malaysia here. I'm a full stack developer with 5 years+ working experience. I mainly do Ruby on Rails and React for the first 4 years and now building backend in Node.js (tad experience in using Sequelize too). I would like to contribute to Chapter on the React side but I don't mind to help out on the Express side if it's needed. (Discord tag: Aryan Yoon#4189)

[2019-10-16 02:16] allella commented on #36
There's bee a good deal of "federation" conversation, concerns and questions on Github.  While it may not be a v1 feature, it's probably something that impacts v2. Should/could we expand this Issue to cover short and long term ideas for sharing data, users, and such between instances so we have a place to send the frequent questions?

[2019-10-16 02:30] ngurney commented on #11
Hi all, my name is Nick. I’m a product manager in Utah, and would love to help with user research, business value validation, and organization if my help is needed. I am happy that such a great community is tackling this!

[2019-10-16 02:35] allella commented on #36
@JacksonBates  posted this along those lines.

[2019-10-16 02:41] jp-sauve commented on #17
If MVP is for a single server, hosted by a group, not all of those endpoints (user stories?) seem necessary. If I'm hosting for my local FCC chapter, who is going to come to my group's site and search for a city when my group is geographic by nature? Emails will have to be carefully considered too, as self-hosting email that doesn't get immediately marked as spam takes more than a server being wil

[2019-10-16 02:41] chrismgonzalez commented on #12
Proposed PR template that closely mirrors the main curricula:

- [ ] You have read the contribution guidelines
- [ ] Your pull request uses a descriptive title (not a vague title like `update.md`)
- [ ] Your pull request targets the master branch of chapter
- [ ] Closes #XXXXX

Proposed issue template that closely mirrors the main curricula:

- **Is your feature request related to a problem? Pleas

[2019-10-16 02:45] allella commented on #12
@chrismgonzalez have you any suggestions for format of issue titles? It seems someone started out with a pattern on the features and we've gone all over the place since then.

[2019-10-16 02:46] SeanFromIT commented on #47
Do we have some way of prioritizing the backlog? Project Board maybe?

[2019-10-16 02:50] chrismgonzalez commented on #12
@allella Perhaps something like:
FEATURE - Issue title
DOCS - issue title
UI/UX - Issue title
API/BACKEND - issue title
FRONTEND - issue title

Ultimately this will help maintainers add tags so that we can stay organized. Thoughts?

[2019-10-16 02:54] kognise commented on #47
@SeanFromIT I think we could consider using either GitHub Projects or Trello - @QuincyLarson what are your thoughts on this?

[2019-10-16 02:55] allella commented on #12
@chrismgonzalez I've not worked on a project with enough issues for it to matter, but I could imagine people posting Tasks, Research, Question, Ideas that may fall outside of the coding or implementation side.  So, do we want those "other" things in the issue queue?

[2019-10-16 02:56] jonathantneal commented on #11
Hello, Jonathan Neal from Georgia, USA. I hope I can help out with anything front-end related when that time comes.

[2019-10-16 02:57] allella commented on #12
I'm involved in local projects and not in tune with Free Code Camp's system and systems.  Is there anybody here besides @QuincyLarson who's coming over from FCC's Github and has suggestions for what might work so we're not re-inventing everything on every aspect of managing the project?

[2019-10-16 02:59] allella commented on #12
Looks like [FCC](https://github.com/freeCodeCamp/freeCodeCamp/issues) uses tags more than title patterns so maybe that's the way to go.

[2019-10-16 03:01] chrismgonzalez commented on #12
@allella I would like to propose that we maintain parity with the main FCC repo in terms of tag patterns.  The consistency would be very helpful and unifying.

[2019-10-16 03:06] shivaprabhu commented on #35
I did as soon as i realised this wasn't the place :)

[2019-10-16 03:08] shawnofthedev commented on #11
Hello, I am Shawn from North Carolina, I was a backend developer until earlier this year and now I work front end GIS.

[2019-10-16 03:11] omguhh commented on #11
Hi, I'm Yasmine from Dubai and I'm a frontend developer. I'd love to help out :)

[2019-10-16 03:12] JDeLay-JR commented on #11
Hello!! I am James from New York! I am a Front End developer with experience in React, Vue, Sass, and all that fun stuff. I can also do backend Node work. In my spare time I try to maintain a tech blog (and fail epicly at it) and read!

[2019-10-16 03:19] Utkarshbhimte commented on #40
Why not just use firebase for all the social auth. Why reinvent social login this? I think the I boarding process for both sides; organisations and attendees should be seemless.

[2019-10-16 03:21] xarielx commented on #11
Hello, I’m Ariel from Florida. I’m about to graduate in 2 months with my CS degree. US Army veteran that transitioned into coding.  I’m good doing anything backend and front end, as well as managing issues and handling documentation.

[2019-10-16 03:22] isubasinghe commented on #20
I like the idea of React Native, we should be able to abstract our business logic in redux. And use React only to render.

[2019-10-16 03:25] TechiePriyaRanjan commented on #1
this should be in **v1** itself😐

I can reschedule/postpone events.

[2019-10-16 03:29] CalvinFronda commented on #11
Hello! I'm Calvin from Los Angeles. I'm Full Stack developer with experience in React, node, SQL and MongoDB. I'm open to work on any issues with this project!

[2019-10-16 03:29] allella commented on #12
Yeah, looking at the other FCC repos shows there's a lot to be borrowed. Though, some of it may be overkill until the project get's large.

[2019-10-16 03:30] martindavid commented on #47
Really like if we can use Github Projects so that we can have one source to go. I found Trello and Github Projects not have much differences, unless you're using the Trello Powerup

[2019-10-16 03:30] chrismgonzalez commented on #12
Agreed, let’s keep it down to just what we need for now.

[2019-10-16 03:31] MirzaChilman commented on #34
We already agreed to use next.js you can see the discuss [here](https://github.com/freeCodeCamp/chapter/issues/17)

@isubasinghe as for state management, we still haven't figured it out whether to use it or not, as we are still blind here

[2019-10-16 03:34] MirzaChilman commented on #47
I agree with @martindavid , it's better to make it centralized

[2019-10-16 03:42] allella commented on #47
@kognise I wonder if we could make this issue and the "Roadmap" info on the bottom of the Readme better gel together and/or cross-link

[2019-10-16 03:44] hamidnoei commented on #11
Hello, I’m Hamid from toronto, I’m a frontend developer, I can help with react, graphql, css. I have experience working with nodejs, Sequelize, apollo server as well.

[2019-10-16 03:59] kognise commented on #40
@Utkarshbhimte Firebase Auth is a great solution for auth in general, but it isn't decentralized and that's the problem we're trying to tackle here - decentralized auth.

[2019-10-16 04:24] hiddentao commented on #1
I helped build Kickback (https://kickback.events/), an Ethereum-based platform which aims to reduce event no-shows. Essentially speaking, each attendee commits a small amount of money (e.g. $10) when they RSVP. If they turn up they get their money back. If they don't show up their money gets split amongst those who did. The money handling is secure, transparent and automated via a smart contract r

[2019-10-16 04:42] brianrichins commented on #20
Distribution is only a non-problem for native apps since their only channel is the native stores. Web apps have to be reachable everywhere, and PWA tooling broadens the reach quite a bit with a tiny amount of user education.

They also provide some simple offline caching, which helps with bandwidth and performance (both important for something intended to be super low cost to run), and provide not

[2019-10-16 05:24] sumansjs commented on #11
Hello, I am from Pune, India. I'm a full stack developer. I have 3 years of experience. I can help with Javascript, Angular, .Net Core, SQL Server

[2019-10-16 05:24] eolculnamo2 commented on #11
Hi, I'm Rob from Dallas, TX.

I hope to contribute in anyway I can. Things I'm comfortable/familiar with are Backend: MongoDB, MySQL, Java, .Net, NodeJS (preferably with TypeScript). FrontEnd: TypeScript, React, Vue, Svelte

[2019-10-16 05:26] sanchitbansal10 commented on #11
Hey, I am Sanchit from Mumbai, I'm a Full Stack dev with experience in React ecosystem, Node, django, python, JS, AWS, firebase...
Thrilled to be a part of this and would love to contribute in any way possible

[2019-10-16 05:28] iansltx commented on #11
Ian from Austin here. I'll leave the JS heavy lifting to others (I should really get back to code-reviewing some Nest/TS/Sequelize stuff), but I can be the one to ask semi-obvious questions/assist with design re: DB schemas and, if we're going with REST-ish things, API design.

Heck, if being exclusively on code review duty, particularly for the backend side, is useful, feel free to request a revi

[2019-10-16 05:41] iansltx commented on #40
+1 for having social auth available to reduce friction, even if after/during authorization you ask (the user or the identity provider) for the user's email address so, if worst comes to worst, you can contact everyone and tell them to start using either password resets or magic links.

Between collecting (and verifying!) email address and allowing both email + password sign-in (passwords hashed vi

[2019-10-16 05:46] saurabhdaware commented on #11
Hi, I am Saurabh from Mumbai, IN. I am a JavaScript developer (Frontend and backend) and would love to contribute here :D. I can work on UI designs and backend APIs

[2019-10-16 05:48] iansltx commented on #40
For those of y'all mentioning Mastodon, the last time I used it the authentication pieces, while decentralized, were _not_ federated; I can't log into cybre.space with my mastodon.social or mastodon.network accounts (or vice versa).

You _could_ build a federated auth system, such that each Chapter instance could serve as an OAuth/OIDC provider for third parties _and_ a client for the same, but in

[2019-10-16 05:55] D3Portillo commented on #11
Hi , I'm Denny  from El Salvador, I love playing around with js, can help on frontend and backend,
I've work with, gatsby, tailwind, nuxt, mongo stuff, AWS, RN and flutter, I really, really want to help on the making of the platform, we need something like this in our community, hope we can awaken this beast! ,  :) :fire: :stars:

[2019-10-16 06:02] sinharaksh1t commented on #24
Agree 100% with @mmiszy. I would also like to pitch in to support contribution, answering questions related to TS and most importantly, helping newcomers especially those who are intimidated by TS. :)

[2019-10-16 06:04] mojo706 commented on #11
Hello, I'm Eugene (basedRaikage on Discord) I am from Nairobi Kenya, started coding on FCC and now work as a software engineer. I work mostly with Node based frameworks and just started on TS, React, GraphQL. Also volunteer at FCC Kenya on behalf of FCC 😅. I'm a good mod too.

[2019-10-16 06:09] sinharaksh1t commented on #34
If we do consider using Redux for application state management, then it's worth giving [redux-query](https://github.com/amplitude/redux-query) a read. It's a seamless way to manage the network state into your Redux store.
Also, any API calls made through `redux-query` goes into your Redux state along with the network state of the call. Rendering it pretty useful when showing different UI feedbacks

[2019-10-16 06:10] vishwasnavadak commented on #11
Hello, I'm Vishwasa from Bangalore, India. I am working at a serverless consultancy startup called antstack.io. I have experience working on React, Nodejs, SQL and AWS services.

[2019-10-16 06:11] Raalzz commented on #11
Hi everyone, I'm Rahul from Bangalore India. Working in a startup, I am comfortable with serverless technologies, React, Nodejs, Svelte and most of the AWS Services.

[2019-10-16 06:14] #19 closed

[2019-10-16 06:17] bernhard-hofmann commented on #47
Can we include a focus on shipping before it's a viable product? The concept is to verify that the way we build this is shippable seven before we're build the first feature:

https://blog.thepete.net/blog/2019/10/04/hello-production/

[2019-10-16 06:28] kenilmavani68 commented on #11
hi everyone, i m kenil from Gujrat india. Working in a startup. i am working on REST api for backend support in node.js and java

[2019-10-16 07:00] QuincyLarson commented on #5
@boniattirodrigo Your mock-ups look great.

We would probably want that kind of look for a "product landing page" type website that organizations look at when they're trying to decide whether to create their own instance of Chapter.

@ryandudek Eventually organizations will be able to customize this. Think of a university system using their school colors, for example.

How about we use the [freeCo

[2019-10-16 07:02] Cirediallo commented on #11
Hello I'm Diallo Ciré from Guinea living in France. I'm a computer science student. With this stack I can help with JavaScript, CSS and React cause I'm confortable with. I have some NodeJS and Express skills but not so much. I'll be happy to contribute

[2019-10-16 07:12] finisher1017 commented on #11
Hello, I'm Jonathan. I'm comfortable with NodeJS/Express, JavaScript, HTML/CSS, and React. I'd like to contribute as much as I can to the front end of the app, but I'm also familiar with Postgres, so I can also contribute to the back end if needed. I look forward to contributing and having a great experience.

[2019-10-16 07:12] QuincyLarson commented on #44
@erictleung Welcome. It's good to have you here.

I agree that we should think about our ability (and other organizations' ability) to analyze data from the beginning.

We do want to be mindful of consent, as @timrodz pointed out. How granular we want to make consent is another question. Currently freeCodeCamp's curriculum has 8 different privacy options and most people set all of them to on or al

[2019-10-16 07:16] adityaloshali commented on #11
Hello, I'm Aditya Loshali from Chandigarh, India. I'm a full stack JavaScript developer and have worked mostly with React and Node Ecosystem (including AWS, firebase, React-Native, MongoDB, Nest.js, GraphQL). I have not yet worked to contribute to Open Source. but i guess now is a good time. would be fun to contribute in any way possible!

[2019-10-16 07:27] QuincyLarson commented on #16
@bernhard-hofmann Thanks for creating this issue.

This user type is absolutely something we'll want create stories for.

This won't be part of the MVP but it will follow shortly afterward.

[2019-10-16 07:28] MirzaChilman commented on #34
Never heard of redux-query, anyway probably we should list what kind of libs that we are going to use, at least we can discuss the pros and cons of each libs

[2019-10-16 07:31] QuincyLarson commented on #47
@kognise First of all, thank you for creating this comprehensive list of the work that needs to be done.

Rather than try and move to a tool like Jira, I propose we use GitHub's built-in project board to organize our work. It doesn't have as many features, but everyone here can use it without creating new accounts or learning new tools.

I've gone through and reviewed all the open pull requests an

[2019-10-16 07:39] Wizyma commented on #34
Redux-saga is really hard to grasp, specially for people not that experienced in JavaScript...
There is others tools to use.
In my company we use it for our main app, it works well no doubt, but only few can really maintain it and **understand** it.
When it comes to async calls, it is way overkill to use redux saga if it isnt for critical reasons.

[2019-10-16 07:39] imVinayPandya commented on #11
Hello, I am Vinay Pandya from Ahmedabad, India. Currently I am working as fullstack developer having 4+ years of experience and From past 2 years i am working with Techify solutions Pvt. Ltd. My key skills are Node.js, React.js, Next.js, Postgresql, gRPC (I enjoy building microservices), aws, mongodb, redis etc. Happy to contribute in this awesome project, 3 cheers for #freeCodeCamp for  taking th

[2019-10-16 07:41] Wizyma commented on #34
@bhoomij  for i18n there is [i18next](https://react.i18next.com/) too.
It is mature, a lot of support and a gold documentation.

[2019-10-16 07:42] keeth commented on #34
I've had a lot of success with [Material UI](https://material-ui.com/), however that would mean ditching CSS for JSS.

[2019-10-16 07:43] iansltx commented on #32
-1 on ES as a hard requirement as well, particularly for MVP. While it's easy enough to grab the Docker images for ES, include it in Compose, and get a dev setup up and running, doing the same in an environment that's visible from the Internet is a bit more fraught/easier to get wrong. Or you pay AWS to do it, hope you get IAM roles/VPCs right, and trade some problems for others.

Versus having th

[2019-10-16 07:45] Wizyma commented on #34
and for others libs:
[styled-components](https://www.styled-components.com/) for styling
[react-redux](https://redux.js.org/) for global state management no doubt
[material-ui](https://material-ui.com/) as an UI lib ? customizable and quite powerfull
[testing-lib](https://testing-library.com/) for testing components
[ramda](https://ramdajs.com) for utils and FP

[2019-10-16 07:56] keeth commented on #34
If Redux is used carefully and appropriately it can be good but it can also get messy, I've seen large project turn into spaghetti by relying too much on Redux, especially around keeping the DB/server state in sync with the client state.  GraphQL solved this for me but I know we're not doing that for v1 of Chapter.  Worth looking at all the alternatives.  Hooks, Context, [unstated](https://github.

[2019-10-16 07:57] jesseokeya commented on #11
Hello, I'm Jesse. I'm comfortable with NodeJS/Express, JavaScript, HTML/CSS, and React. I'd like to contribute as much as I can to the backend of the app. I look forward to contributing and having a great experience.

[2019-10-16 07:57] sid995 commented on #11
Hello, I am Siddharth Kundu from New Delhi, India. I have nearly 2 years of experience. Currently working as a Front-end engineer. My key skills are Reactjs, Javascript, CSS(Tailwind, Material-UI, etc) Gatsby, Graphql, Apollo, Nodejs, Expressjs, and MongoDB. I would like to contribute to the front end aspect of the application.

[2019-10-16 07:58] fletcher-greg commented on #11
Hey, I'm Greg.  I live in Germany (but originally from Australia) and I'm comfortable with full-stack usually with React, Node.js, Flask and MongoDB.  Looking forward to contributing to open source! 🎉

[2019-10-16 08:03] codingonHP commented on #11
Hello everyone
I am Vishal from India. I am a full stack developer with following skills
GoLang
Rust
C# .NET
Python
Java
Docker
Vagrant
Ansible
OpenStack
Angular
JavaScript

I have a total experience of 6 years. I would like to contribute as much as possible.
Super excited to be here
Cheers :)

[2019-10-16 08:04] keeth commented on #34
I assume most people use Moment for date/time calculations.  I've recently started using [date-fns](https://date-fns.org/) and quite like it.

[2019-10-16 08:04] jesseokeya commented on #24
TS requires a lot of boilerplate and type configurations which could slow the delivery of the mvp. But as the project grows im sure it won't be a problem to migrate to ts slowly. So I think its a good choice why were not using ts from the get go @Zeko369

[2019-10-16 08:23] Utkarshbhimte commented on #20
I do agree with @iansltx if we are talking self-hosted chapters, nobody would want to download native apps for each of chapters and I think PWAs can be much lighter and easy to discover and distribute.

[2019-10-16 08:24] ftab commented on #47
Random internet stranger passing by. I use Meetup and attend an open source event in town every month, and even occasionally present. I think we'd be tickled pink to be able to organize the event through open source software too. :)

I have a lot of experience with GitLab CI/CD and have used it to rapidly prototype web apps. It's got Kubernetes integration, works well with anything that's got a Do

[2019-10-16 08:38] Vanethos commented on #20
Why not have multiple instances inside the same app?

What I mean is something like discord, you have an app with multiple servers running and you can join in one if you have the invite link or if someone invites you.

I have worked in events apps before, and let me tell you, it can be a bit cumbersome to have 20+ apps in your phone. And then next year the organizer wants to change the name to "Co

[2019-10-16 08:47] elmariachi111 commented on #1
Hey hiddentao! Met your colleague at EthBerlinZwei and chatted ~1h. Keep up the great work, Kickback rocks! Let me just be slightly two faced here: adopting Dapps is not simple anyway - if you alone need gas to create state changing tx, "real" money will be always involved. If you on top have to "pay" something upfront (even if guarantees are that you get it back (minus gas?) ), I think that'll ha

[2019-10-16 08:48] timrodz commented on #44
Thanks for the insights @QuincyLarson - I'm glad we can start discussing some of these ideas at a high level. I'm more than happy to discuss anything related to data and analytics.

[2019-10-16 08:50] kwekuq commented on #11
Hi everyone,

I am Kweku, I am from South Africa in the fintech space. Working at a company that focuses on software for the financial sector.

My skills are top primarily c#, python(django), sql, mongodb, and react to name a few.

Super excited to contribute something here.
:-)

[2019-10-16 08:51] iansltx commented on #20
@Vanethos Do you want ~ants~ Meetup-but-by-another-company? Because that's how you get ~ants~ Meetup-but-by-another-company.

In all seriousness, API-wise you could build a mobile app that reaches out to the various Chapter instances by URL, authenticates to each, and syndicates everything in one place. But the access pattern wouldn't look like Discord (because Discord is a centralized thing where

[2019-10-16 09:06] mojo706 commented on #12
Hi for the contributors guide, I really always find this helpful as a link [Working With Forks](https://help.github.com/en/articles/working-with-forks) could this be added to the Contribution Guidelines? If it helps I can summarise it.

[2019-10-16 09:08] hiddentao commented on #1
@elmariachi111 You're absolutely right about the gas cost. This is something the Eth community at large needs to solve. Hopefully in the near future this will not a blocker for dapps.

[2019-10-16 09:17] mquadrant commented on #34
date-fns is referable, personally. You could imagine the space moment import eats up.

[2019-10-16 09:22] Vuksa commented on #20
I like the idea of having one app that communicates with all "meetup" services. Having multiple apps would be heavy and non-practical especially if you have in mind that many of us have up to 15 meetup groups that we are currently joined in. I agree with @iansltx, it would be more like the slack app, where you could join "meetup" via invitation.

Developing the MVP of an app that supports this def

[2019-10-16 09:28] aditya2000 commented on #11
Hello everyone,

I am Aditya, I am from Delhi, India. I am 3rd year CS student. I can work with React, Node, express. I have used some postgresql as a part of a course in college so I can catch up with that and some other skills along the way.
Really really excited to contribute :D

[2019-10-16 09:32] H-Plus-Time commented on #32
[sonic](https://github.com/valeriansaliou/sonic) might actually be a decent alternative to elasticsearch, given it's simplicity (and the low bar for search - meetup.com pretty much only does tags and order-independent single word matching) and 'functions on a potato' resource requirements.

[2019-10-16 09:35] clarkngo commented on #11
Hello!

Clark here from Seattle, WA. I'm an MSCS Student graduating in March 2020. I have experienced in full-stack web development with Rails. I have some experience in Node.js/Express, React, and Postgres. Looking forward to collaborating with you guys!

[2019-10-16 09:44] nsharma1396 commented on #34
We can consider using [Immer.js](https://immerjs.github.io/immer/docs/introduction). It can help to work with immutable states in a very clean and easy way. Helps a lot to avoid *accidental state mutations* and makes the app more predictable I believe. It's quite good for managing complex state objects or redux state and is very easy to learn and use.

[2019-10-16 09:50] shirakaba commented on #24
@francocorreasosa

@jesseokeya

@RA9

This is like hearing "let's just burn the coal now and revisit the climate change issue later". It is *easy* to run ahead and whip up a small app in JS. It is also *equally easy* to end up riddled with subtle run-time errors and paralysed about making changes to various parts of that app because nobody can be sure what the consequences of refactoring it would

[2019-10-16 09:56] mmiszy commented on #24
@jesseokeya the libraries mentioned in the tech stack thread are all well typed or written in TypeScript. There's no need to write typings for them.

We need to design types and contracts anyway, regardless of whether we'll be using JavaScript or TypeScript. What TypeScript gives you is a way to actually enforce these contracts automatically. Thanks to this, overall mental overhead is much lower.

[2019-10-16 10:01] H-Plus-Time commented on #34
[linaria](https://github.com/callstack/linaria) is a drop-in replacement for styled-components, it tends to produce lighter JS bundles (in exchange for statically generated css) and more performant instances (setting CSS variables is exceedingly fast).

[2019-10-16 10:01] rohanfaiyazkhan commented on #24
@mmiszy I agree. I don't think TS would really slow down development. And as others have this is a project spanning a lot of developers so TS would really help I feel.

Furthermore if we do establish an MVP, I assume the goal will be to transition the MVP into a product. That will be a lot easier to do if the codebase is in TS.

[2019-10-16 10:20] adrian3d commented on #5
I'm fairly enthusiast about a landing page without possibility to search for events without to be logged.
A landing page adds a step up to start using the app. So, this can limit the number of users (and the number of organizers) because we don't give the possibility to view how is the app before a sign-up. Moreover, if a new user signs up without having any idea of the events they can find out, i

[2019-10-16 10:22] letorruella commented on #47
Any possibility to have a kanban or any of the like so I can see where I can contribute?

[2019-10-16 10:30] arsadrahman opened #52 "I'm Arsad Rahman from India , More than 5 years experience as Software Engineer - Full stack native mobile application developer (Both Android , IOS) now working independent freelancing ."
I'm Arsad Rahman from India , More than 5 years experience as Software Engineer - Full stack native mobile application developer (Both Android , IOS) now working independent freelancing .

My Skills :

UI/UX - Sketch App(UI Designing), Figma and Marvel (Prototyping).
Frontend - Java & XML (Android App Development) , Swift (IOS App Development).
Middleware - Node.js with Express js , PHP Webservice

[2019-10-16 10:31] #52 closed

[2019-10-16 10:33] arsadrahman commented on #11
I'm Arsad Rahman from India , More than 5 years experience as Software Engineer - Full stack native mobile application developer (Both Android , IOS) now working independent freelancing .

My Skills :

UI/UX - Sketch App(UI Designing), Figma and Marvel (Prototyping).
Frontend - Java & XML (Android App Development) , Swift (IOS App Development).
Middleware - Node.js with Express js , PHP Webservice

[2019-10-16 10:59] hillarykings commented on #11
Hi everyone

I'm Hillary Peters from Nigeria, I'm a Front-End developer.
I work as a freelancer.

My skills are:
HTML, CSS, JavaScript and React.

I'm super excited to contribute to this project.

[2019-10-16 11:20] marcosaguileraely commented on #11
Hi everyone:

I'm Marcos Aguilera from Colombia, I'm a systems engineer, +5 years in software development for education sector. My key skills are: JavaScript, React, front UI (material-ui, mustard, bootstrap, HTML, CSS) Node/Express, MySQL/PostgreSQL.

[2019-10-16 12:05] bernhard-hofmann commented on #16
Even if it doesn't make it into the MVP, I wanted to raise at least the point about our customers being able to update/upgrade their instances without losing data. So we'll be aware of breaking changes and how things like schema changes need to be handled to prevent (or at least minimise) data loss for updates. No doubt people will want to update their instances regularly for bug fixes, improvemen

[2019-10-16 12:15] jtomaszewski commented on #24
Just adding my 2 cents.

Developer surveys like the ones of StackOverflow clearly show that people are eager to learn TS, or have already been using it and they still want to use it. So it might actually encourage more people to take part in this project, because it uses tech they like to work in.

(+ it's easier not to break things in PRs when everything is type safe, as @mmiszy had already said)

[2019-10-16 12:24] das3in commented on #24
Not for nothing but at [thoughtbot](https://thoughtbot.com) we work with dozens of tech clients from greenfield startups to billion dollar corporations and we're almost exclusively doing TS at this point.

On the whole "speed of development" thing, I think it's silly to assume that TS slows down development. That's like saying writing tests slows down development. It catches bugs, makes features m

[2019-10-16 12:46] bernhard-hofmann opened #54 "Schema image / ER Diagram is out of date"
Whilst I like the image of the schema, it's not auto-generated on updates to the SQL script so it could be misleading.

The version there is generated by a tool called DataGrip from JetBrains which is [not free](https://www.jetbrains.com/datagrip/buy/#commercial?billing=yearly).

[2019-10-16 12:48] bernhard-hofmann commented on #54
My recommendation would be to (in order of preference):
1. generate it on updates to the SQL script (are there tools to do that, online maybe?)
2. remove it
3. give the filename a date and time to make it clear when it was generated

[2019-10-16 13:39] pabloHoc commented on #34
I think Ramda is too much for the moment, since introduces a complexity for those that are not used to FP. The idea is to keep this as simple as posible.
The stack decided was CSS for styling, so that leaves out styled-components and most UI libraries (including Chackra UI, my bad).

[2019-10-16 13:51] allella commented on #12
@chrismgonzalez and others, Quincy gave a handful of folks write permission to Github and there are a handful of Discord moderators.

I think it would be handy to list these folks somewhere we can link to in one place. Thoughts on adding to the README, or perhaps better to add a Quick Link on the readme and link to a new page/issue.

Github Write Permissions
@bernhard-hofmann
@kognise
@dmmulroy
@f

[2019-10-16 13:58] tomByrer opened #56 "React tech: Gatsby vs Next vs ??"
Since [React requirement is locked down](https://github.com/freeCodeCamp/chapter/issues/2#issuecomment-541964054), may I suggest Gatsby?

### [Gatsby](https://www.gatsbyjs.org/features/)

+ [well funded](https://www.gatsbyjs.org/blog/2019-09-26-announcing-gatsby-15m-series-a-funding-round/) with a [large team](https://github.com/gatsbyjs/gatsby/graphs/contributors)
+ solid MDX support ([Markdown +

[2019-10-16 14:06] tomByrer commented on #20
In the manpower time spent on this topic, someone could have hacked a responsive version of the website, & added a PWA in an extra hour or 2.

Honestly, please just make sure the API rocks, & let whomever want to write native apps spin off their own team.

[2019-10-16 14:19] mojo706 commented on #12
The owner of the channel is the one who would do that. It's really easy, on the settings.

[2019-10-16 14:23] viniarruda commented on #34
I use the Material Ui in a large scale software and I had a lot problem to customize the components, I prefer the ant design for use here

[2019-10-16 14:35] MirzaChilman commented on #34
@corlaez I strongly agree with him, because if we structure our app properly then actually we don't need redux, I've seen project using redux and confusing for new comer, and slow down development, as new comer spend more time understanding the redux instead developing the features

[2019-10-16 14:43] valishah commented on #17
@nik-john , I agree with @Zeko369 comment of using nested paths.

[2019-10-16 14:49] mojo706 commented on #12
So you click the dropdown next to the **Channel Nam**e, then you click on **Server Settings**
<img width="189" alt="Screenshot 2019-10-16 at 17 41 22" src="https://user-images.githubusercontent.com/908380/66929823-5c5fd880-f03c-11e9-9a46-2ae1e17e8133.png">

Then click on roles and create the roles.
<img width="175" alt="Screenshot 2019-10-16 at 17 45 12" src="https://user-images.githubusercontent.

[2019-10-16 14:51] ed42311 commented on #11
Hey Peeps,

Ed Weymouth. Living in Montana, USA.  Working remotely for a company out of Atlanta, GA.

4+ years

A lot of: JS, JS Testing (Mocha/Chai), React, MongoDb, Express, Node, Symfony, Doctrine, PHP
A middling amount of: React Native, React testing(Enzyme), Laravel, Ruby on Rails, Ruby, Python
A small amount of:  Flutter, Typescript, Dart, Go, Kotlin, Java

Sounds like a fun project, excited

[2019-10-16 14:52] valishah commented on #11
Hello Everyone,
 I'm Vali Shah, 7+ Years of experience

[2019-10-16 15:01] mquadrant commented on #34
In as much we would be writing the CSS without any library. Styled component is a very good plugin that would help writing the style of any component in Js. Every reusable component should have its styles embedded in the Jsx file not an external file , this will ensure that we don't bother too much on maintaining extra style sheets especially when the project is becoming large.

[2019-10-16 15:02] fangskillz commented on #11
Hello Everyone,
I'm Juan Garcia, I am 16 years old and I have immediate experience with JS, and I'm now learning some React. The reason I want to help is that I want to get more knowledge in coding

[2019-10-16 15:08] Danex2 commented on #34
@mohanwer I just found [React Hook Form](https://react-hook-form.com/) recently and I think it would be a lot easier to work with than formik. It has its own validation out of the box or you can use yup.

[2019-10-16 15:23] allella commented on #12
@chrismgonzalez yes, Quincy thought it would be a good idea if I surveyed the issue queues to see who's helping a lot and identify topical POCs.  He did a bit of by granting write via pull requests, so there will likely be some overlap. Still, I think it's good to associate folks with what they are focused on so we have some "quick people" and "quick links" to lower friction.

[2019-10-16 15:25] kognise commented on #32
I think one of the express pros of ES is that it can be used to search across all instances of chapter (see #33) - I'm not experienced enough with search tools to know how this plays in, but I think we should consider this when choosing a search tool.

[2019-10-16 15:32] kognise opened #58 "Terminology"
I think to better communicate and more easily build an API and UI, we need to come up with a uniform set of terminology. Below is my (very much changable) suggestion based on what I've heard the community say the most:

- A ~~"chapter"~~ "collective" is one singular instance/deployment of Chapter
  *For example, Women who Code at the domain chapter.womenwhocode.com*
- A "user" is a person who auth

[2019-10-16 15:36] dmmulroy commented on #32
Even at the scale of tens of thousands of organizations I don't think ES buys that much for searching when compared to Postgres, esp. if the main concern is just searching organization name or location.

[2019-10-16 15:39] JenniferNorthrup commented on #11
Hello! I'm Jennifer from the USA. I've got almost 4 years of development experience, primarily in Node, Angular, and React. I heard about Chapter this morning and I'd love to help! My experience has been almost entirely on large-scale enterprise systems, but I've never contributed to an open source project before. Just point me in a direction and I'll get started!

[2019-10-16 15:47] william-holt commented on #11
Hello all! I'm William based out of Denver in the USA. I'm currently a UX Engineer with a custom software agency and have worked with Fortune 500's and tiny startups. I've worked across many technologies including Angular, React, Vue, Node, Python, Java, MySQL, Postgres, and several more. I haven't directly participated in the open source community before, but I've always been a huge fan and have

[2019-10-16 15:59] shawnofthedev opened #60 "Geocoding functionality"
It would be a good idea to add in location to the project to facilitate ease of searching for users browsing for groups. This is not an exhaustive list just some quick ideas to get started with.

As a user:
- Have to ability to see groups filtered by a radius of the user's current location.
- Specify the location to filter on and use the same radius filter.
- Potentially display markers on a map o

[2019-10-16 16:01] kognise commented on #5
Adding on to what @QuincyLarson said earlier, Chapter is going to be decentralized so we might want to have a different landing/marketing page setup than a lot of other meetup solutions.

Each deployment should have its own landing page that focuses on a UI that makes it easy search for events. This page should clearly communicate the specific deployment's name and possibly link to API documentati

[2019-10-16 16:08] cameronsr commented on #58
As someone who fits the admin/organizer description - I currently run a group of ~1200 - accurate enough for me.

Recommend we may want a term for several affiliated Chapter instances in different geographic locations.

Maybe Chapter Organization or Group?

Example - Operation Code (group I volunteer for) has ~18 separate chapters in different cities. Each effectively would run a separate instance

[2019-10-16 16:08] allella commented on #58
Maybe "organization" instead of group, but I'm saying that with little context to the schema.

[2019-10-16 16:09] kyonrevens commented on #11
Hi, I am Ricky from Singapore. I am a backend software engineer but, I have been interested in DevOps lately. I would love to contribute and learn more. ^^

[2019-10-16 16:10] allella commented on #58
Also, it seems likely that on one instance you'd have multiple different organizations and possibly only 1 chapter.  Or, you might have an instance that hosts multiple orgs and multiple chapters, or 1 org and 1 chapter, or just 1 chapter.

[2019-10-16 16:11] kognise commented on #58
@cameronsr the idea is that your organization would have a chapter, and within the chapter would be groups for different locations - maybe I made that too confusing 😛

[2019-10-16 16:16] MwesterlundDev commented on #11
Hello everyone!  I am Mark, I am based out of Pittsburgh, PA in the USA.  I am a Full Stack Software Engineer that owes a lot to Meetups and FCC (I wouldn't be an sw engineer without them).  I mainly do frontend stuff with D3.js, with some experience with Nodejs, Python, Java.  I have never directly contributed to any open source projects but I would love to help.  I would like to learn some React

[2019-10-16 16:17] SandipNirmal commented on #34
What about using [Semantic-UI](https://react.semantic-ui.com/) with Styled component. Or we can also use ionic which has recently added React components. https://ionicframework.com/blog/announcing-ionic-react/

[2019-10-16 16:17] lkreimann commented on #58
@kognise I found that pretty clear. There are probably more possible organizational structures though :thinking: would guess the MVP would be good with the terminology on top.

I've used Meetup etc. very rarely though, might not be the best reference.

[2019-10-16 16:18] cameronsr commented on #58
Nope, makes sense now. I just haven't had my coffee yet. *shrug*

[2019-10-16 16:18] kognise commented on #58
Maybe switching "groups" with "organizations" could make the terminology clearer?

[2019-10-16 16:19] allella commented on #58
Actually, I see that "chapter" is one deployed instance.  That wasn't my initial feeling of it.

May be better to call it an deployment or some such and use "chapter" to represent the hosting/organizer of meetup events.

[2019-10-16 16:19] kognise commented on #34
All of these are great suggestions, but I feel like we shouldn't try to solve problems we don't already have - if we need a library we can find it.

[2019-10-16 16:20] allella commented on #58
I say that because my feeling is that one deployed instance could host numerous local meetup chapters.  We have 30+ in Greenville, SC and I don't see every group hosting their own deployed instance.

[2019-10-16 16:21] kognise commented on #58
@allella hmmm, that's one of my concerns - but I think some deployments won't be focused on certain organizations and might be more general purpose,.and "chapter" is super generic.

[2019-10-16 16:23] allella commented on #58
Yeah, but "chapter" has context in things like Women Who Code would have multiple chapters around the country/world.  So, using a physical world concept that's pretty well used in organized, chapter-based groups and mixing it with a technical usage already managed to confuse me.

[2019-10-16 16:25] allella commented on #58
I'm wondering if reserving "chapter" for it's more typically used context is a better idea and then use a more technical word, like deployment, or instance, or container, or host system, to describe a single running server.

[2019-10-16 16:26] kognise commented on #58
Okay. So then could something like this be better?

- A _____ is one singular instance/deployment of Chapter
- A "user" is a person who authed to the chapter
- A "chapter" is a container for events, with a description and subscribers, and one or more "admins" who can manage it
- A "event" is a single meetup that users can RSVP to, has a specific location and time, and has "organizers"

[2019-10-16 16:26] nhsz commented on #24
I like TS, but don't think we need it for the **MVP**, it would add unnecessary friction. Remember this is a FCC community-driven project, so the stack should mirror FCC curriculum's as much as possible IMHO, to ease colaboration. FCC uses JS.

[2019-10-16 16:27] allella commented on #58
I like using "chapter" there instead of group, so that looks better to me.

For ______  maybe server, deployment, container, instance, host (don't really like using host though since is has a human use in the same context)

[2019-10-16 16:28] dmmulroy commented on #54
Also, given that Chapter has now been decided to be a self-hosted solution I'm not sure this schema makes 100% sense any more, especially if there is no "central" service for keeping track of all users/groups/events across all instances.

[2019-10-16 16:29] kognise commented on #58
I feel like server, deployment, container, and even instance are all too technical for the average user. Instance is the best-sounding to me - this is gonna be tricky.

Maybe something like collection or site?

[2019-10-16 16:29] allella commented on #58
Funny enough, there is a lot of overlap between the event context and the technical context here, so that's why we should probably use real-world words for real-word things and technical words for technical things. Plus, avoid words that mean two different things in those two context, like "host"

[2019-10-16 16:31] allella commented on #58
Collection, or something like it, might work.  I think "site" has both technical and real-world context and probably should be avoided.

[2019-10-16 16:32] kognise commented on #58
Agreed. Maybe "collection" or "community?"

[2019-10-16 16:32] allella commented on #58
Collective is used a lot these days, maybe over-used.

[2019-10-16 16:32] allella commented on #58
Community might do it for me.

[2019-10-16 16:32] kognise commented on #58
Honestly, Collective seems pretty good, as overused as it may be... :thinking:

[2019-10-16 16:34] allella commented on #58
I'd be good with either, at least as a starting point. I think that revised list has good context to the thing they are trying to describe, and avoids words that are vague or overlap between real-world and technical meanings.

[2019-10-16 16:43] timmyichen commented on #11
Hello!  Full stack engineer here with experience in Node/Express/Next/React.  Happy to build out features for Chapter - let me know if there's anything I can do to help!  I'm timchen#3819 on discord

[2019-10-16 16:55] allella commented on #54
@kognise also has a [proposed "terminology" update to the readme](https://github.com/freeCodeCamp/chapter/pull/61#pullrequestreview-302721424) to call a "chapter" effectively what a "group" is in the schema.  Group is pretty vague and it would be nice to have some parity between the core item in the schema and what we're referring to in the business logic terminology.

[2019-10-16 16:59] allella commented on #60
@shawnofthedev could you share this feature idea in #1 and close this to-do since it's probably not going to be an MVP item?

[2019-10-16 17:12] snickerz commented on #11
hey i am from the Tampa bay area lol hi

[2019-10-16 17:12] #60 closed

[2019-10-16 17:13] snickerz commented on #11
hi everyone just a codecamper student working on getting my responsive web design lol try to help with this amazing project lol

[2019-10-16 17:18] allella commented on #17
@kognise also has a proposed "terminology" update to the readme to call a "chapter" effectively what a "group" is in the schema. Group is pretty vague and it would be nice to have some parity between the core item in the schema and what we're referring to in the business logic terminology.

So, can we change "groups" to "chapters"?

[2019-10-16 17:18] besrabasant commented on #11
Hi I am a full-stack developer with experience in nodejs and ReactJS.

[2019-10-16 17:20] iPwnPancakes commented on #40
+1 for GDPR consideration when road mapping where Chapter is headed

[2019-10-16 17:34] ok1a commented on #11
Hi Folks!

I'm Omar Okla, and I'm from Herndon, Virginia, in the United States. I'm a full stack software engineer who primarily works in [but not limited to] React on the frontend and Node.js / Express / Postgres on the backend. I thought this was a great idea, after Meetup's recent billing changes, and found this via Twitter and the Discord server.

I'd love to contribute to this!

[2019-10-16 17:35] iPwnPancakes commented on #36
@allella We could set up webhooks early on for events, though this leads to questions such as:
- What if a user would not like their information to be included in a webhook's response?
- How should we handle rate limiting?

With webhooks, we could aggregate these responses into a single resource.

[2019-10-16 17:40] maiya-22 commented on #1
Brainstorms:

- **accessibility**

   - I think accessibility needs to be build in from the start.
   - I'm thinking ... vision impaired, dyslexic fonts options (?)
   - What else .. ?

 - **learning for team members**
   - Maybe a channel where contributors can ask technical questions &/or post tutorials on libraries/technologies being implemented.

- **dynamic working culture**
  - A conversatio

[2019-10-16 17:42] cameronsr commented on #58
Was in transit. Current context works as stated. 👍

[2019-10-16 17:43] nik-john commented on #17
@allella For sure. I'll update the swagger doc

[2019-10-16 17:47] nik-john commented on #17
@valishah Agreed - I'll update the PR with the changes. Please keep an eye on https://github.com/freeCodeCamp/chapter/pull/46

[2019-10-16 17:48] allella commented on #54
@nik-john is changing "group(s)" to "chapter(s)", so when this get's updated then please reflect those changes in the schema image.
https://github.com/freeCodeCamp/chapter/issues/17#issuecomment-542814020

[2019-10-16 17:50] nik-john commented on #54
You can see the changes [here](https://github.com/freeCodeCamp/chapter/pull/46/commits/6d67bd27a0ad438ccbbc494772108e7efe372bd1)

[2019-10-16 17:53] ScottBrenner commented on #23
+1 for GitHub Actions, use it for a few things and it's great!

[2019-10-16 17:56] chrismgonzalez commented on #12
Sounds good to me!  I don't plan on approving PR's unless they deal with docs. Additionally, It would be good to get more than just 1 set of eyes on everything before it gets merged in.

[2019-10-16 18:01] chrismgonzalez commented on #12
@mojo706 Would you mind submitting a PR draft of what you propose in the quote above?  Please reference this issue (but don't mark it for closing).  I find myself referencing this information on a regular basis, it would be nice to have it included in the repo.  This repo is changing rapidly so we need to make sure local forks are kept up to date as best as we can.

[2019-10-16 18:07] allella commented on #1
@maiya-22
Accessibility was thumbs'ed up by Quincy and is part of the first post in https://github.com/freeCodeCamp/chapter/issues/5

The #[implementation-details-discussions](https://discordapp.com/channels/633401573002969128/633826607617933353) on Discord is pretty close to the second idea, at least for now.

[2019-10-16 18:10] allella commented on #1
@maiya-22 also, accessibility was mentioned by these folks if you want to get a conversation issue going on that, or in an existing issue if it makes sense.

@pixelyunicorn timi-codes
Cecilia on Discord
@ryandudek
you / @maiya-22

[2019-10-16 18:12] chrismgonzalez commented on #40
FWIW, I've already indicated these auth thoughts in #12 as part of the docs outline.  It looks like most of us agree to have some sort of SSO system with social/github authorizations.

[2019-10-16 18:13] allella commented on #11
Volunteer Skills Offered / Mentioned in Publicly Posted [Discord] chatting (https://discordapp.com/channels/633401573002969128/633401573002969132/) between the start of the project and 2:00 PM EST on Oct 16th.

**Usernames are from Discord and likely do not match Github usernames in many cases.**

- QuincyLarson | Project Lead Free Code Camp and this new "Chapter" app | Texas
- richard | Eventloop

[2019-10-16 18:16] ryandudek commented on #1
I'd love to help on accessibility stuff, thanks for the `@`! I am also on Discord as `ryandudek`

[2019-10-16 18:22] ClaudiaStar commented on #11
Hi all I'm a beginner web developer from Portland, OR. with engineering background. Self-taught. I have experience with Node & ReactJS.

I have been relying on meetup heavily for networking and free classes. I love that freecodecamp is taking this project on. Would love to be a part of it!

[2019-10-16 18:24] nhsz commented on #11
Hi everyone! I'm from Buenos Aires, Argentina, co-organizer of the [Buenos Aires Chapter](freecodecampba.org). Fortunately we have a bit & great community here! We host [events](https://meetup.com/freeCodeCampBA) quite frequently and use Meetup a lot, so I'm very happy for the initiative 🚀

Can help with NodeJS, React and NextJS 😄

Greetings!

[2019-10-16 18:29] allella commented on #33
@panzerstadt  would you mind changing the title to something like

_Discovery and Searching Across Collective Instances_

to make it easier for folks to find and to align with the vocabulary that's developing?

[2019-10-16 18:42] abidishajia commented on #11
Hello! I am Shajia Abidi from San Francisco Bay Area. I'm a Full Stack Developer with a focus on Frontend development. I've worked with React/Redux and would love to help with that.

[2019-10-16 18:44] allella commented on #58
@Dusch4593 my understanding is this will be used by any free organization. Plus, I haven't run into a lot of FCC devs here, so not sure camp is practical. Though, it's a fun idea.

[2019-10-16 18:48] Dusch4593 commented on #58
@allella yeah I was shooting for memorability and recognition.

[2019-10-16 19:06] amark commented on #40
Here is how we can make User Accounts login to any Chapter:

@Dletta thanks for notifying me of this!

Cross-posted from Discord:

1) A new user shows up on any Chapter

2) creates an account - internally in the browser a public/private keypair is generated (similar to what GitHub does for your SSH keys, except user doesn't need to know about it)

3) This account's data and its keypair gets locall

[2019-10-16 19:22] Dhara159 commented on #1
Should we offer some functionalities listed below ( I might be totally wrong ):

- Inter chat between the single collective's user

- Separate feedback  section where user can easily react instead of typing lot of stuff which can encourage other users to join collective

- Section to upload event's slides (i.e. making a part like speaker deck ) so that the collective attendees can get all the thin

[2019-10-16 19:33] nhsz opened #64 "Use passwordless for auth"
We can simplify and smooth the auth system a lot by using something like [passwordless](https://github.com/florianheinemann/passwordless), any thoughts on this?

[2019-10-16 19:35] ceciliaconsta3 opened #65 "Accessibility"
# Keeping accessibility in mind

As we are creating a new application that brings together a variety of people without a paywall *cough Wework cough*, we need to keep accessibility in mind.  Having the application being at least AA WCAG compliant would ensure we can at least reach users with some level of visual or physical impairment. By adding minimal tweaks here and there, we can reach more by

[2019-10-16 19:36] allella commented on #58
@Dusch4593 the "Chapter" is the core object in the schema and we got that to match, so at least we have that going for us.

[2019-10-16 19:42] chrismgonzalez commented on #65
This is awesome!  When we decide on a spec for this I (or someone) will add this to the docs.

[2019-10-16 19:51] Lobarr commented on #11
Hi everyone, I am Lobarr from Toronto, Canada. I am a final year Networking and IT Security student and software engineer with experience building full-stack web applications, web crawlers, blockchain applications, and some machine learning. Looking forward to learning, contributing my skills and collaborating with the community on this project.

Skills
- Proficient in programming languages JavaSc

[2019-10-16 19:52] nhsz commented on #40
I've opened an [issue](https://github.com/freeCodeCamp/chapter/issues/64) about this

[2019-10-16 19:57] kognise commented on #64
Would you mind keeping this to #40

[2019-10-16 19:58] kognise commented on #40
@nhsz great thinking! But either way, user data needs to be stored in a way that it's accessible across platforms

[2019-10-16 19:59] nhsz commented on #64
Sure

[2019-10-16 20:07] bernhard-hofmann commented on #54
Sorry to ask, but can we bring this issue back on topic?

I'd really like a schema diagram; I find them very useful to understand the schema without having to create the image in my head from SQL text.

But how are we going to ensure it's kept up to date without relying on one person to re-create it whenever someone updates the SQL?

I'll have a look at DBeaver and PGAdmin, thanks @dmmulroy. Maybe

[2019-10-16 20:08] nhsz commented on #40
Good point. Passwordless doesn't affect how we store user data, does it? 🤔

With any auth system you have to use the same email you used when you registered, so it should't be a problem, we create a new user when someone enters a new email

[2019-10-16 20:23] bishopsalmanac commented on #11
Hello everyone! My name is Bishop and I have experience with the MERN stack. I can't wait to contribute to this project!

[2019-10-16 20:23] dmmulroy commented on #54
I think requesting an updated schema image is a reasonable request, esp. if DBeaver and PGAdmin diagrams are acceptable.

[2019-10-16 20:27] lulabromark commented on #11
Hi everyone, I'm Mark from Baltimore, MD and just graduated from a bootcamp. I have experience with JavaScript, React and Ruby on Rails. I'm excited to help develop Chapter!

[2019-10-16 20:28] Critchkn commented on #65
Should probably also need forms to follow a logical tab order, and ensure the input fields have the proper aria role

[2019-10-16 20:41] ryandudek commented on #65
I think we should advocate for using actual screen readers for testing as well as ChromeLens. On a Windows machine, you can download NVDA for free. On Mac, you can use VoiceOver - which is built in to your machine. This is much more accurate to what a user will end up with.

Also, can we add the [Toolness Accessible Color Matrix](https://toolness.github.io/accessible-color-matrix/) to the resource

[2019-10-16 20:49] RA9 commented on #11
Hello everyone, I'm Carlos from Liberia and I am excited to contribute to this project. I have experience with JavaScript, Angular, React, Python, Ruby and I am still learning.
Once again I am excited to help develop chapter

[2019-10-16 20:50] amark commented on #40
@kognise @nhsz user logs in via regular username/password from any device. Sorry, I thought I emphasized this strongly.

The way we do it with [GUN](https://github.com/amark/gun) the ENCRYPTED blob is replicated & backed up across users's browsers/devices + Chapters (tho note: all Chapters DO NOT have to store all data, usually I'm only doing like a ~3 replication factor). GUN also automatically h

[2019-10-16 20:56] ceciliaconsta3 commented on #65
I listed an article that referenced other screen readers but explicitly added those two under the Practical section + added your @Critchkn note on tab indexes for forms. Also @ryandudek , that Color Matrix is banging, added as well.

[2019-10-16 20:57] revik commented on #11
Hi all,
My name is Revital from Tel Aviv, I'm a Frontend developer. Mainly working with React. Poefficient in js, css, css-in-js and the likes .
Would really love to contribute to this project, as I follow and attend a lot of the Meetup.com groups , and was really bummed to hear about their new pricing policy.

[2019-10-16 21:04] allella commented on #65
Can we cross-reference the issues this is most likely to impact by # in'g them here, or # 'ing this on those threads?  #5 has accessibility in the first post, so it seems that one is related at a minimum.  Not sure how this would apply to mobile clients, and that could be further off, but maybe reference this to the mobile client thread too?

[2019-10-16 21:09] allella commented on #65
Moving the list of accessibility interested folks here from the

- @timi-codes
- ceciliaconsta3 on Discord
- Critchkn on Discord
- @ryandudek
- you / @maiya-22
- codedawg on Discord
- @QuincyLarson said ["accessiblity is the law now"](https://discordapp.com/channels/633401573002969128/633401573002969132/633499775001690122)" so he's onboard

[2019-10-16 21:16] kognise commented on #40
One alternate method is to have a centralized location for storing basic not-extremely-critical user data (e.g. name, email, auth tokens, bio). This data could be keyed by email (or email hash) so even if this single source is compromised, users could create a new account and retain their admin/organizer/etc. status.

**Process for logging in or signing up:**

- User visits collective and clicks a

[2019-10-16 21:21] allella commented on #36
@iPwnPancakes I suspect most Collectives would only care about some small number of others based on a common factor: location, industry, technology, etc, so if each Collective has an option to expose some bits of info to all others then that may limit the traffic.

I suspect in other cases some sites might want to aggregate a larger set of info from multiple collectives.

For instance, I could see

[2019-10-16 21:25] allella commented on #36
Then, you might have something like Free Code Camp that wants to advertise or build a site to index and promote all their "chapters".  In that case, they'd have the option to either to have all FCC Chapters on their own Collective.  Or, you might have FCC camps to be part of another Collective, perhaps a local community. In that case the local community would probably want access to Collective dat

[2019-10-16 21:26] SharedMocha opened #67 "What SEO Requirements and Schema types are needed for events and pages ?"
An event should be visible when searching on Google or other search engines.
For this, we can add SEO compliant schemas to events such as -
https://schema.org/Event. Apart from this what are other needed SEO requirements ?

[2019-10-16 21:29] SharedMocha commented on #11
Hello All, My name is Hemanth from Califonia.  Working as a Full-stack engineer.
I have experience with React.js,CSS,HTML,JS,Node,js.

I love that freecodecamp is taking this project on. Would love to be a part of it!

[2019-10-16 21:31] allella commented on #36
[An example of this is how we're currently pulling Meetup.com and Eventbrite.com event data from their APIs and then normalizing and syndicating that data](https://github.com/codeforgreenville/upstate_tech_cal_service) to allow others to build apps using near real-time data.   Then, we have a number of apps, like [Hackgreenville.com](https://github.com/codeforgreenville/upstate_tech_cal_service),

[2019-10-16 21:38] Code4Three commented on #11
Hey all, I'm in Australia and I've been following along the last couple of days just getting a feel for what's happening. I'm proficient in HTML, CSS have a good understanding of Accessibility and UX and also have the basics of JS and React. This would be my first major project though so would be keen to get my hands dirty and also just learn from more experienced developers.

[2019-10-16 22:03] cmenedes commented on #60
Would like to help with building out this functionality when the time comes (I work with GIS)

[2019-10-16 22:04] allella commented on #67
Not sure where to link this into the conversation right now, but I can :+1: the schema.org/Event idea.

[2019-10-16 22:11] PrestonElliott commented on #34
I think for MVP we should stick to React, React-Bootstrap, and CSS. We can add additional libraries and functionality for future releases, but MVP should be achievable in the near future!

We could implement container components to create event cards, add test users, and be able to demo the app.

After MVP, it'd be beneficial to refactor into React-Redux as the app scales.

[2019-10-16 22:17] allella commented on #47
@QuincyLarson we're having some backlog on the PRs. I've suggested @nik-john to ping someone else with write access via his PR #46 .

Both @nik-john and @chrismgonzalez (leading the Docs) have been committing and asked how to get write perms.

[2019-10-16 22:26] jagtapl commented on #11
Hello All, I am in Chicago, IL self-employed software developer who looking forward to contributing my skills and collaborating with the community on this project.

[2019-10-16 22:42] allella commented on #32
If the intention of the project is to bundle up a simple, one-click container install then is it even possible to include ES?  The OP said it's costly and complicated.  If the reason we're building this app is because Meetup isn't free then it seems like anything besides a hosting cost is counter to the project.

I'm not experienced with Postgres, but folks I know in town that use it won't stop ta

[2019-10-16 22:59] amark commented on #40
it is a huge nightmare to manage multi self-hosted apps all with same-login this way. Centralization just isn't a good approach, unless all the accounts are on the same host, which most apps are that way, but doesn't seem like Chapter would work well that way.

[2019-10-16 23:02] panzerstadt commented on #33
@allella thanks, done that!

[2019-10-16 23:05] DarshanGowda0 commented on #11
Hey all! I'm Darshan from San Jose, California.
I have considerable experience in the Flutter framework, Angular and Node/Express.

I'd love to contribute to the mobile client of this project 😄

[2019-10-16 23:13] allella commented on #12
@chrismgonzalez I see from #66 that Github has a [SUPPORT.md](https://help.github.com/en/articles/creating-a-default-community-health-file-for-your-organization#supported-file-types) suggestion.

Maybe that's the place to list POC/moderators, people with write/merge, Discord moderators?

[2019-10-16 23:24] mojo706 commented on #40
@amark my interest has been piqued, a quick question. What if the user is on a device they have never used before. For example like in a cyber cafe or they decide to use their buddies computer, how would they login in this case? Also take a case where they want to join a new chapter from said never before used device how would this be?

[2019-10-16 23:27] Cheukting commented on #32
I also think that ES is good for searching across chapters worldwide but not necessary for local meetup groups. Most of the time Postgres is enough to support a web app.

[2019-10-16 23:28] Cheukting commented on #65
Thanks @ceciliaconsta3 it is a great suggestion. Having accessibility functions is definitely needed for a inclusive community app.

[2019-10-16 23:56] MarkAtwood commented on #1
I would very much like for this to use ActivityStreams, so that all the instances of Chapter can federate with each other and possibly even federate with other ActivityStreams implementations such as Mastodon and PixelFed.

[2019-10-17 00:00] isubasinghe commented on #20
I've had experience with building PWAs, imo it is probably too immature still. I have come across an issue that was opened in 2015 but the fix only came mid this year in Chrome 76.  Be prepared to run into issues like this, if going the PWA route.

[2019-10-17 00:06] MarkAtwood commented on #1
If it doesn't start with an API, one will never be implemented without a full rewrite.
If an API is added later, it will never be complete or correct.
If you define an API and then implement the UI/UX so that it works some other way than calling the API, then neither the UI or the API will be correct or safe.
If a feature can't be defined as a set of API calls, it's not defined enough to implement

[2019-10-17 00:09] Dletta commented on #40
@mojo706 If he is connected to an instance that is also connected to other instances, it will reach out to the network of instances to ask whether this user has been seen before. Then fetch the blob and return it to the new device, where it can be decrypted with the password.

[2019-10-17 00:12] allilevine commented on #11
Hi everyone! I'm Allison from New York. I'm a software engineer at Women Who Code with front-end / React experience. I'm really excited about Chapter and hoping to get involved.

[2019-10-17 00:50] raregamer commented on #11
Hi to everyone, I'm Samuel. I've been coding for a little over 2 years now. Some of my skills are React, JavaScript, Node.js + Express, MongoDb, MySQL, PUG probably some other things as well. I am really excited to contribute to this project.

[2019-10-17 01:19] francocorreasosa commented on #64
Closing in favor of comment in https://github.com/freeCodeCamp/chapter/issues/40#issuecomment-542864260

[2019-10-17 01:19] #64 closed

[2019-10-17 01:21] imccausl commented on #11
Hey! I'm Ian from Toronto, Canada. I have some experience in Node + Express, React, SQL and I used some Sequelize in a recent project. I think Chapter sounds like a great idea and I'm also excited to have a chance to be a part of an open source project from such an early stage of development. I'd love to help however I can!

[2019-10-17 01:22] francocorreasosa commented on #32
I also think using https://github.com/valeriansaliou/sonic could be a great alternative since is lightweight / easier & cheaper to host.

[2019-10-17 01:24] francocorreasosa commented on #34
TBH I think this can be easily solved with [Next.js](https://nextjs.org) (no extra state management, SSR) and [Bootstrap](https://getbootstrap.com) or [Chakra UI](https://chakra-ui.com).

[2019-10-17 02:13] ceciliaconsta3 commented on #67
A few things I can think of from the top of my head:
- Sitemap.xml, could setup Google Search console and formally submit it
- As mentioned, Schema structured JSON for Events and Breadcrumbs is a good start
- Making sure our code is semantic - h tags in hierarchal order, using navigation tags and plenty of lists with question headers so Google can generate proper Sitelinks
- Social and regular met

[2019-10-17 03:00] allella commented on #1
@MarkAtwood there are very early conversations about interoperability between Collective instances in #36 and the API folks are mainly talking at #17 and pull requests like #46, so now is the chance to steer those conversations and/or point people to open-source things that already pave the way.

[2019-10-17 03:02] sebsojeda commented on #11
Hi everyone I'm Sebastian from Denver, Colorado. I'm a DevOps Engineer and have experience with back-end development (Go, Java, Python) but I also enjoy working with React on my free time and I've been looking for an OSS project to start contributing to!

[2019-10-17 04:13] snekolen commented on #11
Hello!  My name is Helen and I'm from Houston,TX.  I am currently a senior in high school looking towards a career in web development after graduation.  I am semi-knowledgeable about front-end development and would like to improve my skills and learn additional development techniques while contributing to this project.

[2019-10-17 04:23] allella commented on #11
@snekolen you might learn a lot just hanging out in the Discord channels and keeping up with the Github conversations.  Easiest way to start is to just try to answer questions for new people coming into the project and connect people to other people and people to issues.  Pop into the [Discord](https://discordapp.com/channels/633401573002969128/633401573002969132) and the conversation is pretty ma

[2019-10-17 04:27] xarielx opened #71 "Add category to Chapters Table schema"
This will make it easier for a user to filter the _chapters_ by interests, i.e. sports, events. Since the current schema has description and details, a more general “category” will make it easier to find the right  _chapter_. If the _chapter_ wants to be a private one, a private option will be added and won’t be able to be found by filtering by category.

Solution: Add category to existing _chapte

[2019-10-17 04:51] QuincyLarson commented on #47
@allella I've granted several people including yourself permissions on this repository. You should now be able to go through and help clear the outstanding PRs.

[2019-10-17 05:00] #58 closed

[2019-10-17 05:18] QuincyLarson commented on #47
Hi everyone, in order to provide some more clarity as to what I'm envisioning for Chapter, I've created this draft of how we would announce it to potential users.

These are just my opinion, based on my direct experience with dozens of freeCodeCamp chapters over the years. This may be less relevant to other organizations.

I wrote this after a long day, so if you notice any typos or fact errors, p

[2019-10-17 05:24] iansltx commented on #47
Good callouts here on what Chapter isn't (a discovery tool), as well as the graph-y nature of sub-chapters. Also makes it more obvious that if someone wants cross-chapter aggregation, the best place to do that would be an external service that scrapes multiple instances' APIs, rather than having something similar built in, at least for rev one.

[2019-10-17 05:30] allella commented on #28
https://github.com/freeCodeCamp/chapter/blob/master/CONTRIBUTING.md should cover this and the docs in Pull Requests and @chrismgonzalez  outline should cover even more if it, so closing this one.

@alassiter what's up Greenville!

[2019-10-17 05:30] #28 closed

[2019-10-17 05:39] bernhard-hofmann commented on #47
s/when the RSVP/when they RSVP

Or did I read it wrong?

[2019-10-17 05:49] adrienshen commented on #11
I am Adrien. I mainly work in JS frontend and Python backend. I've had a couple years experience in React, React Native and ecosystem. I would like to improve on backend JavaScript and very excited to help out on this project. I've used meetup since 6 years ago and sad to see the current state.

[2019-10-17 05:51] allella commented on #71
A forthcoming pull request will rename "group(s)" to "chapter(s)", but the point is the same.  @nik-john and/or folks on #46 and #17 should be able to address.

[2019-10-17 06:08] gjvpaet commented on #11
Hi everyone, I'm Gab. I am based in the Philippines and I have 2+ years of experience in development using MERN stack. I discovered this project initiative on twitter and I'd like to help out. This is my first time to get involved in an open-source project and I'm excited about the experience and learnings that I'll have by contributing.

[2019-10-17 06:21] allella commented on #47
@QuincyLarson That vision sounds flexible enough to fit a broader use case, such as my interest for supporting the tech meetups in my local/regional community.

"Collective" is the term proposed to describe a collection of chapters hosted on the same server instance.

It's probably smart to update the [Terminology](https://github.com/freeCodeCamp/chapter#terminology) and/or the [vision statement](

[2019-10-17 06:27] Wizyma commented on #34
Everyone talking about bootstrap, but nobody talks about design système , the rebass lib ?

And i saw some comment saying they had bad experience with material-ui please share why !
Just saying no "i didnt like it" makes no sense!

I'll Start: i am using material ui since V1 in my company wich is one of the biggest french company, with more than 800 software engineer.

In the begining material ui

[2019-10-17 06:41] adrienshen commented on #20
An additional observation point. PWAs have much greater popularity in places like India, SE Asia where the phones are lower powered and data plan relatively more expensive in terms of purchasing power. Given that FCC is a world wide mission, I think there's a benefit in PWA here.

With that said, as long as there's a solid API, I don't see why there can't be both PWA and various mobile clients. I

[2019-10-17 07:06] iansltx commented on #20
At the end of the day, we have a ton of eyes looking at this. As soon as we get a reasonable API, there's nothing preventing parallel development of platform-specific native, cross-platform, and web-centric clients to said API. I'm sure that there are a dozen folks who made intros in #11 who have played with full-on PWA stuff, and several who could build a native mobile app for one platform or ano

[2019-10-17 07:20] bernhard-hofmann commented on #47
If it's going to be a Docker container it could also run on Windows.

[2019-10-17 07:56] isubasinghe commented on #11
Hey everyone, I am Isitha. I am from Melbourne, Australia. I am a final year comp sci student and I have 1 year of dev experience in building PWAs in React, Redux and Typescript, worked on a heavy UX focused web app that needs to be accessible by ~ 7million people.

I haven't majorly contributed to open source and would like this to be my first major contribution.

[2019-10-17 08:08] MirzaChilman commented on #34
I hope this helps, but I'm gonna list out every libs here that already been mentioned above, and we can decide it later which one will be used, as for this moment we are still blind

Design System
- [Material ui](https://material-ui.com/)
- [Reactstrap](https://reactstrap.github.io/)
- [Ant design](https://ant.design/docs/react/introduce)
- [Chakra ui](https://chakra-ui.com/)
_please be mind that

[2019-10-17 08:50] mesthabro commented on #6
I would love to help in optimizations (such as lazy-loading, pre-fetching, caching etc)

[2019-10-17 09:07] tomacotuna commented on #11
Hello everyone, I am Toma. Recently graduated from King's College with a Computer Science degree. Been going freelancing along university for 2 years now, working with technologies like React, React Native, NodeJS, Express, Gatsby, GraphQL. I recently started a new job as a Software Development Engineer at Amazon, where I am learning Swift and the iOS ecosystem. Mega exsicted to be working along s

[2019-10-17 09:14] aloisdg commented on #21
I can help with the fr-fr translation.

[2019-10-17 09:14] sarthak1991 commented on #11
Hey everyone. I am Sarthak. I have 6+ years of experience. I try to be stack agnostic be it web or mobile. I prefer backend and devops. I've previously been a part of the Mozilla volunteer community too.  Excited to be a part of this community and contribute in any way I can. Let's do this.

[2019-10-17 09:58] tunnckoCore commented on #40
@mojo706, that's all that gundb is doing. Automatically replicates everything between users's browsers and chapters.

Really need to look on GUN, it's fantastic.

It doesn't matter if you accessing a known chapter from cyber cafe, or if you accessing new chapter. Your auth data is encrypted and stored on all chapters hosts (or I should say instances cuz everything is client javascript). Which isn'

[2019-10-17 09:58] Toorain commented on #11
Hi, I'm Maxence, I have few months of code under the hood but I'll try my best to participate to this awesome project.
Web basics (HTML/CSS/JS/PHP/SQL)
Angular & NodeJS (WIP)

[2019-10-17 10:49] bernhard-hofmann commented on #47
s/The can then one-click-add/They can then one-click-add

[2019-10-17 11:37] michionist commented on #11
Hello, Everyone, My name is Kenneth Ijama, am a Web developer for 2 years now, am Skilled in NodeJs, MySQL, ReactJs, MongoDB, am excited to be part of this Project.

[2019-10-17 12:05] rodmsmendes commented on #11
Hi! My name is Rodolfo Mendes. I am a backend developer and I've been working with Java and its flavors for more than 10 years. Other technologies I use or used are SQL, Python, and Javascript. Also, I'm an enthusiast and student of machine learning and artificial intelligence.

[2019-10-17 12:10] niraj-thakur commented on #11
Hello everyone, I m Niraj Thakur. Expert in javascript mostly in frontend side. Excited to work on mid-tier and frontend. I have total of 5 years of experience. My skill consist of Javascript, Java.

[2019-10-17 12:16] alinaalam commented on #11
Hi Everyone!
I am Alina. I have 4 years of experience and I am working at a company in Berlin. Currently, I am working on Java, Spark, Kafka and ES (AWS hosted). I would love to contribute in this project. I have also worked on the front end side, but I won't say I am really good there.

[2019-10-17 12:28] sdrig commented on #11
Hi, My name is Sadri from Turkey. I am working as a full stack developer in Istanbul. I would like to contribute in the project as a Javascript developer.

[2019-10-17 12:36] bernhard-hofmann commented on #47
The word "uses" in this line seems out of place:

Might I suggest

[2019-10-17 12:43] komputarist commented on #47
@kognise #21 should kickstart when the backend is ready. The job should be done alongside the frontend. As for Localizing the frontend to other languages, that will come pretty later after all components are localized to a single json file for the default Locale, so for now. I will watch the issues as they are being addressed and PRs form others. But @QuincyLarson, which Methodology are we gonna u

[2019-10-17 12:45] Dhara159 commented on #47
I think there should be another issue related to the methodology which we are going to use! Is anyone interested in making a separate issue for this?

[2019-10-17 12:53] rodmsmendes opened #73 "Database migration tool"
Hello,
are you people consider using a database migration tool? Particularly I found them very useful for apply database patches and preventing losing data. Have you considered any tool? I did a little research and found db-migrate for Node.js:

https://www.npmjs.com/package/db-migrate

Do you have any suggestions?

[2019-10-17 13:00] das3in commented on #24
This seems arbitrary. How does adding TS add any friction? Much less unnecessary?

Follow up question: do you believe tests add "unnecessary friction?"

[2019-10-17 13:09] G-Chilie commented on #11
Hello my name is Chinwe but you can call me G-Chilie, I am a JavaScript developer from Nigeria, I have built real world project with NodeJS/Express, Postgresql. I am currently learning React JS so i will like to contribute to but back end and frontend of the project. Thanks.

[2019-10-17 13:28] kognise commented on #40
@amark With GunDB, how would this scenario work? A user signs up to chapter at `chapter.foo.com`, sets their profile information, etc. They turn off their computer after a good day of work, and head to a coffee shop with a different computer and sign in to `chapter.bar.com` with the same credentials.

[2019-10-17 13:32] rodmsmendes commented on #71
Hi @allella, do we have a PR renaming the table "groups" to "chapters"? Also, I think we should update the terminology on docs.

[2019-10-17 13:52] lcarbonaro commented on #11
Hi, Les Carbonaro here from Mississauga, Ontario, Canada. Been writing code for a while now, web developer the last 10 years or so. Volunteer at the local group since 2014, and would like to see us Meetup-free someday. Can help with both back-end (Node/Express/SQL/NoSQL) and front-end (Vanilla/VueJS) , as well as docs.

[2019-10-17 13:52] allella commented on #71
@rodmsmendes yes, #46 includes the rename @nik-john 's last comment there was he needed to fix some things, so that's a big pending pull request right now.

[2019-10-17 14:02] vxncetxn commented on #11
Hello! I am Vance from Singapore and I would be happy to help with the frontend aspects. I am familiar with UI/UX, design, vanilla mark-up and the React ecosystem, plus a little bit of Vue. Looking forward to contributing here! 😊

[2019-10-17 14:11] QuincyLarson commented on #34
100%. But we need to keep maintainability in mind. How hard is it for a potential contributor to get up-to-speed and able to update the codebase?

freeCodeCamp started out using a lot of tools, and over the years, we've stripped most of them out because they made it harder for people to contribute to the codebase.

Also, some of the tools listed on this thread are likely to become deprecated in th

[2019-10-17 14:14] allella commented on #47
@QuincyLarson "Organization" works. We weren't hitched to "Collective". It came out of trying to eliminate the value "group" in the schema. We've renamed the core object to "chapter".

We'll update the Terminology to use Organization to represent a running instance with 1 or more chapters within.

[2019-10-17 14:25] xarielx commented on #71
@rodmsmendes that’s why I opened this issue. I did not see that in modifications of the sql or documentation file, I’m glad your check agrees with mine.

[2019-10-17 14:26] theShivaa commented on #11
Hi, I am Shiv from India, I have experience of 4 years in programming. Mostly I work on JavaScript frameworks (Nodejs, Vue , Angular). Looking forward to contribute to the project.

[2019-10-17 14:32] allella commented on #71
@nik-john @francocorreasosa are you guys able to answer / resolve this one in the course of #46?

[2019-10-17 14:38] costaivo commented on #11
Hi All, I am Ivo Costa from Goa, India. I have been programming for last 14years. Worked on C#, NodeJS  and Angular.
Looking forward to contributing here.

[2019-10-17 14:40] Zeko369 commented on #73
Sequelize has built in migrations

[2019-10-17 14:42] allella commented on #73
Thanks @Zeko369. @rodmsmendes does that satisfy the concern?

[2019-10-17 14:59] f0cus10 commented on #71
Seems like there's multiple issues open regarding the DB schema. Issues #54 seems to be a version of this issue as well. PR #70 also seems to be reasonably related to this, including replacement of *groups* with *Chapters*

[2019-10-17 15:08] mojo706 commented on #12
@chrismgonzalez I think someone else already did this, so it's cool

[2019-10-17 15:10] wuilliam321 commented on #11
Hi! Wuilliam Lacruz. from Venezuela, living in Uruguay. Fullstack developer, with 12+ years on IT. very passionate for React and Vue, And Angular, and all the JS ecosystem, Clean Code, Clean Architechture, Clean Everything! It will be great to work with you guys!

[2019-10-17 15:13] f0cus10 commented on #67
Is this going to be part of the MVP?

[2019-10-17 15:28] mmiszy commented on #24
All the modules mentioned in the tech stack thread are either written in TypeScript or have proper typings.

[2019-10-17 15:38] francocorreasosa commented on #73
Since this project is going to use Sequelize. We can use its built-in support for migrations: https://sequelize.org/master/manual/migrations.html

Closing this issue, but feel free to reopen it if it doesn't satisfy the concern.

[2019-10-17 15:52] aloisdg commented on #24
@nhsz TS ease collaboration for all non js users not familiar with the mess that js is.

[2019-10-17 16:03] allella commented on #67
@f0cus10 the focus is still on the API at the moment, so we can figure this out once client development gets rolling and folks can see what data is available and if we have all the fields to include schema.org/Events markup

[2019-10-17 16:23] rodmsmendes commented on #73
@allella @francocorreasosa sure! we should stick for fewer tools as possible.

[2019-10-17 16:38] wuilliam321 commented on #34
Agreed, from zero to hero. xD from simlpe to complex. We don't need a big stack at the begining.

[2019-10-17 16:50] vkWeb commented on #34
@QuincyLarson Yes. Perfect! That's what I was thinking.

I would recommend starting with a basic stack as already mentioned on README and then we can always add more tools in the future. Let's kick off this project asap instead of getting confused with stack & design. :)

[2019-10-17 17:01] allella commented on #12
@chrismgonzalez shall we add a link on the CONTRIBUTE.md to the Github project moderators?

Maybe under Step 4, or the very bottom of the page?

I don't know if the [project moderator page is public](https://github.com/orgs/freeCodeCamp/teams/chapter-project-issue-moderators/members), but if it is then linking to it is likely better than listing people's names. The list is likely to change in the

[2019-10-17 17:03] vkWeb commented on #12
I want to tell you all that we should not put GitHub mods or discord moderator names on the documentation now. If a contributor runs into any problem then he or she should be directed to the discord server for help.

We can add names of mods (long term mods) later in the project with their email.

[2019-10-17 17:04] allella commented on #12
@chrismgonzalez also, we have some PR templates committed and we can update your outline above and possibly link to them, if that's helpful for people. Maybe link that bullet to https://github.com/freeCodeCamp/chapter/tree/master/.github ?

[2019-10-17 17:07] allella commented on #12
@vkWeb alright. Figured it would be something people are going to ask, but sounds like you're speaking from bad experiences.

[2019-10-17 17:19] trojanpauro commented on #11
Hy i am Paul from Zimbabwe I am final year Computer science major i can develop with django ,flask ,nodejs and vuejs

[2019-10-17 17:34] vkWeb commented on #12
No need to do that. My docs PR which you merged will automatically put a template for contributors when they create a PR.

Not exactly bad experiences 😅. See, people want immediate help or they will pass by. Through discord, they'll get help in at most an hour.