[2021-09-21 13:49] ojeytonwilliams commented on #99
Sounds good to me. The only point I disagree on is that we should just email people that are _interested_. If they've opted out, that has to be respected.

[2021-09-21 15:27] allella commented on #99
Actually, the _interested_ field is intended to store the "subscription" preference of the rsvp?

@ojeytonwilliams and I [agreed to change the _rvsp.interested_ and _user_chapter_role.interested_ fields to be named rsvp.subscribed and user_chapter_role.subscribed](https://github.com/freeCodeCamp/chapter/pull/641#issuecomment-878104966), but that may have gotten lost in the effort to focus PR #641.

[2021-09-22 05:52] Ravichandra-C commented on #99
@ojeytonwilliams @allella Do we have any mutation to send the email to selected set of people? Like if I want to send an email to Interested only, Do we have a mutation for that?

Looks like SendEvenInvite Mutation is sending the email to all the members in the Confirmed and waitlist?.

[2021-09-22 07:21] ojeytonwilliams commented on #99
@Ravichandra-C that's right - the current mutation only filters out people that are not _interested_.

I'd recommend modifying that mutation to take the additional options as an argument.

[2021-09-23 13:18] Ravichandra-C commented on #99
@allella @ojeytonwilliams

I've implemented the functionality as shown in the screenshots below.

Interested checkbox is enabled by default.

![image](https://user-images.githubusercontent.com/17808008/134513639-b62e6d32-67cc-4862-a971-44906338ddf0.png)

If User un selects all check boxes and click on Send he will be presented an error message  as shown in the screenshot.

![image](https://user-im

[2021-09-23 16:52] Ravichandra-C commented on #99
@ojeytonwilliams , I think there is a confusion in the functionality.

interested checkbox will not send mail to people who have **_interested_** set to false. It will only send email to people who have **_interested_** set to to true on that event's chapter level (.ie people who choose to follow the events in that chapter).

Confirmed will send the email to Only Confirmed participants of the even

[2021-09-23 17:27] ojeytonwilliams commented on #99
Sorry, @Ravichandra-C part of the issue is that I'm still working on the _events.interested_ (soon to be _events.subscribed_!) functionality.  All being well I should have that done fairly soon.

Anyways, the way I see things is this: if a user unsubscribes from a chapter (i.e. _user_chapter_role.interest_ = false for that user), that chapter should stop emailing them entirely.  That means we shou

[2021-09-23 17:42] Ravichandra-C commented on #99
@ojeytonwilliams, Thank a lot for your clarification.

So when organizer selected the Cancelled checkbox, Should we email to people whose rsvps.cancelled=true and user_chapter_role.interested=true?

[2021-09-23 21:03] ojeytonwilliams commented on #99
You're very welcome, thanks for taking the time to discuss this.

That makes sense to me, yeah.

[2021-09-23 21:56] allella commented on #99
@ojeytonwilliams I haven't reviewed the [MVP issue for unsubscribing](https://github.com/freeCodeCamp/chapter/issues/274), but I'm wondering about a use case where a _user_ can unsubscribe from a _chapter_ but still remain subscribed to specific events, via an RSVP.   For example, someone might not want the general announcements for new monthly meetup _events_ or other general _chapter_ messages f

[2021-09-24 08:47] Ravichandra-C commented on #99
@allella @ojeytonwilliams , Thank you for your comments.

I've updated the label of the checkbox from interested to cancelled.

![image](https://user-images.githubusercontent.com/17808008/134644864-8d9e1122-0877-4640-804e-ca7f917a992f.png)

and I've also updated the resolver logic according to above logic , Only change is that since we don't have rsvp.confirmed for confirmed I'm checking if (!rsvp

[2021-09-24 09:42] ojeytonwilliams commented on #99
I'm pondering that, too.  It seems to me that it's important that it's both clear to users what will happen when the subscribe/unsubscribe and clear to developers what each flag in the db is intended to do.

From a user perspective, if I unsubscribe from a Chapter, I would expect that Chapter to stop emailing me.  If I *then* subscribed to a specific event, I would expect to opt into emails. For e

[2021-09-24 12:19] Ravichandra-C commented on #99
Sure, Thank you! @ojeytonwilliams

[2021-09-25 15:58] allella commented on #274
Oliver shared thoughts on https://github.com/freeCodeCamp/chapter/issues/99#issuecomment-926492529 about helping users understand the impact of unsubscribing from a _chapter_. For example, what happens if a _user_ is subscribed to an event and unsubscribes from a chapter.

[2021-09-25 16:06] allella commented on #99
I mostly agree with the field names. I think we could use _subscribed_ on both _event_ and _chapter_ tables, but if we want to keep _interested_ for _chapters_ and _subscribed_ for events, then that's fine.  The two terms still lack some context to the developer. Unless we're going to make the field names longer and more to the point, then they might always be a bit confusing.  I think the code, c

[2021-09-27 05:23] Ravichandra-C commented on #107
@allella @ojeytonwilliams Could you please let me know what work is remaining in this issue apart from the above UI changes?

[2021-09-27 09:28] ojeytonwilliams commented on #99
Great, I think we're basically on the same page.

That's fair.  I've been trying to use comments less liberally, but this does seem like a case where we're not going to capture the nuance with a good variable name.

I'll handle that separately.

[2021-09-27 13:10] #99 closed

[2021-09-27 14:56] #430 closed

[2021-09-27 18:09] Ravichandra-C commented on #471
Issues I faced while running the chapter with Windows + Git bash using docker.
1.
Issue: chapter app docker container was not starting when I run docker compose up
Solution : Removed `./wait-for db:5432 -- ` from Command in app Service in docker-compose.override.yml file

2. Problem : I'm unable to run npm run eslint
3. Problem : I'm unable to run npm run cypress:run , However I was able to run th

[2021-09-27 21:28] allella commented on #107
@Ravichandra-C

When a [new _event_ is created](https://opensource.freecodecamp.org/chapter/tables/events.html) by an _organizer_ for a specific _chapter_, we will want to query the [_user_chapter_roles_ table_](https://opensource.freecodecamp.org/chapter/tables/user_chapter_roles.html) where _user_chapter_roles.chapter_id = _events.id_  (this will be the event id of the newly created event) AND _

[2021-09-27 23:49] imcodingideas commented on #359
We could open up a webhook on our end, and use Github Actions Scheduled events i.e. https://docs.github.com/en/actions/learn-github-actions/events-that-trigger-workflows#scheduled-events

[2021-09-28 08:11] Ravichandra-C commented on #107
@allella , Currently we have the below functionality

When a new event is created by organizer in a specific chapter, We query user_chapter_roles table where user_chapter_roles.chapter_id=chapter.id( id of the chapter in which the event is created ) and user_chapter_roles.interested = true and send an email with below text.

![image](https://user-images.githubusercontent.com/17808008/135046416-2b2

[2021-09-28 08:49] ojeytonwilliams commented on #107
@allella @Ravichandra-C I think this is largely done - we are automatically sending the notification emails already.  If someone has _user_chapter_roles.interested_ they will be emailed whenever a new event is created on that _chapter_.  However we still need to

- set _user_chapter_roles.interested_ to be true when they RSVP to an event for a chapter
- add the unsubscribe placeholder

We should o

[2021-09-28 09:44] Ravichandra-C commented on #107
@ojeytonwilliams ,In addition to the above changes ,Should I also include these UI changes as part of this issue?

[2021-09-28 11:35] ojeytonwilliams commented on #107
@Ravichandra-C I'll handle that in a separate PR :)

[2021-09-28 14:20] allella commented on #359
Thanks for the suggestion on Github Actions.

Each **Chapter** _instance_ will_ be self-hosted by various organizations and each _administrator_ will likely need to configure their own scheduler, as with the Heroku conversation above.

[2021-09-28 14:40] allella commented on #107
@Ravichandra-C I probably had an error above in the logic.  I trust you understand what needs to be done on the technical side, so we should be good to proceed with what you have.

Thanks

[2021-09-28 16:36] Ravichandra-C commented on #107
@allella @ojeytonwilliams Thank you for explaining. I understood what needs to be done. I'll be working on it.

[2021-10-01 04:33] Ravichandra-C commented on #107
@ojeytonwilliams , For setting the user_chapter_role.interested=true when an user rsvp to an event, I'm creating a new mutation with name _SetUserInterestForChapter_ which takes the event_id as the parameter. Could you please let me know if we already have this mutation? I just wanted to make sure that I'm not adding duplicate code.

[2021-10-01 05:01] allella commented on #107
It makes sense that most _users_ will be happy to get notified of future events for a _chapter_, but what if a _user_ had previously toggled _user_chapter_role.interested_=false?

It sounds like this user story would set _user_chapter_role.interested_=true without asking, but a _user_ may not want to get  future notifications.

Would we want to show a toggle field on the RSVP form, set that toggle

[2021-10-01 05:06] Ravichandra-C commented on #107
@allella , This mutation will check if user already has a preference set in the database, if it is already set, then we are not doing anything.If it is not set then we are by default setting the user_chapter_role.interested to true.

[2021-10-01 07:52] ojeytonwilliams commented on #107
We definitely don't want to do that and Ravi's proposed logic should work as intended.

Seems reasonable, yeah.  We could have it default to true when _user_chapter_role.interested_ is not set and just mirror their settings once _interested_ has a value.

We don't have any mutations that change _user_chapter_role.interested_, so please go ahead.

Cool. Just to aid any future searches: all mutation

[2021-10-01 10:33] Misba9 commented on #691
Hi
I am new to open source and looking for some projects to contribute to.
Let me know if I can take this issue.
and I am good at these kind of issues.

[2021-10-01 10:47] ojeytonwilliams commented on #691
Hi @Misba9 this is an umbrella issue that highlights other issues that are good for new contributors, so you're in the right place.  I recommend taking a look at the first comment, https://github.com/freeCodeCamp/chapter/issues/691#issue-973783669 and see if there's anything you'd like to take on.

[2021-10-02 19:00] Ravichandra-C commented on #276
@ojeytonwilliams @allella , Could you please provide some information on how this should be implemented? All the discussion in this issue seems to be suggesting to use Heroku's scheduler.  Could you please let me know , what is your thoughts on that?

[2021-10-03 17:07] allella commented on #276
I'm not sure of the best solution.

One method that some CMS, like Wordpress, use is to add items to a queue and have the jobs scheduled at the end of normal web traffic. However, that's not the idea solution as it can slow down normal traffic.

I suspect there would be some sort of queue involved and then a trigger for it, like the Heroku scheduler or cron job, but I'll defer to Oliver, @Zeko369

[2021-10-04 13:34] ojeytonwilliams commented on #276
I'm not 100% sure either, but Fran makes a good argument for using Heroku's scheduler for the MVP (cost, simplicity and we're already considering Heroku in general).  The main discussion is over here: https://github.com/freeCodeCamp/chapter/issues/359

[2021-10-04 15:36] #107 closed

[2021-10-06 03:41] Ravichandra-C commented on #96
@allella, @ojeytonwilliams , Can Event have multiple sponsors ? like having one sponsor for venue and another sponsor for food etc.

If Yes, then our form in Create event should have facility to add more then one sponsor, and also in edit event form we should be able to add and remove sponsors.

Could you please let me know if my understanding is correct?

[2021-10-06 04:36] ledell commented on #445
This is great progress!  I just wanted to a post a link to the [demo video](https://www.youtube.com/watch?v=auaGiP2pP64&t=2097s) for anyone else that might be looking for it.

[2021-10-06 17:53] allella commented on #96
Actual, that last link was more context about being flexible to allow a _user_ to have more than one role for an event.

The idea of having [food, venue, and other sponsors was discussed a good bit in a much earlier issue](https://github.com/freeCodeCamp/chapter/issues/320#issuecomment-581653505).

[2021-10-06 18:12] allella commented on #96
I posted this in the chat as well, but here's a question related to this issue and being flexible in how we manage roles

So, it may be helpful to consider what other things we might append to these tables to see if we're going in the right direction.

One question / example that came from https://github.com/freeCodeCamp/chapter/issues/96 is regarding the various roles.

Chapter is currently defin

[2021-10-06 18:31] allella commented on #96
So, it may be helpful to consider what other things we might append to these tables to see if we're going in the right direction.

One question / example that came from https://github.com/freeCodeCamp/chapter/issues/96 is regarding the various roles.

Chapter is currently defining the roles as constants and that may not scale well when organizers have some sort of new / clever sponsorship type or

[2021-10-07 06:01] Ravichandra-C commented on #96
@ojeytonwilliams , I'm trying to add list of sponsor fields to the the create & edit event form as shown in the gif below.

However, to render a list of components we have to use key prop with unique value and to generate the unique value, I used uuid package. As the package is not already an existing dependency, I wanted to check if it is ok to add an extra dependency or if you have any other sug

[2021-10-08 17:50] ojeytonwilliams opened #727 "As an owner or admin I can add new sponsors"
@QuincyLarson @allella

I think this needs to be part of the MVP, what do you reckon?

[2021-10-16 19:53] Ravichandra-C commented on #471
Issues face while developing with WSL2
Configuration: WSL2 Ubuntu 2004 with windows 10

1. Unable to run the cypress tests locally.

[2021-10-17 13:26] Ravichandra-C commented on #96
@ojeytonwilliams , @allella , Could you please provide feedback on the sponsors view on Event Page. If we don't have sponsors for the event then I'm not displaying the entire Sponsors Card and Sponsor Names are clickable which will navigate to the website provided while registering a sponsor .

![Sponsor_preview](https://user-images.githubusercontent.com/17808008/137628895-a95fb4de-fd19-4f1d-a328-

[2021-10-18 13:21] Ravichandra-C opened #743 "User Should be able to select a chapter while creating the event"
### Describe the bug:

Events are always created for only one chapter.

User should be able to select the chapter while creating an Event.

[2021-10-19 03:24] allella commented on #96
Looks good. Thanks @Ravichandra-C

We'll likely rethink the sponsor "Type" values, but no need to hold up what you've done.

[2021-10-19 03:28] allella commented on #743
Using the following [terminology](https://github.com/freeCodeCamp/chapter/#terminology), here's how permissions are likely to work within a single instance of **Chapter**.

The notable roles are _owner_ , _administrator_ , and _organizer_

The _owner_ will be the "root" _user_ and the first account created in the system. The _owner_ may then define 1 or more _administrators_ .

For example, when t

[2021-10-19 04:45] allella commented on #270
Recent [conversations](https://github.com/freeCodeCamp/chapter/pull/735#issuecomment-944167783) lead to a more firm "line in the sand" on the use of the "role" tables and the [definition of the term "role"](https://github.com/freeCodeCamp/chapter/pull/744).

Also, we now expect to have _user_instance_roles_, _user_chapter_roles_, and _user_event_roles_, which adds to the earlier conversation in th

[2021-10-21 05:44] A3lli0t commented on #96
Hello everyone! I'm new to open-source and I really want to contribute to this but I don't know how to start? Could someone please guide me?

[2021-10-29 20:16] paulywill opened #762 "ElephantSQL Drop Schema error"
### Describe the bug:

Creating this issue as a reminder.

While attempting to do a manual setup using ElephantSQL I was trying to issue the `npm run db:reset` and getting a [driver error](https://github.com/typeorm/typeorm/issues/7378).

[code]

This was problematic trying to drop and refresh an instance I already had created a few months ago.

In addition, ElephantSQL appears to cap you off with

[2021-10-29 20:32] allella commented on #762
Seems like we could add a note in the [Docs](https://github.com/freeCodeCamp/chapter/blob/main/CONTRIBUTING.md#initializing-the-database) Initializing the Database section and (forthcoming) [Troubleshooting](https://github.com/freeCodeCamp/chapter/blob/main/CONTRIBUTING.md#initializing-the-database) about needing to run the commands separately so people don't need to pay on our account.

That make

[2021-10-30 01:36] allella commented on #270
@paulywill per [today's chat](https://chat.freecodecamp.org/channel/chapter?msg=zXtACaS3Tch7Xuxu2), here's a summary of what was discussed for UI and DB changes that extend or override the #378 conversation.

- Rename events.video_url to events.streaming_url
- Rename the Events form field to "Streaming URL", from "Video URL"
- Streaming URL is not required in the form field
- Add a toggle form ele

[2021-10-30 12:46] paulywill opened #767 "Determine which inputs isRequired for New Event"
As mentioned in #766, the current setup is to make every input for the new Event `isRequired`.

Without re-inventing the wheel, is there a way to pass required keys to the input fields while still utilizing the [Input component](https://github.com/freeCodeCamp/chapter/blob/main/client/src/components/Form/Input.tsx) already there?

I suspect the following:

[code]

This will help with making future

[2021-10-30 13:50] paulywill commented on #762
Sounds good.
In addition the concurrent connections have yo be monitored.

I.e. not attempting to run app and db commands at the same time in different terminals.

[2021-11-04 15:33] bappyasif commented on #275
@allella hello again, how can i help with this issue as well? looking forward to hear from you, thanks.

[2021-11-04 15:47] allella commented on #275
@bappyasif the comment above https://github.com/freeCodeCamp/chapter/issues/275#issuecomment-868740023 is an example of an email template that a _user_ would receive to notify them of upcoming events.

You're welcome to compare that template to similar emails you've received from other event platforms and suggest changes.

[2021-11-04 15:51] allella commented on #355
@bappyasif @ojeytonwilliams may have more guidance on where in the code we could check for missing .env variables.

I believe the intention is for the front-end UI to show a warning.   There are already some warnings on the command line, but I think the assumption is that Heroku users may be trying to avoid the command line.

In previous conversations, we intend to use Heroku as an MVP, but I'm no

[2021-11-04 17:15] ojeytonwilliams commented on #355
I'm not 100% sure what a typical user expects when deploying to heroku.  However, if I just follow their instructions I'd clone the repo and then

[code]

At this point Heroku will output a bunch of logs straight to your terminal.  Right now it says (amongst other things)

[code]

Then, when I open the app, I see a boilerplate page telling me there is an application error.

So, I think we want thr

[2021-11-04 18:39] allella commented on #355
I think @Zeko369 inspired this issue, so perhaps he has comments on where to show an error for the Heroku _owner_ of an instance.

[2021-11-04 21:05] joeriddles commented on #471
I ran into the issue mentioned [here](https://stackoverflow.com/questions/67938486/after-installing-npm-on-wsl-ubuntu-20-04-i-get-the-message-usr-bin-env-bash) when I ran `npm i` from ubuntu in WSL.

I followed the instructions in the answer and created `/etc/wsl.conf` in ubuntu with:
[code]

After restarting WSL, `npm i` worked, but then I couldn't run docker commands from WSL. So then I removed

[2021-11-05 11:58] ojeytonwilliams commented on #471
@joeriddles did you manage to find a config that meant both `npm i` and Docker worked?

[2021-11-05 14:56] akhilmhdh opened #778 "Getting started: Docker compose up fails"
### Describe the bug:

 Hey there. I was going through contributing guideline and was trying to setup locally.

 I tried docker compose up just to see the project current state first. But it fails due to an import unresolved error.

## Output of my terminal

[code]

So i just tried to find out the error myself. I have used chakra before an i think it needs framer motion as dependency. Found out th

[2021-11-05 15:31] ojeytonwilliams commented on #778
Hi @akhilmhdh I couldn't reproduce this locally, I'm afraid.  Could you try `docker-compose build --no-cache` first, then `docker-compose up` if that doesn't error out?

You're quite right about `framer-motion`, but since npm 7, peer dependencies get installed by default. That should not be the problem unless something really bizarre is happening.

[2021-11-05 15:57] akhilmhdh commented on #778
@ojeytonwilliams Client still fails. I think its because framer motion is a dev dependency and not peer. I just checked chakra ui codebase

[2021-11-05 16:17] allella commented on #778
@akhilmhdh I get the error if I try to _npm i_ with an older npm 6 version.

I used [nvm](https://github.com/nvm-sh/nvm#install--update-script) to switch to node 16 and npm 8 and it worked fine.

[2021-11-05 16:23] ojeytonwilliams commented on #778
I'm at a bit of a loss, I'm afraid.  Since it's a dev dependency, it should definitely be installed.  Also, it should be building on step 5/7 not 5/5, so I don't quite understand that either.

For what it's worth, I purged my npm cache, but it made no difference.

[2021-11-05 16:35] akhilmhdh commented on #778
@allella But its inside a docker container right.  And inside that its using npm8 and node 16, not sure how my local one gets influenced on that.

I added framer and now it builds fine

[2021-11-05 16:39] allella commented on #778
@akhilmhdh  I'm not sure why, but it is necessary to run _npm i_ locally before running Docker and the prerequisites for that step list Node 16 and npm 8.

![image](https://user-images.githubusercontent.com/1777776/140546443-d0885add-9e06-4376-bb6a-d3880d881a96.png)

[Step 1 of Running the Application](https://github.com/freeCodeCamp/chapter/blob/main/CONTRIBUTING.md#running-the-application) appli

[2021-11-05 16:44] akhilmhdh commented on #778
@allella Yup saw that. I thought for local development. Still a bit confused on how it influence on dockerized one.

The update was build was success and the image compose worked well only issue is I was still not able to access 3000 anything. WIll be doing like this and will update you

[2021-11-05 16:47] ojeytonwilliams commented on #778
It's not necessary to build the container, but `npm i` triggers a script that sets a few things up that help with development (it adds an upstream remote, installs dev dependencies which don't run in Docker, etc. etc.)

That said, @akhilmhdh is correct: the container *should* not care about this, since it pulls its own node image.

Nothing at all? Could you share the `docker-compose up` logs?

[2021-11-05 17:24] akhilmhdh commented on #778
@ojeytonwilliams  @allella  It was my mistake. My bad.

The issue was I actually installed at first with `npm i` the only issue as @allella  told I was not using node 16. So the issue was package-lock got changed and that was fed into the docker container. That's why I think it was failing.

Second, no response. It was nothing. Due to all logs I missed the part nextjs is compiling. As it was first

[2021-11-05 17:45] ojeytonwilliams commented on #778
Hey @akhilmhdh no worries.  If you've got it to behave itself, it's all good.

This is the command you need:
https://github.com/freeCodeCamp/chapter/blob/087a75fdd5a5377baaec646a42c0f26596de302c/package.json#L20

If you run `npm run db:reset` from that directory it should work.

[2021-11-05 17:50] akhilmhdh commented on #778
![Screenshot 2021-11-05 at 11 18 54 PM](https://user-images.githubusercontent.com/31166322/140555709-3a521dda-085f-4202-8268-fc2589eabd01.png)

Yehhh.... Cheers 🥂 Its working fine now.

Closing this issue as it resolved. @ojeytonwilliams I would love to work on any part of this, backend or frontend. You have anywhere that can point me

[2021-11-05 17:50] #778 closed

[2021-11-05 18:07] allella commented on #778
@ojeytonwilliams could we move Step 1 with the npm i under the Manual mode only to try and avoid some issues with people who are just trying to run Docker?

[2021-11-05 18:15] ojeytonwilliams commented on #778
The best thing you can do is take a look at the outstanding [MVP issues](https://github.com/freeCodeCamp/chapter/issues?q=is%3Aopen+is%3Aissue+label%3AMVP) or the [project board](https://github.com/freeCodeCamp/chapter/projects/1) and see what you'd like to work on.  Those are our top priorities for the foreseeable future.

If you need any more context for a particular issue, please ask on that is

[2021-11-05 18:17] ojeytonwilliams commented on #778
We can try that, sure.  It does mean that people will have to set up their own remotes and so on, but it might save a little pain when people want to get going quickly.

[2021-11-06 14:48] bappyasif commented on #275
@allella are we thinking about adding some sort of maps api to go along with email as well?! that's something i can think of right now!!

[2021-11-06 14:55] bappyasif commented on #260
@allella this isn't a 'good first issue' but 'oliver' mentioned it sometimes earlier that chapter might use some immediate help with 'mvp' labels, so yeah im open to get started with this as well, but having no significant knowledge about 'chapter' would it be possible to carry out this task?! thanks

[2021-11-08 02:16] allella commented on #275
Thanks @bappyasif.  I would say a maps API is not something we've imagined for the MVP.

If you create a new issue and share links and suggests about how we might implement that feature after the MVP build, then we can add it to the [Roadmap](https://github.com/freeCodeCamp/chapter/issues?q=label%3ARoadmap).

A good first task for this issue might be to check your inbox for similar 'Upcoming Event

[2021-11-08 02:29] allella commented on #260
@bappyasif it's likely still too early to develop a how to guide for the application until we get more user interfaces developed because we'll likely include screenshots and notes about interacting with specific UI elements.

@ojeytonwilliams is there a "routes" file or other list of the routes we've already defined? It seems the how to list above is essentially going to have a 1-to-1 with a speci

[2021-11-08 15:26] bappyasif commented on #275
@allella okay, thanks, i'll try to do some research on this and see if i can find similar fit for this probable roadmap issue

in plain words what i'm thinking about this, is:

i also agree with you in keeping it simple and not adding anything extravagant such as maps visibility on DOM or email's real estate

i'll do my due diligence regarding this and see what i can find and see if i can create a

[2021-11-08 19:06] allella commented on #274
@ojeytonwilliams  @Ravichandra-C

Related to this issue, I notice how easy it is to unsubcribe from a saved search with Craigslist without being logged in.

It seems like a simple subscription ID + user ID + token pattern.

`https://accounts.craigslist.org/savesearch/unsubscribe?subID=########&userID=#########&t=_2pPfymWJ90ZfsDzz6k62A`

I mentioned a ["hash" / token idea](https://github.com/freeCo

[2021-11-08 19:12] allella commented on #274
Also related to #107 #276 and pretty much all [issues with an Email label](https://github.com/freeCodeCamp/chapter/issues?q=label%3Aemail).

[2021-11-09 09:21] ojeytonwilliams opened #781 "Event form should not allow duplicate Sponsors"
https://github.com/freeCodeCamp/chapter/pull/726 adds the UI for attaching Sponsors, but it's currently possible to add the exact same Sponsor twice. The database correctly rejects this update, but we should adjust the UI so a user never sees the option

The following should not be possible:

![image](https://user-images.githubusercontent.com/15801806/140895629-81837ab6-35b5-4e31-8d8d-b6d726e2160f

[2021-11-09 13:51] #96 closed

[2021-11-09 13:57] ojeytonwilliams opened #782 "As a user, I will receive an email when my RSVP is confirmed"
Organisers can confirm the RSVPs of members who are on the waitlist.  When they do this, the user should be notified by email that they can attend the event.

This should not require any UI changes, just a new notification triggered by confirmation.

[2021-11-09 14:10] ojeytonwilliams opened #783 "RSVP should track status with a single column"
Since a user can only be in a single state for a given event, the RSVP model should reflect this.  A user can either be invited, going, canceled or on the wait list and these states are mutually exclusive.  Since they can only be in one state, the model should represent this as a _status_ column, with an enum type.

In addition, to implement https://github.com/freeCodeCamp/chapter/issues/95 we wil

[2021-11-09 15:49] bappyasif commented on #274
@allella yeah, sure, i would love to, and thanks a lot for considering, much appreciated :)

i also gone through your stapled issue list already, and after reading this latest reply from you, i tend to agree that if it's a possibility that  user login is not necessary to unsubscribe from notification, thats awesome, but how 'chapter' would know which user is that, if not 'logged in' though?! im no

[2021-11-09 15:59] ojeytonwilliams commented on #260
Yeah, we use NextJS for our [routing](https://nextjs.org/docs/routing/introduction), which takes paths inside the `/client/src/pages/` directory and maps them to pages. For example: client/src/pages/dashboard/events/[id]/index.tsx gives you pages like `/dashboard/events/1/`.

We don't do anything more complicated than that. At the moment, all routes can be found in `/client/src/pages/` and they al

[2021-11-09 17:08] ojeytonwilliams commented on #274
We might be breaking laws in various jurisdictions if we don't provide an easy unsubscribe link.  I'm not a lawyer, so I couldn't tell you if it's illegal to require someone to be logged in to unsubscribe, but it's obnoxious UX and not a risk we should take.

That's an excellent question. I'm not sure if this is the perfect approach, but I would do this: add a signed JSON web token to the unsubscr

[2021-11-09 17:23] ojeytonwilliams commented on #274
While I'm not dead set against storing unsubscribe ids in the db, I think the JWT approach is simple and flexible. All we need to do to extend it (say we want to support unsubscribing from organisations) is to add more properties to the JSON we're signing, rather than tinkering with the DB.

[2021-11-09 17:32] bappyasif commented on #260
@ojeytonwilliams yeah, lets do this, maybe you can guide me along with this, so that i can perform this better, thanks :)

[2021-11-09 17:39] ojeytonwilliams commented on #260
I don't think you'll run into any issues - the NextJS docs are pretty good and we're doing standard stuff, but, sure, give me a shout if you run into something weird.

Good luck!

[2021-11-09 19:26] allella commented on #274
That's fine. I thought the JWT was more for login, but if you can easily use it to do tokens for things like unsubscribe, then it's one less field to worry about in the database.

[2021-11-09 20:24] ojeytonwilliams commented on #274
Yep, that's how it's normally used, but it's just a signed JSON object. You can put in whatever data you like.

[2021-11-10 10:08] ojeytonwilliams opened #786 "E2E test coverage"
Our Cypress test coverage needs expanding.  The spec files should go in `/cypress/integration` which roughly mirrors the routing in `/client/src/pages`.  e.g. `cypress/integration/events/[eventId].js` contains the tests for `client/src/pages/events/[eventId].tsx`

Routes needing coverage:

/chapters
Does the page exist? Are there links to chapters?

/chapters/[chapterId]
Is there an event list?

/

[2021-11-10 10:31] ojeytonwilliams opened #787 "Missing link to chapter users dashboard"
There should be a link to

dashboard/chapters/[id]/users
from
dashboard/chapters/[id]/

[2021-11-10 10:51] ojeytonwilliams opened #788 "Event feed should contain a paginated list of events"
/events should have the upcoming events feed.  This should be the same as the landing page, but more events should be visible by default.

In order to show the pagination, the db generator will need to generate more events.

[2021-11-10 11:14] ojeytonwilliams opened #789 "Remove Invite User button from users dashboard"
As @Zeko369 mentioned in https://github.com/freeCodeCamp/chapter/issues/605 we need to implement the admin/owner workflows so that users can be given appropriate permissions.

However, the users dashboard, e.g. http://localhost:3000/dashboard/chapters/1/users, has an Invite user button which I should never have put there.  This should be removed and, ideally, we should add a test to make sure this

[2021-11-10 11:28] ojeytonwilliams opened #790 "Tags rework"
As @Zeko369 highlighted in https://github.com/freeCodeCamp/chapter/issues/605 we need to re-mplement event tags.

Tags should be joined to events with a many to many relationship.  To do this, we need two tables: a _tags_ table and an _event_tags_ table that joins them to specific events.  All we need for the tags is to have a 'name' column and then _event_tags_ would be a junction table like _eve

[2021-11-10 11:38] ojeytonwilliams commented on #95
What do we want the attendance rate to be?  Is it going to be the percentage of invitees that actually attend?  If so, we need to track if a member was invited. Then attendance rate would be "percentage of invited users that confirmed attendance".

While we could allow organizers to mark attendance, I don't think that's worth putting in the MVP.  Instead I recommend using what the member says they

[2021-11-10 15:29] bappyasif commented on #274
[code]
@ojeytonwilliams thanks for helping me understand, but a follow up question regarding this, "user_id", doesnt that mean user is already signed in?! or its taking from 'user cache'?

sorry about all these questions, im just trying to learn, as i go on, hope that's okay :)

[2021-11-10 15:39] bappyasif commented on #260
@allella @ojeytonwilliams i'll go through `/client/src/pages/` and try to see if can use "next js - routing" to make it work for custom event indexes for any user

i used react-router before, i hope there will be a lot of similarity between these two, regardless, i see anything confusing, i will reach out to you guys, thanks!!

btw, should i be reaching out for help (regarding implementation) here

[2021-11-10 16:24] Jyoti28Dhikale commented on #789
can you assign me this issue?

[2021-11-10 19:14] ojeytonwilliams commented on #789
Hi @Jyoti28Dhikale. We typically don't assign issues, except to long term contributors. You are very welcome to work on this, though, and it looks like no-one else has taken it on yet.

[2021-11-10 19:23] moT01 commented on #790
I think I'm going to try and tackle this one.

[2021-11-10 21:39] allella commented on #274
@bappyasif Oliver was suggesting the userId and eventId values could be used to generated a token for each email that is sent from the _instance_.

As an example, a _user_ would receive a link in their personalized email that allows them to unsubscribe with a click
/unsubscribe?eventID=9999&userID=222&jwToken=_2pPfymWJ90ZfsDzz6k62A
However, the _jwToken_ value would be checked to confirm the _user

[2021-11-10 21:46] allella commented on #95
I don't recall the source of this issue.  I don't consider this an MVP feature so I'd vote to close and tag with "Roadmap" and deal with it after MVP.

It appears Quincy created this issue and I'm not sure if it was something he felt was needed or something from a meeting or split off from another issue that was closed and roadmapped.

[2021-11-11 04:49] allella commented on #111
@ojeytonwilliams it sounds like this is a view all events page for a Chapter.

It was likely added as a starter MVP list by Quincy [during or after the 1st meeting](https://github.com/freeCodeCamp/chapter/wiki/Meeting-Notes-October-20,-2019). It wasn't a big enough topic that it got anymore context.

[2021-11-11 15:32] bappyasif commented on #274
@allella yeah it's making sense now, i somehow missed that 'integral' part of this conversation which is 'email', thanks for clearing that up, much appreciated :)

on added note, how do you want me to help with this issue?!

[2021-11-12 13:57] allella commented on #782
I don't recall if waitlist was an MVP feature. It was added into the database, but if it's complicated we can leave the fields there for future use and add close the issue and add it to the Roadmap.

It's up to you if you think it's going to prolong the MVP.
https://github.com/freeCodeCamp/chapter/pull/27

[2021-11-12 14:25] ojeytonwilliams commented on #782
It should not be overly tricky to implement, since we already have similar functionality for venue changes.  So, it shouldn't create much delay.

[2021-11-12 14:35] ojeytonwilliams commented on #260
If you want to know about a specific issue, that's the best place to ask.  If your question is more general, then the chapter channel is a good place for it.

[2021-11-12 17:10] ojeytonwilliams opened #796 "Event invitations should take you directly to confirm/cancel"
Right now, if I receive an invitation to an event, it has two links: "Event details" and "Cancel your RSVP".  These both link to the event page.

Instead, it would be a nicer user experience if, the first text was "RSVP to event" and immediately opened the confirm modal (rather than requiring the user to find and click on the RSVP button).  The same should be true for the cancel link.

[2021-11-12 18:48] QuincyLarson commented on #263
We will use existing freeCodeCamp privacy and terms of service documents. We do want to make it so people can make their account private and delete their account. We should preferably handle these through the existing freecodecamp.org/settings page.

[2021-11-12 19:02] ojeytonwilliams commented on #274
Hey @bappyasif I think there's a reasonable sketch of what's required in the above discussion. I recommend having a play with the app and seeing what you can come up with.

It's worth taking a look at the login resolver in https://github.com/freeCodeCamp/chapter/blob/main/server/src/controllers/Auth/resolver.ts and generateToken in https://github.com/freeCodeCamp/chapter/blob/main/server/src/servi

[2021-11-12 22:01] allella commented on #260
@bappyasif I've edited the list at the top of this issue to have examples of the routes / paths we'll eventually need to document so it's clear what will need to be covered.  I've also expanded it to include functions of the _administrator_ since they will effectively be a "super-organizers" with additional authorizations, such as creating chapters and inviting _organizers_ to a _chapter_.

![imag

[2021-11-12 22:32] allella commented on #260
I've added a bit more to the _[Owner FAQ](https://github.com/freeCodeCamp/chapter/wiki/Owner-FAQs)_ and [Administrator FAQ](https://github.com/freeCodeCamp/chapter/wiki/Administrator-FAQs) Wiki pages, which are related to this task of documenting these roles.

[2021-11-13 15:39] bappyasif commented on #260
@allella thanks a lot for more insight on this, yeah, i agree with your suggestion to documenting what's already have been implemented first,

or we could, go ahead documenting all of them, but only with 'fillers' for those whih are not implemented yet, and write proper documentation when its up and running and ready for it!! how would you concur, im cool with each of those options :)

[2021-11-13 15:55] bappyasif commented on #274
@ojeytonwilliams thyanks for those attached scripts, auth token make a lot more sense now, functionality wise, i have never done it before in any of my attempts with js, so quite a learning experiece, all of these :)

on another note, i saw a lot of `thorw new Error`' in 'login resolver' when there is any sort of conflicts or exceptions, doesn't it supposed to stop executing rest of code or app?!

[2021-11-13 16:02] allella commented on #260
Added Sponsors routes / paths to the top of this issue since the are going to be defined via https://github.com/freeCodeCamp/chapter/pull/798

[2021-11-14 15:17] bappyasif commented on #260
@allella thanks, noted....

@allella @ojeytonwilliams how do you want me to proceed from here to documenting this or else?! thanks :)

[2021-11-14 15:39] allella commented on #260
I'll defer to Oliver on if it's worth stubbing out the undefined MVP routes or if it's best to add them as they are implemented.

[2021-11-14 17:41] ojeytonwilliams commented on #260
I don't think it it's worth creating an entirely empty page just so we have the route.  It's easier just to note that here and update the note if there's any progress and when it's done.

[2021-11-15 11:42] ojeytonwilliams commented on #274
Yep, that's pretty much what happens.  When you throw an error inside Express middleware then it will catch it and not run any more middleware (other than error handlers).

So, throwing an error is a good way to stop something which should not do any more processing.

The idea here
https://github.com/freeCodeCamp/chapter/blob/0bf3c3a9eb60f99b670d691614b6b1df651f98a3/server/src/controllers/Auth/res

[2021-11-15 12:44] ojeytonwilliams commented on #95
I'm fine with this being a post MVP feature.  Do we need to close it, though?

[2021-11-15 14:38] ojeytonwilliams opened #800 "Chapter and Venue forms need updating, including validation and placeholders"
They currently look like this:
![image](https://user-images.githubusercontent.com/15801806/141799909-86cf0987-c690-4574-b5e5-6929c0e1f401.png)

while the Event form is more polished:
![image](https://user-images.githubusercontent.com/15801806/141800075-01600995-f797-4e8c-a5cc-eebb7f8417d7.png)

The look and feel should be consistent, with the Event form being the template for the other two.

[2021-11-15 14:42] bappyasif commented on #260
okay then, no documentation page for 'routes' as of yet, until all of those are implemented beforehand, is that right?! @ojeytonwilliams

is there anything else that i can do for, here in this issue?! thanks.... @allella  @ojeytonwilliams

[2021-11-15 14:50] bappyasif commented on #274
@ojeytonwilliams  understood, that's pretty neat and straightforward, thanks a lot for explaining it, just wanted to be sure, much appreciated :)

@ojeytonwilliams @allella how can i help with this issue, please let me know, thanks :)

[2021-11-15 15:16] ojeytonwilliams commented on #274
Well, we've discussed how we want to implement this a fair bit in this issue.  If that makes sense to you, great.  If you have some specific queries about how to proceed, please ask away.

However, if you want something more straightforward to work on while you get up to speed, please take a look at the issues labelled [Good First Issue](https://github.com/freeCodeCamp/chapter/issues?q=is%3Aissue+

[2021-11-15 17:18] allella commented on #260
@bappyasif Oliver has added more [good first issues](https://github.com/freeCodeCamp/chapter/issues?q=is%3Aissue+is%3Aopen+label%3A%22Good+First+Issue%22), so it may be best to see if there's a smaller task that doesn't require much upfront knowledge of the application.  For example, #789 might be an easy place to start.

[2021-11-15 17:20] allella commented on #95
@ojeytonwilliams Quincy was the one closing them with Roadmap during previous meetings as a way to filter out noise but still be able to find them for post-MVP.  I think it's a decent pattern as long as we Roadmap tag them, but I'm open to other suggestions.

[2021-11-15 17:36] ojeytonwilliams commented on #95
No, that's fine.  Let's just stick with that pattern.  Should all the Roadmap issues be closed, then?

[2021-11-15 17:36] #95 closed

[2021-11-15 19:35] allella commented on #436
@QuincyLarson @ojeytonwilliams

I've setup a couple fake events to test integrations with Google, Outlook, iPhone Calendar, and Yahoo.

I'm going to wait until tomorrow to update the event and see if anything auto-updates.

If you want to register and add to your own calendars as extra tests, then the links are below.

https://www.meetup.com/Hack-Greenville/events/282100731/
https://www.eventbrite

[2021-11-15 19:55] ojeytonwilliams commented on #436
Cheers, I've signed up for both. Interestingly meetup sent an ics file, but eventbright just sent their own ticket.

[2021-11-15 19:56] allella commented on #436
Thanks. I don't think either of them are going to auto-update, even with the iCal file and Add to Calendar links, but we'll see.

[2021-11-15 21:23] allella commented on #354
Closing since this has been tagged "Roadmap" for post-MVP implementation.

[2021-11-15 21:23] allella commented on #355
Closing since this has been tagged "Roadmap" for post-MVP implementation.

[2021-11-15 21:23] #354 closed

[2021-11-15 21:24] #355 closed

[2021-11-15 21:24] allella commented on #261
Closing since this has been tagged "Roadmap" for post-MVP implementation.

[2021-11-15 21:24] #261 closed

[2021-11-15 21:27] allella commented on #350
Closing since this has been tagged "Roadmap" for post-MVP implementation.

[2021-11-15 21:27] #350 closed

[2021-11-16 14:37] paulywill commented on #786
I'm going to take a look at this... I haven't touched Cypress before.

[2021-11-16 14:51] ojeytonwilliams commented on #786
Cheers, @paulywill. Give me a shout if anything does make sense - it'll be my fault.

[2021-11-16 15:36] bappyasif commented on #789
this seems like a doable task as a starter, thanks for referring it @allella

@Jyoti28Dhikale would you like to group up about this and see this issue through?!

[2021-11-16 15:40] bappyasif commented on #274
i guess, i better start from there then, i'll keep it in my tab meanwhile, thanks a lot @ojeytonwilliams

[2021-11-17 04:57] Ravichandra-C commented on #800
@ojeytonwilliams,Should I start working on it?

[2021-11-17 05:47] Ravichandra-C commented on #800
@ojeytonwilliams @allella , I was looking into this and I noticed the field **Details**.

What data should administrator enter in this field while creating the chapter?

 I'm trying to write a meaningful placeholder for this field, But I could not understand the purpose of this field.

Could you please let me know?

[2021-11-17 09:37] ojeytonwilliams commented on #800
Absolutely.  I'll assign you.

Neither can I, to be honest.  Unless Jim knows of a reason to keep it, we can just get rid of it.

[2021-11-17 16:36] allella commented on #436
@ojeytonwilliams @QuincyLarson

TLDR; there is no automatic updating of the calendars.  They are actually worse at sending emails and iCals on updates than I was expecting.

@ojeytonwilliams if you want to confirm you're experience, then check your calendar. The modified events changed to a different date / time and have "Modified" in the event title.

**Detailed Findings**

- I ran tests with Mee

[2021-11-17 22:30] allella commented on #800
@Ravichandra-C yes, I'd say you can remove the "Details" field.

Description is part of the schema, but not details and I'm not aware of a conversation about adding a Details field.

[2021-11-18 02:06] #727 closed

[2021-11-19 09:09] ojeytonwilliams opened #813 "Difficulties updating TypeScript"
It looks like ttypescript is no longer maintained, https://github.com/cevek/ttypescript/issues/122.  We were relying on this so that we could import absolute paths. In order to keep updating TypeScript (see https://github.com/freeCodeCamp/chapter/pull/811) , we'll need to do one of the following:

1. remove absolute imports (no more `import { Request } from 'src/common-types/gql';`): simplest opti

[2021-11-19 15:25] bappyasif commented on #787
both of these files are now empty, except 'import/export', and exports are not yet implemented!!

by missing link do you mean importing `ChapterPage` from `dashboard/chapter/[id]`?! thanks....

[2021-11-19 15:57] ojeytonwilliams commented on #787
Hey @bappyasif the issue is that the pages exist, but there are no links from elsewhere in the site.  For instance, you can get to the dashboard by clicking on Dashboard:

![image](https://user-images.githubusercontent.com/15801806/142652411-527d8cb4-b11b-4b9d-9eab-7d7312c8e6f0.png)

and you can get to the users dashboard by going to `/dashboard/chapters/1/users` (for example).

There isn't anythi

[2021-11-20 12:38] Ravichandra-C commented on #796
@ojeytonwilliams ,Could you please let me know how we can implement this?

Can we append a query parameters or url parameter to the link that we are sending in the email, and on the client side if we have that parameter in the URL ,we trigger the click event on the rsvp button. Is that ok?

[2021-11-20 14:27] ojeytonwilliams commented on #796
@Ravichandra-C sure, a query parameter sounds like the way to go.

If that's there then we can trigger the confirm dialog.

[2021-11-20 20:22] bappyasif commented on #787
ahh, so that's more of a 'routing' fix?!

[2021-11-22 10:10] ojeytonwilliams commented on #436
It looks like Meetup is the least bad in that they send something.  We can easily implement that.

I dug into the spec a little and it seems that the key property is [METHOD](https://datatracker.ietf.org/doc/html/rfc5545#section-3.7.2) which is defined [here](https://datatracker.ietf.org/doc/html/rfc2446.txt#section-3.2).

Make a request for an event. This is an explicit  invitation to one or more

[2021-11-22 10:46] ojeytonwilliams opened #817 "VSCode dev containers"
### The proposal

[Dev containers](https://code.visualstudio.com/docs/remote/containers) are a promising way to give new contributors a dev environment that minimises the amount they have to configure.  We could use these instead of our current "Docker mode".

### The pros

A dev container setup should be easier to maintain than [our](https://github.com/freeCodeCamp/chapter/blob/613c694b7996802d64

[2021-11-22 13:48] #800 closed

[2021-11-26 18:32] Ravichandra-C commented on #796
@ojeytonwilliams @allella

Below is the functionality I've implemented.

1. If user is already logged into chapter and he did not rsvp to the event ,then when he clicks the link in the email , He will be shown the confirm popup.
2. if user is not logged in to the chapter, then he will not be shown the confirm popup.
3. if user is logged in and he has already rsvp'd to the event, then he will not b

[2021-11-28 19:25] Ravichandra-C commented on #787
@ojeytonwilliams , @allella , Do we really need a link form "dashboard/chapters/1" page to  "dashboard/chapters/1/users" page?

Can we just show it as an accordion in **dashboard/chapters/1** page itself like the screenshot below?

![image](https://user-images.githubusercontent.com/17808008/143782847-9aa7024d-58e6-4fd8-89aa-db7760e0086c.png)

[2021-11-29 10:34] ojeytonwilliams commented on #796
Hey @Ravichandra-C I like what you've done in #821 it's way better than having to click on the RSVP button.

We can build on that in a couple of ways

1. Create a cancel link that pops up the cancel confirmation
2. Ask the user to log in and then trigger the confirmation(s)

These are definitely Nice To Haves, though.  We don't need to worry about them for the MVP.

[2021-11-29 10:40] ojeytonwilliams commented on #787
@Ravichandra-C We're definitely going to need to keep refining the UI, so it's not worth investing tons of time making this look perfect.

So, any approach that gives admins a way to get to this information from the dashboard is fine with me.

[2021-11-29 14:13] ojeytonwilliams opened #822 "As a user, I can select "maybe" when I RSVP to an event."
### The proposal

Instead of a user being offered the choice to attend an event or not, there should be a third option: "maybe".  This would allow undecided users to pick this instead of going with "yes" and just not appearing.  Event organisers would benefit from better estimates of how many people are likely to turn up.  Also, if we track attendance, https://github.com/freeCodeCamp/chapter/issue

[2021-11-29 14:46] bappyasif commented on #787
@Ravichandra-C i would like to help with this issue, let me know how?! thanks :)

feel free to dm me!! looking forward to it!!

[2021-11-30 04:30] allella commented on #822
The _events.capacity_ and waitlist implications may add more than we want for MVP.

Do we have waitlist accounted for in the [proposed schema](https://dbdiagram.io/d/617ae3f8fa17df5ea673e3ea)? It seems Fran implemented waitlisting on the old schema and UI, but I'm not seeing where that's represented unless _rsvp.name_ is going to store a waitlist status.

Perhaps post-MVP the _organizer_ would hav

[2021-11-30 04:33] allella commented on #817
I've not used it, so I don't have a technical opinion.

GitPod seems like the path to least resistance so far, but if this is something that can be setup and automated, then it may be a helpful post-MVP way for helping new contributors that don't want to use Gitpod, Docker, or manual / local modes.

[2021-11-30 09:20] ojeytonwilliams commented on #817
To be honest, I'd prefer to keep the number of supported dev environments the same.  If we use dev containers we don't need
a Docker dev environment and vice versa.

It simplifies matters if Docker has one job (deployment).

[2021-11-30 11:18] ojeytonwilliams commented on #822
True.  I think this is relatively low priority

No, that definitely needs fleshing out regardless of whether or not we include "maybe".  I don't *think* rsvp.name was intended to do that @moT01 do you remember?

That sounds good, but definitely post-MVP

[2021-11-30 16:41] moT01 commented on #822
That area of the diagram is not entirely fleshed out to include that. What I can say to try and clarify, is that the `event_users` table in the diagram I made is basically the same as, or a replacement to, our current `rsvps` table. I think `event_users` is more appropriate, it ties all users of an event to that event. We could add the necessary columns there (maybe `on_waiting` or `waiting`, `can

[2021-11-30 17:23] ojeytonwilliams commented on #822
@moT01 what do you think about having the 'state' (on waiting list, maybe, canceled etc) being an enum or table of its own (with a foreign key connecting that to `event_users`)?

[2021-11-30 17:31] moT01 commented on #822
table: https://stackoverflow.com/questions/362044/mysql-enum-type-vs-join-tables

[2021-11-30 18:24] ojeytonwilliams commented on #822
Yeah, I know enums are a bit contentious.  They're definitely not a requirement, but I think they're worth considering since they play nicely with TypeScript.

[2021-12-01 10:15] ojeytonwilliams commented on #787
Hey @bappyasif there was not a great deal to do for this one - it was intended to be a relatively gentle introduction to the Chapter code base.  You can take a look at Ravi's PR, if you'd like to understand what involved.

[2021-12-01 11:17] ojeytonwilliams commented on #111
Sorry Jim, this slipped under my radar.

Was it this point?

[2021-12-02 23:08] allella commented on #436
@ojeytonwilliams yes, I noticed the REQUEST in the iCal files from Google, Outlook, and Yahoo calendar invites.  I have copies of all the files from Meetup, Eventbrite, and the calendar-to-calendar iCal files that did the magic updates.

The takeaway for me is that magic updating isn't likely an MVP.

Even if it's easy to implement the REQUEST / invite iCal files, there are potential issues with s

[2021-12-03 03:11] allella commented on #111
Seems like this issue made the post-MVP list on #84  and nobody seems to understand what it means, so I'd say we close it.

[2021-12-03 03:17] allella commented on #822
@ojeytonwilliams I've tagged this with Roadmap.  Shall we close it like the others on the Roadmap label and come back to it post-MVP.

If we want to add the "maybe" option now, then perhaps a more simple issue just for adding it to the schema and then this issue will be a placeholder on the roadmap for implementing the logic mentioned above?

[2021-12-03 11:23] ojeytonwilliams commented on #783
More discussion here: https://github.com/freeCodeCamp/chapter/issues/822#issuecomment-982813545

[2021-12-03 11:25] ojeytonwilliams commented on #822
@allella sounds good.  We can definitely design the schema with this in mind, so, yeah, let's stick with that for now.

[2021-12-03 11:25] #822 closed

[2021-12-03 16:33] #111 closed

[2021-12-07 09:30] ojeytonwilliams commented on #436
I agree.  If we can get the magic working, great, but I think you're right - it's probably too much for the MVP.

This sounds tough.  It sounds cool, but I'm not sure where to start!  Definitely something that will need a bit of thought and prototyping before we can proceed.

[2021-12-10 16:12] #787 closed

[2021-12-13 18:08] venkateshperneedy commented on #11
I Have an urgent opening on SR JAVA Full Stack Engineer Position at Michigan - Detroit

Role: SR JAVA Full Stack Engineer
Location: United States - Michigan – Detroit
Duration: Full Time
If any one interest in this Role
Reach me: venkatesh@itminds.net

[2021-12-23 17:35] allella commented on #276
Emails will be sent only to members where the {event_users.subscribed} is true and their {rsvp status} is confirmed for the event.  Post-MVP, we'll need to figure out what to do with people on the wait list.

Email Title: Upcoming Event Reminder for {event.name}

[code]

[2022-01-02 12:08] Ravichandra-C commented on #349
@Zeko369 Can I work on this issue?

[2022-01-02 12:39] Zeko369 commented on #349
@Ravichandra-C Hop on it

[2022-01-02 19:33] #789 closed

[2022-01-06 14:51] #781 closed

[2022-01-06 15:01] ojeytonwilliams opened #846 "Default sponsor fields should not be empty"
As an event organiser that's creating a new event, if I keep adding new sponsors they should not be empty

![image](https://user-images.githubusercontent.com/15801806/148402255-3a622e73-4c5d-444d-a2e5-da5a5271dc36.png)
The above should never happen.

Since each sponsor can only be added once, each new sponsor should be of a type that has un-selected sponsors.  When all sponsors have been added, th

[2022-01-06 15:35] ojeytonwilliams commented on #846
Also, as @gikf pointed out here
https://github.com/freeCodeCamp/chapter/pull/845#issuecomment-1006680859

![image](https://user-images.githubusercontent.com/60067306/148405962-1e9cc4ec-1002-4e44-8d08-f0964341bf73.png)

[2022-01-08 21:51] gikf commented on #268
There's button for cancelling event on the `dashboard/events/x` page, should it be added here as well?

[2022-01-09 16:00] allella commented on #268
@gikf adding a cancel button to the edit page sounds reasonable to me.

[2022-01-09 16:01] allella commented on #268
Though, it sound probably be named "Cancel this Event" to avoid confusion with a "Cancel" button that's common to "exit" and cancel making changes to a form.

[2022-01-10 08:37] ojeytonwilliams commented on #268
Once that button exists, I think we can close this.

[2022-01-11 09:53] Ravichandra-C commented on #349
@ojeytonwilliams @allella @Zeko369 , Should this be implemented with Full text search of Postgres? Or should this just be a sql query?

[2022-01-11 15:14] allella commented on #349
I'll defer to Oliver or the earlier contributors on how to approach this one.

[2022-01-11 16:17] Zeko369 commented on #349
@Ravichandra-C this project switched to prisma in the meantime, and there is a preview feature in prisma (needs to be enabled but then works) that allows you to do full-text-search from JS without writing any raw SQL.

Take a look [prisma docs for the feature](https://www.prisma.io/docs/concepts/components/prisma-client/full-text-search)

[2022-01-11 17:58] ojeytonwilliams commented on #349
That's awesome, thanks for sharing it @Zeko369

@Ravichandra-C if you want to go ahead with this, go for it.  It's a bit risky to rely on a preview feature, but if there are issues with search it won't render Chapter unusable.

[2022-01-12 11:39] #846 closed

[2022-01-17 11:10] #268 closed

[2022-01-29 06:15] gikf opened #891 "Errors when starting docker-compose"
### Describe the bug:
When trying to run application with docker-compose I ended up today with two errors. Due to the timing I suspect it might need updating for npm workspaces, although I'm quite sure I was running it yesterday, after pulling new commits, npm workspaces included. It is possible though that docker was still using older cached images at that time.
[code]

After manually running `np

[2022-01-29 11:12] #891 closed

[2022-02-01 16:20] allella commented on #296
Linking this old issue to the most recent conversation about roles tables in case anybody stumbles up the previous direction.
https://github.com/freeCodeCamp/chapter/pull/735#issuecomment-944167783

[2022-02-01 16:22] allella commented on #273
The most recent conversation on [tables for roles](https://github.com/freeCodeCamp/chapter/pull/735#issuecomment-944167783) and a more [recent PR will likely inspire more about role tables](https://github.com/freeCodeCamp/chapter/pull/898#issuecomment-1027021196).

[2022-02-21 01:46] allella commented on #100
This would apply to other bulk email sending as well, but the current default shows / exposes multiple recipients email addresses in the To: line in Mailhog.

We'd obviously want a BCC: for any bulk email sending.

It was suggested in https://github.com/freeCodeCamp/chapter/pull/909#issuecomment-1046295697 to

[2022-03-04 16:43] Jagrutiti commented on #782
Hi, @ojeytonwilliams

I would like to work on this issue.

I didn't exactly understand what is required to be done. Could you please go into more detail.

Thanks

[2022-03-04 19:00] allella commented on #782
@Jagrutiti

#909 has the most recent work on sending emails.  That's not been merged in, but you might take a look at what @gikf was doing on that PR related to sending emails using the pattern they've been working out on that PR.

[2022-03-07 11:31] #790 closed

[2022-03-08 15:56] ojeytonwilliams opened #956 "Bulk emails sent by Chapter should be BCC"
We can consider the cases where we'd want to use the 'to' and 'cc' fields.  However, for the MVP, we should stick to BCC for all emails to respect people's privacy.

Brought up by @allella here: https://github.com/freeCodeCamp/chapter/pull/909#issuecomment-1046392703

[2022-03-09 15:24] ojeytonwilliams opened #959 "Use user's timezone when displaying/sending dates"
Currently event times are handled a little inconsistently.

- When you enter a time for an event via the ui (on http://localhost:3000/dashboard/events/[id]/edit) that time is implicitly local time.
- This time is stored without a timezone (i.e. in UTC)
- The time is formatted in the user's local time on http://localhost:3000/dashboard/events
- The time is formatted *incorrectly* if you subsequentl

[2022-03-15 11:36] ojeytonwilliams opened #967 "Db rework schema"
We're currently working towards the db schema https://dbdiagram.io/d/617ae3f8fa17df5ea673e3ea

Here is the postgres dump of that db:

<details> <summary> schema </summary>

[code]

<details>

[2022-03-16 14:01] ojeytonwilliams commented on #813
Closed because we implemented option 1.

[2022-03-16 14:01] #813 closed

[2022-03-29 15:30] antonio-erick opened #978 "Automate the Updating of Copyright Years to Match the Current Year"

[2022-03-29 15:39] allella commented on #978
@ojeytonwilliams would it be better to remove the year so we don't have to keep this sort of thing updated every year?

[2022-03-29 17:53] allella commented on #978
Alright, if that's the case, then I guess we'd want to also update the License file every year?

https://github.com/freeCodeCamp/chapter/blob/main/LICENSE

[2022-04-06 17:59] Ismailtlem commented on #104
Is this what's needed here ?

![Screenshot from 2022-04-06 17-58-46](https://user-images.githubusercontent.com/34961373/162038692-4ab5f07a-ceda-4fc4-8085-8a98cbfb457a.png)

[2022-04-07 15:17] ojeytonwilliams commented on #104
@allella I'm not 100% sold on this being MVP worthy, either.  It's clearly not a hard requirement, since we have email to communicate the important details. I'll remove the label.

@Ismailtlem if you're still interested in this (even if it's lower priority now!), then please go ahead.

To your specific questions:

* Yes, an extra form field is what we need.
* Please just put the chat link wherever

[2022-04-10 12:14] Ismailtlem commented on #782
Hi @Jagrutiti

Did you start working on that ?

[2022-04-10 12:15] Ismailtlem commented on #786
Hi @paulywill

Did you start working on that ?

[2022-04-10 12:33] Jagrutiti commented on #782
Hey @Ismailtlem

I am not working on this one. Feel free to take it up.

[2022-04-10 14:32] Ismailtlem opened #999 "Issue with generated code when running the app locally with npm run both"
When running the app manually using `npm run both`, the command `npm -w=client run gen:dev` doesn't seem to be correctly executed.

![Screenshot from 2022-04-10 14-22-55](https://user-images.githubusercontent.com/34961373/162624283-45498b6f-36b4-4c91-885d-fed48aab9f64.png)

It may be due to the fact that `npm -w=client run gen:dev` gets executed before the backend server start.

- Operating System

[2022-04-11 14:35] ojeytonwilliams commented on #786
@Ismailtlem you can go ahead with this if you wish.  There's never going to be an excess of test coverage.

[2022-04-15 07:41] #999 closed

[2022-04-21 19:55] gikf opened #1024 "Client might not receive data after resetting db"
### Describe the bug:
I mentioned this issue long time ago in chat, but just today I've found what's relevant for the reproducing it (I think).

1. Register as new user
1. Login as new user
1. Run `npm run db:reset`
1. `F5` in browser
1. Client doesn't get any data from server, spinners will spin infinitely
1. To make things work again - remove site data in browser

- Issue doesn't occur when logg

[2022-04-21 23:35] allella commented on #1024
By chance, is this related to the [_JsonWebTokenError: invalid signature_ error](https://github.com/freeCodeCamp/chapter/issues/471)?

[2022-04-22 06:50] gikf commented on #1024
I haven't seen any explicit error, but it's likely that token is involved here.

[2022-04-22 17:08] #1024 closed

[2022-04-22 18:54] Sboonny commented on #978
hey, is it okay if I add `<script>document.write(new Date().getFullYear())</script>` or something alike to make it automatic yearly update?

[2022-04-22 19:26] allella commented on #978
This is an old post, but it seems script tags were not allowed in Markdown .md files as of the time of this answer
https://stackoverflow.com/questions/21340803/embed-javascript-in-github-readme-md

[2022-04-22 19:28] allella commented on #978
@Sboonny if you create a list of our .md pages which have a copyright then we can at least create a reminder for it. Or, perhaps there's a GitHub bot out there that will create a PR automatically every year.

[2022-04-22 22:21] Sboonny commented on #978
this is helpful, I didn't know that.

https://stackoverflow.com/questions/21340803/embed-javascript-in-github-readme-md

I like this idea. I will start working on it

[2022-04-23 10:10] Sboonny commented on #978
I am wondering how do I create a list of .md pages.

I thought, I need to create something like [intro.json](https://github.com/freeCodeCamp/freeCodeCamp/blob/main/client/i18n/locales/english/intro.json), but if I create them while the [raw README.md](https://raw.githubusercontent.com/freeCodeCamp/chapter/main/README.md) looks like this, I will do it but I may need to visit my therapy earlier than

[2022-04-23 14:30] allella commented on #978
@Sboonny I would suggest posting a bullet list of file names here and I'll figure out a way to set a reminder.

[2022-04-23 15:26] Sboonny commented on #978
sure, sorry I want to help more than this.

  - [CODE_OF_CONDUCT.md](https://github.com/freeCodeCamp/chapter/blob/main/CODE_OF_CONDUCT.md)
  - [CONTRIBUTING.md](https://github.com/freeCodeCamp/chapter/blob/main/CONTRIBUTING.md)
  - [README.md](https://github.com/freeCodeCamp/chapter/blob/main/README.md)
  - [LICENSE](https://github.com/freeCodeCamp/chapter/blob/main/LICENSE)

[2022-04-25 02:17] allella commented on #978
@ojeytonwilliams would something like this GitHub action be practical for @Sboonny to research for automatically updating copyright dates?

https://github.com/marketplace/actions/update-license-copyright-year-s

[2022-04-25 07:45] ojeytonwilliams commented on #978
@allella @Sboonny yep, that seems reasonable to me.

[2022-04-27 21:44] Ismailtlem commented on #782
Hi,

- How can we link an event to a chapter on the UI ?
- Where do we specify organizers on an event ?
- Can we register to the app by an email other than foo@bar.com

[2022-04-28 12:11] Sboonny commented on #978
hey I tried to create `./.github/workflows/update-copyright-years-in-license-file.yml` in my branch, which lead to this error

I checked [The scope docs](https://docs.github.com/en/developers/apps/building-oauth-apps/scopes-for-oauth-apps) and [github secret docs](https://docs.github.com/en/actions/security-guides/encrypted-secrets) which
made me think, I don't have access to create a yml file.

i

[2022-04-29 04:50] allella commented on #978
@ojeytonwilliams setup the GitHub actions, so he may have suggestions on that error.

[2022-04-29 22:14] allella commented on #967
There were some questions related to permissions on the chat and I thought to post a summary here too.

It looks like we have 16 tables in the merged schema
https://opensource.freecodecamp.org/chapter/

and 21 tables in the database diagram
https://dbdiagram.io/d/617ae3f8fa17df5ea673e3ea

I believe
https://github.com/freeCodeCamp/chapter/pull/965
and
https://github.com/freeCodeCamp/chapter/pull/96

[2022-05-02 13:08] ojeytonwilliams commented on #978
I'm not sure why that particular workflow would cause any problems.  I created https://github.com/ojeytonwilliams/chapter/tree/chore/add-license-update-action on my fork without any problems.

@Sboonny did you try to create the branch on https://github.com/freeCodeCamp/chapter, by any chance?  If that's the case, it's probably just a permissions issue and you'll be able to create it on your fork.

[2022-05-02 14:48] ojeytonwilliams commented on #978
Ah, are you using a PAT to push your code?  If that's the case, it may not have sufficient permissions to push these changes.

I can't think of anything else, sorry!  So, if that doesn't work, I'll just do it myself and add you as a co-author.

[2022-05-02 15:17] Sboonny commented on #978
you have already done most of the work. I am totally okay with you pushing it ahead.👍

yes, I am using [PAT](https://www.techtarget.com/searchnetworking/definition/Port-Address-Translation-PAT), which is interesting that I didn't know about.

[2022-05-02 15:24] ojeytonwilliams commented on #978
Sorry, @Sboonny I don't know why I used the jargon - what I meant was a GitHub [Personal Access Token](https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token)

[2022-05-02 16:51] Sboonny commented on #978
oh that what scope about. I made secert with these scopes

![image](https://user-images.githubusercontent.com/88248797/166289307-077b555a-3662-4670-99a3-0d22d1852127.png)

update the secret in the fork
![image](https://user-images.githubusercontent.com/88248797/166289390-d73b90d9-1e82-40bc-a572-9f0071c3f00e.png)

and tried again got the same error.

then I tried with every scope avaliable, updated

[2022-05-02 17:20] gikf commented on #978
The access token, having workflow _permission_ is to be used in your git configuration, to allow pushing  change on your fork.

Token in the workflow is unrelated.

[2022-05-02 21:09] Sboonny commented on #978
I couldn't use [gitpod](https://github.com/gitpod-io/gitpod/issues/7699) from the start.

 well, this doesn't matter anymore. whenever I clone or pull something to my laptop it doesn't ask for username or password. so I can't do this step
[code]
![image](https://user-images.githubusercontent.com/88248797/166326583-a3928a42-44ab-4b28-8069-fe1e470af527.png)

is the hint useful? I looked [core.fsmoni

[2022-05-02 21:20] allella commented on #978
@Sboonny is your environment running Git Bash?  We've had others with permissions issues with Git Bash. They are usually related to things on the Windows file system or symlinks, but the broader point is the Git Bash isn't the most solid option for Windows.

[Our Docs have more about using WSL with a Linux shell, like Ubuntu](https://github.com/freeCodeCamp/chapter/blob/main/CONTRIBUTING.md#using-

[2022-05-02 21:24] allella commented on #978
A Linux terminal / shell would also allow for using SSH key authentication to GitHub, which is the more common alternative to username and password, or tokens.

Nothing I've seen points directly to Linux and SSH key auth being a definite fix for your issue, but those are sort of the default and usually the least likely to cause problems connecting to GitHub.

[2022-05-02 21:36] Sboonny commented on #978
True🤔, I should try them out, hopefully more info will be found, I will try to give detailed update tomorrow morning 👍

[2022-05-02 21:43] allella commented on #978
Ubuntu isn't the only Linux distribution that runs on top of WSL, but it's probably the most well-supported and a good place to start.

https://ubuntu.com/tutorials/install-ubuntu-on-wsl2-on-windows-10#1-overview
https://wiki.ubuntu.com/WSL

Also, Windows Terminal is not required, but after installing WSL and Ubuntu for Windows it is possible to open an Ubuntu terminal from within Windows Terminal

[2022-05-03 17:04] Sboonny commented on #978
sorry for the update delay. had issue with installing Ubuntu in windows. like this [issue](https://github.com/microsoft/WSL/issues/2872).

 I am planning to switch to linux system then give it try with linux.😅🐱‍💻

[2022-05-11 15:09] ojeytonwilliams commented on #978
Re-opened since we have more files needing updates

[2022-05-11 15:15] allella commented on #978
I've updated the comment near the top to show the list of file and process
https://github.com/freeCodeCamp/chapter/issues/978#issuecomment-1082036756

[2022-05-13 13:41] ojeytonwilliams commented on #959
Implementation sketch:

1. Add a timezone field to the prisma schema
2. Update the user.factory to create random timezones
3. Seed the foo@bar.com user with the local timezone (since that's the default user to log in as when developing)
4. Detect browser timezone when registering users
5. Use user's timezone in emails and inside the app (see above)

[2022-05-13 13:57] ojeytonwilliams commented on #956
This should be straightforward to implement: the MailerService can be configured to send BCC.  The Cypress tests may need updating and, if they don't, they should be modified to confirm that the recipient does not see anyone else's emails.  Ideally we should check that all emails are sent, but that may not be possible (MailHog does not seem to store them)

[2022-05-13 14:09] ojeytonwilliams commented on #349
In the interests of getting the MVP done, I think this can move to Nice to Have.  It's 100% a feature we want, but we can see how Chapter functions without it first and focus on discovery once we have something to discover.

@allella do you remember the approach re: Roadmap and so on?  I was wondering if we should have MVP and Roadmap issues both open, but mutually exclusive.  Right now we have so

[2022-05-13 14:12] ojeytonwilliams commented on #273
The role based auth is my next big focus, so I hope to get that done soon.  However, it's definitely feasible to implement this without the auth in place since it should be easy enough to restrict access to resolvers after the auth system is done.

[2022-05-13 15:26] ojeytonwilliams opened #1044 "Google calendar integration"
## What we currently do

At this time, all of Chapters interactions with users are via the app itself or email.

## Why this is an issue

It creates additional friction for users, since they will have to update their calendars manually. Potentially resulting in missed events and frustration.

## What we can do

Make use of the Google calendar api to update user's calendars for them.

## Potential

[2022-05-13 15:36] ojeytonwilliams commented on #349
So: closed Roadmap = nice to have, but for the future, open Roadmap = nice to have, and worth implementing if someone is interested, but low priority

Is that about right?

[2022-05-13 16:04] #103 closed

[2022-05-13 16:58] allella commented on #1044
Here's the earlier conversation and research on updating Google Calendar
https://github.com/freeCodeCamp/chapter/issues/436

[2022-05-13 17:06] techieeliot commented on #260
I could help out with testing this out. I've never seen it, so I would be a good test user.

[2022-05-13 17:08] ojeytonwilliams commented on #436
What I thought about this recently:

## What we currently do

At this time, all of Chapters interactions with users are via the app itself or email.

## Why this is an issue

It creates additional friction for users, since they will have to update their calendars manually. Potentially resulting in missed events and frustration.

## What we can do

Make use of the Google calendar api to update user

[2022-05-13 17:09] allella commented on #445
Oliver did a demo video at the October fCC event, but we're going to put this on the Roadmap for a later demo video for post-MVP users.

[2022-05-13 17:09] #445 closed

[2022-05-13 17:09] ojeytonwilliams commented on #1044
Closing in favour of the existing issue

[2022-05-13 17:09] #1044 closed

[2022-05-13 17:10] #171 closed

[2022-05-13 17:12] moT01 commented on #108
Duplicate of https://github.com/freeCodeCamp/chapter/issues/276

[2022-05-13 17:13] #349 closed

[2022-05-13 17:14] allella commented on #349
We moved the Search feature to the Roadmap since there will initially be about 10 fCC chapters testing the first iteration of the application.

@ojeytonwilliams Roadmap has been used to track issues which we want to at least come back to and not forget. So, there's no rating, but we can remove issues from the Roadmap on a future review.

[2022-05-13 17:24] allella commented on #436
As with Quincy's Google calendar invite for today's meeting, it's necessary to send an .ics file with
REQUEST method

![image](https://user-images.githubusercontent.com/1777776/168336007-b3b5fd80-9b74-4f29-ad93-a381cb613a77.png)

[2022-05-13 17:58] allella commented on #436
Quincy is most interested in exploring the [Google Calendar API](https://developers.google.com/calendar/api) as there are questions on if the iCal / webcal method is reliable.

[2022-05-13 19:03] c-ehrlich opened #1045 "Backend container fails to build on Apple Silicon Mac"
### Describe the bug:
`docker-compose build` currently fails on Apple Silicon Macs. I haven't been able to fully figure out _why_ it breaks from the error logs, but a bit of research suggests that there are known compatibility issues when using Prisma in certain Docker images on Apple Silicon Macs.

I was able to get the project running by using the following `server.Dockerfile` (using the `node:1

[2022-05-14 02:08] allella commented on #1045
Alright, so is the `FROM node:16-alpine` the main problem, or is it the `apt install -y netcat` because those seem to be the main differences.

I don't have Mac-anything, but it's curious if the differences above work on older Macs too.

[2022-05-14 03:56] allella commented on #436
@ojeytonwilliams

As mentioned in the last comment, we determined Quincy and others aren't convinced the .ics file protocol for auto-updating calendar events is the way to go.

It may work okay, but this also assumes we're able to send a .ics file to an email that uses the METHOD:REQUEST and **does not** include a "Will you attend?" (Yes, No, Maybe).

As mentioned above, [we could easily confuse a

[2022-05-14 04:03] allella commented on #967
@ojeytonwilliams not sure if this is ever "done", but I'm wondering if https://github.com/freeCodeCamp/chapter/pull/965 gets this "good for now"

[2022-05-14 04:09] allella commented on #273
I know Oliver has a good handle on the auth and roles, but there are notable earlier links in the comments on this thread and also on https://github.com/freeCodeCamp/chapter/issues/743#issuecomment-946336061

Cross-linking things so those previous conversations are easier to find.

[2022-05-14 04:09] allella commented on #270
I know Oliver has a good handle on the auth and roles, but there are notable earlier links in the comments on this thread and also on https://github.com/freeCodeCamp/chapter/issues/743#issuecomment-946336061

Cross-linking things so those previous conversations are easier to find.

[2022-05-14 11:14] c-ehrlich commented on #1045
tldr: It's possible to add one line to `docker-compose.yml` to make it emulate x64 on other architectures such as Apple Silicon. This seems like a good fix until there is a cross platform alpine image.

---

Here are my results of researching this further:

* As far as I can tell, no amount of adding packages to `node:16-alpine` will work. I get stuck on the same step as:
https://github.com/prisma

[2022-05-14 13:17] allella commented on #260
@techieeliot I just remembered we have some [FAQ at the bottom of the Vision page](https://github.com/freeCodeCamp/chapter/wiki/Vision#frequently-asked-questions) and those have been there since early on.

I'm thinking we should consolidate these into the other FAQs and then link from the end of the Vision page to these.

[Administrator FAQ](https://github.com/freeCodeCamp/chapter/wiki/Administrat

[2022-05-14 14:56] allella commented on #1045
Thanks for the detailed report.

@ojeytonwilliams @nhcarrigan @tomiiide @NorthDecoder @tomnoland have been involved with the Docker work and may have thoughts or be able to test how the proposed change to add `platform: "linux/amd64"` to the docker-compose.yml

[2022-05-14 16:15] ojeytonwilliams commented on #1045
@c-ehrlich at the moment, we mainly want the Dockerfiles to provide a decent developer experience. We can always maintain separate production images that are optimised.

With that in mind, is `node:16` more appealing (since image size shouldn't be too important in development) or is emulation the way to go regardless?

I'm fine with trying either approach and agree entirely that we want it to work

[2022-05-14 22:23] techieeliot commented on #260
Yes, I’ll consolidate the FAQs.

[2022-05-15 08:50] c-ehrlich commented on #1045
To be honest I'm not sure what is better.

It's about performance either way - one choice is to have slightly reduced performance on Apple Silicon Macs due to emulation, the other is to have a significantly larger image size for everyone (38mb vs 330mb compressed for the base image according to DockerHub), which might also be a performance consideration for people developing on low end PCs or slow

[2022-05-15 16:36] gikf commented on #783
Completed as a part of #965

[2022-05-15 16:36] #783 closed

[2022-05-15 16:43] gikf commented on #743
As of #927 new events are created from chapter dashboard, using chapter id from url.

[2022-05-16 17:22] allella commented on #1045
@c-ehrlich is the emulation only going to slow down the Mac Silicon since most other processors will already be amd64? Or, does adding that emulation line also cause a typical x64 CPU to operate in a different mode?

If it's only slowing down the new Macs, then it would seem that's better than making everyone else slow by downloading 10x the  images.

[2022-05-16 18:59] c-ehrlich commented on #1045
@allella it should not make a difference for CPUs that are already amd64 (Intel CPUs are also amd64) - what the `platform` command actually does is tell Docker to download the image for the specified platform/architecture, so amd64 would use this image anyway. Emulation is how Apple Silicon (and Windows on ARM) deals with non-native images.

I worked on a different part of Chapter last night. Anec

[2022-05-16 21:08] AmrMonier commented on #788
i can see this issue already have Merged PR so can you please close it ? @ojeytonwilliams

[2022-05-17 03:23] gikf commented on #788
Hey @AmrMonier,

there's related PR closed, but pagination of the events is still to be done.

Happy contributing.

[2022-05-19 14:59] #956 closed

[2022-05-19 15:20] ojeytonwilliams commented on #967
I think it is, yeah.  There might be some further tweaks before we're done, but I don't think we need to keep this issue around.

Thanks again @gikf for all your hard work on this!

[2022-05-19 15:25] ojeytonwilliams commented on #436
@allella Neither am I, to be honest, but testing out the Google Calendar API is very high priority right now. We'll know soon enough if it's workable and if it addresses these concerns.  If not, we can do some thinking about how to avoid them.

[2022-05-20 04:48] Nirajn2311 commented on #782
Hi @Ismailtlem , have you started working on this?

[2022-05-20 15:23] #978 closed

[2022-05-20 22:12] Ismailtlem commented on #782
Hi, I started working on it, I am just stuck a bit on sending the email part. I made the UI part. I will make a draft PR asap and we can take it from there

[2022-06-01 20:49] Ismailtlem commented on #100
Hi,

Is this issue only about changing the body text of the email that get sent when cancelling an event?

[2022-06-02 03:16] allella commented on #100
I think @gikf has worked on a lot of the interface side, so I'm pinging and directing that question accordingly.

[2022-06-02 06:31] gikf commented on #100
Yep, from more immediate things - I believe so.

I think test for it might need changing later, once seeding will seed also unsubscribed users.

[2022-06-04 01:27] allella commented on #260
@techieeliot is this something you'll still have time to work on?

[2022-06-04 01:32] techieeliot commented on #260
Yes, I’ll have time.

Sent from my iPhone

[2022-06-04 09:34] Ismailtlem commented on #782
Should we close this ?

[2022-06-06 04:05] allella commented on #782
@ojeytonwilliams is there anything more to do on this one since #1065 was merged?

[2022-06-07 11:14] ojeytonwilliams commented on #782
I don't believe so, no, @Ismailtlem's PR looks to have covered it. We can tick off another MVP issue :rocket:

[2022-06-07 11:14] #782 closed

[2022-06-08 09:59] #959 closed

[2022-06-08 13:20] ojeytonwilliams commented on #276
I removed the MVP label because we're planning to integrate with Google Calendar. As a result this should end up being a fallback for users that don't use Google Calendar and so is not 100% necessary for a viable MVP.

[2022-06-09 13:08] ojeytonwilliams commented on #276
@allella no, that text looks good to me.  It's just that we still have text like this in the reminder emails:

[code]

For this to be done, those placeholders would need to generate the correct links.

[2022-06-12 12:56] Sboonny commented on #471
I am wondering if it's decided where to put the documentation, and if I can help with creating it.

[2022-06-12 14:22] allella commented on #471
@Sboonny one other option is to add the troubleshooting as a collapsed section at the end of the CONTRIBUTING.md.

I mention that because the troubleshooting list above is relevant for developers.  Whenever the app goes live we may find a use for a similar, less technical, "Help" document for the end user and most our other end-user docs are in the Wiki.

What do you think about adding the more te

[2022-06-12 14:37] Sboonny commented on #471
I do see the point, and I do like the idea👌, I will start implementing it. I will create every section with its PR because it easy for me to make silly mistakes.

[2022-06-12 17:23] Ismailtlem commented on #786
Is this issue still needs to remain open ?

[2022-06-13 14:07] ojeytonwilliams commented on #786
@Ismailtlem I think we'll want to be working on this periodically, but I don't think this needs to stay open.

[2022-06-13 15:41] ojeytonwilliams commented on #98
Once https://github.com/freeCodeCamp/chapter/pull/1069 goes in, authorisation will need to be modified to take account of ban status.

[2022-06-14 14:39] #471 closed

[2022-06-14 14:41] allella commented on #471
Thanks to @Sboonny for moving this over to the CONTRIBUTING.md.  See the [Troubleshooting section](https://github.com/freeCodeCamp/chapter/blob/main/CONTRIBUTING.md#troubleshooting) and expand the appropriate topic areas for help with common technical errors and their solutions.

[2022-06-22 14:44] allella commented on #605
@ojeytonwilliams @gikf I had this to-do on my list of things to share with folks looking and for the notes from Fran.

I'm not as in touch with the technical progress, but I thought to ask if there's anything else in here we should confirm to MVP, or else tag for post-MVP.

[2022-06-22 15:50] ojeytonwilliams commented on #605
So there are a few things still needing addressing.  For example:

- Deployment pipelines
- Authentication (probably via Auth0 for the MVP)

@raisedadead it would be good if we could have a chat about both of those before too long.

Aside from those, we're hoping to get the Google Calendar integration working for the MVP, rather than relying on the icals.

Finally, we don't have all of the user ma

[2022-06-22 23:54] allella commented on #605
Alright, shall we close and put this on the Roadmap label for future circling back?

[2022-06-26 20:17] gikf commented on #436
Is there a more specific expected/ideal workflow for this?

Looking at the documentation, generally two pieces are needed to be able to edit events - calendar id and event id. Event id can be defined when creating event. For calendar id there's couple options:
- Require user to provide calendar id of the existing calendar.
- Use the `primary` calendar of user.
- Create new calendar for user. This

[2022-06-27 08:15] ojeytonwilliams commented on #436
I've only just started looking into this, but it seems that basically everything of interest requires a sensitive scope and must be audited by Google before the app can be published. Even if we want to create events on calendars that we own, we'd still need to access a sensitive scope: `/auth/calendar.events.owned`

The exception is `/auth/calendar.app.created` which lets you

In principle this is

[2022-06-27 09:41] gikf commented on #436
If calendar would be created _externally_ `https://www.googleapis.com/auth/calendar.events` scope might be enough - https://developers.google.com/calendar/api/v3/reference/events/insert, but that's also sensitive scope.

After event is created on the Chapter calendar, how that would be connected with the user taking part in the event? Do they add _manually_ add Chapter calendar, or would be adding

[2022-06-27 10:57] ojeytonwilliams commented on #436
It would be sensitive, so assuming the secondary calendar approach fails, we'll need sensitive scopes.  However, I'd very much prefer to avoid using `https://www.googleapis.com/auth/calendar` if possible and, yeah, `https://www.googleapis.com/auth/calendar.events` might be enough.

My understanding is that the Chapter admin would create an event where the `attendees` are all the users that RSVP'd

[2022-06-30 04:44] shootermv opened #1128 "can be good to have direct link for opening gitpod at readme (like at fcc project)"
**Describe the bug**
I think it can be good to have a direct link for opening gitpod at readme (like at free code camp project)
link should be: https://gitpod.io/#https://github.com/freeCodeCamp/chapter

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screensh

[2022-06-30 16:58] Sboonny opened #1143 "Chapter Ui Components"
With [freeCodeCamp component](https://github.com/freeCodeCamp/freeCodeCamp/issues/44668) picking pace, Chakra-ui became obsolete. To adapt for the new library, we need to push the components we're currently using into it.

For this, we use [Storybook](https://storybook.js.org/) to document, test, and isolate the component, and [tailwind CSS](https://tailwindcss.com/) to style them.

Because this C

[2022-06-30 18:05] ojeytonwilliams commented on #1143
A few quick thought on priorities.

As we discussed, the most useful components are the ones common to Chapter and /learn.

Once those are done, I think it makes sense to look at the components that are public-facing, rather than administrator-facing.  It would be nice if the dashboard followed the style-guide, but it's not crucial.

Finally, looking at that list, I see a few things we may not nee

[2022-07-01 06:10] shootermv opened #1148 "colors of 'change' & 'close' buttons at change-role modal should be opposite"
### Describe the bug:
Currently 'close' button has a blue and 'change' is gray
![image](https://user-images.githubusercontent.com/1336862/176834579-2edc1d98-458a-419d-9e5e-c82d44ea10b2.png)
 I think it will be better to change colors to be opposite:
'close' -grey and 'change' is blue
May be even better to have 'green' color for 'change' button...
### Tell us about your browser and operating system

[2022-07-01 06:30] gikf commented on #1148
That's on me for using custom button for _Change_, instead of the default green button from `Modal` component with appropriate `formButtonText`.

[2022-07-01 06:41] shootermv commented on #1148
so, you think is better not to use custom button?

[2022-07-01 06:50] gikf commented on #1148
In this case I think so. Default one seem to fulfill all the needs, so unless there will arise requirements which it won't be able to match, no reason to not use default.

[2022-07-01 06:51] shootermv commented on #1148
replaced model code with following:
[code]

[2022-07-01 08:02] #1148 closed

[2022-07-01 10:53] ojeytonwilliams commented on #605
Sure, that makes sense.

[2022-07-01 10:53] #605 closed

[2022-07-03 08:43] shootermv opened #1171 "No content displayed initially at dashboard page (except 'Admin dashboard' text...)"
### Describe the bug:

After logging in as admin (`foo@bar.com`)
And navigate to `dashboard` page.
No content displayed except 'Admin dashboard' text...
![image](https://user-images.githubusercontent.com/1336862/177032137-1b5fc378-6c33-400b-8b2e-f1c4987f2e17.png)

my suggestion: better to have first of tabs (`chapters`) selected

### Tell us about your browser and operating system:
- Browser(s) na

[2022-07-03 19:27] gikf commented on #1128
Closed with #1162

[2022-07-03 19:27] #1128 closed

[2022-07-05 07:45] gikf commented on #1171
My concern for picking any specific tab to be open by default, is that not everybody might have permission to view it.

[2022-07-05 07:53] shootermv commented on #1171
"chapters" - is there any reason for not permit access to everybody to this tab?

[2022-07-07 11:42] #1171 closed

[2022-07-08 07:13] Johnny01232003 commented on #788
I am working on this issue.

[2022-07-08 16:15] ojeytonwilliams opened #1195 "Associate Venues with Chapters"
Do we want each venue to belong to one chapter? There are couple of reasons I can see to do this, one practical and one technical.

The practical reason is that a venue is typically going to be close to the chapter members and so forcing event creators to choose from all possible venues is unhelpful.  There is also the potential for confusion if admins of multiple chapters update the same venue.

[2022-07-08 16:59] allella commented on #1195
I guess what you're asking is if there would be global venues, or else duplicate venues in situations where two or more Chapters meet at the same location.

The use case I have isn't the base case, but having global venues wouldn't work well for it.  That is, I plan to run an instance of Chapter for my local area as a resource for all of the small meetup groups that don't / won't have a parent org

[2022-07-08 17:11] allella commented on #1195
I guess a middle-ground on global vs duplicate venues is if you had a flag on the database where some venues could be set as global, and therefore available to all _events_?

I'm suggesting this more as a post-MVP, but it could give some flexibility to where an owner or admin could control the list of approved venues. Or, the owner / admin could allow organizers to maintain their own subset of ven

[2022-07-08 17:50] ojeytonwilliams commented on #1195
Maybe a safe option would just be the ability to view a read-only list of other chapter's venues.

So, the user story would be something like this:

- As a Chapter admin, I can see a list of all Venues and import copies of them into my Chapter

This way it's clear who has the right to modify things (admins of the appropriate chapters and owners), but we cut down on the busy-work of setting up a ve

[2022-07-08 18:35] allella commented on #1195
Even with the standard use case, I could see the venue list getting messy if organizers are left to their own devices.

If someone is going to see a "standardized" list of venues, then it may be best that only an admin has that ability so you don't end up with organizers doing things different ways and creating noise for each other.

For example, you might end up with organizers creating a new, ef

[2022-07-08 20:26] hisnameispum commented on #788
I'll work on this issue.

[2022-07-11 08:06] ojeytonwilliams commented on #1195
Sounds good to me.  Once organisers exist, they will definitely need to be able to create venues, even if they mostly use existing ones.

I suspect we'll only truly know once we've used it for a while, but the Mixed approach seems good. It gives organisers all the freedom they'll need while still saving them time (assuming they check the global list).

[2022-07-11 08:12] ojeytonwilliams commented on #1195
Back to the MVP: having more than one type of list of venues isn't minimal and if we're picking one, chapter specific lists seem best.

[2022-07-11 13:42] allella commented on #1195
Sure, if you can start with authorization for chapter specific and it won't complicate something like adding a global venues flag, then that sounds like a decent MVP.

[2022-07-12 14:58] Sboonny opened #1211 "Ability to filter event/events"
### Discuss your ideas or share your views:
Make sure to tell how your idea will benefit this project.

I want to create the ability to filter our data with input from the users, I am started with event/events because it seems the easiest.

Here is the prototype of how it looks.

![image](https://user-images.githubusercontent.com/88248797/178519726-5faa1df3-a1d9-4754-b84e-0a5920df1493.png)

While

[2022-07-12 16:50] allella commented on #1211
There is a filter option on the events page in an [early mockup](https://www.figma.com/proto/q7DikyL3N0c4CUWxHNa97i/Chapter-Prototype?node-id=332%3A355&scaling=scale-down), but I don't believe we've had an issue for the filtering, [MVP](https://github.com/freeCodeCamp/chapter/issues?page=2&q=label%3AMVP) or otherwise.

There is a conversation about [adding an event search bar](https://github.com/f

[2022-07-12 17:10] allella commented on #65
This is a UX / usability note, and not directly related to accessibility. Though, I'm imagining accessibility and UX will be reviewed before MVP, and continuously afterwards, so I wanted to leave a breadcrumb to things we've already discussed.

Here are [earlier conversations](https://github.com/freeCodeCamp/chapter/issues/274#issuecomment-562442271) about [switches vs checkboxes](https://uxdesign

[2022-07-12 18:43] Sboonny commented on #1211
True, I am trying to create a function similar to what [Quincy mentioned in his comment in issue 274](https://github.com/freeCodeCamp/chapter/issues/274#issuecomment-565726460), without holding the issue hostage like how I did in issue #276 , stopping people who see my pull request from opening pr and not fixing the issue instead.

And I think filtering the events depending on user interested in i

[2022-07-13 10:12] ojeytonwilliams commented on #98
While not all resolvers are restricted by Authorized decorators, whenever they are restricted, ban status is automatically taken into account.

As a result, it doesn't seem necessary to track this any more.

[2022-07-13 10:12] #98 closed

[2022-07-13 10:22] ojeytonwilliams opened #1215 "Event and Venue creation pages"
After https://github.com/freeCodeCamp/chapter/pull/1212 goes in it will not be possible to create events or venues from their respective dashboards (dashboard/venues and dashboard/events).

It would be nice if we brought back that functionality, updated to reflect the new permissions system.  Specifically:

- As an instance owner, I can go to the events/venues dashboard, click on 'add new' and the

[2022-07-13 10:32] ojeytonwilliams opened #1216 "Chapter Deletion functionality"
We have the resolver, but we don't have a UI to make requests to it.

Since this is the most destructive operation we have, it should only be accessible to instance owners, should come with dire warnings and be difficult to do accidentally.

Something like the Github repo deletion UI would be nice: i.e. require owners to type in the chapter name before the delete button is enabled.

[2022-07-13 11:07] ojeytonwilliams opened #1217 "Resolvers requiring Authorization decorators"
To complete the role-based authorization the Authorized decorator needs to be applied to the following resolvers:

- [x] #1298 https://github.com/freeCodeCamp/chapter/blob/bee4c91ce972bb50e3fb3185b33b5e6157a8903f/server/src/controllers/Events/resolver.ts#L480
- [x] #1332 https://github.com/freeCodeCamp/chapter/blob/bee4c91ce972bb50e3fb3185b33b5e6157a8903f/server/src/controllers/Events/resolver.ts#

[2022-07-13 13:07] #681 closed

[2022-07-13 13:09] ojeytonwilliams commented on #743
Closing in favour of https://github.com/freeCodeCamp/chapter/issues/1215 which better reflects the current state of the app.

[2022-07-13 13:09] #743 closed

[2022-07-14 03:49] allella commented on #260
The [Vision Statement](https://github.com/freeCodeCamp/chapter/wiki/Vision), [Owner FAQ](https://github.com/freeCodeCamp/chapter/wiki/Owner-FAQs), and [Admistrator FAQ](https://github.com/freeCodeCamp/chapter/wiki/Administrator-FAQs) pages have been update.

If there are suggestions for more FAQs or tweaks, then this issue is still a good place to have those conversations.

[2022-07-14 13:59] ojeytonwilliams commented on #1195
Reopening since there is more to be done.  Context: https://github.com/freeCodeCamp/chapter/pull/1212#issuecomment-1184301773

[2022-07-15 12:58] ojeytonwilliams opened #1232 "Configure email in production"
We have nodemailer set up as our email client, which works well locally, but needs additional configuration before it can work remotely.

[2022-07-15 13:31] ojeytonwilliams opened #1233 "Auth0 integration"
For the MVP, which will be quite tightly integrated with freeCodeCamp.org, we will need to use the same identity provider - Auth0.  Judging by how this is (well, [will be](https://github.com/freeCodeCamp/classroom/pull/73/)) done in Classroom (which is also a Next app) this should be reasonably straightforward.

Post-MVP we will want to expand the options for authorization, so this will need revis

[2022-07-15 14:56] ojeytonwilliams commented on #276
Thanks @Johnny01232003, that would be great.  If you have any questions, feel free to ask here or in our [chat](https://discord.gg/QbQd7BpaaH)

[2022-07-15 15:12] ojeytonwilliams commented on #1216
For reference, the current chapter dashboard:

![image](https://user-images.githubusercontent.com/15801806/179252493-dc5e98b4-b03c-44b1-a266-794cef7d6336.png)

[2022-07-15 17:49] Johnny01232003 commented on #276
Actually, we are going to start off with something a little easier with the UI components https://github.com/freeCodeCamp/chapter/issues/1143. Thank you @ojeytonwilliams for the resources and fast response though!

[2022-07-15 20:17] hisnameispum commented on #1143
I came cross this typescript-based UI library called [Mantine](https://mantine.dev/) and I heard it’s really good. Let me know what your opinions are. It might be helpful since the code base is mostly typescript.

[2022-07-15 20:28] Sboonny commented on #1143
@hisnameispum I see promising features and components, but we are trying to create our own library.

For it to be of use, we need to find a way to use it in chapter, add it to chaper, create component that is similar to said usage, and then delete the Mantine component.

This will be overtaxing for some, but I did take of it and when this issue closes, I will look deeper into it 👍💚

[2022-07-15 21:27] ojeytonwilliams commented on #276
You're very welcome! Thanks for helping out :)

[2022-07-16 18:33] Sboonny commented on #1216
Using the reference, I am planning to add `tabs` holding `setting` and `General`. The user can navigate to the `setting` and will see two buttons. Clicking the buttons will open a popup asking them if they sure with `input` asking them to `input` chapter name.

Hopefully later in this, instead of `tabs`, I create `setting` page so navigation can happen manually with an url, example: `https://chapt

[2022-07-18 08:52] Sboonny commented on #1143
@Johnny01232003, @hisnameispum, I have talked with @ahmadabdolsaheb, if you need anything he is happy to answer your questions in the main repo too. https://github.com/freeCodeCamp/freeCodeCamp/issues/44668

There is something, that isn't mentioned in this issue.

Creating a library require a team that specialize in that aspect, which we aren't, but we are creating something much smaller than usua

[2022-07-18 12:42] ojeytonwilliams commented on #1143
Hey @huyenltnguyen, it's good to hear from you. And, yes, that would be a great help!

As the number of freeCodeCamp's client applications grows, the standalone package should be more and more useful. In the long run it should save a ton of time and painful debugging sessions.

[2022-07-18 13:40] ojeytonwilliams opened #1241 "Failed Chapter, Venue and Event creation should come with an error"
/dashboard/chapters/1/new-venue
/dashboard/chapters/new
/dashboard/chapters/1/new-event

all fail if the user has insufficient permissions, but silently.  There should be an error notification telling the user what went wrong.

[2022-07-18 16:57] Sboonny opened #1242 "Failed log in should come with an error"
If user doesn't input email (empty imput) in login/register page, and press the `log in` button.  Nothing happens.

For now, we should display something similar to the alert when someone put input without `@` in it

I will post a link of the page file and hopefully how the feature is implemented

[2022-07-18 16:57] Sboonny opened #1243 "Unclear Icon in the Homepage"
There is a lock icon as shown in the picture for events, this isn't descriptive for people who see it. Our approach for private event inductive should be changed

![image](https://user-images.githubusercontent.com/88248797/179562840-6e0b29f8-2d31-4471-b97d-984f189d08cf.png)

You can add `Invite only` text next to the `<LockIcon />` in here

https://github.com/freeCodeCamp/chapter/blob/53e35409156e

[2022-07-18 17:01] Sboonny opened #1244 "Spaces in /chapters is used poorly for desktop and laptop users"
the pages look like a mobile page for desktop user. We can use more features and a lot of the empty space to display more info about chapters for general user

![image](https://user-images.githubusercontent.com/88248797/179563702-3bf7bfad-f08e-48b8-95a7-fe535448edd5.png)

I will post a link of the page file and hopefully how the feature is implemented.

[2022-07-18 17:04] Sboonny opened #1245 "Spaces in /events is used poorly for desktop and laptop users"
the pages look like a mobile page for desktop user. We can use more features and a lot of the empty space to display more info about events for general user,

![image](https://user-images.githubusercontent.com/88248797/179564379-19652e5a-0f65-4bf3-9b95-1b47d0746a79.png)

I will post a link of the page file and hopefully how the feature is implemented.

[2022-07-18 17:08] Sboonny opened #1246 "User should see themself highlighted always"
It should be easy for the user to find themselves in rows of info while using the app

![image](https://user-images.githubusercontent.com/88248797/179564854-eb8953e3-0199-4684-a076-a18f724e061b.png)

I will post a link of the page file and hopefully how the feature is implemented.

[2022-07-18 17:16] Sboonny opened #1247 "Confirmation modal on signing out"
- [ ] make the logout stand out more, whenever someone hover and focus on it.

You will have to change, this element, you can use chakra style system https://chakra-ui.com/docs/styled-system/style-props

https://github.com/freeCodeCamp/chapter/blob/53e35409156efb60c7a98ec1cf24ac18c4dc39d6/client/src/components/PageLayout/Header.tsx#L75-L77

----

To get set up locally, take a look at our [contribu

[2022-07-18 17:51] gikf commented on #1241
Putting aside displaying error when one of the actions fails. When user doesn't have permission, maybe we shouldn't display these forms at all?

[2022-07-18 17:56] ojeytonwilliams commented on #1241
Sounds good! It needs to be clear that something went wrong, but a simple 403 forbidden page is probably enough for the MVP.

[2022-07-18 18:12] #1242 closed

[2022-07-18 22:00] #788 closed

[2022-07-19 10:23] gikf opened #1256 "Expanding checkPermission to check chapter role permissions in client"
Client side hook for checking role permissions - `checkPermission` - checks right now only instance role permissions. Expanding it to consider chapter role permissions as well will allow for a finer authorization on the client side. This gives ability to roughly (as this is client) verify user permissions at earlier steps, than when query/mutation from unauthorized user is send to server and rejec

[2022-07-19 10:58] ojeytonwilliams commented on #1195
You're more than welcome to work on this.  My next task is move us from using magic links for Authorization to using Auth0, so I won't be touching much else until that's done.

[2022-07-19 16:39] ojeytonwilliams opened #1263 "Send both html and plain text in emails"
Tasks:

- [ ] Require both plain text and html when sending email
- [ ] Update the sendgrid logic to use both
- [ ] Provide plain text versions of all emails

### Original issue

@naomi-lgbt raised the concern that html emails are more likely to be marked as spam.  To improve deliverability we should consider sending text only emails.

## Pros

- Email should be more likely to arrive

## Cons

- W

[2022-07-19 17:33] allella commented on #1263
I'm not sure if text vs HTML is as relevant as in the old days, but since fCC likely sends a lot of emails, I'll defers to if that's still a thing.

The most important elements I'm aware of are having an SPF and DKIM that's designated to send email from the receiving server.  We already have some notes in the FAQs about this, but for anybody using a 3rd part email service, those services should be

[2022-07-19 17:34] ojeytonwilliams opened #1266 "NextJS for server"
### Discuss your ideas or share your views:

This is 100% a post-MVP consideration, but it might simplify the app to use NextJS for the server as well as the client. With NextJS now supporting middleware it should be powerful enough for anything we want to do.

### Pros
- simpler infrastructure (one fewer container to manage)
- we can use next-auth to simplify the authentication
- reduces the comp

[2022-07-19 17:44] naomi-lgbt commented on #1263
Oliver and I paired up this morning and are working on a Sendgrid integration for production environments - which will ensure that our emails aren't blocked (we already have the SPF, DKIM, and DMARC configured for our Sendgrid account).

I'm honestly not sure either, but I know when I first migrated our email newsletter Quincy was very adamant about ensuring the content-type was text and not html,

[2022-07-19 18:17] allella commented on #1263
GitHub sends a multipart email that includes both the plaintext and HTML version, so I have to assume that's something which will work for people in most parts of the world.  Is there someone more involved with the fCC email that would know if fCC is sending both text and HTML using this multipart header pattern?

[code]

[2022-07-19 18:21] allella commented on #1263
I just checked an email from eBay and they use the same mixed plain and HTML pattern.

Content-Type: multipart/alternative; boundary="baWN13ZZbnj0=_?:"
..... content here in plain text...

--baWN13ZZbnj0=_?:
Content-Type: text/html; charset="utf-8"
Content-Transfer-Encoding: 8bit

.... HTML content here....

--baWN13ZZbnj0=_?:--

[2022-07-19 18:30] naomi-lgbt commented on #1263
We specifically use text in our email blast:

[code]

[2022-07-19 18:49] allella commented on #1263
I'm not a worldly person, so I'm looking at it through my personal lens, where both of these are concerns from 10-20 years ago.

I'd be interested in the reason for text-only.  Reasons I can think of from many years past included spam, low bandwidth or featurephones on the recipient's end.

[2022-07-19 18:52] ojeytonwilliams opened #1269 "SMTP discussion"
My two cents, I know fCC is "dogfooding" this, but we did have a long conversation about not adding on specific packages, and rather using secure SMTP for the eventual product.

It seems like a slippery slope, as I assume others will want all of the other packages and unless they can be dynamically enabled from the server, it may end up being a lot of bloat.

I'm not an expert on the JS stack, so

[2022-07-19 19:08] ojeytonwilliams commented on #1269
I didn't want this discussion getting buried in a merged PR.

For context on sendgrid https://github.com/freeCodeCamp/chapter/pull/1262 the main thing I was after was the ability to send emails from the staging site: https://chapter.freecodecamp.dev. Once I've deployed @naomi-lgbt's PR that should be possible and we can test in a production-like environment.

Once we've got a viable MVP, the focus

[2022-07-19 19:14] allella commented on #1269
I understand if it's to get to MVP and testing, but just wanted to check since it differed from the [earlier SMTP-only direction](https://github.com/freeCodeCamp/chapter/issues/283).

[Node Mailer only lists two of the popular services](https://nodemailer.com/plugins/) and we figure picking services isn't the way to go when the SMTP protocol should allow for relaying through 3rd party services or

[2022-07-19 19:18] allella commented on #1269
Also, I should mention that [sendmail](https://nodemailer.com/transports/sendmail/) is a supported transport for relaying emails from a locally hosted mail daemon on the web server. While that's nice as an option, it's also the most likely way someone without a lot of sendmail / Postfix knowledge can get themselves in a jam by sending emails without proper validation, like SPF / DKIM.

My guess is

[2022-07-19 19:59] naomi-lgbt commented on #1269
Yes, the use of Sendgrid is primarily a quick fix so we can get things running on `.dev`.

[2022-07-20 07:28] Sboonny opened #1272 "Save button should be disabled until some changes done"
In `/dashboard/events/{event_id}/edit`

![events dashboard](https://user-images.githubusercontent.com/88248797/179920804-a4365f60-b9a0-4ba6-a938-485923670aab.png)

---

Save the change should be disabled if there is no input changed, this may lead to confusion because

- Someone may think that they have changed something by accident.
- Someone may think that the site haven't saved their previous c

[2022-07-20 07:39] Sboonny opened #1273 "Adding Margin bottom to EditEventPage"
In `modules/dashboard/events/EditEventPage`

![events dashboard](https://user-images.githubusercontent.com/88248797/179920804-a4365f60-b9a0-4ba6-a938-485923670aab.png)

the buttons at the bottom have no margin button, we should add margin bottom to this page and similar ones.

you can add margin bottom to `HStack` here, it use chakira style system https://chakra-ui.com/docs/styled-system/style-pro

[2022-07-20 08:00] shootermv opened #1274 "after edit some event details and press "save" - better to add notification about operation status"
### Discuss your ideas or share your views:
after edit some event details and press "save" better to add notification about operation status - if the changes saved successfully or some error occurred

[2022-07-20 18:17] Sboonny commented on #1246
@ojeytonwilliams I have looked into the below code, in `/src/modules/dashboard/Users/pages/UsersPage.tsx`

https://github.com/freeCodeCamp/chapter/blob/53e35409156efb60c7a98ec1cf24ac18c4dc39d6/client/src/modules/dashboard/Users/pages/UsersPage.tsx#L79-L105

I wanted to make sure before I change the label, it should be something like? or am I not noticing something?

[code]

[2022-07-20 18:22] Sboonny commented on #1245
Feel free to drop a suggestion, or ways you think you can help.

If you want to help, make it **small**, usually layout is tricky and with UI component is under way, make complicated layout will be hindrance for it

[2022-07-20 18:23] Sboonny commented on #1244
Feel free to drop a suggestion, or ways you think you can help.

If you want to help, make it **small**, usually layout is tricky and with UI component is under way, make complicated layout will be hindrance for it

[2022-07-21 11:38] ojeytonwilliams commented on #1246
That logic seems sound to me, so please go ahead with what you had planned.

[2022-07-21 15:55] ojeytonwilliams opened #1279 "Create an admin of chapter 2 for testing"
We have multiple different possible roles whose permissions we want to test.  However, the tests currently only have one admin, so have to approach testing indirectly (changing request variables, rather than users).

To complement admin@of.a.chapter, another user admin@of.chapter.two would make for concise, readable tests. c.f. https://github.com/freeCodeCamp/chapter/blob/2d8cafcf74cf892166986ef4a

[2022-07-21 20:28] gikf commented on #1273
Done in #1276

[2022-07-21 20:28] #1273 closed

[2022-07-21 20:32] Sboonny commented on #1273
Thank you 💚

[2022-07-24 07:09] gikf opened #1288 "all-contributors PRs skip CI conflict with branch protection rules"
PRs made by the allcontributors bot are being stuck in the CI checks due to the conflict in configuration.

- Branch protection rules require `CI Workflow` to pass
- `.all-contributorsrc` has option to skip CI checks, which is currently turned off.

This makes github at the same time wait for the status of the CI checks and not run those checks in the first place:
https://github.com/freeCodeCamp/c

[2022-07-25 06:48] ojeytonwilliams commented on #1288
Since we don't run this too often, my vote is to run CI on everything. It seems simpler than creating a dummy workflow.

[2022-07-25 08:20] ojeytonwilliams commented on #1143
@huyenltnguyen no, no, it's all good - those sound like good priorities. I'll definitely give you a shout if things change!

[2022-07-25 16:26] #1195 closed

[2022-07-26 13:38] ahmadabdolsaheb commented on #1143
Just to clarify, we should go ahead with the current spec mentioned here: https://github.com/freeCodeCamp/freeCodeCamp/issues/44668
Once that is released, we will add the additional components that are specifically needed for chapter on the second sprint.

[2022-07-27 13:25] shootermv opened #1294 "better to have example users named after Harry Potter characters"
better to have example users (we currently have) named after Harry Potter characters -
Because that way it will be more make sense -
If there is Dumbledore is who created event  - everybody will want to register (unlike now that is some name nobody cares of)

[2022-07-30 08:19] Awais753 commented on #1274
Can i work on this?

[2022-07-30 08:31] gikf commented on #1274
Sure, no need to ask. Let us know if you'd have any questions.

[2022-07-30 10:14] Awais753 commented on #1274
I tried to edit an Event's capacity field just for experimenting and I get this error in response.

  Null constraint violation on the fields: (`chapter_id`)

 Is this a known issue? or is it from my end only.

[2022-07-30 10:32] gikf commented on #1274
It's definitely not normal. Could you try reseting/seeding database and try it again? `npm run db:reset` or `npm run db:seed`. If you will be able to reproduce it again, please create an issue.

[2022-07-30 11:10] Awais753 commented on #1274
running `npm run db:reset` fixed the issue.

Actually I am not using docker because it continuously caused issues with `chapter-app`  container. The container runs command `sh -c './wait-for db:5432 -- npm run dev'` on start and exited with message that `./wait-for not found`. So I decided to setup without docker. I ran npm scripts manually in order:

1. `npm run db:sync`
2. `npm run db:seed`
3. `

[2022-07-30 17:26] #1274 closed

[2022-07-31 11:09] #1272 closed

[2022-07-31 13:01] gikf opened #1316 "Flaky cypress tests"
Few cypress tests are lately getting more on the flaky side

- [ ] https://github.com/freeCodeCamp/chapter/blob/9fcd773c425df02e0c55b81594df6f7e4a811317/cypress/e2e/dashboard/events/events-index.cy.ts#L176-L213
- [ ] https://github.com/freeCodeCamp/chapter/blob/9fcd773c425df02e0c55b81594df6f7e4a811317/cypress/e2e/dashboard/events/events-index.cy.ts#L115-L174
- [ ] https://github.com/freeCodeCamp/c

[2022-07-31 13:24] shootermv opened #1317 "ui/ux idea - after pressing "save" button at 'edit event' form, loader should be displayed inside button"
### Describe the bug:
ui/ux idea - after pressing save button at 'edit event' form loader should be displayed inside button until request finished
also -better to disable all the inputs until request finished

### Tell us about your browser and operating system:
- Browser(s) name and version:
- Operating System:

[2022-08-01 10:54] gikf commented on #1215
I was exploring ways to do this, I'm having hard time with finding good way to return appropriate list of admined chapters from server. In other words - differentiating between instance owner that can have all chapters, and filtering only chapters admined as chapter admin.

Ideal would be single query, that would return appropriate chapters. There's however problem with authorizing for it.

- For

[2022-08-01 11:02] gikf commented on #1317
I just want to mention to not limit potential changes to a single form, but in case of making changes, try do them for all forms.

[2022-08-02 16:51] ojeytonwilliams commented on #1215
Thanks for the detailed breakdown, it really helped.

I've got a couple of ideas for how to attack this. (Two is _probably_ the most sensible, but it's up for debate)

### One

1. give both instance owners and chapter admins the `ListChapters` instance permission.
2. have the server send, respectively, all the chapters or all the chapters that that user administrates

My logic was just this: both

[2022-08-03 08:46] #1317 closed

[2022-08-04 11:27] gikf commented on #1215
I like both of these. I agree it might not be really needed to additionally authorize listing of the admined chapters, after all, user not admining any chapter would simply receive empty list.

This still leaves the need to include some permission logic in query listing admined chapters. With pseudocode:
[code]

So I guess my question is, if it's okay to mix that here, and if there's any sort of p

[2022-08-04 13:24] shootermv opened #1330 "UX idea - "skeleton" loading animaiton"
### Describe the bug:
currently when data loaded we can see triangle animation at button right corner
can we replace animation by something like this:
![image](https://user-images.githubusercontent.com/1336862/182857988-4733fc44-693e-42a9-8c2e-eb7dadcfe585.png)

### Tell us about your browser and operating system:
- Browser(s) name and version:
- Operating System:

[2022-08-04 13:42] ojeytonwilliams commented on #1215
Okay, so let's say with go with approach two.  Then, yeah, it's still necessary to do some logic inside the me resolver (i.e. your pseudocode).  I think that's a fine solution.

I see what you mean about mixing permission logic into the resolver, but I think it's okay.  The authChecker is still doing its one job (restricting access to resolvers) and the resolver is still doing its job (responding

[2022-08-04 14:02] Sboonny commented on #1330
I think we should worry about making chapter load faster, before considering add loaders

[2022-08-04 14:08] shootermv commented on #1330
i only can see that lot of modern apps like youtube, linkedin, discord - do have skeleton animation

[2022-08-04 14:48] Sboonny commented on #1330
Yes, they are wonderful, and I am in support of them. But we should seek to cure it first before deciding to live with it.

I mean stuff that increase the performance, like image lazy load, ordering the rendering of the components so the important stuff render first, and the unimportant don't get rendered until interaction deemed it necessary, I am sure there are more options to take.

So we shoul

[2022-08-04 17:01] allella commented on #274
@megajon I don't recall if the mockup you made had anything for a profile or subscription page. My guess is no, but the mockup link we had in the README is no longer working.  Is there a way you can reactivate that mockup, or else share an export (PDF or screenshots) for future reference?

Thanks

[2022-08-04 17:11] Sboonny commented on #323
We can update homepage to reflect the intention of chapter better.

It can be something like this, a card that carry chapter name and its type, logo of the chapter on the right side, events below chapter logo related to said chapter, and tags hinting where are the events and what they for.

Here is Figma of the idea

https://www.figma.com/file/uNjf9xll6bKKq4n1SCmFFb/Untitled?node-id=3%3A5

[2022-08-04 17:36] allella commented on #274
@ojeytonwilliams

Since we're revisiting this conversation in the chat, I thought to mention that we may not have gotten into the details of needing a  vocabulary, and UI elements, to distinguish between "joining / leaving" a _chapter_ vs "subscribing / unsubscribing".

The schema allows for a _[user_chapter](https://opensource.freecodecamp.org/chapter/tables/chapter_users.html)_ record and then t

[2022-08-04 17:46] allella commented on #274
Our [Terminology](https://github.com/freeCodeCamp/chapter#terminology) has that a member can "can follow and receive notifications from a chapter" a chapter, but we should consider other wording in the application.

The word "follow" may be confusing since it's hard to differentiate from the notifications / subscription options a _user_ has as a _member_.

"Join" and "Leave" are the most obvious a

[2022-08-04 20:48] hisnameispum commented on #1245
I think this is a duplicate version of #1244. Please close one of them.

[2022-08-05 04:25] allella commented on #323
@Sboonny we had another mockup listed in the README, which is no longer rendering. I asked the creator if it can be restored, or a copy exported.

What are the blue boxes in your sketch?

The Figma you linked to was the first one by @vkWeb and was a visitor's view. If I remember correctly, the more recent mockup from @megajon was similar in many ways, and included more "logged in" user and organiz

[2022-08-05 07:28] Sboonny commented on #323
These were the Event associated with organizer's chapter, but because they won't have enough information to describe what they were, I am planning to switch them to a description about organizer's chapter.

 I did, but that doesn't matter, if you think something will be beneficial for me, I am thankful for bringing it to my attention

 I will start the work then 👍

[2022-08-05 08:37] ojeytonwilliams opened #1337 "Replace first_name and last_name with a single entry"
The _users_ schema includes two fields, _first_name_ and _last_name_ https://github.com/freeCodeCamp/chapter/blob/c3f40fa342d5e65397aa494ccc149f8815daf020/server/prisma/schema.prisma#L247-L252

This creates complexity for the MVP.  Not all cultures order given names and family names the same way.  To handle this correctly we would need to (at least) record the user's nationality and order appropri

[2022-08-05 09:12] ojeytonwilliams opened #1338 "Post Auth0 integration changes"
As first mentioned in https://github.com/freeCodeCamp/chapter/pull/1293#issuecomment-1205110524 after https://github.com/freeCodeCamp/chapter/pull/1293 goes in, there are a things needing doing.  I'll expand on them here:

- [ ] Investigate `express-session` - it might be simpler to use that and https://github.com/kleydon/prisma-session-store than maintain our own code that (at first glance, at le

[2022-08-05 10:59] Sboonny opened #1339 "Add jest snapshot for chapterCard component"
ChapterCard doesn't have snapshot, it would be lovely to add one

- [ ] add jest snapshot for it

----

<s>
As discussed in #323, the current display of chapter info in the homepage isn't helpful, for that we can do the following

-  add tags to chapter #1344
- [x] tags should be meaningful #1341
- [x] change how chapter's name is displayed to make it easier to understand #1361
- [x] display chapt

[2022-08-07 13:58] Sboonny commented on #320
Currently, if users logged in, they can navigate to `/auth/login/`, and they would be prompt to log in again, while logged in.

What is the plan when that happens, do we redirect him to a home page? Or we disable login entirely with a message telling them they shouldn't be there

[2022-08-07 14:24] allella commented on #320
@Sboonny redirecting to the homepage or profile page seem like reasonable options to me.

[2022-08-07 18:11] Nitya-Pasrija commented on #1243
Hey, can u assign this issue to me? I believe I can fix this :)

[2022-08-07 18:28] Sboonny commented on #1243
You can open a pull request directly, after reading our guidelines.

 If you face any issues let us here or in our [server](https://discord.gg/QbQd7BpaaH), we will help you out

[2022-08-08 16:26] zahyaah commented on #1243
Hey @Sboonny
Is this what I'm expected to do?
<img width="736" alt="image" src="https://user-images.githubusercontent.com/72253920/183466447-232732b3-68b7-4b38-9627-ecb22d828349.png">

[2022-08-08 16:27] allella commented on #274
@ojeytonwilliams I forgot out this privacy setting. I don't think we discussed it for MVP, but another option for an account settings page would be the ability to show yourself as "Private Member" or something like that.

https://github.com/freeCodeCamp/chapter/issues/263#issuecomment-566316803

[2022-08-08 17:10] Sboonny commented on #1243
@zahyaah yes, although I am expecting the styles to break after adding it, and it would be awesome it was sorted but that outside of Good first timer label.

So as long as `Invite only` is added, I will close the issue

[2022-08-08 21:49] Sboonny commented on #320
Update about redirecting to homepage, I have talked to oliver, and he mentioned that this is sorted with auth0 migration. 👍🙂

[2022-08-08 21:53] #1243 closed

[2022-08-08 23:00] allella commented on #274
@Sboonny was asking about this issue and https://github.com/freeCodeCamp/chapter/issues/263 and the decision on what we're collecting and how a user can control their data will impact determine the content of the Privacy and Terms of Service pages.

[2022-08-08 23:08] allella commented on #263
As Quincy mentioned above, we can likely copy the fCC Privacy page and tweak it so it reflects the **Chapter** context.

https://www.freecodecamp.org/news/privacy-policy/

#274 is dealing with how users can control notifications, but the privacy is more encompassing.

My main questions from reading the fCC privacy page are MVP will:

- allow for downloading data and if so, that's included?
- allow

[2022-08-09 07:13] #1233 closed

[2022-08-09 19:42] hisnameispum commented on #1244
I'll be working on this issue.

[2022-08-09 19:50] Sboonny commented on #1244
@hisnameispum 👍, there is a pull request changing how chapter is being represented but it isn't focused about changing the page layout.

Feel free to mention, how you are planning to make use of the empty space and whatever you need from me 👍

[2022-08-09 20:26] hisnameispum commented on #1244
@Sboonny Your design looks great for the card, it provides more information instead of showing only name of event. I have applied your design with my layout design. Let me know what you think.
![Screen Shot 2022-08-09 at 1 24 01 PM](https://user-images.githubusercontent.com/52594844/183754073-b57fa3c4-192c-45ee-9fc9-303576a102fe.png)

[2022-08-10 07:36] Sboonny commented on #1244
I like your approach, it opens possibility for complicated design like carousel, so I may use your code in the future.

But for the MVP what do you think of making a grid layout with 2 columns, one card on each column, because there is current empty spaces and adding pagination will make it weirder.

[2022-08-10 09:47] shootermv opened #1370 "send email to attendees modal button colors is incorrect"
### Describe the bug:
 currently 'close' button has 'primary' color, and 'send' is gray. i think it better if colors will be opposite

![image](https://user-images.githubusercontent.com/1336862/183871041-bf98f130-3ead-424d-93ed-8253697e0b86.png)

### Tell us about your browser and operating system:
- Browser(s) name and version:
- Operating System:

[2022-08-10 10:33] ojeytonwilliams opened #1371 "User friendly errors and logging"
###  User facing errors

Currently, when an error is thrown by the server, that error is sent to the client and displayed

On the client, this looks like:

![image](https://user-images.githubusercontent.com/15801806/183877249-1a5c48f5-a68d-4f25-97d5-797cd9b3387b.png)

when the following error is thrown

[code]

This is fine in development, but if `NODE_ENV=production` the user should see something

[2022-08-10 10:36] #412 closed

[2022-08-10 10:50] Sboonny opened #1372 "Chapter Style Guide Documentation"
Kudos to the original wireframes
https://www.figma.com/file/ehgBfxoLKrlSZH0uftD6dA/Chapter-Trial?node-id=0%3A1
https://www.figma.com/file/q7DikyL3N0c4CUWxHNa97i/Chapter-Prototype?node-id=1%3A2

With new features and new idea being suggested, it's better to have a style guide works as a base for future ideas, suggestions and wireframes

---

This style guide prototype should include

- [ ] Colors a

[2022-08-10 11:21] Sboonny commented on #1370
Here is the file https://github.com/freeCodeCamp/chapter/blob/b312312e85502d9277274ea71c825e0f69c56795/client/src/modules/dashboard/Events/components/SendEmailModal.tsx

---

To get set up locally, take a look at our [contribution docs](https://github.com/freeCodeCamp/chapter/blob/main/CONTRIBUTING.md). And, if you'd like to discuss more, you can head on over to [Discord](https://discord.gg/QbQd7B

[2022-08-10 16:50] ojeytonwilliams opened #1375 "CSRF protection"
NextJS does not have CSRF protection in by default, so we should add it.

Since we have an express backend, we can make use of csurf to generate a token and have the client send it back in a CSRF-Token header.

[2022-08-11 00:04] hisnameispum commented on #1338
This is very interesting. I'm down to help you with this feature.

[2022-08-11 06:12] ojeytonwilliams commented on #1338
Thanks @hisnameispum that would be great. Let me know if you need more context or clarification.

[2022-08-11 15:53] allella commented on #263
Alright, to summarize the conversation from today related to Privacy and TOS:

- We've re-purpose the fCC blog ToC https://www.freecodecamp.org/news/terms-of-service
- We've re-purpose the fCC blog Privacy https://www.freecodecamp.org/news/privacy-policy/
- We'll move GDPR downloading to a separate issue, but not let it hold up alpha testing, but we should probably put a note somewhere on the sett

[2022-08-11 16:02] allella commented on #260
Alright, to summarize the conversation from today related to documentation for accounts:

- We also decided that the initial freeCodeCamp testers don't need as much hand-holding, so we don't need admin docs for the MVP to be officially "ready".
- We may eventually have more "rich" documentation with screenshots, like https://docs.digitalocean.com, but Quincy suggested sticking with text. Also, @Sb

[2022-08-11 16:13] allella commented on #262
Alright, to summarize the conversation from today related to the Settings / Account / Notifications page a _user_ will see:

- We'll want to have links to the [ToC and Privacy pages](https://github.com/freeCodeCamp/chapter/issues/263#issuecomment-1212177145) somewhere in the app. Are we going to have a footer, or shall we add links to the account page?
- [Related to GDPR](https://github.com/freeCo

[2022-08-11 16:15] allella commented on #260
The MVP label has been removed and we'll close this issue with the existing Roadmap tag, which we'll be using for issues to be addressed post-MVP / post-initial testing.

[2022-08-11 16:15] #260 closed

[2022-08-11 16:19] allella commented on #1245
@Sboonny, @ojeytonwilliams  given today's conversation about performance / bandwidth, and Quincy's comments, shall we remove the event photo from the MVP view?

The other suggestion was to use a background color and font-treatment where the card photo is located. https://try.mekshq.com/u/hkafl/ was provided as an example of text-only design that still looks good.

Or, would be prefer to keep the i

[2022-08-11 16:24] allella commented on #1244
Related to the comments on https://github.com/freeCodeCamp/chapter/issues/1245#issuecomment-1212206149

Quincy suggested removing the chapter photos in this view and just having a list. More generally, he suggested simple interfaces to start, so I guess we're looking for a middle ground between stark and rich for the MVP.

He didn't suggest this page, but here's a simple [text view for HackGreenvi

[2022-08-11 16:29] allella commented on #1372
@Sboonny given's Quincy's suggestion to ship something sooner than later, it sounds like this wouldn't be an MVP issue.

Are there any quick things we could do to the CSS colors, fonts, etc to give it more consistency and visual appeal before a full style-guide is created?

[2022-08-11 17:28] Sboonny commented on #1372
@allella yes, I am planning to use primary color and fonts mentioned in the figma.

I will push a watered down version of these files to pick up the speed

https://github.com/freeCodeCamp/freeCodeCamp/blob/c7c8aa58cb5d71cb0c7453e452a39e02a17bca6f/client/src/components/layouts/variables.css
https://github.com/freeCodeCamp/freeCodeCamp/blob/c7c8aa58cb5d71cb0c7453e452a39e02a17bca6f/client/src/compone

[2022-08-11 17:39] Sboonny commented on #1245
We can show no image for smaller screen / mobile responsive view first, then use background color and font-treatment in mobile to make them look good.

If they look good enough in mobile, then we can remove the images from the view and add them after the mvp, as setting option.

[2022-08-11 18:03] hisnameispum commented on #1244
That sounds good for performance and it would be easy to implement. Personally, I think there is no right or wrong way to do it. Both approaches have their own upsides and downsides.

[2022-08-11 18:05] Sboonny commented on #1244
@allella I can finally picture a design that include Events before mvp, thanks to removing the images and your link, I will implement it.

And we can think of ways to add image after the mvp

[2022-08-11 20:56] allella opened #1385 "Web Performance Best Practices"
Similar to [Accessibility](https://github.com/freeCodeCamp/chapter/issues/65) and [SEO](https://github.com/freeCodeCamp/chapter/issues/350) the **Chapter** _instances_ should apply best practices for web optimization / performance.

This is not a complete list, but here's a general idea of optimizations which are often forgotten or not enabled by default.

- HTTP Compression of HTML, CSS, JS, and

[2022-08-11 21:07] allella commented on #1385
Putting this on the Roadmap for reference once we get to the MVP and alpha testing.

[2022-08-11 21:07] #1385 closed

[2022-08-11 21:48] OgdenMorroww-cpu commented on #80
Express is still the best

[2022-08-13 19:55] #1370 closed

[2022-08-15 03:45] Sboonny commented on #1143
I have closed this, because it's casing confusion. Will reopen when freeCodeCamp ui components issue complete

[2022-08-15 03:45] #1143 closed

[2022-08-15 03:46] Sboonny commented on #1294
Closed

[2022-08-15 03:46] #1294 closed

[2022-08-15 03:47] #1247 closed

[2022-08-15 13:33] #1337 closed

[2022-08-15 20:11] allella commented on #263
@ojeytonwilliams I'm starting to tweak the fCC Privacy page for Chapter.  Depending on how deeply integrated the authentication and profile is for the fCC instance, there are a at least a few approaches.

1) Copy the contents of the fCC Privacy Page and reword things.  The main downside I see with this is if fCC's main site changes the privacy page, then we're unlikely to notice those changes, so

[2022-08-15 21:24] ojeytonwilliams commented on #263
@allella for the MVP the plan is to use Auth0 (so, yeah, OAuth2), same as https://www.freecodecamp.org/learn/. I still need to actually test it, but I'm 99% sure this will be exactly the same page for chapter, but it would redirect back to chapter.freecodecamp.org once you've confirmed your identity.

No, at least not yet. For the foreseeable future the accounts will be separate (even though they

[2022-08-17 18:39] shashimalcse commented on #1375
I am happy to help with this issue

[2022-08-18 16:05] ojeytonwilliams opened #1420 ""Stream is not readable" on reboot"
### Describe the bug:

1. Visit http://localhost:3000/dashboard/chapters/1
2. Reload server
3. Reload page
4. See "InternalServerError: stream is not readable" in server console logs
5. Reload page
6. No error

It's a bit mystifying, particularly since there's no obvious side effects of this beside the error appearing in the logs.

### Tell us about your browser and operating system:
- Browser(s)

[2022-08-20 20:31] gikf commented on #1420
I can confirm this occurring also ie. in `dashboard/venues/{id}`, `dashboard/sponsors/{id}`. I wasn't getting it on `dashboard/events/{id}`.

[2022-08-21 10:55] gikf commented on #1420
It appears that sometimes the initial query with the `id` of `-1` gets aborted (or simply errors) due to `ECONNRESET`

[code]

This is consistent across multiple mentioned pages. With __readableState_ of the `req` being for example:

<details><summary>_readableState</summary>

[code]
</details>

The decoded data:
[code]

[2022-08-22 07:40] ojeytonwilliams opened #1434 "Tags"
Tagged chapters and events is a feature that was partially implemented, but not necessary for the MVP of Chapter.  This issue is to keep track of the PRs which remove that functionality for easy reverting post-MVP.

- https://github.com/freeCodeCamp/chapter/pull/1424

[2022-08-22 07:40] #1434 closed

[2022-08-22 08:29] ojeytonwilliams opened #1435 "Client side permissions"
How do we want to handle situations where the client needs to know what permissions the current user has?  The current implementation is to add the list of `admined_chapters`  to the `meQuery`, but really that's just the list of chapters for which they have `Permission.ChapterEdit`.

This works for the MVP, since the only chapter level role is the administrator, so if you have any Chapter Permissi

[2022-08-22 15:05] #1215 closed

[2022-08-22 16:35] gikf commented on #1435
The most straightforward, but repeating might be adding separate queries, or single query with argument which permission should be used as filtering condition.

[2022-08-23 07:51] ojeytonwilliams commented on #1435
If we're just going to use the `meQuery` I don't think we want to start calling it with arguments.

[2022-08-23 08:02] gikf commented on #1435
Definitely, I didn't mean the `meQuery`, new separate, or new single query, I should have been more precise. Both means also dropping the `admined_chapters` from `meQuery`.

[2022-08-23 09:14] ojeytonwilliams commented on #1435
True, that's a reasonable option. It makes the dashboard a bit slower (one more round-trip), but that's not a deal-breaker.

[2022-08-23 22:03] ojeytonwilliams commented on #1316
@gikf this one was quite interesting.  Turns out the trick we used to make it 'necessary' to pass the `chapterId` to the `updateVenue` and `deleteVenue` resolvers has come back to bite us.

When you try and update a venue to have a physical venue, you get an error complaining that you're trying to `null` `events.chapter_id`:

[code]

...many hours later, I finally realised it's because disconnecti

[2022-08-24 18:17] hisnameispum commented on #1244
@Sboonny Shall we close this issue since it's been merged?

[2022-08-24 18:23] atosh502 commented on #1241
Is anyone working on this? I'd be happy to take this. @gikf @ojeytonwilliams

[2022-08-24 18:38] gikf commented on #1241
@atosh502 It doesn't look like it. If you gonna have any questions feel free to ask here, or on the [chat](https://discord.gg/QbQd7BpaaH).

[2022-08-24 19:09] atosh502 commented on #1241
Ok, I will be working on it then.

[2022-08-27 07:58] gikf commented on #1375
I've just noticed Apollo Server has option to enable csrf protection https://www.apollographql.com/docs/apollo-server/security/cors#preventing-cross-site-request-forgery-csrf. Would that be enough here?

[2022-08-27 18:15] #270 closed

[2022-08-27 18:16] #273 closed

[2022-08-27 18:28] #104 closed

[2022-08-29 12:55] Sboonny commented on #275
I am wondering if there is someone working on this, before I start working on it?

[2022-08-29 15:38] allella commented on #275
No. There are suggestions above for the wording, but otherwise I'm not aware of anybody working on it.  Thanks

[2022-08-30 06:54] Nitya-Pasrija commented on #1246
Can't we just change the role of "owner" to "OWNER"?
It can be then distinguishable and also, these role changing options are available just to the owners so it shouldn't create much problems.

[2022-08-30 07:06] Sboonny commented on #1246
@Nitya-Pasrija That could work because normal users don't have the access to that part of dashboard.

![image](https://user-images.githubusercontent.com/88248797/187371374-ce13e4f1-f5fc-40b4-a5cf-dbc6bf841dc5.png)

What was in my mind is creating the ability to define `currentUser` in client side, because after looking at `useMeQuery`, I don't think we have ability to define the current user.

May

[2022-08-30 07:41] Nitya-Pasrija commented on #1246
Can I start working on this issue then?

[2022-08-30 07:43] Sboonny commented on #1246
Sure go ahead 👍

---

To get set up locally, take a look at our [contribution docs](https://github.com/freeCodeCamp/chapter/blob/main/CONTRIBUTING.md). And, if you'd like to discuss more, you can head on over to [Discord](https://discord.gg/QbQd7BpaaH) and say hi, or comment here if you prefer.

[2022-08-30 09:15] Nitya-Pasrija commented on #1246
@Sboonny Can you link the css file of this page here?

[2022-08-30 09:35] Sboonny commented on #1246
There isn't one yet, all of it is chakra.

[2022-09-02 19:15] Sboonny commented on #1371
Just wondering, about the possibility to experiment with new services like.

- For the backend error handling: https://www.axiom.co/
- For session replay in client side using: https://www.highlight.io/

[2022-09-05 09:14] ojeytonwilliams opened #1495 "DRY out loading and client side error reporting"
@gikf pointed out in https://github.com/freeCodeCamp/chapter/pull/1481#issue-1357688899 that it would be good if we set about

A single component that takes loading, isReady and error props should be all we need.

[2022-09-05 10:20] ojeytonwilliams commented on #1371
@Sboonny as much as possible I'd like to use the same tools as the main repo. We could discuss migrating with Mrugesh, but I don't think we need to experiment with unfamiliar tooling for the MVP.

[2022-09-05 13:34] ojeytonwilliams opened #1497 "Cursor based pagination"
Offset based pagination requests can fetch the wrong data if the items being fetched change between requests. Cursor based pagination is [supported by Apollo](https://www.apollographql.com/docs/react/pagination/cursor-based) and avoids these issues, so we should implement it in the client.

[2022-09-05 13:34] #1497 closed

[2022-09-06 12:07] Sboonny commented on #604
I have closed this, because it looks like it's solved

[2022-09-06 12:07] #604 closed

[2022-09-06 17:28] Sboonny commented on #1247
Closed to reduce confusion

[2022-09-07 09:25] ojeytonwilliams opened #1503 "Save event changes button remains disabled after dates are modified"
### Describe the bug:

When modifying events in the dashboard, dashboard/events/[id]/edit, changes to "Start at" and "End at" do not cause the form to be dirty and the "Save Event Changes" button remains disabled.  It's possible to work around this by modifying another field.

[2022-09-07 18:46] #1503 closed

[2022-09-07 18:58] Sboonny opened #1508 "Events can have a nonsense period by ending before it starts"
When you go to `/dashboard/events/1/edit`, you can edit the event to start and end in nonsense period. Example:

![image](https://user-images.githubusercontent.com/88248797/188955852-330c2290-15f1-4a97-a93b-ce6e85fe5924.png)

I don't think someone will actively try this while creating a realistic event, so we can discuss what do to Post MVP.

[2022-09-08 05:19] #1508 closed

[2022-09-08 14:52] Sboonny opened #1511 "Cypress test fails randomly "emails not canceled rsvps when event is canceled""
I have noticed in multiple actions, cypress test failing.

Example:

https://github.com/freeCodeCamp/chapter/runs/8234136233?check_suite_focus=true
https://github.com/freeCodeCamp/chapter/runs/8248825687?check_suite_focus=true

Is this something worth investigation? maybe something isn't rendering correctly after the changes I have added.

[2022-09-08 15:55] Sboonny commented on #100
Is there an email content decided? Or do I alter another email content for now, and we can think of one post MVP?

[2022-09-08 16:37] #1511 closed

[2022-09-10 08:06] Sboonny opened #1519 "New naming convection for Next.js page"
Here is the original blog: https://nextjs.org/blog/layouts-rfc

And here is TD;LR

Layout components should be named [layout.tsx](https://nextjs.org/blog/layouts-rfc#layouts), instead of our [index.tsx](https://github.com/freeCodeCamp/chapter/blob/main/client/src/components/PageLayout/index.tsx)

Page components should be named [page.tsx](https://nextjs.org/blog/layouts-rfc#pages) instead of [inde

[2022-09-12 07:46] ojeytonwilliams commented on #1519
There's likely to be a migration guide once this makes it into a stable release of Next.  It doesn't sound like there's an awful lot we'll need to do, so we can just wait until it's necessary.

[2022-09-13 10:18] #1375 closed

[2022-09-14 09:44] shootermv opened #1534 "Users should not be able to view dashboard pages without permission"
### Describe the bug:

currently, admin of some chapter can see users of different chapter
after navigate there from browser url:
`/dashboard/chapters/2/users`
it will be better to show 'Error: Access denied! You don't have permission for this action!' text instead

[2022-09-16 08:09] ojeytonwilliams commented on #1420
Nice debugging work. Silly question, probably, but how are you getting those logs?

This does look like it's the problem.  The apollo client must be dropping the connection part way through.

[2022-09-16 09:28] gikf commented on #1420
Probably not silly, it was quite fun. I was starting server in the _JavaScript Debug Terminal_ in VS Code, with breakpoint set lower and lower of the server error stack: <details>
[code]
</details>

and then examining the `req` object in the _Closure (handle)_ :eyes:.

I got from the top to the `/chapter/node_modules/express/lib/router/index.js`. There were some other properties that I looked at i

[2022-09-16 09:47] ojeytonwilliams commented on #1420
Nice, that makes a ton of sense.  Thanks for the walkthrough :)

Once I stopped the client from sending the requests with id = -1 (which, tbh, I should have done even without this bug), I've not been able to reproduce the error. I'm pretty sure this was the only issue.

[2022-09-16 11:45] #1420 closed

[2022-09-16 12:04] Sboonny commented on #1519
Closing this, because it is early to discuss it and I don't want people to start creating pull requests changing chapter files

[2022-09-16 12:36] Sboonny opened #1547 "Auto log in when navigating to a page using browser urls"
While testing https://github.com/freeCodeCamp/chapter/pull/1540/commits/2fc561fae84bc71cea7a26edeb0cfcf39dfe906a, I notice that if you navigate using browser url, instead of action driven navigation (clicking a button), you will be automatically logged in.

I am wondering if this is intended and if it can linger to production?

To reproduce:

1- open `localhost/3000`
2- log out
3- type in the brow

[2022-09-19 08:10] #1495 closed

[2022-09-19 10:30] ojeytonwilliams opened #1558 "Venue deletion should be possible"
The backend can handle deletion of venues, but it's not possible to do so via the front end.  At minimum we want a delete button like we do for events.

We also need to determine what should happen when a venue is being used by at least one event.  Currently it's impossible to delete venues in this case, but that does not seem ideal.  The obvious options are:

1. Delete all connected events
2. Del

[2022-09-19 13:39] #1547 closed

[2022-09-20 15:44] ojeytonwilliams opened #1571 "MacOS Support"
We used to require the docker platform be linux/amd64 for compatibility with Apple Silicon Mac, but this has recently started causing problems in CI. Ref: https://github.com/freeCodeCamp/chapter/pull/1570 and https://github.com/freeCodeCamp/chapter/actions/runs/3089347523/jobs/4996858566

It would be good if we could keep CI reliable and have Chapter work on Macs.

@c-ehrlich any idea how we can k

[2022-09-20 20:36] allella commented on #1571
I don't have any insight, but here's the [earlier conversation about Mac silicon and the node-alpine image being the problem, at least at that time](https://github.com/freeCodeCamp/chapter/issues/1045#issuecomment-1126693376).

[2022-09-20 20:53] c-ehrlich commented on #1571
Do you know why this is causing problems with the CI suddenly? Maybe it can be fixed on that side.

Another option would be to see if the node-alpine:18 (which will become LTS in a few weeks) removes the need to emulate on M1.

If neither of those, I think the only solution is to choose a different Node image that works on both architectures. Back when I originally implemented the M1 support I onl

[2022-09-21 20:14] c-ehrlich commented on #1571
The container starts fine using the native image, but prisma queries fail with `Unknown PRISMA_QUERY_ENGINE_LIBRARY linux-arm64-openssl-undefined`. Seems like others have this problem also.

So I guess the only options are to figure out what's going on with the CI or use a different base image (I remember the plain node image working but it's huge, maybe something like slim or buster might work?)

[2022-09-22 09:08] ojeytonwilliams commented on #1571
@c-ehrlich that makes sense. I've made a PR to use the node:16 in development, but still deploy to node:16-alpine.  All being well, that should fix this.

[2022-09-23 08:56] ojeytonwilliams opened #1591 "DRY out form components"
https://github.com/freeCodeCamp/chapter/pull/1583 highlights the fact our form components are quite repetitive.  Ideally we should not have to style each form independently.

[2022-09-23 14:21] #1591 closed

[2022-09-26 11:59] Sboonny commented on #1216
I have removed MVP label because what left is adding setting page and input with required `chapter.name` pattern

[2022-09-26 13:45] ojeytonwilliams opened #1608 "I know _Sponsors_ dashboard is hidden from navigating to it without permission, but I've cheated and entered there directly. To see if individual pages (`/dashboard/sponsors/1`, `/dashboard/sponsors/1/edit`) will display access denied like other dashboards. It would be nice to make it similar to others."
I know _Sponsors_ dashboard is hidden from navigating to it without permission, but I've cheated and entered there directly. To see if individual pages (`/dashboard/sponsors/1`, `/dashboard/sponsors/1/edit`) will display access denied like other dashboards. It would be nice to make it similar to others.

_Originally posted by @gikf in https://github.com/freeCodeCamp/chapter/pull/1572#pullrequestre

[2022-09-26 13:52] ojeytonwilliams commented on #1608
This isn't completely trivial because Sponsors occupy a weird place in our data model.  They're not attached to Chapters so it doesn't make sense to allow Chapter administrators to modify them, but they need to be able to add them to events.

We can either handle them like Venues (i.e. attach them to Chapters) or, if we need them to be instance wide, we could grant Chapter administrators a new Spo

[2022-09-26 14:09] #1217 closed

[2022-09-26 15:32] ojeytonwilliams opened #1609 "Repeating events"
As discussed with @RafaelDavisH, a common use case is events which occur on a repeating schedule.

For this to be useful it would need two allow the event organiser to configure both the schedule (weekly, monthly etc.) and how far in advance the event should be created (and so when the invitations should be sent out).

For example, an event organiser may want weekly meetings on Fridays that are pu

[2022-09-26 15:43] #1609 closed

[2022-09-28 11:17] ojeytonwilliams commented on #1608
Granting administrators permission is the simplest approach, so should be fine for the MVP.

However, post-MVP an instance-wide pool of Sponsors is probably the way to go, assuming we want instance owners to be the only ones capable of managing Sponsors.  They would then need to be able to attach sponsors to Chapters and at that point administrators would be able to view those sponsors and attach

[2022-09-28 13:45] ojeytonwilliams opened #1621 "Modifying a user's roles is laborious"
This has always been the case, but it's made more explicit by https://github.com/freeCodeCamp/chapter/pull/1620 which differentiates between the instance roles `chapter_administrator` and `member`. Previously admins just made do with `member` instance permissions.

While we only have three distinct _user roles_  `instance owner`, `chapter administrator` and `member`, those are defined by their com

[2022-09-29 07:47] ojeytonwilliams opened #1631 "Leaving and unsubscribing from chapters"
A user needs the option to leave chapters entirely, not simply unsubscribe from notifications.

As @allella pointed out in https://github.com/freeCodeCamp/chapter/pull/1593#discussion_r983040671 it currently says has the text 'member of the chapter' next to the 'Unsubscribe' button:

![image](https://user-images.githubusercontent.com/15801806/192969770-d199133d-f696-4247-9a88-6fc0ca8ec459.png)

Th

[2022-09-30 16:40] gikf opened #1639 "How chapter subscription affects event subscription"
Issue to discuss and iron out the if/how changing subscription to chapter should affect subscription to events from chapter.

### How it is currently?

#### Chapter subscription
- Subscribing to chapter doesn't change event subscriptions.
- Unsubscribing from chapter unsubscribes from all events in that chapter as well.
  - > Unsubscribing from this chapter will affect subscriptions of all existin

[2022-09-30 16:53] allella commented on #1639
Post MVP, I could see unsubscribing from a _chapter_ impacting if an _organizer_ can send a general announcement to the _members_.

I'm not sure unsubscribing from a _chapter_ should impact any existing reservations / RSVP.  The _member_ should be able to easily disable those messages from their email's footer.

Just as an example, some chapters may have a larger annual event that someone wants to

[2022-09-30 17:05] gikf commented on #1639
I've added part that after unsubscribing from chapter, user still is able to subscribe to individual events, again or first time.

[2022-09-30 17:34] gikf commented on #1621
The basic, messy way I imagined so far:

As chapter administrator needs to be connected to specific (or multiple chapters) it's logical to still set it from chapter users.

Chapter roles in UI:
- member
- administrator - resolver sets also instance role to chapter_administrator

Instance roles in UI:
- member
- owner
- chapter_administrator - It probably should be visible on the list, but should n

[2022-09-30 17:44] ojeytonwilliams commented on #1621
Agreed. I can't think of a better place.

I'm not sure about that. We, as maintainers, know that the chapter_administrator role is a necessary evil, but do users need to know or care about it?

[2022-09-30 18:13] gikf commented on #1621
That's a good question. I'm not too set on it. Currently it's a bit easier for me to think of them as visible, rather than looking for ways to keep them hidden.

[2022-09-30 18:22] ojeytonwilliams commented on #1621
Yeah, its awkward.  I could be missing something, but if we have the logic to handle making it impossible to change to a `chapter_administrator`, we're most of the way to making them hidden, too.  Probably... I've not thought too deeply about this yet!

[2022-10-03 18:32] gikf opened #1653 "Header inconsistent height for logged/not logged users"
There's slight difference in the height of header, depending if user is logged in or not. It'd be good to have it the same for both states.

![image](https://user-images.githubusercontent.com/60067306/193652164-d5420452-88d0-4140-a9fc-ba27f710cff7.png)![image](https://user-images.githubusercontent.com/60067306/193652174-31e32766-b1b7-448f-a21d-c337c05e8831.png)

[2022-10-03 19:20] gikf opened #1654 "Client stuck when _User not found_"
Steps to reproduce:
- Have running client and server.
- Login.
- Run `npm run db:seed`
- Refresh page.
- Client is stuck with spinner displayed.

Server prints in console `User not found`.
Client gets stuck with the spinner and graphql requests end up with 500 code error.
[code]

The issue can be encountered also ie. when running gitpod and opening page when it starts. After refreshing page client

[2022-10-04 10:23] ojeytonwilliams commented on #1639
While I think it's probably fine for the MVP, we will be sending quite a lot of notifications. Reason being, Google Calendar sends notifications independently.  These will be sent for the initial invitation as well as any updates to the event, including cancellations.

I imagine users will either want one or the other. We can experiment with their API, but I haven't had chance to see if we can con

[2022-10-04 13:46] allella commented on #1639
Yes, I think the combination of not removing an existing RSVP and warning them what unfollowing a _chapter_ is going to do would be good.

[2022-10-04 13:55] ojeytonwilliams commented on #1639
Just checking, but I think we want to keep this behaviour, right?  It seems particularly relevant for the MVP since members will be getting emails from Google Calendar (unless they choose to unsubscribe via their own Google Calendar settings).

[2022-10-04 14:36] Sboonny commented on #1654
funny part of this bug, you can log in and be logged in, but the spinner will run so it won't find a user while you are logged in 🤣

[2022-10-05 08:59] Sboonny commented on #323
We can add a newsletter to a chapter, something like Quincy weekly emails. So the owner and maybe administrator can send weekly emails updating newsletter followers about what is new, without them needing to attend a weekly event

[2022-10-05 12:02] Sboonny opened #1660 "Joined member can ask the server to rejoin chapter"
A joined member can ask the server to join chapter, which may create another chapter_user entity.

This can happen in chapterPage in the home page, ultimately what we need to happen is error 403 to occur, instead of the call sent to the server.

[2022-10-05 12:06] Sboonny opened #1661 "Members of the chapter shouldn't get notified by the creation of an event in the past"
### Describe the feature:

As discussed in Discord, owner may want to create events for documentation purposes, but creating this events may result in notification been sent to the chapter members.

We need some flag which stops the events, that were created before (`new Date()`), from using our notification system

[2022-10-05 12:13] Sboonny opened #1662 "When member cancel their event (RSVP/attendee) their entry shouldn't be visible in EventPage users"
### Discuss your ideas or share your views:
Make sure to tell how your idea will benefit this project.

When I cancel an event because something comes up, I am expected to be done with the event. But that isn't the case, I can still be notified, asked, and be shown in a list of RSVPs/attendees.

I think that when a user cancel their arrangement, their entry should be deleted too (as in chapter lea

[2022-10-05 17:48] gikf commented on #1660
Duplicated entries won't happen due to database constraints. Resolver is prepared for such situation, in a way it is expecting it.

As I've mentioned such way is partially convenience. It for example cuts down complexity in resolver, relying on the db to keep the data consistent.

[2022-10-05 19:05] fredericbonnet opened #1666 "Add Storybook for easier component dev/test"
It's Hacktoberfest, and I'd like to dedicate part of my time to integrate Storybook with your project. Is it something that you guys would find useful?

I see the client has a lot of React components but very few unit or E2E tests, Storybook would fill a gap there.

[2022-10-05 19:30] Sboonny commented on #1666
We are entering MVP stage, any effort that isn't spent in help wanted or reviewing PR that aren't planned will consume limited time.

There is an open issue in the freeCodeCamp repo, if you have experience in storybook, then that issue is the perfect place for Hacktoberfest contribution https://github.com/freeCodeCamp/freeCodeCamp/issues/44668

[2022-10-05 20:06] Sboonny commented on #1662
I have talked with Oliver about email attendees sending emails to `canceled`, `waitlisted` and `confirmed` and decided to delete the button because it's automated, and it isn't doing a desired function (emailing canceled members).

![image](https://user-images.githubusercontent.com/88248797/194152161-57d57cef-6d53-4fad-b515-9e693709777c.png)

I am wondering if, it's good idea to add cancel button

[2022-10-05 20:18] Sboonny commented on #1653
This issue happen because when user is logged in, the `Avatar` component is mounted which add height to the `navbar`.

freeCodeCamp has its header's `height` set to `36px` we can do the same. If the final outcome looks weird, we can use `4.5 em` this will give it more than enough space.

[2022-10-05 21:10] allella commented on #1666
Tagging this as Roadmap so it's with other issues we want to come back to after the MVP phase is reached.

[2022-10-05 21:13] allella commented on #1666
@fredericbonnet here's the MVP project board. If there's something on there you're able to contribute to, then we'd be glad to have more efforts on the MVP issues.

For example, accessibility is still considered an MVP issue and there is a rough list of best practices which are most HTML and CSS related, which can help keep the site accessible.

https://github.com/freeCodeCamp/chapter/projects/1

[2022-10-05 21:32] fredericbonnet commented on #1666
Thank I'll take a look!

[2022-10-06 13:32] #436 closed

[2022-10-06 14:14] ojeytonwilliams opened #1670 "Prevent duplicate notifications"
As mentioned in https://github.com/freeCodeCamp/chapter/issues/1639#issuecomment-1266731466 the Google calendar integration means that when a member is invited to an event by Chapter (and emailed by Chapter) they will also get invited to a Google calendar event. This could easily become irritating.

Minimum requirements

- Subscribed event members should receive at most one notification when they

[2022-10-06 14:14] #1670 closed, assigned to nobody

[2022-10-06 14:34] allella commented on #263
Posting an example of NextDoor's "Download your data" interface for future reference.

![image](https://user-images.githubusercontent.com/1777776/194341301-5f99dc6f-1928-4b66-b51d-104a0f03a61d.png)

[2022-10-06 14:51] Sboonny commented on #1371
For documentation: one of the errors to handle in the middle is

- Google calendar integration

An attempt to contact Google calendar's API fails (e.g. when creating an event), it should show a server error

[2022-10-06 14:53] Sboonny opened #1671 "Email the owner when google integration breaks"
### Discuss your ideas or share your views:

When google integration fails, the owners should be emailed (max once a day, maybe) when the calendar integration breaks.

[2022-10-10 15:56] Sboonny commented on #1660
After tests trying to break something with it, nothing broke 👍. Closing because there is no need to fix something that isn't an issue as gikf mentioned above

[2022-10-11 09:34] ojeytonwilliams opened #1692 "Remove RSVPs from banned users"
As @gikf pointed out in discord https://discord.com/channels/692816967895220344/1027930549320437800/1027941266664726559, when a user is banned from a chapter, they are not removed from any events they are attending.

This is not intended behaviour. A user should not be banned lightly, but if they are banned, then they should not be allowed to attend the chapter's events.

Requirements:
- [ ] Remov

[2022-10-12 14:15] #1571 closed

[2022-10-13 09:42] mosheviGsxr opened #1705 "better to improve text of are-you-sure-to-delete-your-data modal"
### Describe the bug:
Currently modal has too many repetitive text:

<img width="1020" alt="Screen Shot 2022-10-13 at 12 41 06" src="https://user-images.githubusercontent.com/111961065/195562457-5ed1734e-3408-49bd-b899-64f30e262aa4.png">

I think 'confirm' button better to have 'Yes, im sure!' text

### Tell us about your browser and operating system:
- Browser(s) name and version: chrome
- Operat

[2022-10-13 10:56] Sboonny opened #1706 "Allowing the user to choose their page layout"
I am trying to create a default layout that is acceptable and not boring, and I had an idea "why stop at letting the user pick the style of the page, let's give them layout control as well".

And that way I am here to present React portal, https://github.com/httptoolkit/react-reverse-portal

Well most lucky you know about it. But here is the jest of the concept, we create components that are movab

[2022-10-13 11:09] Sboonny opened #1707 "Logo for the chapter page and refactor the image_url field"
Currently, the image_url act as banner, knowing that chapter are non-profit organizations, they may need logo as well.

This will make us change three things

- [x] refactor image_url field in chapter to banner_url
- [x] create logo_url field
- [ ] use logo_url to display chapter logo

----

(Optional)

Images can be any height and any width, should we optimize them using services like Amazon s3 h

[2022-10-13 13:38] ojeytonwilliams commented on #1707
There's no need to host images for the MVP. It's fine to use links for now.

[2022-10-13 14:20] Sboonny commented on #1707
should the logo field be added for mvp?

[2022-10-13 15:20] ojeytonwilliams commented on #1707
Absolutely.  As long as not too much work is involved, small tweaks like this seem fine to me.

[2022-10-13 21:08] allella commented on #1706
I'm more familiar with this sort of "customize your dashboard" for admin controls and less so for end user.

It's a neat idea, but I wouldn't put it in the MVP.

Perhaps start with and admin interface in post MVP and see how it works and then figure if it's something end users would value.

[2022-10-14 08:27] ojeytonwilliams opened #1713 "As a user, I can download my personal information from Chapter"
Per https://gdpr-info.eu/art-15-gdpr/ a user has the right to access any of their personal information that we store.  Precisely what constitutes personal information is a bit subjective, so we should err on the side of inclusion.

With that in mind I think we want data that is connected to their entry in the the `users` table.  Aside from the entry itself we'd want: the details of chapters they a

[2022-10-14 10:32] ojeytonwilliams commented on #796
https://github.com/freeCodeCamp/chapter/pull/1696 implemented cancellation (subject to user confirmation) if they follow the email link and have already RSVPed.

All that remains is the case where users are not logged in.  Since we send them away from the site to log in, we have to keep track of their state somehow.

Looking at https://auth0.com/blog/complete-guide-to-react-user-authentication/ we

[2022-10-14 14:36] ojeytonwilliams opened #1719 "Event status does not appear on Chapter cards"
Since Chapter cards show all events, it should be obvious when those events are already cancelled.

For example

![image](https://user-images.githubusercontent.com/15801806/195871547-8660a4a8-3609-4553-8769-1f9adc72f9ee.png)

Batz Group is cancelled, but that can't be seen on the Chapter card.

Considerations: we could hide canceled events by default, since most users will not be interested in can

[2022-10-14 14:47] allella commented on #1713
Yeah, I guess the tables with "user" in the name and the things they join to.

I could see session potentially having some partial personal info if cookies are stored there.

Is there anything in the database we'd see as being a security risk?  Being that it's an OSS project, the schema and roles and such are no secret.  I'm just wondering if there are any tokens or session related things which co

[2022-10-14 14:52] allella commented on #1713
I posted an example of a popular US site's download interface at
https://github.com/freeCodeCamp/chapter/issues/263#issuecomment-1270169105

This uses a series of .csv files that are zipped up, which is likely more work than needed for MVP. I think I dumped fCC's data and it was a JSON blob that's sort of hard to read for the lay person, so I guess the format, like CSVs vs JSON, isn't decreeed?

[2022-10-14 15:25] ojeytonwilliams commented on #1713
There are a few things that we must not leak.

- Email addresses of anyone other than the user making the request
- The session id (just to be on the safe side)
- Anything in _google_tokens_

I don't believe so, but if we find out otherwise we can always come up with a nice approach.

[2022-10-14 15:45] ojeytonwilliams opened #1721 "Add links that let users join chapters and attend events"
Currently, if I follow a link like http://localhost:3000/events/22?emaillink=true I will see a modal asking me to confirm that would like to join the event.

If would be helpful for administrators to be able to easily share this after creating a new event.  For example, the dashboard for that event could have a share button that shows the link and gives the user an option to copy it to their clipb

[2022-10-14 15:53] ojeytonwilliams opened #1722 "Missing event images should be handled gracefully"
![image](https://user-images.githubusercontent.com/15801806/195888858-b747cb69-8054-41a6-b5f7-718a717b0d6c.png)

does not look great.

@Sboonny apologies if you've already addressed this in one of your open PRs!  I'll get to them soon.

[2022-10-14 16:29] Sboonny commented on #1722
I have updated the default images, but I don't think I have started on this yet.

Thank you for the reminder 👍

[2022-10-14 16:32] Sboonny commented on #1721
I have thought of this, but i am wondering how to address seo aspect like, I want it to be similar to how freeCodeCamp news articles are shared.🤔

Well I need to start with something to get unstuck anyway 👍

[2022-10-15 11:09] Sboonny opened #1724 "Home Page Query is a trap that can catch dev off guard when updating chapter Card or Event Card"
I have been trying to update chapterCard multiple times, and home page always gets in the way. I think because it doesn't follow our convocation by keeping the style in different component and the logic in others.

What do you guys think of refactoring it, so it looks similar to the header in #1669

Multiple components but one logic that rules them? 🤔

[2022-10-16 13:42] #1705 closed

[2022-10-17 10:40] ojeytonwilliams commented on #1724
By logic, you mean data, right? I don't think that's possible.  Each page is responsible for fetching the data it needs and each page is one file.

So, essentially the problem is that changing components does not create an obvious warning in the editor.  It only shows a problem if you're looking at the pages that use the components.

This will always be caught when we run `tsc`, but I've been relu

[2022-10-17 10:43] #1724 closed

[2022-10-17 21:30] DevWig commented on #1653
Please assign me this issue. @gikf @Sboonny

[2022-10-18 00:41] Sboonny commented on #1653
@DevWig, there is no need for assignment. Feel free to open PR directly, after reading our contribution guide

[2022-10-18 10:03] #1722 closed

[2022-10-18 16:07] ojeytonwilliams opened #1735 "The last owner should not be able to demote themselves"
### Discuss your ideas or share your views:

This doesn't seem vital for the MVP, but it seems like it would be helpful if we made sure there was always at least one instance owner for an instance.  Otherwise the instance cannot be managed properly.

Ideally the db request should fail if it would reduce the number of instance owners to zero.

Is this overly cautious?  As long as the instance owner

[2022-10-18 16:47] allella commented on #1735
Seems reasonable fro post-MVP.

If someone has a good reason to completely delete all owners, then they could also just go directly into the database and start changing records. Though, I can't imagine why that would be needed.

[2022-10-18 17:55] Sboonny commented on #323
Organizers and instance owner will want to share EventPage, and ChapterPage in the home section, so people can join their events/chapters.

We can add meta tags in these pages, something a like:

![image](https://user-images.githubusercontent.com/88248797/196507522-2a55f9c8-9a9f-4b1b-96c1-06560898c4d9.png)

---

random note, GitHub has meta tag with `user-name`, and value `Sboonny` which is intere

[2022-10-18 18:35] ojeytonwilliams commented on #1735
Neither can I, honestly.  It seems far more likely that someone demotes themselves accidentally.

[2022-10-18 18:36] #1735 closed

[2022-10-21 10:19] ojeytonwilliams opened #1755 "Brief flash of fallback image"
### Describe the bug:

The fallback image (with the dog) shows while the main image is loading:

![SurpriseDog](https://user-images.githubusercontent.com/15801806/197172726-d7e445e4-ea58-440a-94d8-590457b899ff.gif)

Ideally the fallback should only show if the image fails to load.  Also, cute though the dog is, it's probably better to fallback to something boring like an empty space or something a

[2022-10-21 13:05] allella commented on #1755
I'd agree to nix the default image. If an img height= and width= are specified then the browsers should allocate that space and insert the image as it loads, avoiding any rendering shuffling on the page.

[2022-10-21 14:58] ojeytonwilliams commented on #1755
Right.  I think that's all we really need.

[2022-10-21 15:18] ojeytonwilliams opened #1757 "Authenticated graqhql queries fail from Apollo studio"
Since we authenticate via a session cookie, Apollo Studio Explorer is not able to request anything that requires the user to be logged in.

It's possible to work around this by setting up a https reverse proxy (Caddy is reasonably easy to configure) and configuring the express server to accept secure, Same-Site: none cookies

[code]

...and changing the NEXT_PUBLIC_SERVER_URL and CLIENT_LOCATION t

[2022-10-23 06:14] gikf opened #1764 "Calendar integration - chapters, events created before authentication"
### Discuss your ideas or share your views:
Integration with google calendar works for chapters and events created after the authentication. Calendar is created on chapter creation and calendar events on event creation. This rises a potential question - what with chapters and events created before instance is authenticated?

- Add manual creation of calendar and calendar events, via chapter and/or

[2022-10-23 11:51] #1692 closed

[2022-10-23 12:22] Sboonny opened #1767 "How should chapter inform waiting users after banning them"
At #1729, banned users lose the RSVP they had. Here is the function: [updateEventWaitlist](https://github.com/freeCodeCamp/chapter/blob/750bfa3a134b73aa3edaf6942a76bc0a1b7ea677/server/src/util/updateEventWaitlist.ts#L14-L53?plain=1)

How should we inform them about this?

[2022-10-23 12:34] Sboonny opened #1768 "We have multiple non-descriptive error catching functions"
### Discuss your ideas or share your views:

in these following files, we have a catch function that logs a generic error, "something isn't working".

- [ ] [updateCalendarEventAttendees](https://github.com/freeCodeCamp/chapter/blob/750bfa3a134b73aa3edaf6942a76bc0a1b7ea677/server/src/util/updateCalendarEventAttendees.ts#L30-L33?plain=1)
- [ ] [Chapter resolver](https://github.com/freeCodeCamp/chap

[2022-10-23 15:04] Sboonny commented on #1757
What is the need to set up Apollo client, and move away from none cookies?

[2022-10-23 18:05] Sboonny commented on #1755
Because I am slightly confused, this mean no lazy loading, right? at least for ChapterPage

what does nix image mean? what I found is this https://github.com/nix-community/nixos-generators

[2022-10-24 02:21] allella commented on #1755
"nix" is a word the means cancel / reject.

I was agreeing we don't need a preload image.  If the image height and width are set the browser will hold the space so the screen rending doesn't jump around.

Setting the image height and width should also help avoid rendering issues when lazy loading images, so I don't see that you'd have to remove any lazy loading.

Does that clear things up? Or, am

[2022-10-24 08:09] ojeytonwilliams commented on #1757
Could you elaborate?  I don't think the client is relevant, here - I just want Apollo Studio Explorer to be able to query the Apollo Server.

[2022-10-24 09:46] Sboonny commented on #1757
Wanted to know what is happening, because I didn't understand the issue. We want an easy way to set this up https://www.apollographql.com/docs/graphos/explorer/connecting-authenticating#cookies

[2022-10-24 09:59] ojeytonwilliams opened #1771 "Update reminder email text"
Post MVP, if we make use of the reminders service, the email text will need updating.

ref: https://github.com/freeCodeCamp/chapter/pull/1498

[2022-10-24 09:59] #1771 closed

[2022-10-25 08:46] #1755 closed

[2022-10-25 17:20] gikf opened #1781 "Parsing of date entered directly to Start at or End at inputs"
### Describe the bug:
`client/src/modules/dashboard/Events/components/EventForm.tsx`

When date is entered directly into the input field (ie. like it's done with cypress), the `DatePicker` tries to parse entered date from the first character. As `ends_at` and `start_at` fields are sometimes updated simultaneously - to not allow `start_at` to be after `ends_at`

To reproduce:
- Go to `/dashboard/ev

[2022-10-26 06:01] Sboonny opened #1786 "Description field to users as a bio"
### Discuss your ideas or share your views:
A point mentioned by Oliver in https://github.com/freeCodeCamp/chapter/pull/1644#pullrequestreview-1130127472, is that someone may be not a fit for an event, because something like they are too experienced for a junior level event, or they are trying to enter a "translation to language" event, they don't know how to speak or write.

instead of them atten

[2022-10-27 19:20] gikf opened #1798 "Custom avatar not displayed on events page"
### Describe the bug:
Custom profile picture (avatar) is not displayed on the events page `/events/{id}` on the list of _RSVPs_ or _Waitlist_. Instead is used the default avatar.

[2022-10-28 00:07] Myrfion commented on #1798
Hello, could I have it assigned on me?

[2022-10-28 03:53] gikf commented on #1798
Hey @Myrfion, we typically don't assign issues to specific person. Instead, we accept the first pull request that comprehensively solves the issue.

[2022-10-28 09:41] ojeytonwilliams commented on #1781
This sounds like something we want to handle with validation, rather than automatically updating the dates.  Reason being, it can easily be frustrating when unexpected changes (even helpful ones) happen without the user asking for them.  Especially when those changes are subtle (it's easy to miss that the start date has changed)

If we just warn users when the two dates are incompatible, that shou

[2022-10-28 09:51] ojeytonwilliams commented on #1764
I slightly prefer the manual approach. Purely because it might be surprising to have a bunch of calendars and events appear.

As long as we make it obvious that a) the calendars are not automatically created and b) how to trigger their creation, it should be a reasonable UX.

[2022-10-28 09:55] ojeytonwilliams commented on #1767
I think we'd need to email them to tell them that they've been banned from -chapter-name- and are no longer invited to -list-of-events-.

[2022-10-28 10:17] ojeytonwilliams commented on #1639
Since this has stalled a little, I'll sum up my understanding of what we want to change:

- Unsubscribing from chapter unsubscribes from all events in that chapter as well. -> Unsubscribing from chapter leaves event subscriptions unchanged
- When RSVPing to an event, chapter subscription is used as initial event subscription. -> When RSVPing to an event, users should be subscribed automatically (D

[2022-10-28 13:12] og118 commented on #1798
Currently, the chakra UI is rendering the initials of the firstname and lastname in the avatar box. What exactly do you mean the by custom avatar? Should an external package be used for this?

[2022-10-28 13:49] gikf commented on #1798
In profile (`/profile`) user can set url to _profile picture_. It's then used, in place of the default avatar with initials, in the header.
https://github.com/freeCodeCamp/chapter/blob/51e79d03904b1b13331571b705136615a3e7c1c2/client/src/components/PageLayout/Header.tsx#L100-L105
Once that happen other places, having avatar also should use the picture instead of default chakra's avatar, currently t

[2022-10-28 14:30] allella commented on #1767
Yeah, if it was just a ban of a junk account, then maybe not. But, since it could be a real person with an RSVP, it seems appropriate.

Perhaps in a post-MVP there could be an option for the person initiating the ban to not send a message, like if they know it's a fake / bot / junk account.

[2022-10-28 15:52] allella commented on #1639
I'd be fine with the previous comment and we can add notices and form fields based on feedback in the real world use.

[2022-10-28 15:57] allella commented on #1786
So, this is a text form field the _member_ would fill out when RSVP'ing when there's a waitlist to comment on why they wan to attend / are a good fit?

Not an MVP feature, but I wonder if the admin / organizer would also like to keep their own notes that they and/or other event organizers can see about the person on the waitlist?

I don't see either feature as MVP, but they both seem worth explori

[2022-10-29 05:17] og118 commented on #1798
I've raised a PR fixing this issue. Please review it and do let me know if any changes are required

[2022-10-29 08:44] #1798 closed

[2022-10-31 11:26] #1781 closed

[2022-11-03 16:48] ojeytonwilliams opened #1831 "Graceful server restarts"
As pointed out by @Sboonny in https://github.com/freeCodeCamp/chapter/pull/1829#pullrequestreview-1167185216 the server can be crashed by changes to the client.  It's tricky to reproduce, but it does happen occasionally.

It would be nice if we could handle this in development.

Ideally, we'd want the same watch behaviour we currently have, but with not to get stuck in a loop if the server throws

[2022-11-04 10:19] #1246 closed

[2022-11-04 17:21] ojeytonwilliams opened #1839 "Umbrella issue for user feedback"
Issues uncovered by internal testing

- [ ] Sponsors cannot be seen in the dashboard (the Sponsor tab is missing and Sponsors cannot be added)
- [ ] Unable to unsubscribe from events

These happens because new entries in the initial db (the _instance_permissions_ entry 'sponsors-view' and the chapter permission 'event-subscription-manage' in this case) were not added to the staging db.  The soluti

[2022-11-04 18:42] #1721 closed

[2022-11-05 09:04] Sboonny opened #1844 "Cancelling your RSVP to an event should remove your subscription automatically."
Luckily, gikf pointed out that my logic is flawed in https://github.com/freeCodeCamp/chapter/pull/1845#discussion_r1014630410, and I don't want to add Subscribing to RSVP.

Because someone may want to RSVP but not subscribe, or in post MVP, subscribe to a repeating Event but not RSVP for the current Event, maybe wanting to attend the future Event in the next week.

So instead of RSVP removing subs

[2022-11-05 09:46] Sboonny commented on #1844
using cli created a pr in my fork 😅

[2022-11-06 13:46] Sboonny opened #1850 "the instance owner appears as a member in ChapterUser section of the dashboard"
### Describe the bug:

In User profile section of the dashboard `/dashboard/users`, the owner role is identified the owner role. As shown in the picture below

![image](https://user-images.githubusercontent.com/88248797/200174175-08e6caef-5022-40c8-83b3-cb1cb8f4ef46.png)

While it isn't show in chapters users in `/dashboard/chapters/{chapterId}/users`. Although the owner is a member of the chapter

[2022-11-06 15:57] jaitjacob commented on #1653
It looked like the Avatar component was adding an additional 10px to the Header height. My fix simply adds a fixed height & width to the Avatar component to match the Header Height. The width part is necessary so that the Avatar doesn't look chopped on top and bottom.

@Sboonny I couldn't find the height set to '36px' anywhere in the code. I checked the `Header.module.css` file. The height set by

[2022-11-06 17:40] #1653 closed

[2022-11-06 17:55] gikf opened #1853 "Members should be able to see their own email address on their profile"
Own email address should be displayed in the user profile.

[2022-11-06 17:59] gikf opened #1854 "When you cancel your RSVP you should receive a confirmation email once that has succeeded"
Canceling Rsvp should send confirmation email, depending on the `subscribed` status for the event.

[2022-11-06 18:15] gikf commented on #1850
Some indication that user is instance owner might be a good idea. But where and how?

Or maybe instead of hiding the `Ban` button, disable it with some informational toggle/hover text explaining in which cases user cannot be banned.

[2022-11-06 18:42] Sboonny commented on #1850
Ya, I had terrible ideas, I am sharing them because maybe we can improve one of them to our needs.

<details>
 <summary>wrap the role around `is-bannable`</summary>

 Because the owner isn't bannable, we can use that logic to render hard coded owner instead of role.

https://github.com/freeCodeCamp/chapter/blob/c0a81d2108226193cc48ca4c079ccbc4d968c7e9/client/src/modules/dashboard/Chapters/Users/pa

[2022-11-06 19:25] gikf commented on #1850
I'd try to avoid as much as possible displaying instance role in place of chapter role.

There's few situations when user wouldn't be able to ban other user. It not necessarily would be instance owner.
- No permission for banning users. (With current roles that might not be a case, but in future ie. _chapter organizer_ might not have permission to ban users, while having access to dashboard.
- Cha

[2022-11-06 22:17] smiller1188 commented on #1854
Hi! I would like to work on this. Can I get started?

[2022-11-06 22:50] smiller1188 commented on #1854
Hi! I would really like to help contribute. Is anyone working on this issue? Thanks

[2022-11-07 06:05] gikf commented on #1854
@smiller1188 it doesn't look like it. Let us know if you have any questions or encounter any troubles.

[2022-11-07 11:28] Sboonny opened #1856 "The dashboard should be hidden unless you're an owner or admin"

[2022-11-07 14:18] allella commented on #1854
This is probably related to https://github.com/freeCodeCamp/chapter/pull/1845

[2022-11-07 14:20] allella commented on #1839
This is not adding anything to the list above, but just a reminder of the [Roadmap labeled issues](https://github.com/freeCodeCamp/chapter/issues?q=is%3Aissue+label%3ARoadmap+) for post-MVP in case any of these issues need to be put on ice without being lost.

[2022-11-08 10:33] #1241 closed

[2022-11-09 16:21] ojeytonwilliams opened #1869 "Warn admins when they try to leave their chapters"
Since leaving a chapter removes all permissions, it would help to inform administrators that leaving has consequences.  If they leave, they can only rejoin as a member, so we should tell them that.

[2022-11-10 13:28] ojeytonwilliams commented on #1661
Re-opening because Google calendar notifications will still be sent if the event is in the past: https://github.com/freeCodeCamp/chapter/pull/1815#discussion_r1017813615

[2022-11-10 13:38] Sboonny commented on #1839
Instance owner can't see sponsor page, because the sponsor permission doesn't exist in the database, so its value isn't connected to the instance owner

[2022-11-10 14:36] SureshKuchana commented on #1853
Hi @gikf, I can see this issue is till open, can I take this up?

[2022-11-10 14:41] SureshKuchana commented on #1853
And also do we need to show as an editable field or only read-only field for email?

[2022-11-10 15:35] #1768 closed

[2022-11-10 16:17] Sboonny opened #1875 "Dashboard plan"
### Discuss your ideas or share your views:
While in initial testing, members have been able to access the dashboard, but they couldn't do anything with it, so they felt frustrated.

I am planning to hide the dashboard from them, and allow only admins, owner, and soon organizers to have access to it.

So, I will wait feed back and know how do member want the dashboard, because if they want somethi

[2022-11-10 17:26] gikf commented on #1853
@SureshKuchana, yes, it is open.

Just email displayed as text at this time.

Don't hesitate to ask if you'd have any questions.

[2022-11-10 18:07] ojeytonwilliams commented on #1875
For now, it's fine to hide the dashboard entirely for members and logged out users. We can add more/improve views later.

Is the plan to track the proposed changes here?

[2022-11-11 05:24] Sboonny commented on #1875
Yeab 👍

[2022-11-11 06:02] gikf opened #1880 "nc command is missing on gitpod"
### Describe the bug:
After #1865, installation of netcat can be seen in the terminal when gitpod is started. However after that it still appears to not be installed. With the `nc command is missing!` further down the start and in new, separate terminal:
[code]

[2022-11-11 06:24] gikf opened #1881 "Event statuses in `/dashboard/events/` are not consistent with statuses on `EventCard`"
[EventCard](https://github.com/freeCodeCamp/chapter/blob/main/client/src/components/EventCard.tsx) is defining status of the event in slightly more precise manner than the [EventsPage](
https://github.com/freeCodeCamp/chapter/blob/main/client/src/modules/dashboard/Events/pages/EventsPage.tsx) in dashboard. Event dashboard should display the same statuses as the event card.

[2022-11-11 12:03] Sboonny commented on #1881
I took care of this issue coincidently, because I wanted to test how easy is it to DRY the code with function in it. The answer was it wasn't easy to DRY it and the code was getting too smart, so I hard coded it 😅

[2022-11-11 13:42] Sboonny opened #1884 "Welcoming the user message is cramped and need some spacing"
### Describe the bug:

The welcoming message when someone logs in is cramped, it can use some spacing to look better.

The current looks

![image](https://user-images.githubusercontent.com/88248797/201352290-352c650b-bad9-4d71-a3b9-b82ef360a09d.png)

The desired looks

![image](https://user-images.githubusercontent.com/88248797/201352201-bef9a017-d13c-44f7-abb4-33a1afbed471.png)

You can change th

[2022-11-11 14:31] codeX1616 commented on #1884
Hello @Sboonny I would like to work on this issue. Please assign it to me. Thanks!

[2022-11-11 14:40] Sboonny commented on #1884
Feel free to open a pull request after reading the contribution guide, we don't give assignmentd

[2022-11-11 14:58] codeX1616 commented on #1884
Got it, thanks!

[2022-11-11 15:06] codeX1616 commented on #1884
Hello @Sboonny, Could I get the db creds for any DB remote server which I can update in .env file?

[2022-11-11 15:29] ojeytonwilliams opened #1885 "Google Calendar refresh token expiration"
# Issue to discuss

Refresh tokens can expire for [a variety of reasons](https://developers.google.com/identity/protocols/oauth2#expiration) and when they do the calendar integration will break (or will shortly afterwards when the access token also expires).  As such, we need a way to handle this.

## Potential mitigations

### Inform the owner

Since their token has expired, they can re-authentic

[2022-11-11 15:31] Sboonny commented on #1884
There isn't one that I am aware of, please follow the documentation of PostgreSQL, it shouldn't be hard to spin one up https://www.postgresql.org/docs/

[2022-11-11 17:47] gikf commented on #1885
There could be also displayed alert on page for instance owners, to not rely only on the email notification.

Do you know if there's any specific way to test if the integration (`refresh_token`) is still working/valid, which could be used periodically? Rather than handling it only after some action ends up with error. My searches for that are not yielding anything concrete.

[2022-11-12 14:57] Sboonny commented on #1844
Because the users will receive future events, when they subscribe to chapter. the need to create `RSVP and Unsubscribe` don't exist yet

[2022-11-12 16:31] SureshKuchana commented on #1853
Sure @gikf

[2022-11-12 17:14] Sboonny commented on #1839
I can't replicate this locally, is it caching latency issue? I.e server lag because of data traveling distance

[2022-11-12 21:24] gikf opened #1886 "Inconsistent positioning of Events dashboards"
Main content of the events dashboard is positioned a bit differently than in the other dashboards.

This is especially visible when there's no entries:
![positioning](https://user-images.githubusercontent.com/60067306/201494785-e2432de5-b446-49ee-ac67-6e1889fff394.gif)

Keeping those more consistent would be desired.

[2022-11-12 21:39] gikf opened #1887 "Don't Rsvp event creator when event is created"
### Discuss your ideas or share your views:
There's a TODO in the events resolver to give ability to not Rsvp automatically event creator. What about simply not Rsvping event creator when event is created?

- This would be similar to how creating chapter doesn't add creator to it.
- Marginally simplifies `createEvent`.
- There's case (it can be called bug) when instance owner can, without `chapter